<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.base.notification.dao.INotificationFlatformMapper">

	<select id="queryNotificationByPage" parameterType="map" resultType="hashmap">
		SELECT T.* FROM (
			SELECT RNF.ID,
	       RNF.TOPIC,
	       RNF.CONTENT,
	       RNF.FILEPATH,
	       RNF.FILENAME,
	       RNF.TYPE,
	       (SELECT SDI.ITEM_NAME FROM SYS_DICTIONARY_ITEM SDI WHERE SDI.ITEM_CODE = RNF.TYPE) ITEM_NAME,
	       ( CASE RNF.STATUS  WHEN '1' THEN '正常' WHEN '2' THEN '过期' END) STATUS,
	       RNF.PUBLISHER,
	       (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = RNF.PUBLISHER) PUBLISHER_NAME,
	       RNF.PUBDATE,
	       RNF.EXPIRE_DATE ,
	       RNF.MODIFY_DATE ,
	       RNF.STAGE 
	  FROM RCM_NOTIFICATION_FLATFORM RNF 
	  WHERE 1 = 1 
    	<if test="topic != null and topic != ''"> AND RNF.TOPIC LIKE '%${topic}%' </if>
    	<if test="type != null and type != ''"> AND RNF.TYPE = #{type,jdbcType=VARCHAR} </if>
    	<if test="status != null and status != ''"> AND	RNF.STATUS = ${status}</if>
    	ORDER BY RNF.PUBDATE DESC
    	) T
    	WHERE 1 = 1
    	<if test="publisher_name != null and publisher_name != ''"> AND T.PUBLISHER_NAME LIKE '%${publisher_name}%'</if>
	</select>	
	
	<insert id="addNotification" parameterType="map">
		insert into RCM_NOTIFICATION_FLATFORM (id,topic,content,filepath,filename,type,status,expire_date,stage) 
		values(#{ID,jdbcType=VARCHAR},
		#{TOPIC,jdbcType=VARCHAR},
		#{CONTENT,jdbcType=VARCHAR},
		#{FILEPATH,jdbcType=VARCHAR},
		#{FILENAME,jdbcType=VARCHAR},
		#{TYPE,jdbcType=VARCHAR},
		#{STATUS,jdbcType=VARCHAR},
		#{EXPIRE_DATE,jdbcType=DATE},
		#{STAGE,jdbcType=VARCHAR})
	</insert>
	
	<update id="modifyNotification" parameterType="map">
		update RCM_NOTIFICATION_FLATFORM set
		TOPIC = #{TOPIC,jdbcType=VARCHAR},
		CONTENT = #{CONTENT,jdbcType=VARCHAR},
		FILEPATH = #{FILEPATH,jdbcType=VARCHAR},
		FILENAME = #{FILENAME,jdbcType=VARCHAR},
		TYPE = #{TYPE,jdbcType=VARCHAR},
		EXPIRE_DATE = #{EXPIRE_DATE,jdbcType=DATE},
		MODIFIER = #{MODIFIER,jdbcType=VARCHAR},
		MODIFY_DATE = #{MODIFY_DATE,jdbcType=TIMESTAMP}
		where id = #{ID,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteNotification" parameterType="java.lang.String">
		delete from RCM_NOTIFICATION_FLATFORM r where r.id in 
		 <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
	</delete>
	
	<select id="queryNotificationInfo" parameterType="java.lang.String" resultType="hashmap">
		SELECT RNF.ID,
	       RNF.TOPIC,
	       RNF.CONTENT,
	       RNF.FILEPATH,
	       RNF.FILENAME,
	       RNF.TYPE,
	       RNF.STATUS,
	       RNF.PUBLISHER,
	       (SELECT S.NAME FROM SYS_USER S WHERE S.UUID = RNF.PUBLISHER) PUBLISHER_NAME,
	       RNF.PUBDATE,
	       RNF.EXPIRE_DATE,
	       RNF.STAGE 
	  FROM RCM_NOTIFICATION_FLATFORM RNF  
	  WHERE RNF.ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="queryNotificationInfoForView" parameterType="java.lang.String" resultType="hashmap">
		SELECT RNF.TOPIC,
	       RNF.CONTENT,
	       RNF.FILEPATH,
	       RNF.FILENAME,
	       RNF.STAGE,
	       (SELECT S.ITEM_NAME 
	          FROM SYS_DICTIONARY_ITEM S 
	         WHERE S.ITEM_CODE = RNF.TYPE) TYPE,
	       RNF.EXPIRE_DATE 
	  FROM RCM_NOTIFICATION_FLATFORM RNF 
	   WHERE RNF.ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<update id="submitNotification" parameterType="map">
		UPDATE RCM_NOTIFICATION_FLATFORM R SET 
		R.STAGE = #{STAGE,jdbcType=VARCHAR},
		R.PUBLISHER = #{PUBLISHER,jdbcType=VARCHAR},
		R.PUBDATE = #{PUBDATE,jdbcType=TIMESTAMP} 
		WHERE R.ID = #{ID,jdbcType=VARCHAR}
	</update>
	
	<select id="queryNotifByPage" parameterType="map" resultType="hashmap">
		SELECT T.* FROM (
			SELECT RNF.ID,
	       RNF.TOPIC,
	       RNF.CONTENT,
	       RNF.FILEPATH,
	       RNF.FILENAME,
	       RNF.TYPE,
	       (SELECT SDI.ITEM_NAME FROM SYS_DICTIONARY_ITEM SDI WHERE SDI.ITEM_CODE = RNF.TYPE) ITEM_NAME,
	       ( CASE RNF.STATUS  WHEN '1' THEN '正常' WHEN '2' THEN '过期' END) STATUS,
	       RNF.PUBLISHER,
	       (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = RNF.PUBLISHER) PUBLISHER_NAME,
	       RNF.PUBDATE,
	       RNF.EXPIRE_DATE ,
	       RNF.STAGE 
		  FROM RCM_NOTIFICATION_FLATFORM RNF 
		  WHERE RNF.STATUS = '1' AND RNF.STAGE = '2' and (RNF.EXPIRE_DATE >= #{todayDate,jdbcType=DATE} or RNF.EXPIRE_DATE is null) 
    	<if test="topic != null and topic != ''"> AND RNF.TOPIC LIKE '%${topic}%' </if>
    	<if test="type != null and type != ''"> AND RNF.TYPE = #{type,jdbcType=VARCHAR} </if>
    	<if test="status != null and status != ''"> AND	RNF.STATUS = ${status}</if>
    	ORDER BY RNF.PUBDATE DESC
    	) T
    	WHERE 1 = 1
    	<if test="publisher_name != null and publisher_name != ''"> AND T.PUBLISHER_NAME LIKE '%${publisher_name}%'</if>
	</select>
	
	<select id="queryNotifTop" resultType="hashmap" parameterType="map">
		<![CDATA[
		select * from (
			select d_.*,rownum rn from(
				SELECT RNF.* 
				FROM RCM_NOTIFICATION_FLATFORM RNF 
				WHERE RNF.STATUS = '1' AND RNF.STAGE = '2' and (RNF.EXPIRE_DATE >= #{todayDate,jdbcType=DATE} or RNF.EXPIRE_DATE is null)
				ORDER BY RNF.PUBDATE DESC 
			) d_ 
		) t_ 
		where t_.rn <= 4
		]]>
	</select>
</mapper>