
    <div class="modal-dialog">
    	<div ng-show="approve.operateType=='submit'" class="modal-content">
    		<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">提交审批</h4>
            </div>
             <div class="modal-body">
             	<h3>提交后将不可修改，确定提交？</h3>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
                <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="submitNext()">确定</a>
            </div>
    	</div>
        <div ng-show="approve.operateType=='audit'" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">提交审批</h4>
            </div>
            <!-- ng-show="!toNodeType" ng-checked="$index==0"-->
            <div class="modal-body">
                <div class="row">
                    <label class="col-sm-3 control-label">下一环节：</label>
                    <div class="col-sm-9">
                        <div  ng-repeat="x in approve.processOptions">
                            <label class="radio radio-inline">
                                <input class="px" type="radio" name="bpmnProcessOption" aaa="{{x.documentation}}" ng-checked="$index==0" value="{{x.sequenceFlow}}"/>
                                <span class="lbl">
                                    <div class="text">{{x.flowName}}</div>
                                </span>
                            </label>
                            <!--<input type="radio" name="toNodeIndex" ng-model="$parent.toNodeIndex" value="{{$index}}" ng-change="changeToNodeIndex()"/>-->
                        </div>
                        <!--<div ng-show="approve.document.change == '1'">-->
                        <div>
                            <label class="radio radio-inline">
                                <input class="px" type="radio" name="bpmnProcessOption" id="change"  value="CHANGE" ng-click="showSelectPerson()"/>
                                <span class="lbl">
                                    <div class="text">加签&nbsp;&nbsp;
                                        <select ng-model="changeTypeSelected">
                                            <option ng-repeat="changeType in changeTypes" value="{{changeType.key}}">{{changeType.value}}</option>
                                        </select>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<span ng-show="$parent.checkedUser.NAME != null && $parent.checkedUser.NAME !=''">{{$parent.checkedUser.NAME}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="javaScript:void(0)" ng-click="showSelectPerson()">重新选择</a></span></div>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">处理意见：</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="4" cols="" ng-model="flowVariables.opinion"></textarea>
                    </div>
                </div>
                 <!--
                <div ng-hide="'end'==toNodeType">
                    <div class="row">
                        <label class="col-sm-3 control-label">常用意见：</label>
                        <div class="col-sm-9">
                            <label class="radio radio-inline">
                                <input type="radio" name="opinion" ng-click="setOpinion('同意')" class="px"/>
                                <span class="lbl">同意</span>
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" name="opinion" ng-click="setOpinion('不同意')"  class="px"/>
                                <span class="lbl">不同意</span>
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" name="opinion"  ng-click="setOpinion('请修改')" class="px"/>
                                <span class="lbl">请修改</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">紧急程度：</label>
                        <div class="col-sm-9">
                            <label class="radio radio-inline">
                                <input type="radio" name="emergencyLevel" value="一般" ng-model="submitInfo.newTaskVar.emergencyLevel" class="px" />
                                <span class="lbl">一般</span>
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" name="emergencyLevel" value="紧急" ng-model="submitInfo.newTaskVar.emergencyLevel" class="px"/>
                                <span class="lbl">紧急</span>
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" name="emergencyLevel" value="特急" ng-model="submitInfo.newTaskVar.emergencyLevel" class="px"/>
                                <span class="lbl">特急</span>
                            </label>
                        </div>
                    </div> 
                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
                <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="submitNext()">确定</a>
            </div>
        </div>
        <div ng-show="approve.operateType=='change'" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">提交审批</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-sm-3 control-label">下一环节：</label>
                    <div class="col-sm-9">
                    	<div>
                            <label class="radio radio-inline">
                                <input class="px" type="radio" name="bpmnProcessOption"  id="workOver" value="WORKOVER"/>
                                <span class="lbl">
                                    <div class="text">完结</div>
                                </span>
                            </label>
                        </div>
                        <div>
                            <label class="radio radio-inline">
                                <input class="px" type="radio" name="bpmnProcessOption" id="change"  value="CHANGE" ng-click="showSelectPerson()"/>
                                <span class="lbl">
                                    <div class="text">加签&nbsp;&nbsp;
                                        <select ng-model="changeTypeSelected">
                                            <option ng-repeat="changeType in changeTypes" value="{{changeType.key}}">{{changeType.value}}</option>
                                        </select>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<span ng-show="$parent.checkedUser.NAME != null && $parent.checkedUser.NAME !=''">{{$parent.checkedUser.NAME}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="javaScript:void(0)" ng-click="showSelectPerson()">重新选择</a></span></div>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">处理意见：</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="4" cols="" ng-model="flowVariables.opinion"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
                <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="submitNext()">确定</a>
            </div>
        </div>
    </div>
