<div class="row nobottom-mar">
    <div id="modelFile" data-toggle="modal" data-target="#userSinDialog_{{id}}">
        <button class="btn-add btn-scale">
            <span style="top: 30%;">新增</span>
        </button>
    </div>
    <div ng-if="isEditable=='true'" id="userSinDialog_{{id}}" class="modal modal-dialog selection-pop" tabindex="-1"
         role="dialog"
         style="display: none;position: fixed;">
        <div class="modal-content">
            <div class="modal-header" style="height: 45px;">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="mytable ranktable">
                    <table class="modelFile">
                        <tr>
                            <td>
                                附件类型
                            </td>
                            <td>
                                <select ng-model="item.newItem" class="newItem" ng-change="changeAttach(item)"
                                        ng-options="y.ITEM_NAME for y in select" style="width: 200px">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                选择附件
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-click="downLoadBiddingFile(latestAttachment)">
                                    {{ latestAttachment.fileName }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                附件来源
                            </td>
                            <td>
                                {{ latestAttachment.typeValue }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                更新时间
                            </td>
                            <td>
                                {{ latestAttachment.upload_date }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="item == undefined" ng-disabled="!hasWaiting" class="btn-add"
                    ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles,$index)">
                重新上传
            </button>
            <button type="button" class="btn-add" ng-click="submit()" data-dismiss="modal" aria-hidden="true"
                    ng-disabled="isUse" style="height: 30px">
                确定
            </button>
        </div>
    </div>
</div>


