<div class="modal-dialog">
   	<div ng-show="approve.operateType=='submit'" class="modal-content">
   		<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">提交审批</h4>
        </div>
        <div class="modal-body">
        	<h3>提交后将不可修改，确定提交？</h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
            <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="submitNext()">确定</a>
        </div>
   	</div>
    <div ng-show="approve.operateType=='audit'" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">提交审批</h4>
    </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-sm-3 control-label">下一环节：</label>
                <div class="col-sm-9">
                    <div  ng-repeat="x in approve.processOptions">
                        <label class="radio radio-inline">
                            <input id="showAttr" class="px" type="radio" init-bind="a=x.documentation" aaa="{{x.documentation}}"  ng-click="showMarkMethod(x.documentation)"   name="bpmnProcessOption" ng-checked="$index==0" value="{{x.sequenceFlow}}"/>
                            <span class="lbl">
                                <div class="text">{{x.flowName}}</div>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" id="cesuanFileOpinionDiv" ng-if="approve.showController.isServiewType">
                <label class="col-sm-3 control-label"><span class="required">*</span>测算文件意见：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="4" cols="" ng-model="submitInfo.currentTaskVar.cesuanFileOpinion"></textarea>
                </div>
            </div>
            <div class="row" id="tzProtocolOpinionDiv" ng-if="approve.showController.isServiewType">
                <label class="col-sm-3 control-label"><span class="required">*</span>投资协议意见：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="4" cols="" ng-model="submitInfo.currentTaskVar.tzProtocolOpinion"></textarea>
                </div>
            </div>
            <div class="row" ng-show="approve.showController.isReviewLeaderConfirm">
                <label class="col-sm-3 control-label" >是否上会：</label>
                <div class="col-sm-8">
	              	<label class="radio radio-inline">
	              		<input type="radio" class="px" value="0" name="needMeeting" ng-model="pre.needMeeting"/>
	              		<span class="lbl">不需要上会</span>
	              	</label>
	              	<label class="radio radio-inline">
	              		<input type="radio" class="px" value="1" name="needMeeting" ng-click="checkReport()" ng-model="pre.needMeeting"/>
	              		<span class="lbl">需要上会</span>
	              	</label>
                </div>
            </div>
            <div class="row" ng-show="approve.showController.isReviewLeaderConfirm && pre.needMeeting != 1">
                <label class="col-sm-3 control-label" >风控意见：</label>
                <div class="col-sm-8">
	              	<label class="radio radio-inline">
	              		<input type="checkbox" class="px" name="decisionOpinion" ng-model="pre.decisionOpinion"/>
	              		<span class="lbl">谨慎投资</span>
	              	</label>
                </div>
                <label class="col-sm-3 control-label" ></label>
            </div>
            <div class="row" ng-show="approve.showController.isReviewLeaderConfirm && pre.needMeeting!=1">
                <label class="col-sm-3 control-label" >是否出报告：</label>
                <div class="col-sm-8">
                	<label class="radio radio-inline">
                		<input type="radio" class="px" name="needReport" value="1" ng-model="pre.needReport"/>
                		<span class="lbl">需要出报告</span>
                	</label>
                	<label class="radio radio-inline">
                		<input type="radio" class="px" name="needReport" value="0" ng-model="pre.needReport"/>
                		<span class="lbl">不需要出报告</span>
                	</label>
                </div>
            </div>
            <div class="row" ng-if="pre.needReport == 0">
                <label class="col-sm-3 control-label" >不出报告原因：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="4" cols="" ng-model="pre.noReportReason"></textarea>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 control-label" >处理意见：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="4" cols="" ng-model="flowVariables.opinion"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
            <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="submitNext()">确定</a>
        </div>
    </div>
</div>
