<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.reviewStatistics.dao.IReviewStatisticsformMapper">


	<!-- 已上会或者不需上会正式评审报告列表 -->
	<select id="queryCompleteFormalReportByPage" parameterType="map"
		resultType="hashmap">
		select * from ( 
			 SELECT RFI.ID, 
		         RFI.BUSINESSID, 
		         RFI.PROJECTNAME, 
		         RFI.PROJECTNUM, 
		         (SELECT S.NAME FROM SYS_USER S WHERE S.UUID = RFI.CREATEBY) AS CREATEBY, 
		         RFI.PROJECT_MODEL_IDS, 
		         (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RFI.PERTAINAREAID) AS PERTAINAREANAME, 
		         (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = RFI.REVIEWPERSONID) REVIEWPERSONNAME,
       			  RFI.CREATE_DATE
		      FROM RCM_FORMALASSESSMENT_INFO RFI
		     WHERE RFI.STAGE IN ('6', '9')
		) t where 1 = 1 
		<if test="projectName!=null and projectName!=''"> and t.PROJECTNAME like '%${projectName}%'</if>
		<if test="createBy!=null and createBy!=''"> and t.createby like '%${createBy}%'</if>
		<if test="pertainareaname!=null and pertainareaname!=''"> and t.pertainareaName like '%${pertainareaname}%'</if>
		<if test="orderBy!=null and orderBy!=''"> order by ${orderBy}</if> 
	</select>
	
	<select id="queryReviewStatistics" parameterType="java.lang.String" resultType="hashmap">
		select * from (select 
	    (select o.name from sys_org o where o.ORGPKVALUE = f.pertainareaid) pertainareaname,
      (select o.name from sys_org o where o.ORGPKVALUE = f.reportingunit_id) reportunitname,
      (select i.item_name from sys_dictionary_item i where i.item_code = f.servicetype_id) serviceType,
      (select u.name from sys_user u where u.UUID = f.createby) createByname,
      (select u.name from sys_user u where u.UUID = f.reviewpersonid) reviewleader,
      (select u.name from sys_user u where u.UUID = f.legalreviewpersonid) legalLeader,
f.* from rcm_formalassessment_info f where 1=1 ) ta where  1 = 1
	    <if test="createBy != null and createBy != ''"> and	ta.createby = #{createBy}</if>
    	<if test="projectUnitName != null and projectUnitName != ''"> and	ta.pertainareaName like '%${projectUnitName}%'</if>
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state in (${wf_state})</if>
    	<if test="areaId != null and areaId != ''">  and ta.pertainAreaId = #{areaId}</if>
    	<if test="serviceTypeId != null and serviceTypeId != ''"> and ta.servicetype_id in ('${serviceTypeId}')</if>
    	<if test="stages != null and stages != ''"> and	ta.stage in (${stages})</if>
    	<if test="year != null and year != ''"> 
			and ta.apply_date between to_date('${year}/01/01 00:00:00','YYYY/MM/dd hh24:mi:ss') 
			and to_date('${year}/12/31 23:59:59','YYYY/MM/dd hh24:mi:ss')
		</if>
    	<if test="auditResult != null and auditResult != ''"> and	ta.businessid in (
    		select d.formal_id from rcm_decision_resolution d where d.formal_type = 0 and d.decision_result in ( ${auditResult} )
    	) </if>
	    order by ta.need_meeting, ta.stage desc
	</select>
	
	<select id="queryFormalassessmentReport" parameterType="java.lang.String" resultType="hashmap">
		SELECT * 
	  FROM RCM_FORMALASSESSMENT_REPORT FR 
	  WHERE FR.BUSINESSID = #{id,jdbcType=VARCHAR}
	</select>
	<select id="queryDecisionResolution" parameterType="java.lang.String" resultType="hashmap">
		SELECT * 
	  FROM RCM_DECISION_RESOLUTION DR 
	  WHERE DR.FORMAL_ID = #{id,jdbcType=VARCHAR}
	</select>
	
	
	
	<!-- 已上会或者不需上会投标评审报告列表 -->
	<select id="queryTenderReportByPage" parameterType="map"
		resultType="hashmap">
		select * from ( 
			 SELECT RPI.ID, 
	             RPI.BUSINESSID, 
	             RPI.PROJECTNAME, 
	             RPI.PROJECTNUM, 
	             (SELECT S.NAME FROM SYS_USER S WHERE S.UUID = RPI.CREATEBY) AS CREATEBY, 
	             RPI.PROJECT_MODEL_IDS, 
	             (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RPI.PERTAINAREAID) AS PERTAINAREANAME, 
	             (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = RPI.REVIEWPERSONID) REVIEWPERSONNAME,
	              RPI.CREATE_DATE
          FROM rcm_pre_info RPI
         WHERE RPI.STAGE IN ('6', '9')
		) t where 1 = 1 
		<if test="projectName!=null and projectName!=''"> and t.PROJECTNAME like '%${projectName}%'</if>
		<if test="createBy!=null and createBy!=''"> and t.createby like '%${createBy}%'</if>
		<if test="pertainareaname!=null and pertainareaname!=''"> and t.pertainareaName like '%${pertainareaname}%'</if>
		<if test="orderBy!=null and orderBy!=''"> order by ${orderBy}</if> 
	</select>
	
	<select id="queryTenderStatistics" parameterType="map" resultType="hashmap">
			select * from (SELECT p.ID,
	       p.BUSINESSID,
	       p.PROJECTNAME,
	       p.PROJECTNUM,
	       (SELECT S.NAME FROM SYS_USER S WHERE S.UUID = p.CREATEBY) AS CREATEBY,
	       (select d.item_name from sys_dictionary_item d where d.item_code = p.servicetype_id) serviceTypename,
	       (select o.name from sys_org o where o.ORGPKVALUE = p.reportingunit_id) reportuntiname,
	       (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = p.PERTAINAREAID) AS PERTAINAREANAME,
	       (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = p.REVIEWPERSONID) REVIEWPERSONNAME,
	       p.CREATE_DATE
	  FROM rcm_pre_info p ) ta
	 WHERE 1 = 1
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state in (${wf_state})</if>
    	<if test="areaId != null and areaId != ''">  and ta.pertainAreaId = #{areaId}</if>
    	<if test="serviceTypeId != null and serviceTypeId != ''"> and ta.servicetype_id in ('${serviceTypeId}')</if>
    	<if test="stages != null and stages != ''"> and	ta.stage in (${stages})</if>
    	<if test="auditResult != null and auditResult != ''"> and	ta.businessid in (
    		select d.formal_id from rcm_decision_resolution d where d.formal_type = 2 and d.decision_result in ( ${auditResult} )
    	) </if>
	    order by ta.need_meeting, ta.stage desc
	</select>
	
	<select id="queryTenderStatisticsWgh" parameterType="map" resultType="hashmap">
		select * from (SELECT p.ID,
	       p.BUSINESSID,
	       p.PROJECTNAME,
	       p.PROJECTNUM,
	       p.stage,
	       p.need_meeting,
	       p.pertainAreaId,
	       (SELECT S.NAME FROM SYS_USER S WHERE S.UUID = p.CREATEBY) AS CREATEBY,
	       (select d.item_name from sys_dictionary_item d where d.item_code = p.servicetype_id) serviceTypename,
	       (select o.name from sys_org o where o.ORGPKVALUE = p.reportingunit_id) reportuntiname,
	       (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = p.PERTAINAREAID) AS PERTAINAREANAME,
	       (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = p.REVIEWPERSONID) REVIEWPERSONNAME,
	       p.CREATE_DATE,
           p.apply_date
	  FROM rcm_pre_info p ) ta
	 WHERE 1 = 1
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state in (${wf_state})</if>
    	<if test="areaId != null and areaId != ''">  and ta.pertainAreaId = #{areaId}</if>
    	<if test="serviceTypeId != null and serviceTypeId != ''"> and ta.servicetype_id in ('${serviceTypeId}')</if>
    	<if test="stages != null and stages != ''"> and	ta.stage in (${stages})</if>
    	<if test="year != null and year != ''"> 
			and ta.apply_date between to_date('${year}/01/01 00:00:00','YYYY/MM/dd hh24:mi:ss') 
			and to_date('${year}/12/31 23:59:59','YYYY/MM/dd hh24:mi:ss')
		</if>
<!--     	<if test="auditResult != null and auditResult != ''"> and	ta.businessid in ( -->
<!--     		select d.formal_id from rcm_decision_resolution d where d.formal_type = 2 and d.decision_result in ( ${auditResult} ) -->
<!--     	) </if> -->
	    order by ta.need_meeting, ta.stage desc
	</select>
</mapper>