<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--Add By LiPan On 2019-01-18 Start-->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!--Add By LiPan On 2019-01-18 End-->
	<plugins>
		<plugin interceptor="com.yk.common.PagePlugin"></plugin>
<!-- 		<plugin interceptor="com.yk.common.PrintSqlPlugin"></plugin> -->
	</plugins>
</configuration>