<div class="panel-body">
    <form class="form-horizontal ng-pristine ng-valid">
        <div class="header">
            <img src="libs/images/icons/group.png" width="41" height="41" alt="" title=""/>
            <span class="hd-title">区域、直接负责人管理</span>
        </div>
        <div class="panel panel-group">
            <div class="panel-heading search-box">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="" href="/#searchbox">查询</a>
            </div>
            <div id="searchbox" class="panel-collapse in">
                <div class="panel-body search-body">
                    <div class="form-group row sm-row">
                        <label class="col-sm-2 col-md-1 control-label">单位名称</label>
                        <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="REPORTINGUNIT_NAME"
                                                                     id="REPORTINGUNIT_NAME"
                                                                     ng-model="queryObj.REPORTINGUNIT_NAME"
                                                                     class="form-control ng-pristine ng-untouched ng-valid"/>
                        </div>
                        <label class="col-sm-2 col-md-1 control-label">区域负责人</label>
                        <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="INVESTMENTPERSON_NAME"
                                                                     id="INVESTMENTPERSON_NAME"
                                                                     ng-model="queryObj.INVESTMENTPERSON_NAME"
                                                                     class="form-control ng-pristine ng-untouched ng-valid"/>
                        </div>
                        <label class="col-sm-2 col-md-1 control-label">直接负责人</label>
                        <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="DIRECTPERSON_NAME"
                                                                     id="DIRECTPERSON_NAME"
                                                                     ng-model="queryObj.DIRECTPERSON_NAME"
                                                                     class="form-control ng-pristine ng-untouched ng-valid"/>
                        </div>
                        <div class="col-sm-12 col-md-2 search">
                            <button type="button" class="btn btn-info" ng-click="ListAll()"><i
                                    class="glyphicon glyphicon-search"></i>查询
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-hd-cont"><span class="panel-title">查询结果<i class="i-triangle"></i></span></div>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="txl">
                        <button type="button" ng-click="Create(0)" class="btn btn-info" id="createbtn"><i
                                class="glyphicon glyphicon-plus"></i>新增
                        </button>
                        <button type="button" ng-click="updateGroup()" class="btn btn-info"><i
                                class="glyphicon glyphicon-edit"></i>修改
                        </button>
                        <button type="button" ng-click="deleteGroup()" class="btn btn-info"><i
                                class="glyphicon glyphicon-trash"></i>删除
                        </button>
                        <!--<button  type="button" ng-click="viewGroup()" class="btn btn-info"><i class="glyphicon glyphicon-ok-circle"></i>查看</button>-->
                    </div>
                </div>
                <div class="form-group row nobottom-mar">
                    <div class="table-responsive table-list">
                        <table border="0" cellspacing="0" cellpadding="0"
                               class="table table-hover datatable fs-col-fixed">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>序号</th>
                                <th>单位名称</th>
                                <th>区域负责人</th>
                                <th>直接负责人</th>
                                <th>类型</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="g in group">
                                <td>
                                    <label class="checkbox-inline">
                                        <input class="px" type="checkbox" name="checkbox"
                                               class="ng-pristine ng-untouched ng-valid" value="{{g.ID}}"/>
                                        <span class="lbl">&nbsp;</span>
                                    </label>
                                </td>
                                <td>{{$index+1}}</td>
                                <td><a href="javascript:void(0);" ng-click="View(g.ID);">{{g.REPORTINGUNIT_NAME}}</a></td>
                                <td>{{g.INVESTMENTPERSON_NAME}}</td>
                                <td>{{g.DIRECTPERSON_NAME}}</td>
                                <td>
                                    <div ng-repeat="sy in Syncbusinessmodel track by sy.KEY">
                                        <div ng-if="sy.KEY==g.TYPE">
                                            {{sy.VALUE}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-footer clearfix">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    <!--
    $(function () {
        var wrapInfoHeight = $(".wrap-info").height();
        $(".wrap-menu").css({"height": 792});

        //查询关闭&展示
        $(".panel-heading").find(".ico-dorp").click(function () {
            $(this).toggleClass("fa-plus");
            $(this).toggleClass("fa-minus");
            $(this).parents(".panel-heading").siblings(".panel-body").stop().slideToggle(300);
        });
        //菜单关闭&展示
        $(".wrap-info .menuico").toggle(function () {
            $(this).addClass("glyphicon-menu-right").removeClass("glyphicon-menu-left");
            $(this).parents(".wrapper").stop().animate({"margin-left": "-200px"}, 300);
        }, function () {
            $(this).addClass("glyphicon-menu-left").removeClass("glyphicon-menu-right");
            $(this).parents(".wrapper").stop().animate({"margin-left": "0"}, 300);
        });
        //二级菜单关闭&展示
        $(".menu-bd .list").children("li").click(function () {
            var dropDown = $(this).find(".sub-list");
            var togClass = $(this).find(".ico");
            $(".menu-bd .list li .sub-list").not(dropDown).slideUp(300);
            $(".menu-bd .list li .ico").not(togClass).removeClass("fa-minus");
            dropDown.slideToggle(300);
            togClass.toggleClass("fa-minus");
        });
        //收藏
        $(".ico-wrap .fa-star").click(function () {
            $(this).toggleClass("red-star");
        });
        //分配角色弹层
        $(".allot").click(function () {
            Visa.NoticePopup.show();
        });
        $("#pub-notice .ico-x").click(function () {
            $("#js-index-popup").hide(300);
            $("#_Dialog_maskwrap").hide(100);
        });
    });

    //-->
</script>