<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt=""
			title="" /> <span class="hd-title">评审台账</span>
	</div>

	<div>
		<ul class="nav nav-tabs bs-tabdrop-example">
		<li class="{{tabIndex=='1'?'active':''}}"><a
				href="/#bs-tabdrop-tab2" data-toggle="tab">投标评审</a></li>
			<li class="{{tabIndex=='0'?'active':''}}"><a
				href="/#bs-tabdrop-tab1" data-toggle="tab">正式评审</a></li>
			
		</ul>
		<div class="tab-content tab-content-bordered">
		
			<div class="tab-pane {{tabIndex=='1'?'active':''}}" id="bs-tabdrop-tab2">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="report2" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#report2" href="/#searchbox2">查询</a>
							</div>
							<div id="searchbox2" class="panel-collapse in">
								<div class="panel-body search-body">
									<div class="form-group row sm-row">
									<label class="col-sm-2 col-md-1 control-label">项目名称</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<input type="text" class="form-control" id="HI_PROJECT_NAME" 
											name="HI_PROJECT_NAME" ng-model="hi_queryObject.HI_PROJECT_NAME"/>
									</div>
										<label class="col-sm-2 col-md-2 control-label">投资经理</label>
										<div class="col-sm-1 col-md-2 sm-col">
											<input type="text" class="form-control"
												id="HI_PROJECT_CREATEBY" name="HI_PROJECT_CREATEBY"
												ng-model="hi_queryObject.HI_CREATEBY" />
										</div>
										<label class="col-sm-2 col-md-1 control-label">所属大区</label>
										<div class="col-sm-1 col-md-2">
											<input type="text" id="HI_PERTAINAREANAME"
												name="HI_PERTAINAREANAME"
												ng-model="hi_queryObject.HI_PERTAINAREANAME"
												class="form-control" />
										</div>
										<div class="col-sm-2 col-md-1"></div>
										<div class="col-sm-4 col-md-2 search">
											<button  type="button" class="btn btn-info" ng-click="initTenderReport()">
											<i class="glyphicon glyphicon-search"></i>查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<div class="panel-hd-cont">
								<span class="panel-title">已完成投标评审报告列表<i class="i-triangle"></i></span>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								 <button type="button" ng-click="exportTenderReportInfo()"
									class="btn btn-info">
									<i class="glyphicon glyphicon-export"></i>导出
								</button> 
							</div>
							<div class="form-group row table-responsive table-list">
								<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
									<thead>
									<tr>
										<th>序号</th>
										<th>项目名称</th>
										<th>投资经理</th>
										<th>评审负责人</th>
										<th>所属大区</th>
										<th>创建时间</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="p in submittedReport track by $index">
										<td>{{$index+1}}</td>
										<td align="left">
											 <a href="#/{{p.CONTROLLER_VAL}}/1/View/{{p.BUSINESSID}}@2/{{'#/FormalReportList_new/1'|encodeURI}}"
												title=""> {{p.PROJECTNAME}}</a> 
												
										</td>
										<td>{{p.CREATEBY}}</td>
										<td>{{p.REVIEWPERSONNAME}}</td>
										<td>{{p.PERTAINAREANAME}}</td>
										<td>{{p.CREATE_DATE| date:'yyyy-MM-dd hh:mm:ss'}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConfes"></tm-pagination>
						</div>
					</div>
				</form>
			</div>
			
			<div class="tab-pane {{tabIndex=='0'?'active':''}}"
				id="bs-tabdrop-tab1">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="report" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse"
									data-parent="#report" href="/#searchbox">查询</a>
							</div>
							<div id="searchbox" class="panel-collapse collapse">
								<div class="panel-body search-body">
									<div class="row nobottom-mar sm-row">
									<label class="col-sm-2 col-md-1 control-label">项目名称</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<input type="text" class="form-control" id="PROJECT_NAME" 
											name="PROJECT_NAME" ng-model="queryObject.PROJECT_NAME"/>
									</div>
										<label class="col-sm-2 col-md-1 control-label">投资经理</label>
										<div class="col-sm-4 col-md-2 sm-col">
											<input type="text" class="form-control" id="PROJECT_CREATEBY"
												name="CREATEBY" ng-model="queryObject.CREATEBY" />
										</div>
										<label for="" class="col-sm-2 col-md-1 control-label">所属大区</label>
										<div class="col-sm-4 col-md-2 sm-col">
											<input type="text" id="PERTAINAREANAME"
												name="PERTAINAREANAME"
												ng-model="queryObject.PERTAINAREANAME" class="form-control" />
										</div>
										<div class="col-sm-12 col-md-2 search">
											<button type="button" class="btn btn-info"
												ng-click="initCompleteFormalReport()">
												<i class="glyphicon glyphicon-search"></i>查询
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<div class="panel-hd-cont">
								<span class="panel-title">已完成正式评审报告列表<i
									class="i-triangle"></i></span>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								 <button type="button" ng-click="exportFormaReportInfo()"
									class="btn btn-info">
									<i class="glyphicon glyphicon-export"></i>导出
								</button> 
							</div>
							<div class="row nobottom-mar">
								<div class="table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0"
										class="table table-hover datatable fs-col-fixed">
										<thead>
											<tr>
												<th>序号</th>
												<th>项目名称</th>
												<th>投资经理</th>
												<th>评审负责人</th>
												<th>所属大区</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="p in uncommittedReport track by $index">
												<td>{{$index+1}}</td>
												<td align="left">
													 <a href="#/{{p.CONTROLLER_VAL}}/0/View/{{p.BUSINESSID}}@2/{{'#/FormalReportList_new/0'|encodeURI}}"
														title="">{{p.PROJECTNAME}} </a>  
														
												</td>
												<td>{{p.CREATEBY}}</td>
												<td>{{p.REVIEWPERSONNAME}}</td>
												<td>{{p.PERTAINAREANAME}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConf"></tm-pagination>
						</div>
					</div>
				</form>
			</div>

			
			
			
			
		</div>
	</div>
</div>


<script>
	angular.element(document).ready(function() {
		$('#applicationTime').datepicker();
		$("#porjectName select").select2({
			placeholder : '项目名称'
		});
	});
</script>