.widget-rating,
.widget-rating li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.widget-rating a,
.widget-rating li a {
  display: block;
  color: #bbb;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}
.widget-rating a:before,
.widget-rating li a:before {
  content: "\f005";
  font-family: FontAwesome;
}
