<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言</title>
    <script type="text/javascript" src="/html/assets/javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/html/assets/angularjs/angular-1.4.0/angular.js"></script>
    <style>
        .msg {
            font-size: small;
            color: blue;
        }

        .blue {
            color: blue;
            font-size: smaller;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .content{
            font-size: 12px;
        }
    </style>
</head>
<body data-ng-app="myApp" ng-controller="myCtrl">
<!--留言表单,一般选择弹出方式-->
<p style="text-align: center">关于流程审批的建议与意见</p>
<div>
    <form id="messageForm" name="messageForm" style="margin-left: 40px;">
        <textarea ng-model="message.messageContent" cols="200" rows="5" id="messageContent"></textarea><br>
        <input type="text" ng-model="message.parentId" id="parentId" ng-hide="true">
        <input type="text" ng-model="message.originalId" id="originalId" ng-hide="true">
        <input type="text" ng-model="message.procInstId" id="procInstId" ng-hide="true">
        <input type="text" ng-model="message.repliedBy" id="repliedBy" ng-hide="true">
        <input type="text" ng-model="message.repliedName" id="repliedName" ng-hide="true">
        <button ng-click="submitMessage()">提交留言</button>
        <button ng-click="updateRead()">更新已阅测试</button>
        <button ng-click="getChildren()">叶子留言测试</button>
    </form>
</div>
<!--留言信息-->
<div id="messagesTestDivPart">
    <ul ng-repeat="msg in messages">
        <li ng-if="msg.parentId==0"><!--一级留言-->
            <b>|</b>
            <span class="msg">{{msg.createdName}}</span> &nbsp;<span
                    class="blue">发表于&nbsp;{{msg.messageDate}}</span>&nbsp;
            <a href="javascript:void(0);"
               ng-click="showMessageForm(msg.messageId, msg.messageId, msg.createdBy,msg.createdName)"
               ng-if="msg.parentId==0"><span class="content">({{msg.children.length}})</span></a>
            <!--root-->
            <a href="javascript:void(0);"
               ng-click="showMessageForm(msg.originalId, msg.messageId, msg.createdBy,msg.createdName)"
               ng-if="msg.parentId!=0"><span class="content">({{msg.children.length}})</span></a>
            <!--leaf-->
            <br>
            <p class="content">{{msg.messageContent}}</p>
            <ul ng-repeat="msg in msg.children"><!--二级留言-->
                <li id="leaves_li_{{msg.messageId}}">
                    <b>|</b>
                    <span class="msg">{{msg.createdName}}</span> &nbsp;<span class="blue">回复</span>&nbsp;<span
                        class="msg">{{msg.repliedName}}</span>&nbsp;<span
                        class="blue">发表于&nbsp;{{msg.messageDate}}</span>&nbsp;
                    <a href="javascript:void(0);"
                       ng-click="getChildrenList(msg.originalId, msg.messageId, msg.createdBy,msg.createdName, msg.messageId)"><span class="content">({{msg.children.length}})</span></a><br>
                    <span class="content">{{msg.messageContent}}</span>
                    <!--三级及以后在此处动态生成-->
                </li>
            </ul>
        </li>
    </ul>
</div>
<script type="text/javascript">
    ;
    var app = angular.module("myApp", []);
    app.controller('myCtrl', function ($scope, $http) {
        $scope.queryMessage = function (procInstId, parentId) {
            $http({
                method: 'post',
                url: 'http://localhost:8080/rcm-rest/message/tree.do',
                data: $.param({
                    'procInstId': procInstId,
                    'parentId': parentId
                }),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (data) {
                $scope.messages = data.result_data;
            });
        }

        // 初始化留言表单
        $scope.message = {};
        $scope.queryMessage(1008611, 0);
        $scope.message.originalId = 0;
        $scope.message.parentId = 0;
        $scope.message.procInstId = 1008611;
        $scope.message.repliedBy = '';
        $scope.message.repliedName = '';
        // 展示留言表单
        $scope.showMessageForm = function (originalId, parentId, repliedBy, repliedName) {
            $scope.message.originalId = originalId;
            $scope.message.parentId = parentId;
            $scope.message.procInstId = 1008611;
            $scope.message.repliedBy = repliedBy;
            $scope.message.repliedName = repliedName;
        }
        // 更新已阅
        $scope.updateRead = function () {
            $http({
                method: 'post',
                url: 'http://localhost:8080/rcm-rest/message/read.do',
                data: $.param({'messageId': 10109}),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (data) {
                document.write(data.result_data);
            });
        }
        // 获取叶子留言
        $scope.getChildren = function () {
            $http({
                method: 'post',
                url: 'http://localhost:8080/rcm-rest/message/leaves.do',
                data: $.param({'parentId': 10109}),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (data) {
                document.write(JSON.stringify(data.result_data));
            });
        }

        // 提交留言表单
        $scope.submitMessage = function () {
            console.log($scope.message);
            if ($scope.message.messageContent == null || $scope.message.messageContent == '') {
                alert('留言内容不能为空!');
                return;
            }
            $http({
                method: 'post',
                url: 'http://localhost:8080/rcm-rest/message/add.do',
                data: $.param($scope.message),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (data) {
                console.log(data);
                window.location.reload(true);
            });
        }

        $scope.recursionHtml = function (messageId, list) {
            // 先清空之前加载的
            $('#leaves_li_' + messageId + '>ul').each(function (i, e) {
                $(e).remove();
            });
            var li = $('#leaves_li_' + messageId);
            var appendStr = '<ul>';
            for (var i = 0; i < list.length; i++) {
                var o = list[i];
                console.log(o);
                appendStr +=
                    '<li id="leaves_li_' + o.messageId + '">'
                    + '<b>|</b>&nbsp;<span class="msg">'
                    + o.createdName
                    + '</span>&nbsp;'
                    + '<span class="blue">'
                    + '回复'
                    + '</span>&nbsp;'
                    + '<span class="msg">'
                    + o.repliedName
                    + '</span>&nbsp;'
                    + '<span class="blue">'
                    + '发表于&nbsp;'
                    + o.messageDate
                    + '</span>'
                    + '&nbsp;'
                    + '<a href="javascript:void(0);" onclick="getChildrenListOuter(' + o.originalId + ',' + o.messageId + ', \'' + o.createdBy + '\',\'' + o.createdName + '\', ' + o.messageId + ')">&nbsp;'
                    + '<span class="content">(' + o.children.length + ')</span></a>'
                    + '<br>'
                    + '<span class="content">'
                    + o.messageContent
                    + '</span>'
                    + '</li>';
            }
            li.append(appendStr + '</<ul>');
        }

        $scope.executeLeavesQuery = function (messageId) {
            $http({
                method: 'post',
                url: 'http://localhost:8080/rcm-rest/message/tree.do',
                data: $.param({
                    'procInstId': 1008611,
                    'parentId': messageId
                }),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (data) {
                $scope.recursionHtml(messageId, data.result_data);
            });
        }

        $scope.getChildrenList = function (originalId, parentId, repliedBy, repliedName, messageId) {
            $scope.message.originalId = originalId;
            $scope.message.parentId = parentId;
            $scope.message.procInstId = 1008611;
            $scope.message.repliedBy = repliedBy;
            $scope.message.repliedName = repliedName;
            $scope.executeLeavesQuery(messageId);
        }

        $scope.deleteMessage = function (messageId) {
            if (confirm('确认删除?')) {
                $http({
                    method: 'post',
                    url: 'http://localhost:8080/rcm-rest/message/delete.do',
                    data: $.param({
                        'messageId': messageId
                    }),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    console.log(data);
                    window.location.reload(true);
                });
            }
        }

        $scope.showMore = function () {
            alert('more');
        }
    });

    function getChildrenListOuter(originalId, parentId, repliedBy, repliedName, messageId) {
        // 重点!!!!!!!
        var appElement = document.querySelector('[ng-controller=myCtrl]');
        var $scope = angular.element(appElement).scope();
        $scope.message.originalId = originalId;
        $scope.message.parentId = parentId;
        $scope.message.procInstId = 1008611;
        $scope.message.repliedBy = repliedBy;
        $scope.message.repliedName = repliedName;
        console.log(originalId + '=' + parentId + '=' + repliedBy + '=' + repliedName + '=' + messageId)
        $.ajax({
            url: "http://localhost:8080/rcm-rest/message/tree.do",
            type: "post",
            data: {
                'procInstId': 1008611,
                'parentId': messageId
            },
            async: false,
            success: function (result) {
                var list = result.result_data;
                console.log(messageId);
                console.log($('#leaves_li_' + messageId + '>ul').html());
                $('#leaves_li_' + messageId + '>ul').each(function (i, e) {
                    $(e).remove();
                });
                var li = $('#leaves_li_' + messageId);
                var appendStr = '<ul>';
                for (var i = 0; i < list.length; i++) {
                    var o = list[i];
                    console.log(o);
                    appendStr +=
                        '<li id="leaves_li_' + o.messageId + '">'
                        + '<b>|</b>&nbsp;<span class="msg">'
                        + o.createdName
                        + '</span>&nbsp;'
                        + '<span class="blue">'
                        + '回复'
                        + '</span>&nbsp;'
                        + '<span class="msg">'
                        + o.repliedName
                        + '</span>&nbsp;'
                        + '<span class="blue">'
                        + '发表于&nbsp;'
                        + o.messageDate
                        + '</span>'
                        + '&nbsp;'
                        + '<a href="javascript:void(0);" onclick="getChildrenListOuter(' + o.originalId + ',' + o.messageId + ',\'' + o.createdBy + '\',\'' + o.createdName + '\', ' + o.messageId + ')">&nbsp;'
                        + '<span class="content">(' + o.children.length + ')</span></a>'
                        + '<br>'
                        + '<span class="content">'
                        + o.messageContent
                        + '</span>'
                        + '</li>';
                }
                li.append(appendStr + '</<ul>');
                console.log(appendStr);
            },
            error: function () {
            }
        });
    }
</script>
</body>
</html>