<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.process.dao.IProcessMapper">
    <select id="selectProcessNodeList" resultType="java.util.HashMap">
        select
        a.id_ as proc_hi_pk,/*其它表中的 proc_inst_id_*/
        a.proc_inst_id_,
        a.business_key_,
        a.proc_def_id_,
        a.start_act_id_,
        a.end_act_id_,
        b.id_ as proc_def_pk, /*其它表中的 proc_def_id_*/
        b.key_ as proc_def_key_,
        b.version_ as proc_def_version_,
        b.deployment_id_,
        c.id_ as task_def_pk_,/*其它表中的 task_id_*/
        c.execution_id_,
        c.task_def_key_,
        c.name_ as task_name_,
        c.assignee_ as task_assignee_,
        to_char(c.start_time_, 'yyyy-MM-dd HH:mm:ss') as task_start_time_,
        to_char(c.end_time_, 'yyyy-MM-dd HH:mm:ss') as task_end_time_,
        d.id_ as var_pk_,
        d.name_ as var_name,
        d.var_type_,
        nvl(d.text_, '') as var_text_,
        to_char(d.create_time_, 'yyyy-MM-dd HH:mm:ss') as var_create_time_,
        to_char(d.last_updated_time_, 'yyyy-MM-dd HH:mm:ss') as var_last_updated_time_,
        e.id_ as act_inst_pk_,
        e.act_id_,
        e.act_name_,
        e.act_type_,
        e.assignee_ as act_assignee_,
        to_char(e.start_time_, 'yyyy-MM-dd HH:mm:ss') as act_start_time_,
        to_char(e.end_time_, 'yyyy-MM-dd HH:mm:ss') as act_end_time_,
        f.code as user_code_,
        f.name as user_name_,
        f.idcard as user_id_card_,
        f.orgcode as user_org_code_
        from ACT_HI_PROCINST a  /*历史流程表*/
        left join ACT_RE_PROCDEF b  /*流程定义表*/
        on b.id_ = a.proc_def_id_
        left join ACT_HI_TASKINST c  /*历史任务表*/
        on c.proc_def_id_ = b.id_ and c.proc_inst_id_ = a.id_
        left join ACT_HI_VARINST d  /*历史变量表*/
        on d.proc_inst_id_ = a.id_ and d.execution_id_ = c.execution_id_ and d.task_id_ = c.id_ and d.name_ <![CDATA[ <> ]]> 'submitBy'
        left join ACT_HI_ACTINST e  /*历史节点表*/
        on e.proc_inst_id_ = a.id_ and e.proc_def_id_ = b.id_ and e.execution_id_ = c.execution_id_ and e.task_id_ = c.id_
        left join SYS_USER f  /*系统用户表*/
        on f.uuid = c.assignee_ and f.uuid = e.assignee_
        where 1 = 1
        and b.key_ = #{processKey}
        and a.business_key_ = #{businessKey}
        order by c.end_time_, c.id_ /*根据任务的结束时间和任务ID进行排序*/
    </select>
    <select id="selectProcessNodeListDetail" resultType="java.util.HashMap">
        select
        a.*,
        d.name_ as var_name_,
        d.var_type_,
        d.text_ as var_text_,
        e.code as user_code_,
        e.name as user_name_,
        e.idcard as user_id_card_,
        e.orgcode as user_org_code_
        from ACT_HI_ACTINST a
        left join ACT_HI_PROCINST b
        on b.proc_def_id_ = a.proc_def_id_ and b.id_ = a.proc_inst_id_
        left join ACT_RE_PROCDEF c
        on c.id_ = a.proc_def_id_
        left join ACT_HI_VARINST d
        on d.proc_inst_id_ = b.id_ and d.execution_id_ = a.execution_id_ and d.task_id_ = a.task_id_ and d.name_ <![CDATA[ <> ]]> 'submitBy'
        left join sys_user e
        on e.uuid = a.assignee_
        where 1 = 1
        and c.key_ = #{processKey}
        and b.business_key_ = #{businessKey}
        order by a.end_time_, a.id_
    </select>
    <select id="selectProcessDefinitionList" resultType="java.util.HashMap">
        select
        rownum,
        a.id_,
        a.version_,
        a.name_,
        a.key_,
        a.deployment_id_,
        b.business_key_,
        b.id_ as proc_inst_id_
        from ACT_RE_PROCDEF a
        left join ACT_HI_PROCINST b
        on a.id_ = b.proc_def_id_
        where 1 = 1
        and a.key_ = #{processKey}
        and b.business_key_ = #{businessKey}
        <if test="last">
        and rownum = 1
        </if>
        order by a.version_ desc
    </select>
    <select id="selectProcessConfiguration" resultType="java.util.HashMap">
    select
    allRec_.*,
    rownum as seq_
    from(
        select
        a.*,
        d.name_ as var_name_,
        d.var_type_,
        d.text_ as var_text_,
        e.code as user_code_,
        e.name as user_name_,
        e.idcard as user_id_card_,
        e.orgcode as user_org_code_,
        ROW_NUMBER()OVER(PARTITION BY a.act_id_ ORDER BY a.id_) AS group_idx_
        from ACT_HI_ACTINST a
        left join ACT_HI_PROCINST b
        on b.proc_def_id_ = a.proc_def_id_ and b.id_ = a.proc_inst_id_
        left join ACT_RE_PROCDEF c
        on c.id_ = a.proc_def_id_
        left join ACT_HI_VARINST d
        on d.proc_inst_id_ = b.id_ and d.execution_id_ = a.execution_id_ and d.task_id_ = a.task_id_ and d.name_ <![CDATA[ <> ]]> 'submitBy'
        left join sys_user e
        on e.uuid = a.assignee_
        where 1 = 1
        and c.key_ = #{processKey}
        and b.business_key_ = #{businessKey}
        order by a.end_time_, a.id_
    ) allRec_
    where allRec_.group_idx_ = 1
    </select>
</mapper>