<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">通知</span>
	</div>
	<form ng-submit="queryList()" class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div id="notice" class="panel-group">
			<div class="panel">
				<div class="panel-heading search-box">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#notice" href="/#searchbox">查询</a>
				</div>
				<div id="searchbox" class="panel-collapse in">
					<div class="panel-body search-body">
						<div class="form-group row sm-row">
							<label class="col-sm-2 col-md-1 control-label">通知类型</label>
							<div class="col-sm-4 col-md-2 sm-col">
								<select name="CUST_TEXT01" id="CUST_TEXT01" class="form-control" ng-model="CUST_TEXT01">
									<option value="">请选择...</option>
									<option value="预评审">预评审</option>
									<option value="正式评审">正式评审</option>
									<option value="上会通知">上会通知</option>
								</select>
							</div>
							<label for="" class="col-sm-2 col-md-2 control-label">通知发起时间</label>
							<div class="col-sm-4 col-md-2 has-feedback sm-col">
								<input type="text" id="NOTICE_TIME" name="NOTICE_TIME" class="form-control" ng-model="NOTICE_TIME">
								<i class="fa fa-calendar form-control-feedback"></i>
							</div>
							<label for="" class="col-sm-2 col-md-1 control-label">阅读状态</label>
							<div class="col-sm-4 col-md-2 sm-col">
								<select name="STATE" id="STATE" class="form-control" ng-model="STATE">
									<option value="">请选择...</option>
									<option value="1">未读</option>
									<option value="2">已读</option>
								</select>
							</div>
							<div class="col-sm-12 col-md-2 search">
								<button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i>查询</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">通知列表<i class="i-triangle"></i></span></div></div>
			<div class="panel-body">
				<!--<div class="form-group row">
					<div class="txl">
						<a  href="#/ProjectFormalReviewDetail/Create/0" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i>新增</a>
						<button  type="button" ng-click="update()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>
						<button  type="button" ng-click="delete()" class="btn btn-info"><i class="glyphicon glyphicon-trash"></i>删除</button>
					</div>
				</div>-->
				<div class="form-group row table-responsive table-list">
					<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
						<thead>
						<tr>
							<th>序号</th>
							<th>通知主题</th>
							<th>通知类型</th>
							<th>通知发起时间</th>
							<th>状态</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="n in notice" on-finish-render-filters>
							<td>{{$index+1}}</td>
							<td><a href="#{{n.FORM_KEY}}" ng-click="changeReadState(n.ID)">{{n.INFO_SUBJECT}}</a></td>
							<td>{{n.CUST_TEXT01}}</td>
							<td>{{n.NOTICE_TIME}}</td>
							<td><div ng-if="'1'== n.STATE"><span class="status-y">未读</span></div>
								<div ng-if="'2'== n.STATE"><span class="status-n">已读</span></div>
							</td>
						</tbody>
					</table>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="assets/angularjs/angular-1.4.0/angular-route.js"></script>
<script type="text/javascript" src="assets/requirejs/require.js"></script>
<script>
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#NOTICE_TIME').datepicker(options);
		//$("select").select2({minimumResultsForSearch: Infinity});
	});
</script>