<div class="row">
    <div class="row-tit">1.投标评审意见汇总表</div>
    <fieldset disabled="disabled">
        <div class="table-responsive">
            <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
                <tbody>
                <tr>
                    <td class="title-column">提交申请时间</td>
                    <td>{{applyDate}}</td>
                    <td class="title-column">评审报告出具时间</td>
                    <td>{{reportOracle.SUBMIT_DATE}}</td>
                </tr>
                <tr>
                    <td class="title-column">业务单位</td>
                    <td ng-if="pfr.apply.pertainArea.VALUE!=null">{{pfr.apply.pertainArea.VALUE}}</td>
                    <td ng-if="pfr.apply.pertainArea==null||pfr.apply.pertainArea.VALUE==null">{{pfr.apply.reportingUnit.VALUE}}</td>
                    <td class="title-column">投资经理</td>
                    <td>{{pfr.apply.investmentManager.NAME}}</td>
                </tr>
                <tr>
                    <td class="title-column">项目名称</td>
                    <td>{{pfr.apply.projectName}}
                    	<img ng-if="pfr.meetingInfo.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
                    </td>
                    <td class="title-column">评审难度评级</td>
                    <td>{{pfr.meetingInfo.projectRating.name}}</td>
                </tr>
                <tr>
                    <td class="title-column">评审负责人</td>
                    <td>{{pfr.taskallocation.reviewLeader.NAME}}</td>
                </tr>
                <tr>
                    <td class="title-column">评级理由</td>
                    <td colspan="3">
                        <div class="row tr-max">
                            <textarea readonly="readonly" name=""  rows="" cols="" class="form-control" auto-height>{{pfr.meetingInfo.ratingReason}}</textarea>
                        </div>
                        <div class="row nobottom-mar">
                            <label class="checkbox-inline">
                                <input type="checkbox" disabled class="px" ng-model="pfr.meetingInfo.projectType1" name="projectType" value="1"/>
                                <span class="lbl">项目简单</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" disabled class="px" ng-model="pfr.meetingInfo.projectType2" name="projectType" value="2"/>
                                <span class="lbl">风险较低</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" disabled class="px" ng-model="pfr.meetingInfo.projectType3" name="projectType" value="2"/>
                                <span class="lbl">收益较好</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="title-column">投资中心/水环境投资中心意见</td>
                    <td colspan="3"><span class="font-w">投资测算意见：</span><div>{{pfr.cesuanFileOpinion}}</div></td>
                </tr>
                <tr>
                    <td colspan="3"><span class="font-w">投资协议意见：</span><div>{{pfr.tzProtocolOpinion}}</div></td>
                </tr>
                <tr>
                    <td rowspan="3" class="title-column">风控中心审批意见</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="col-sm-6 noleft-pad"><span class="font-w">风控中心审批次数：{{pfr.approveAttachment.commentsList.length}}</span></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>