<div class="panel-body">
	<!--form表单开始-->
	<form class="form-horizontal" name="myFormPPR" id="myFormPPR">
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt="" title="" /><span class="hd-title">项目会议信息</span>
			</div>
			<div id="meetingApply">
					<div class="panel">
						<div class="panel-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingApply" href="/#reviewProject1"><span class="text">项目会议信息<i class="i-triangle"></i></span></a>
						</div>
						<div id="reviewProject1" class="panel-collapse">
							<div class="panel-body">
								<div class="row table-responsive">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light">
										<tbody class="tr-max">
										<input type="hidden"  name="UUID" id="UUID"   class="form-control"  value="{{id}}" />
										<tr>
											<td class="title-column">项目名称</td>
											<td>{{pfr.apply.projectName}}</td>
										</tr>
										<tr>
											<td class="title-column">业务类型</td>
											<td>{{pfr.apply.serviceType}}</td>
										</tr>
										<tr>
											<td class="title-column"><span class="required">*</span>是否紧急上会</td>
											<td colspan="3">
												<div class="col-sm-4">
													<label class="radio radio-inline">
														<input type="radio"  name="isurgent" ng-model="pfr.isUrgent" value="0" class="px" ng-checked="true"/><span class="lbl">否</span>
													</label>
													<label class="radio radio-inline">
														<input type="radio"  name="isurgent" ng-model="pfr.isUrgent" value="1" class="px"/><span class="lbl">是</span>
													</label>

												</div>
											</td>
										</tr>
										<tr>
											<td class="title-column"><span class="required">*</span>项目评级</td>
											<td colspan="3">
												<div class="row nobottom-mar">
													<div class="col-sm-5 noleft-pad meeting-time-input">
														<select name="projectRating" id="projectRating" class="form-control ng-pristine ng-untouched ng-valid" ng-model="pfr.projectRating" ng-options="nv.name for nv in dic2.nameValue track by  nv.value">
															<option value="">请选择...</option>
														</select>
													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-6 td-checkbox txl noLeftPadMin">
														<label class="checkbox-inline">
															<input type="checkbox" class="px" name="projectType1" id="projectType1" ng-model="pfr.projectType1" value="1"/>
															<span class="lbl">项目简单</span>
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" class="px" name="projectType2" id="projectType2" ng-model="pfr.projectType2" value="2" />
															<span class="lbl">风险较低</span>
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" class="px" name="projectType3" id="projectType3" ng-model="pfr.projectType3" value="3"/>
															<span class="lbl">收益较好</span>
														</label>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td class="title-column"><span class="required">*</span>评级理由</td>
											<td colspan="3"><textarea name="ratingReason" id="ratingReason" class="form-control"  ng-model="pfr.ratingReason" auto-height></textarea></td>
										</tr>
											<tr>
												<td class="title-column"><span class="required">*</span>大区人员参会方式</td>
												<td colspan="3" class="radio-group">
													<label class="radio radio-inline">
														<input type="radio" class="px" name="participantMode" ng-model="pfr.participantMode" value="1"/>
														<span class="lbl">现场</span>
													</label>
													<label class="radio radio-inline">
														<input type="radio" class="px" name="participantMode" ng-model="pfr.participantMode" value="2"/>
														<span class="lbl">视频</span>
													</label>
<!-- 													<label class="radio radio-inline"> -->
<!-- 														<input type="radio" class="px" name="participantMode" ng-model="pfr.participantMode" value="3"/> -->
<!-- 														<span class="lbl">电话</span> -->
<!-- 													</label> -->
												</td>
											</tr>
										<tr>
											<td class="title-column"><span class="required">*</span>大区参会人员</td>
											<td colspan="3">
													<div class="row nobottom-mar">
															<direct-user-multi-select id="{{'pfrdivision'}}" checked-users="pfr.division"
														        	mapped-key-value="pfrDivision">
															</direct-user-multi-select>
													</div>
											</td>
										</tr>
										<tr>
											<td class="title-column">投资中心/水环境参会人员</td>
											<td colspan="3">
													<div class="row nobottom-mar">
															<direct-user-multi-select id="{{'pfrinvestment'}}" checked-users="pfr.investment"
														        	mapped-key-value="pfrInvestment">
															</direct-user-multi-select>
													</div>
											</td>
										</tr>
										<tr>
											<td class="title-column"><span class="required-r">*</span>汇报人</td>
												<td>
													<div class="row nobottom-mar">
															<direct-user-single-select id="{{'pfragenda'}}" checked-user="pfr.agenda"
														        	mapped-key-value="pfrAgenda">
															</direct-user-single-select>
													</div>
												</td>
										</tr>
										<tr>
											<td class="title-column"><span class="required">*</span>联系人</td>
											<td colspan="3">
													<div class="row nobottom-mar">
															<direct-user-single-select id="{{'pfrcontacts'}}" checked-user="pfr.contacts"
														        	mapped-key-value="pfrContacts">
															</direct-user-single-select>
													</div>
											</td>
										</tr>
										<tr>
											<td class="title-column"><span class="required">*</span>电话：</td>
											<td><input type="text" name="telephone" id="telephone" class="form-control" ng-model="pfr.telephone" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"  onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')" 
															   onkeypress="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onkeyup="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onblur="if(!this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?|\.\d*?)?$/))this.value=this.o_value;else{if(this.value.match(/^\.\d+$/))this.value=0+this.value;if(this.value.match(/^\.$/))this.value=0;this.o_value=this.value}"/></td>
											
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="option">
					<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
					<button type="button" id="savebtn" class="btn btn-info" ng-click="save()"><i class="fa fa-save"></i>提交</button>
				</div>
			</div>
		</div>
		</form>
	  </div>
	<directive-user-list></directive-user-list>
<directive-user-radio-list></directive-user-radio-list>
<script type="text/javascript">

</script>
<script  type="text/javascript">
	angular.element(document).ready(function() {
		var options = {
			minuteStep: 5,
			orientation: $('body').hasClass('right-to-left') ? { x: 'right', y: 'auto'} : { x: 'auto', y: 'auto'}
		}
		$('#startTime').timepicker(options);
		$('#endTime').timepicker(options);
		$('#startTime1').timepicker(options);
		$('#endTime1').timepicker(options);

		var optionsDate = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#meetingDate').datepicker(optionsDate);

		$("#regional-division select").select2();
		$("#investment-center select").select2();
		$("#contacts-box select").select2();
	});
	$().ready(function() {
		$("#myFormPPR").validate({
			rules: {
				projectRating:"required",
				ratingReason:"required",
				personLiable:"required",
				telephone:"required",
				mark:"required"
			},
			messages: {
				projectRating:"此项必填",
				ratingReason:"此项必填",
				personLiable:"此项必填",
				telephone:"此项必填",
				mark:"此项必填"
			}
		});
	});
</script>