<div class="panel-body">
    <div class="header">
        <img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
        <span class="hd-title">会议项目审阅</span>
    </div>
    <form class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div class="panel">
			<div class="panel-heading search-box">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingApplication" href="/#searchbox">查询</a>
			</div>
			<div id="searchbox" class="panel-collapse collapse">
				<div class="panel-body search-body">
					<div class="form-group row sm-row">
						<label class="col-sm-2 col-md-1 control-label">项目名称</label>
						<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConf.queryObj.meetingProjectReviewProjectName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
						<div class="col-sm-2 col-md-4">
							<div class="col-sm-2 col-md-2 search"><button  type="button" class="btn btn-info" ng-click="queryMeetingProjectListByPage()"><i class="glyphicon glyphicon-search"></i>查询</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="panel">
            <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">数据列表<i class="i-triangle"></i></span></div></div>
            <div class="panel-body">
            	<div class="row">
					<button ng-click="cancelProject()" type="button" class="btn btn-info"><i class="fa fa-reply"></i>撤消上会</button>
				</div>
                <div class="">
                    <div class="table-responsive table-list">
                        <table border="0" cellspacing="0" cellpadding="0" class="table table-text-mid table-hover datatable first-col-fixed">
                            <thead>
                            <tr>
                            	<th>选择</th>
                               	<th>序号</th>
								<th>项目名称</th>
								<th>项目类型</th>
								<th>会议主席</th>
								<th>表决时间</th>
								<th>表决结果</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="p in projectList">
                            	<td ng-if="0 == p.VOTE_STATUS || 0 == p.DECISION_RESULT">
									<label class="checkbox-inline choose">
										<input type="checkbox" name="checkbox" class="px" value="{{p.DECISION_ID}}"/>
										<span class="lbl">&nbsp;</span>
									</label>
								</td>
								<td ng-if="0 != p.DECISION_RESULT">
								</td>
                                <td>{{$index+1}}</td>
								<td>
								<!--<a ng-if="'pfr' == p.PROJECT_TYPE" href="#/projectInfoAllView/{{p.BUSINESS_ID}}/{{'#'+oldUrl|encodeURI}}">{{p.PROJECT_NAME}}</a>
								<a ng-if="'bulletin' == p.PROJECT_TYPE" href="#/projectBulletinInfoAllView/{{p.BUSINESS_ID}}/{{'#'+oldUrl|encodeURI}}">{{p.PROJECT_NAME}}</a>
								<a ng-if="'pre' == p.PROJECT_TYPE" href="#/PreBiddingInfoMeetingReview/{{p.BUSINESS_ID}}/{{'#'+oldUrl|encodeURI}}">{{p.PROJECT_NAME}}</a>-->
									<a ng-if="'pfr' == p.PROJECT_TYPE" href="#/projectInfoAllBoardView/{{p.BUSINESS_ID}}/{{'#'+oldUrl|encodeURI}}" title="{{p.PROJECT_NAME}}">{{p.PROJECT_NAME|projectNameFilter:32}}</a>
									<a ng-if="'bulletin' == p.PROJECT_TYPE" href="#/projectBulletinInfoAllBoardView/{{p.BUSINESS_ID}}/{{'#'+oldUrl|encodeURI}}" title="{{p.PROJECT_NAME}}">{{p.PROJECT_NAME|projectNameFilter:32}}</a>
									<a ng-if="'pre' == p.PROJECT_TYPE" href="#/projectPreInfoAllBoardView/{{p.BUSINESS_ID}}/{{'#'+oldUrl|encodeURI}}" title="{{p.PROJECT_NAME}}">{{p.PROJECT_NAME|projectNameFilter:32}}</a>
								</td>
								<td>
                                	<font ng-if="'pfr' == p.PROJECT_TYPE">正式评审</font>
									<font ng-if="'bulletin' == p.PROJECT_TYPE">其他评审</font>
									<font ng-if="'pre' == p.PROJECT_TYPE">投标评审</font>
                                </td>
                                <td>{{p.CHAIRMAN_NAME}}</td>
                                <td>{{p.DECISION_DATE}}</td>
								<td>
									<font ng-if="0 == p.VOTE_STATUS || 0 == p.DECISION_RESULT">未表决</font>
									<span ng-if="1 == p.DECISION_RESULT">同意</span>
									<span ng-if="2 == p.DECISION_RESULT">不同意</span>
									<span ng-if="3 == p.DECISION_RESULT">有条件同意</span>
									<span ng-if="4 == p.DECISION_RESULT">择期决议</span>
								</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-footer clearfix">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
            <div class="button-group">
				<div class="row">
					<div class="option txl">
						<directive-return-btn url="{{'#/meeting/MeetingArrangement/1'|encodeURI}}"></directive-return-btn>
					</div>
				</div>
			</div>
        </div>
    </form>
</div>

<script>
    angular.element(document).ready(function() {
        var options = {
            todayBtn: "linked",
            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
        }
        $('#meetingTime').datepicker(options);
    });
</script>