<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">投资投标评审</span>
	</div>
	<div class="mb30 ml20 mr20">
		<div class="panel p-panel">
			<!-- Nav tabs -->
			<div class="p-nav">
			  <ul class="nav nav-tabs" role="tablist" id="myTab">
			    <li role="presentation" class="active">
				    <a href="/#apply" data-toggle="tab">
					        申请阶段<span class="badge badge-blue">{{applyCount}}</span>
				    </a>
			    </li>
			    <li role="presentation">
				    <a href="/#task" data-toggle="tab">
					   	分配任务<span class="badge badge-blue">{{taskCount}}</span>
				    </a>
			    </li>
			    <li role="presentation">
				    <a href="/#risk" data-toggle="tab">
					   	风控处理<span class="badge badge-blue">{{riskCount}}</span>
				    </a>
			    </li>
			    <li role="presentation">
				    <a href="/#meeting" data-toggle="tab">
					   	安排过会阶段<span class="badge badge-blue">{{meetingCount}}</span>
				    </a>
			    </li>
			    <li role="presentation">
				    <a href="/#overMeeting" data-toggle="tab">
					   	已过会阶段<span class="badge badge-blue">{{overMeetingCount}}</span>
				    </a>
			    </li>
<!-- 			    <li role="presentation"> -->
<!-- 				    <a href="/#decision" data-toggle="tab"> -->
<!-- 					    已确认决策通知书<span class="badge badge-blue">{{decisionCount}}</span> -->
<!-- 				    </a> -->
<!-- 			    </li> -->
			    <li role="presentation">
				    <a href="/#end" data-toggle="tab">
					    终止阶段<span class="badge badge-blue">{{endCount}}</span>
				    </a>
			    </li>
			  </ul>
			</div>
			  <!-- Tab panes -->
			  <div class="tab-content p-panes">
			    <div role="tabpanel" class="tab-pane active" id="apply">
				    <div class="table-responsive table-list no-selectbox">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>业务单位</th>
									<th>投资经理</th>
									<th>申请时间</th>
									<th>评审状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="p in applyList">
									<th>{{$index+1}}</th>
									<td>
<!--  										<a href="#/projectInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/0'|encodeURI}}">{{p.PROJECTNAME}}</a>  -->
										<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/0'|encodeURI}}" title="{{p.PROJECTNAME}}">
											{{p.PROJECTNAME|projectNameFilter:32}}
										</a>
										<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/0'|encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
									</td>
									<td>
										{{p.PERTAINAREANAME}}
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
									</td>
									<td>{{p.INVESTMENTNAME}}</td>
									<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
									<td>
										<div ng-if="'0'== p.WF_STATE">起草中</div>
										<div ng-if="'1'== p.WF_STATE">审批中</div>
										<div ng-if="'2'== p.WF_STATE">已审批</div>
										<div ng-if="'3'== p.WF_STATE">已终止</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="more">
						<a href="#/preReportBoardListMore/1/0,1/{{'#/preReportBoardList/0'|encodeURI}}" title="">更多 &gt;&gt;</a>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="task">
					<div class="table-responsive table-list no-selectbox">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>业务单位</th>
									<th>投资经理</th>
									<th>申请时间</th>
									<th>评审状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" p in taskList">
								<td>{{$index+1}}</td>
									<td>
<!--  										<a href="#/projectInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/1'|encodeURI}}">{{p.PROJECTNAME}}</a>  -->
										<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/1'|encodeURI}}" title="{{p.PROJECTNAME}}">
											{{p.PROJECTNAME|projectNameFilter:32}}
										</a>
										<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/1'|encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
									</td>
									<td>
										{{p.PERTAINAREANAME}}
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
									</td>
									<td>{{p.INVESTMENTNAME}}</td>
									<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
									<td>
										<div ng-if="'0'== p.WF_STATE">起草中</div>
										<div ng-if="'1'== p.WF_STATE">审批中</div>
										<div ng-if="'2'== p.WF_STATE">已审批</div>
										<div ng-if="'3'== p.WF_STATE">已终止</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="more">
						<a href="#/preReportBoardListMore/2/1/{{'#/preReportBoardList/1'|encodeURI}}" title="">更多 &gt;&gt;</a>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="risk">
					<div class="table-responsive table-list no-selectbox">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>业务单位</th>
									<th>投资经理</th>
									<th>评审负责人</th>
									<th>申请时间</th>
									<th>评审状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" p in riskList">
								<td>{{$index+1}}</td>
									<td>
<!--  										<a href="#/projectInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/2'|encodeURI}}">{{p.PROJECTNAME}}</a>  -->
										<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/2'|encodeURI}}" title="{{p.PROJECTNAME}}">
											{{p.PROJECTNAME|projectNameFilter:32}}
										</a>
										<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/2'|encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
									</td>
									<td>
										{{p.PERTAINAREANAME}}
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
									</td>
									<td>{{p.INVESTMENTNAME}}</td>
									<td>{{p.REVIEWPERSONNAME}}</td>
									<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
									<td>
										<div ng-if="'0'== p.WF_STATE">起草中</div>
										<div ng-if="'1'== p.WF_STATE">审批中</div>
										<div ng-if="'2'== p.WF_STATE">已审批</div>
										<div ng-if="'3'== p.WF_STATE">已终止</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="more">
						<a href="#/preReportBoardListMore/3,3.5/1,2/{{'#/preReportBoardList/2'|encodeURI}}" title="">更多 &gt;&gt;</a>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="meeting">
					<div class="table-responsive table-list no-selectbox">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>业务单位</th>
									<th>投资经理</th>
									<th>评审负责人</th>
									<th>申请时间</th>
									<th>评审状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" p in meetingList">
								<td>{{$index+1}}</td>
									<td>
<!--  										<a href="#/projectInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/3'|encodeURI}}">{{p.PROJECTNAME}}</a>  -->
										<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/3'|encodeURI}}" title="{{p.PROJECTNAME}}">
											{{p.PROJECTNAME|projectNameFilter:32}}
										</a>
										<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/3'|encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
									</td>
									<td>
										{{p.PERTAINAREANAME}}
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
									</td>
									<td>{{p.INVESTMENTNAME}}</td>
									<td>{{p.REVIEWPERSONNAME}}</td>
									<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
									<td>
										<div ng-if="'0'== p.WF_STATE">起草中</div>
										<div ng-if="'1'== p.WF_STATE">审批中</div>
										<div ng-if="'2'== p.WF_STATE">已审批</div>
										<div ng-if="'3'== p.WF_STATE">已终止</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="more">
						<a href="#/preReportBoardListMore/4,5/2/{{'#/preReportBoardList/3'|encodeURI}}" title="">更多 &gt;&gt;</a>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="overMeeting">
					<div class="table-responsive table-list no-selectbox">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>业务单位</th>
									<th>投资经理</th>
									<th>评审负责人</th>
									<th>申请时间</th>
									<th>评审状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" p in overMeetingList">
								<td>{{$index+1}}</td>
									<td>
										<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/4'|encodeURI}}" title="{{p.PROJECTNAME}}">
											{{p.PROJECTNAME|projectNameFilter:32}}
										</a>
										<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/4'|encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
									</td>
									<td>
										{{p.PERTAINAREANAME}}
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
									</td>
									<td>{{p.INVESTMENTNAME}}</td>
									<td>{{p.REVIEWPERSONNAME}}</td>
									<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
									<td>
										<div ng-if="'0'== p.WF_STATE">起草中</div>
										<div ng-if="'1'== p.WF_STATE">审批中</div>
										<div ng-if="'2'== p.WF_STATE">已审批</div>
										<div ng-if="'3'== p.WF_STATE">已终止</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="more">
						<a href="#/preReportBoardListMore/6/2/{{'#/preReportBoardList/4'|encodeURI}}" title="">更多 &gt;&gt;</a>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="decision">
					<div class="table-responsive table-list no-selectbox">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>业务单位</th>
									<th>投资经理</th>
									<th>评审负责人</th>
									<th>申请时间</th>
									<th>评审状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" p in decisionList">
								<td>{{$index+1}}</td>
									<td>
										<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/5'|encodeURI}}" title="{{p.PROJECTNAME}}">
											{{p.PROJECTNAME|projectNameFilter:32}}
										</a>
										<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/5'|encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
									</td>
									<td>
										{{p.PERTAINAREANAME}}
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
									</td>
									<td>{{p.INVESTMENTNAME}}</td>
									<td>{{p.REVIEWPERSONNAME}}</td>
									<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
									<td>
										<div ng-if="'0'== p.WF_STATE">起草中</div>
										<div ng-if="'1'== p.WF_STATE">审批中</div>
										<div ng-if="'2'== p.WF_STATE">已审批</div>
										<div ng-if="'3'== p.WF_STATE">已终止</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="more">
						<a href="#/preReportBoardListMore/7/2/{{'#/preReportBoardList/5'|encodeURI}}" title="">更多 &gt;&gt;</a>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="end">
					<div class="table-responsive table-list no-selectbox">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>业务单位</th>
									<th>投资经理</th>
									<th>评审负责人</th>
									<th>申请时间</th>
									<th>评审状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" p in endList">
								<td>{{$index+1}}</td>
									<td>
										<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/5'|encodeURI}}" title="{{p.PROJECTNAME}}">
											{{p.PROJECTNAME|projectNameFilter:32}}
										</a>
										<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/5'|encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
									</td>
									<td>
										{{p.PERTAINAREANAME}}
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
									</td>
									<td>{{p.INVESTMENTNAME}}</td>
									<td>{{p.REVIEWPERSONNAME}}</td>
									<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
									<td>
										<div ng-if="'0'== p.WF_STATE">起草中</div>
										<div ng-if="'1'== p.WF_STATE">审批中</div>
										<div ng-if="'2'== p.WF_STATE">已审批</div>
										<div ng-if="'3'== p.WF_STATE">已终止</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="more">
						<a href="#/preReportBoardListMore/1/3/{{'#/preReportBoardList/6'|encodeURI}}" title="">更多 &gt;&gt;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="mb30 ml20 mr20">
		<div class="panel p-panel">
			<div class="p-header color_darkBlue">
				<a class="accordion-toggle collapse in" href="/#taskAssignment1" data-parent="#reviewLeader" data-toggle="collapse"><span class="text">全部投资评审项目列表<i></i></span></a>
			</div>
			<div class="panel-body panel-collapse collapse in " id="taskAssignment1" >
				<div id="projectPreReview" class="panel-group">
					<div class="panel">
						<input type="hidden"  name="proId" id="proId" ng-model="conf.orgId"/>
						<div class="panel-heading search-box">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#projectPreReview" href="/#searchbox">查询</a>
						</div>
						<div id="searchbox" class="panel-collapse collapse">
							<div class="panel-body search-body">
								<label class="col-sm-2 col-md-1 control-label">项目名称</label>
								<div class="col-sm-4 col-md-2 sm-col">
									<input type="text" name="PROJECT_NAME" id="PROJECT_NAME" ng-model="paginationConf.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" />
								</div>
								<label class="col-sm-2 col-md-1 control-label">业务单位</label>
								<div class="col-sm-4 col-md-2 sm-col">
									<input type="text" name="REPORTING_UNIT_NAME" id="REPORTING_UNIT_NAME" ng-model="paginationConf.queryObj.projectUnitName" class="form-control ng-pristine ng-untouched ng-valid" />
								</div>
								<label class="col-sm-2 col-md-1 control-label">评审状态</label>
								<div class="col-sm-4 col-md-2">
									<select name="WF_STATE" id="WF_STATE" class="form-control" ng-model="paginationConf.queryObj.wf_state">
										<option value="">请选择...</option>
										<option value="0">起草中</option>
										<option value="1">审批中</option>
										<option value="2">已审批</option>
										<option value="3">已终止</option>
									</select>
								</div>
								<div class="col-sm-4 col-md-2">
									<div class="col-sm-12 col-md-2 search"><button  type="button" class="btn btn-info" ng-click="getAllList()"><i class="glyphicon glyphicon-search"></i>查询</button></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row nobottom-mar table-responsive table-list">
					<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
						<thead>
						<tr>
							<th>序号</th>
							<th>项目名称</th>
							<th>业务单位</th>
							<th>投资经理</th>
							<th>评审负责人</th>
							<th>申请时间</th>
							<th>评审状态</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="p in allList track by $index" on-finish-render-filters>
							<td>{{$index+1}}</td>
							<td>
								<a ng-if="p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/preReportBoardList/0'+oldUrl |encodeURI}}" title="{{p.PROJECTNAME}}">
									{{p.PROJECTNAME|projectNameFilter:32}}
								</a>
								<a ng-if="p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/preReportBoardList/0'+oldUrl |encodeURI}}" title="{{p.PROJECTNAME}}">{{p.PROJECTNAME|projectNameFilter:32}}</a>
							</td>
							<td>
								{{p.PERTAINAREANAME}}
							<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
							</td>
							<td>{{p.INVESTMENTNAME}}</td>
							<td>{{p.REVIEWPERSONNAME}}</td>
							<td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
							<td>
								<div ng-if="'0'== p.WF_STATE">起草中</div>
								<div ng-if="'1'== p.WF_STATE">审批中</div>
								<div ng-if="'2'== p.WF_STATE">已审批</div>
								<div ng-if="'3'== p.WF_STATE">已终止</div>
							</td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript" src="assets/angularjs/angular-1.4.0/angular-route.js"></script>
<script type="text/javascript" src="assets/requirejs/require.js"></script>
<script>
// 	angular.element(document).ready(function() {
// 		var options = {
// 			todayBtn: "linked",
// 			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
// 		}
// 		$('#formalApplyTime').datepicker(options);
// 	});
</script>