<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.meeting.dao.INoticeUserMapper">

	<insert id="add" parameterType="map">
		insert all
		<foreach collection="noticeUsers" item="n">
			into RCM_NOTICE_USER
			(ID,
			RELATION_ID,
			USER_ID,
			TYPE,
			REVIEW_STATUS) 
			values
			(#{n.ID,javaType = java.lang.String,jdbcType = VARCHAR},
			#{n.RELATION_ID,javaType = java.lang.String,jdbcType = VARCHAR},
			#{n.USER_ID,javaType = java.lang.String,jdbcType = VARCHAR},
			#{n.TYPE,javaType = java.lang.String,jdbcType = VARCHAR},
			#{n.REVIEW_STATUS,javaType = java.lang.String,jdbcType = VARCHAR})
		</foreach>
		select 1 from dual
	</insert>
	
	<delete id="deleteByRelationId" parameterType="java.lang.String">
		delete from RCM_NOTICE_USER
		where RELATION_ID = #{relationId,javaType = java.lang.String,jdbcType = VARCHAR}
	</delete>
	
	<update id="updateReviewStatus" parameterType="map">
		update RCM_NOTICE_USER 
		set REVIEW_STATUS = #{reviewStatus,javaType = java.lang.String,jdbcType = VARCHAR}
		where RELATION_ID = #{relationId,javaType = java.lang.String,jdbcType = VARCHAR} 
		and USER_ID = #{userId,javaType = java.lang.String,jdbcType = VARCHAR} 
	</update>
</mapper>