<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">法律尽职调查管理</span>
	</div>
	<form class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div id="projectPreReview" class="panel-group">
			<div class="panel">
				<input type="hidden"  name="proId" id="proId" ng-model="conf.orgId"/>
				<div class="panel-heading search-box">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#projectPreReview" href="/#searchbox">查询</a>
				</div>
				<div id="searchbox" class="panel-collapse in">
					<div class="panel-body search-body">
						<div class="form-group row sm-row">
							<label class="col-sm-2 col-md-1 control-label">项目名称</label>
							<div class="col-sm-4 col-md-2 sm-col"><input type="text" name="code" ng-model="conf.code" class="form-control ng-pristine ng-untouched ng-valid" /></div>
							<label class="col-sm-2 col-md-1 control-label">基层法务人员</label>
							<div class="col-sm-4 col-md-2 sm-col"><input type="text" name="name" ng-model="conf.name" class="form-control ng-pristine ng-untouched ng-valid" /></div>
							<label for="project-type" class="col-sm-2 col-md-1 control-label">项目模式</label>
							<div class="col-sm-4 col-md-2">
								<select class="form-control" id="project-type" name="project-type">
									<option value="">BOT</option>
									<option value="">TOT</option>
									<option value="">股权收购</option>
									<option value="">PPPPP</option>
								</select>
							</div>
							<label class="col-sm-2 col-md-1 control-label">单位负责人</label>
							<div class="col-sm-4 col-md-2"><input type="text" name="code" ng-model="conf.code" class="form-control ng-pristine ng-untouched ng-valid" /></div>
						</div>
						<div class="form-group row sm-row">
							<label for="" class="col-sm-2 col-md-1 control-label">申请日期</label>
							<div class="col-sm-4 col-md-2 has-feedback sm-col">
								<input type="text" id="ApplyTimeFrom" class="form-control"/>
								<i class="fa fa-calendar form-control-feedback"></i>
							</div>
							<label for="" class="col-sm-2 col-md-1 control-label">至</label>
							<div class="col-sm-4 col-md-2 has-feedback sm-col">
								<input type="text" id="ApplyTimeTo" class="form-control"/>
								<i class="fa fa-calendar form-control-feedback"></i>
							</div>
							<label for="" class="col-sm-2 col-md-1 control-label">评审节点</label>
							<div class="col-sm-4 col-md-2 sm-col">
								<select name="" id="" class="form-control">
									<option value="">请选择...</option>
									<option value="">意见反馈</option>
								</select>
							</div>
							<div class="col-sm-12 col-md-1 search">
								<button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i>查询</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">法律尽职调查<i class="i-triangle"></i></span></div></div>
			<div class="panel-body">
				<div class="form-group row">
					<div class="txl">
						<a href="#/LawsDoTuneDetail" class="btn btn-info" id="createbtn"><i class="glyphicon glyphicon-plus"></i>新增</a>
						<button  type="button" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>
						<button  type="button" class="btn btn-info"><i class="glyphicon glyphicon-trash"></i>删除</button>
					</div>
				</div>
				<div class="form-group row nobottom-mar table-responsive table-list">
					<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
						<thead>
							<tr>
								<th>选择</th>
								<th>序号</th>
								<th>所属大区</th>
								<th>项目名称<i class="icofunc fa fa-caret-up"></i><i class="icofunc cur fa fa-caret-down"></i></th>
								<th>项目类型</th>
								<th>项目模式</th>
								<th>基层法务人员</th>
								<th>单位负责人</th>
								<th>申请时间</th>
								<th>评审节点</th>
							</tr>
						</thead>
						<tbody>
						<!--<tr>
							<td><input type="checkbox" name="checkbox" /></td>
							<td>北控水务</td>
							<td>南方xxx项目</a></td>
							<td>污水、自来水</td>
							<td>BOT</td>
							<td>蒋欣</td>
							<td>刘思</td>
							<td>2016-07-09</td>
						</tr>-->


							<tr ng-repeat="p in ppr" on-finish-render-filters>
								<td>
									<label class="checkbox-inline">
										<input type="checkbox" name="checkbox" class="px"/>
										<span class="lbl">&nbsp;</span>
									</label>
								</td>
								<td>{{$index+1}}</td>
								<td>{{p.projectName}}</td>
								<td><a href="#ProjectPreReviewDetail" title="">{{p.pnrYes}}</a></td>
								<td>{{p.projectType}}</td>
								<td>{{p.applyDate}}</td>
								<td>{{p.placeholder}}</td>
								<td>{{p.state}}</td>
								<td>{{p.state}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</form>
</div>

<script>
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#ApplyTimeFrom').datepicker(options);
		$('#ApplyTimeTo').datepicker(options);
	});
</script>