<div class="">
    <form  name="myForm" class="form-horizontal ng-pristine ng-valid"  novalidate>
        <div class="panel-body">
            <div class="header">
                <img src="assets/images/icons/group.png" width="41" height="41" alt="" title="" />
                <span class="hd-title">{{title}}决策会委员</span>
            </div>
            <div class="panel">
                <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">基本信息<i class="i-triangle"></i></span></div></div>
                <div class="panel-body special-form">
                    <div class="form-group row">
                        <label for="" class="col-sm-2 control-label">序号</label>
                        <div class="col-sm-4">
                       		<input class="form-control" maxlength="2" ng-model="user.ORDER_BY" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
									   onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
                        </div>
                     	<label for="" class="col-sm-2 control-label">委员</label>
                        <div class="col-sm-4">
                       		<direct-user-single-select id="decisionLeader" checked-user="user.decisionLeader" mapped-key-value="decisionLeaderMapped"></direct-user-single-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 control-label">是否为主席</label>
                        <div class="col-sm-4">
                       		<label class="radio radio-inline">
								<input type="radio" name="MEETING_LEADER_STATUS" checked="checked" ng-model="user.MEETING_LEADER_STATUS" value="0" class="px"/><span class="lbl">否</span>
							</label>
							<label class="radio radio-inline">
								<input type="radio" name="MEETING_LEADER_STATUS"  ng-model="user.MEETING_LEADER_STATUS" value="1" class="px"/><span class="lbl">是</span>
							</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <div class="row">
                    <div class="option">
                        <directive-return-btn url="{{oldUrl}}"></directive-return-btn>
                        <button class="btn btn-info" type="button" ng-click="save()" id="savebtn"><i class="fa fa-save"></i>保存</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>