<div class="panel-body">
	<form  class="form-horizontal ng-pristine ng-valid">
		<div class="header">
			<img src="assets/images/icons/group.png" width="41" height="41" alt="" title="" />
			<span class="hd-title">决策会委员管理</span>
		</div>
		<div class="panel panel-group">
			<div class="panel-heading search-box">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="" href="/#searchbox">查询</a>
			</div>
			<div id="searchbox" class="panel-collapse in">
				<div class="panel-body search-body">
					<div class="form-group row sm-row">
						<label class="col-sm-2 col-md-1 control-label">姓名</label>
						<div class="col-sm-4 col-md-2 sm-col"><input type="text" ng-model="paginationConf.queryObj.name" class="form-control ng-pristine ng-untouched ng-valid" /></div>
						<div class="col-sm-12 col-md-2 search">
							<button  type="button" class="btn btn-info" ng-click="executeQueryByPage()"><i class="glyphicon glyphicon-search"></i>查询</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-hd-cont"><span class="panel-title">查询结果<i class="i-triangle"></i></span></div>
			</div>
			<div class="panel-body">
				<div class="form-group row">
					<div class="txl">
						<a href="#/DataDictionaryList" class="btn btn-info"><i class="fa fa-reply"></i>返回</a>
						<button type="button" class="btn btn-info" ng-click="create()"><i class="glyphicon glyphicon-plus"></i>新增</button>
						<button type="button" class="btn btn-info" ng-click="update()"><i class="glyphicon glyphicon-edit"></i>修改</button>
						<button type="button" class="btn btn-info" ng-click="remove()"><i class="glyphicon glyphicon-trash"></i>删除</button>
					</div>
				</div>
				<div class="form-group row nobottom-mar">
					<div class="table-responsive table-list">
						<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
							<thead>
								<tr>
									<th>选择</th>
									<th>委员序号</th>
									<th>委员名称</th>
									<th>是否为主席</th>
									<th>登录名</th>
									<th>组织/部门</th>
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="u in userList">
								<td>
									<label class="checkbox-inline">
										<input class="px" type="checkbox" name="checkbox" class="ng-pristine ng-untouched ng-valid" value="{{u.USER_ROLE_ID}}"/>
										<span class="lbl">&nbsp;</span>
									</label>
								</td>
								<td>{{u.ORDER_BY}}</td>
								<td>{{u.NAME}}</td>
								<td><span ng-if="u.MEETING_LEADER_STATUS == null || u.MEETING_LEADER_STATUS == '0'" class="status-n">否</span><span ng-if="u.MEETING_LEADER_STATUS != null && u.MEETING_LEADER_STATUS == '1'" class="status-y">是</span></td>
								<td>{{u.ACCOUNT}}</td>
								<td>{{u.ORGNAME}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</form>
</div>
