<div class="panel-body">
    <form  class="form-horizontal ng-pristine ng-valid">
        <div class="header">
            <img src="assets/images/icons/group.png" width="41" height="41" alt="" title="" />
            <span class="hd-title">系统-业务日志</span>
        </div>
        <div class="panel panel-group">
            <div class="panel-heading search-box">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="" href="/#searchbox">查询</a>
            </div>
            <div id="searchbox" class="panel-collapse in">
                <div class="panel-body search-body">
                    <div class="form-group row sm-row">
                        <label class="col-sm-2 col-md-1 control-label">接口类型</label>
                        <div class="col-sm-4 col-md-2 sm-col">
                        	<input type="text" class="form-control" ng-model="paginationConf.queryObj.type">
                        </div>
                        <label class="col-sm-2 col-md-1 control-label" >执行状态</label>
                        <div class="col-sm-4 col-md-2 sm-col">
                        	<select class="form-control" ng-model="paginationConf.queryObj.success">
                                <option value="">请选择...</option>
                                <option value="1">成功</option>
                                <option value="0">失败</option>
                            </select>
                        </div>
                        <label class="col-sm-2 col-md-1 control-label" >调用时间</label>
                        <div class="col-sm-4 col-md-2 sm-col">
                        	<input type="text" class="form-control" ng-model="paginationConf.queryObj.updatetimeStart">
                        </div>
                        
                        <label class="col-sm-2 col-md-1 control-label" >至</label>
                        <div class="col-sm-4 col-md-2 sm-col">
                        	<input type="text" class="form-control" ng-model="paginationConf.queryObj.updatetimeEnd">
                        </div>
                    </div>
                    <div class="form-group row sm-row">
                    	<label class="col-sm-2 col-md-1 control-label">推送内容</label>
                        <div class="col-sm-4 col-md-2 sm-col">
                        	<input type="text" class="form-control" ng-model="paginationConf.queryObj.content">
                        </div>
                    </div>
                    <div class="form-group row">
                    	<div class="col-sm-12 col-md-12 search">
                        <button  type="button" class="btn btn-info" ng-click="listAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-hd-cont"><span class="panel-title">查询结果<i class="i-triangle"></i></span></div>
            </div>
            <div class="panel-body">
               <!-- <div class="form-group row">
                    <div class="txl">
                        <button  type="button" ng-click="updateGroup()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>
                    </div>
                </div>-->
                <div class="form-group row nobottom-mar">
                    <div class="table-responsive table-list">
                        <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>接口类型</th>
                                <th>调用时间</th>
                                <th>调用次数</th>
                                <th>推送内容</th>
                                <th>是否成功</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="l in logs">
                                <td>{{l.RN}}</td>
                                <td>{{l.TYPE}}</td>
                                <!-- <a href="#/JournalDetail/{{l.ID}}"></a> -->
                                <td>{{l.UPDATETIME}}</td>
                                <td>{{l.CALLEDTIMES}}</td>
                                <td>
                                	<div style="width:200px;overflow:hidden;height:20px;">
                                		<a href="#/wscallDetail/{{l.ID}}/{{'#/wscall'| encodeURI}}">{{l.CONTENT}}</a>
                                	</div>
                                </td>
                                <td>
                                	<span ng-if="'1'==l.SUCCESS" style="color:green">成功</span>
									<span ng-if="'0'==l.SUCCESS" style="color:red">
										失败&nbsp;&nbsp;&nbsp;
										<a href="javascript:void(0);" ng-click="repeatCallOne(l.ID)" style="color:blue;">重传</a>
									</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-footer clearfix">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </form>
</div>