<div class="xh-content container-fluid">
    <form name="formalReportForm" novalidate class="row">
        <h3 class='text-blue item-name'>
            {{ formalReport.projectName }}
        </h3>

        <div class="main-content col-md-10 col-sm-10 col-xs-12">
            <!--项目重要边界条件-->
            <div class="mcontent content1" id="flag1-c" style="height: 140px">
                <h3 class="text-blue">上传电子版正式评审决策会材料</h3>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div class="row">
                        <span class="noPadding">附件上传</span>
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <cloud-file
                            file-id="pfrOtherBidding"
                            file-type="FormalBiddingInfo"
                            file-code="{{paramId}}"
                            file-location="pfrOtherBidding"
                            show-upload="false"
                            show-preview="true"
                            show-replace="false"
                            show-download="false"
                            show-upload-or-replace="true"
                            show-delete="true"
                            area-code="1"
                            text-before="false"
                            btn-class="btn btn-primary"
                            text-class="col-md-8 slim"
                            btn-area-class="col-md-1 slim"
                            upload-text="浏览"
                    >
                    </cloud-file>
                </div>
            </div>
            <!--重要边界调件-->

            <div class="mcontent content1" id="flag2-c" ng-if="isEdite">
                <h3 class="text-blue">项目评级</h3>

                <div class="row normalline selectline">
                    <div class="col-md-6 col-sm-6  col-xs-12">
                        <div class="row">
                            <span class="required" style="color: red">*</span>
                            <span class="col-md-6 noPadding">评审难度评级</span>
                            <span class="col-md-6 slim">
                        <!--<span class="dropdown">
                        {{meetInfo.projectRating.name}}
                        </span>-->
                        <select style="width: 200px" ng-change=""
                                class="form-control" id="meetInfo.projectRating.name"
                                ng-model="meetInfo.projectRating" name="projectRatingName" required
                                ng-options="nv.name for nv in dic2.nameValue track by  nv.value">
                    <option value="">-- 请选择 --</option>
                </select>
                <div class="error-messages"
                     ng-if="interacted(formalReportForm.projectRatingName )">
                    这里是必填项
                </div>
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6  col-xs-12">
                        <div class="row">
                            <span class="col-md-6 noPadding">是否紧急上会</span>
                            <span class="col-md-6 slim">
                        <label class="radio radio-inline local">
                            <input type="radio" name="isurgent" ng-model="meetInfo.isUrgent" value="0" class="px"
                                   ng-checked="true"/><span class="lbl">否</span>
                        </label>
                        <label class="radio radio-inline local">
                            <input type="radio" name="isurgent" ng-model="meetInfo.isUrgent" value="1"
                                   class="px"/><span class="lbl">是</span>
                        </label>
                    </span>
                        </div>
                    </div>
                </div>

                <div class=" row normalline text-arealine">
                    <div class="col-md-3"><span class="required" style="color: red">*</span>评级理由</div>
                    <div class="col-md-9">
                <textarea style="resize:vertical;"
                          name="ratingReason"
                          ng-model="meetInfo.ratingReason"
                          class="form-control ng-pristine ng-valid ng-touched" required></textarea>
                        <div class="error-messages"
                             ng-if="interacted(formalReportForm.ratingReason)">
                            这里是必填项
                        </div>
                        <div class="radioline">
                            <input type="checkbox" name='ifeasy' ng-model="meetInfo.projectType1" id='easy-1'/><label
                                for="easy-1">项目简单</label>
                            <input type="checkbox" name="ifeasy" ng-model="meetInfo.projectType2" id='easy-2'/><label
                                for="easy-1">风险较低</label>
                            <input type="checkbox" name='ifeasy' ng-model="meetInfo.projectType3" id='easy-3'/><label
                                for="easy-1">收益较好</label>
                        </div>


                    </div>
                </div>

            </div>
            <!--项目评级-->

            <div class="mcontent content1" id="flag2-c" ng-if="!isEdite">
                <h3 class="text-blue">项目评级</h3>

                <div class="row normalline selectline">
                    <div class="col-md-6 col-sm-6  col-xs-12">
                        <div class="row">
                            <span class="required" style="color: red">*</span>
                            <span class="col-md-6 noPadding">评审难度评级</span>
                            <span class="col-md-6 slim">
                        <span class="dropdown">
                        {{meetInfo.projectRating.name}}
                        </span>
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6  col-xs-12">
                        <div class="row">
                            <span class="col-md-6 noPadding">是否紧急上会</span>
                            <span class="col-md-6 slim">
                        <label class="radio radio-inline local">
                            <input type="radio" name="isurgent" ng-model="meetInfo.isUrgent" value="0" class="px"
                                   ng-checked="true" disabled/><span class="lbl">否</span>
                        </label>
                        <label class="radio radio-inline local">
                            <input type="radio" name="isurgent" ng-model="meetInfo.isUrgent" value="1" class="px"
                                   disabled/><span class="lbl">是</span>
                        </label>
                    </span>
                        </div>
                    </div>
                </div>

                <div class=" row normalline text-arealine">
                    <div class="col-md-3"><span class="required" style="color: red">*</span>评级理由</div>
                    <div class="col-md-9">
                <textarea style="resize:vertical;"
                          name="ratingReason"
                          ng-model="meetInfo.ratingReason"
                          class="form-control ng-pristine ng-valid ng-touched" disabled></textarea>
                        <div class="radioline">
                            <label class="checkbox-inline local">
                                <input type="checkbox" disabled class="px" ng-model="meetInfo.projectType1" name="projectType"/>
                                <span class="lbl">项目简单</span>
                            </label>
                            <label class="checkbox-inline local">
                                <input type="checkbox" disabled class="px" ng-model="meetInfo.projectType2" name="projectType"/>
                                <span class="lbl">风险较低</span>
                            </label>
                            <label class="checkbox-inline local">
                                <input type="checkbox" disabled class="px" ng-model="meetInfo.projectType3" name="projectType"/>
                                <span class="lbl">收益较好</span>
                            </label>
                        </div>


                    </div>
                </div>
            </div>

            <!--业务单位上报评审文件 Start-->
            <div class="mcontent content1" id="flag3-c">
                <h3 class="text-blue">业务单位上报评审文件</h3>
                <div class="innertable">
                    <div class="col-md-9" style="padding-left: 0px;">
                        <h5>投资部门提供</h5>
                    </div>
                    <directive-accachment-new id="formalAssessmentInfo" business-type="formalReview"
                                              page-location="formalAssessmentInfo" business-id="pfr.id"
                                              wf-state="pfrOracle.WF_STATE" file-list="newAttachment"
                                              init-update="initUpdate(id)" to-send="pfr.taskallocation.reviewLeader"
                                              project-name="pfr.apply.projectName"
                                              is-edite="true" service-type="serviceType" project-model="projectModel"
                                              is-choose="true"></directive-accachment-new>
                </div>
            </div>
            <!--业务单位上报评审文件 End-->

        </div>

        <div class="left-content col-md-2 col-sm-2 hidden-xs">
            <div class="preview" ng-click="toPreview()">
                预览报告
            </div>
            <div class="row" align="center">
                <span ng-if="hasWaiting" type="span" class="btn-preview" ng-click="toPreview()" class="btn btn-info"/>
            </div>
            <div class="stage" ng-if="isEdite">
                <a href="" ng-click="submitSave()">提交</a><a href="" ng-click="saveOnly()">暂存</a>
                <directive-formal-return-btn url="{{oldUrl}}"></directive-formal-return-btn>
            </div>
            <div class="row noStage" ng-if="!isEdite" align="center">
                <directive-formal-return-btn url="{{oldUrl}}"></directive-formal-return-btn>
            </div>
            <div class="linkline mcontent">
                <div class="line" style="height: 188px"></div>
                <a id="flag1" class="catalog-list catalog-list-formal chose" href="javascript:void(0);">
							<span class="fcir">
								<span class="scir"></span>
							</span>
                    上传附件
                </a>
                <a id="flag2" class="catalog-list catalog-list-formal" href="javascript:void(0);">
							<span class="fcir">
								<span class="scir"></span>
							</span>
                    项目评级
                </a>
                <a id="flag3" class="catalog-list catalog-list-formal" href="javascript:void(0);">
							<span class="fcir">
								<span class="scir"></span>
							</span>
                    业务单位上报评审文件
                </a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    //dom监听resize事件
    (function ($, h, c) {
        var a = $([]), e = $.resize = $.extend($.resize, {}), i, k = "setTimeout", j = "resize", d = j
            + "-special-event", b = "delay", f = "throttleWindow";
        e[b] = 350;
        e[f] = true;
        $.event.special[j] = {
            setup: function () {
                if (!e[f] && this[k]) {
                    return false
                }
                var l = $(this);
                a = a.add(l);
                $.data(this, d, {
                    w: l.width(),
                    h: l.height()
                });
                if (a.length === 1) {
                    g()
                }
            },
            teardown: function () {
                if (!e[f] && this[k]) {
                    return false
                }
                var l = $(this);
                a = a.not(l);
                l.removeData(d);
                if (!a.length) {
                    clearTimeout(i)
                }
            },
            add: function (l) {
                if (!e[f] && this[k]) {
                    return false
                }
                var n;

                function m(s, o, p) {
                    var q = $(this), r = $.data(this, d);
                    r.w = o !== c ? o : q.width();
                    r.h = p !== c ? p : q.height();
                    n.apply(this, arguments)
                }

                if ($.isFunction(l)) {
                    n = l;
                    return m
                } else {
                    n = l.handler;
                    l.handler = m
                }
            }
        };

        function g() {
            i = h[k](function () {
                a.each(function () {
                    var n = $(this), m = n.width(), l = n.height(), o = $
                        .data(this, d);
                    if (m !== o.w || l !== o.h) {
                        n.trigger(j, [o.w = m, o.h = l])
                    }
                });
                g()
            }, e[b])
        }
    })(jQuery, this);
</script>
<script>
    angular.element(document).ready(function () {
        $("#fixed-member-box select").select2();
    });

    $(function () {
        //侧边目录
        $(".side-catalog").css("display", "block");
        // $(window).scroll(function(){
        //     var menuBottom = $(".offset-flag").offset().top;
        //     if($(window).scrollTop()>=menuBottom){
        //         $(".side-catalog").css("display","block");
        //     }
        //     else{
        //         $(".side-catalog").css("display","none");
        //     };
        // });
        //显示隐藏侧边目录
        $(".toggle-span").click(function () {
            $(".side-catalog").toggleClass("collapse");
        });

        //点击目录跳到相应模块
        $(".catalog-list-formal").click(function () {
            //alert(123)
            $(this).addClass("chose").siblings("a").removeClass("chose");
            var _id = $(this).attr("id");
            if (typeof $('#' + _id + '-c').offset() !== 'undefined') {
                var _idTop = $("#" + _id + "-c").offset().top - 10;
                $("html,body").animate({"scrollTop": _idTop}, 300);
            }
        });
        //滚动响应
        if (typeof(SideCatalog) == "undefined" || !SideCatalog) {
            var SideCatalog = {};
        }
        ;

        SideCatalog.catalogDetail = (function () {
            // scroll to tab content
            var _gotoTab = function () {
                window.onscroll = function () {
                    SideCatalog.ids = [];
                    $('.catalog-list-formal').each(function () {
                        var id = $(this).attr('id');
                        if (typeof $('#' + id + '-c').offset() !== 'undefined') {
                            SideCatalog[id] = $('#' + id + '-c').offset().top - 11;
                        }
                        SideCatalog.ids.push(id);
                    });
                    var _top = $(document).scrollTop();
                    //循环ID处理屏幕滚动情况
                    $.each(SideCatalog.ids, function (key, id) {
                        var next_id = key + 1;
                        var next_tab = SideCatalog.ids[next_id];
                        if ((_top >= SideCatalog[id] && _top <= SideCatalog[next_tab]) || _top >= SideCatalog[id]) {
                            $('#' + id).addClass('chose').siblings("a").removeClass("chose");
                        }
                    });
                };
            };

            /*//点击目录跳到相应模块
            $(".catalog-list li").click(function () {
                $(this).addClass("cur").siblings("li").removeClass("cur");
                var _id = $(this).attr("id");
                if (typeof $('#' + _id + '-c').offset() !== 'undefined') {
                    var _idTop = $("#" + _id + "-c").offset().top - 10;
                    $("html,body").animate({"scrollTop": _idTop}, 300);
                }
            });
            //滚动响应
            if (typeof(SideCatalog) == "undefined" || !SideCatalog) {
                var SideCatalog = {};
            };

            SideCatalog.catalogDetail = (function () {
                // scroll to tab content
                var _gotoTab = function () {
                    window.onscroll = function () {
                        SideCatalog.ids = [];
                        $('.catalog-list li').each(function () {
                            var id = $(this).attr('id');
                            if (typeof $('#' + id + '-c').offset() !== 'undefined') {
                                SideCatalog[id] = $('#' + id + '-c').offset().top - 11;
                            }
                            SideCatalog.ids.push(id);
                        });
                        var _top = $(document).scrollTop();
                        //循环ID处理屏幕滚动情况
                        $.each(SideCatalog.ids, function (key, id) {
                            var next_id = key + 1;
                            var next_tab = SideCatalog.ids[next_id];
                            if ((_top >= SideCatalog[id] && _top <= SideCatalog[next_tab]) || _top >= SideCatalog[id]) {
                                $('#' + id).addClass('cur').siblings("li").removeClass("cur");
                            }
                        });
                    };
                };*/

            function _init() {
                _gotoTab();
            }

            return {
                init: _init
            }
        })();
        $(document).ready(function () {
            SideCatalog.catalogDetail.init();
        });
        //查看页面不可编辑
        var href = window.location.href;
        if (href.indexOf("/View/") > 0) {
            $('#content-wrapper input').attr("readonly", "readonly");
            $('textarea').attr("readonly", "readonly");
            $('select').attr("disabled", "disabled");
        }
        // 监听主题区域宽度变化
        $('.xh-content').resize(function () {
            $('.left-content').width($(this).width() * .16);
            $('.btn-scale').each(function () {
                $(this).css('padding-bottom', $(this).innerWidth() * 0.467);

                if ($(this).css('padding-bottom').slice(0, -2) > '35') {
                    $(this).css('padding-bottom', '35px')

                }
            })
        })
        //滚动时改变导航位置
        // $(window).scroll(function(){
        //     $(document).scrollTop()>100?$('.left-content').css('top','5px'):$('.left-content').css('top','60px')
        // })
        //按钮大小
        // setTimeout(function(){
        //     $('.btn-scale').each(function(){
        //         if($(this).css('padding-bottom').slice(0,-2)>'35'){
        //             $(this).css('padding-bottom','35px')
        //         }
        //     })
        // },2000)

    });
</script>

<style>
    .mcontent .innertable td button:first-child{
        margin-right: 0px;
    }
</style>