<div class="panel-body">
	<form class="form-horizontal">
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt=""
					title="" /><span class="hd-title">角色信息</span>
			</div>
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-hd-cont">
						<span class="panel-title">查看<i class="i-triangle"></i></span>
					</div>
				</div>
				<div class="panel-body">
					<div class="special-form">
						<div class="form-group row">
	                        <label class="col-sm-2 control-label"><span class="required-r">*</span>角色名称：</label>
	                        <div class="col-sm-4"><input type="text" ng-model="role.ROLE_NAME" class="form-control" disabled="disabled"/>
	                        </div>
	                        <label class="col-sm-2 control-label"><span class="required-r">*</span>编码：</label>
	                        <div class="col-sm-4"><input type="text" ng-readonly="role.TYPE == '1'" ng-model="role.CODE" class="form-control"  disabled="disabled"/>
	                        </div>
	                    </div>
						<div class="form-group row">
	                        <label class="col-sm-2 control-label">描述：</label>
	                        <div class="col-sm-4">
		                        <textarea rows="4" cols="" class="form-control" ng-model="role.EXPLAIN" disabled="disabled"></textarea>
	                        </div>
	                        <label class="col-sm-2 control-label"><span class="required-r">*</span>是否显示快速搜索：</label>
	                        <div class="col-sm-4">
	                        	<label class="radio radio-inline">
									<input type="radio" class="px" ng-model="role.LAST_UPDATE_BY" value="0" disabled="disabled"/>
									<span class="lbl">不显示</span>
								</label>
								<label class="radio checkbox-inline">
									<input type="radio" class="px" ng-model="role.LAST_UPDATE_BY" value="1" disabled="disabled"/>
									<span class="lbl">显示</span>
								</label>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="option txl">
					<directive-return-btn url="{{returnUrl}}"></directive-return-btn>
				</div>
			</div>
		</div>
	</form>
</div>