<!DOCTYPE html>
 <html class="gt-ie8 gt-ie9 not-ie"> 
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>风险管控信息化管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<link href="assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="assets/stylesheets/pixel-admin.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="constants.js"></script>
	<link href="assets/stylesheets/widgets.css" rel="stylesheet" type="text/css"/>
	<link href="assets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/stylesheets/themes.css" rel="stylesheet" type="text/css"/>
	<link href="assets/javascripts/dtree/dtree.css" rel="stylesheet" type="text/css"/>
	<link href="assets/javascripts/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
	<link href="assets/javascripts/treeGrid.css" rel="stylesheet" type="text/css"/>
	<link href="../styles/common.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="assets/javascripts/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="assets/angularjs/angular-1.4.0/angular.js"></script>
	<script type="text/javascript" src="assets/angularjs/angular-1.4.0/angular-sanitize.js"></script>
	<script type="text/javascript" src="assets/angularjs/angular-1.4.0/angular-cookies.js"></script>
</head>
<body class="theme-default main-menu-animated" ng-app="ctmApp">
<script>var init = [];</script>

<script src="assets/demo/demo.js"></script>

<div id="main-wrapper"  ng-controller="SysControl" >
	<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
		<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
		<div class="navbar-inner">
			<div class="navbar-header">
				<a href="#/" class="navbar-brand">
					<div><img alt="Pixel Admin" width="93" height="32" src="assets/images/pixel-admin/bewg-logo.png"></div>风险管控系统
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
			</div> 
			<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
				<div>
					<div class="right clearfix">
						<ul class="nav navbar-nav pull-right right-navbar-nav">
							<li class="login-person">
							<input style="display: none;" type="text" ng-model="publicProjectName" id="publicProjectName" ng-keyup="publicKeyupSearchProject($event)" placeholder="输入项目名称查询"/>
							<input style="display: none;" type="button" ng-click="publicSearchProject()" id="publicSearchButton" value="查询"/>
							<span class="text" ng-bind="credentials.userName"></span><span class="dividing-line">|
							</span><a href="#/Help" class="help" target="_blank">帮助<i class="fa fa-question-circle"></i></a><span class="dividing-line">|
							</span><a href="javascript:void(0);" onclick="logout()" class="logout">注销</a>
							</li>
							<!--<li class="nav-icon-btn">
								<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-envelope"></i></a>
							</li>
							<li class="nav-icon-btn">
								<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
							</li>
							<li class="nav-icon-btn">
								<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
							</li>
							<li class="nav-icon-btn">
								<a href="javascript:void(0);" onclick="logout()" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
									<img src="assets/demo/avatars/1.jpg" alt="">
									<span>余家贵</span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"><span class="label label-warning pull-right">New</span>个人资料</a></li>
									<li><a href="#"><span class="badge badge-primary pull-right">New</span>账户</a></li>
									<li><a href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;设置</a></li>
									<li class="divider"></li>
									<li><a href="pages-signin.html"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;退出</a></li>
								</ul>
							</li>-->
						</ul> <!-- / .navbar-nav -->
					</div>
				</div>
			</div> 
		</div>
	</div>
	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<div id="menu-content-demo">
				<!-- Menu custom content demo
					 CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
					 Javascript: html/assets/demo/demo.js
				 -->
				<input type="hidden" id="globalURLID" ng-model="globalURLID">
				<!--<div>
					<div class="text-bg"><span class="text-slim">你好,</span> <span class="text-semibold" ng-bind="credentials.userName"></span></div>
					<img src="assets/demo/avatars/1.jpg" alt="" class="">-->
					<!--<div class="btn-group">
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-envelope"></i></a>
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
						<a href="javascript:void(0);" onclick="logout()" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
					</div>-->
				<!--</div>-->
			</div>
			<ul class="navigation">
				<!--<li>-->
					<!--<a href="#/IndividualTable"><i class="menu-icon fa fa-briefcase"></i><span class="mm-text">个人工作台</span></a>-->
				<!--</li>-->

				<li class="mm-direct" ng-repeat="f in func"  ng-if="f.URL!='#'" ng-click="DirectMenuCur($event)" ng-class="{true: 'cur', false: ''}[f.isDFuncTF]">
					<a href="#/{{f.URL}}"><i class="{{f.FUNC_DESC}}"></i><span class="mm-text" ng-bind="f.FUNC_NAME"></span><i class="fa fa-caret-left"></i></a>
				</li>
				<!--<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">任务管理</span></a>
					<ul>
						<li id="func001" ng-click="GoPage($event)" >
							<a tabindex="-1" href="#/MyTask"><span class="mm-text">待办任务</span><i class="fa fa-caret-left"></i></a>
						</li>
						<li id="func002" ng-click="GoPage($event)" >
							<a tabindex="-1" href="#/CompletedTask" ><span class="mm-text">已办任务</span><i class="fa fa-caret-left"></i></a>
						</li>
					</ul>
				</li>-->
				<li ng-repeat="f in func"  ng-if="f.URL=='#'"  class="mm-dropdown mm-dropdown-root">
					<a href="#"><i class="{{f.FUNC_DESC}}"></i><span class="mm-text" ng-bind="f.FUNC_NAME"></span></a>
					<ul>
						<li ng-repeat="fs in f.subFunc"  ng-if="fs.URL!='##'"  id="func{{fs.FUNC_ID}}" ng-click="GoPage($event)" ng-class="{true: 'cur', false: ''}[f.isDFuncTF]">
							<a tabindex="-1" href="#/{{fs.URL}}"><span class="mm-text">{{fs.FUNC_NAME}}</span><i class="fa fa-caret-left"></i></a>
						</li>
						<!-- 二级菜单的url为##的，表示有下级菜单 -->
						<li ng-repeat="fs in f.subFunc"  ng-if="fs.URL=='##'"  id="func{{fs.FUNC_ID}}" class="mm-dropdown" ng-class="{true: 'cur', false: ''}[f.isDFuncTF]">
							<a tabindex="-1" href="#/{{fs.URL}}"><span class="mm-text">{{fs.FUNC_NAME}}</span></a>
							<ul>
								<li ng-repeat="fss in fs.subsubFunc" id="func{{fss.FUNC_ID}}"  ng-click="GoPage($event)">
									<!-- <a tabindex="-1" href="#"><span class="mm-text">测试</span><i class="fa fa-caret-left"></i></a> -->
									<a tabindex="-1" href="#/{{fss.URL}}"><span class="mm-text">{{fss.FUNC_NAME}}</span><i class="fa fa-caret-left"></i></a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<!--菜单底部标记，用来控制正式评审报告侧边目录显示-->
			<i class="offset-flag">&nbsp;</i>
			<!-- / .navigation -->
			<!--<div class="menu-content">
				<a href="page/ctm/contract/contractEdit.html" target="iframepage" class="btn btn-primary btn-block btn-outline dark">创建合同</a>
			</div>-->
		</div> <!-- / #main-menu-inner -->
	</div>
	<div id="content-wrapper" class="wrapper">
		<div ng-view class="ng-scope">
		</div>
	</div>
	<div id="main-menu-bg"></div>
</div>

<!-- 遮罩层 -->
<div id="mask_" class="mask_" style='color:white;font-size:26px;overflow:hidden;border:1px solid #FF0099;text-align:center'  >处理中，请稍后......</div> 


<!--[if !IE]> -->
	<script type="text/javascript"> window.jQuery || document.write('<script src="assets/javascripts/jquery-1.8.3.min.js">'+"<"+"/script>"); </script>
<!-- <![endif]-->
<!--[if lte IE 9]>
	<script type="text/javascript"> window.jQuery || document.write('<script src="assets/javascripts/jquery-1.8.3.min.js">'+"<"+"/script>"); </script>
<![endif]-->

<script type="text/javascript" src="app.js?v=2"></script>

<script type="text/javascript">
	//初始化,判断登录状态
	var loged=false;
	//loged=$.cookie('loged','true');

	//到cookie中读取登录信息
	loged=$.cookie('loged');
	if(!loged){
		var requestUrl = window.location.href;
		if(requestUrl.indexOf("#")>0){
			window.location.href=srvUrl+"index.jsp?requestUrl="+requestUrl.substring(requestUrl.indexOf("#")+2);
		}else{
			logout();
		}
	}
	
	function logout(){
		var urlControl=srvUrl=="http://riskcontrol.bewg.net.cn/rcm-rest/";
		var userAccount = $.cookie('AuthUser_LoginId');
		if(userAccount == null){
// 			window.location.href="http://sso.bewg.net.cn";
// 			window.location.href="signin.html";
			if(urlControl){
				window.location.href="http://sso.bewg.net.cn";
			}else{
				window.location.href="signin.html";
			}
		}else{
			window.location.href="http://sso.bewg.net.cn";
		}
		
	}
</script>
<!-- Pixel Admin's javascripts -->
<!--<script src="assets/javascripts/jquery-1.8.3.min.js">-->
<script type="text/javascript" src="assets/angularjs/upload/ng-file-upload-shim.js"></script>
<script type="text/javascript" src="assets/angularjs/upload/ng-file-upload.js"></script>
<script type="text/javascript" src="assets/javascripts/tree-grid-directive.js"></script>
<script type="text/javascript" src="assets/javascripts/dtree/dtree.js"></script>
<script type="text/javascript" src="assets/javascripts/dtree/dtree-menu.js"></script>
<script type="text/javascript" src="assets/javascripts/echarts.js"></script>
<script type="text/javascript" src="assets/javascripts/shine.js"></script>
<script type="text/javascript" src="assets/javascripts/zTree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="assets/javascripts/zTree/js/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript" src="assets/javascripts/pagination/pagination.js"></script>
<script type="text/javascript" src="assets/javascripts/paginationes/paginationes.js"></script>
<script type="text/javascript" src="assets/javascripts/paginationhome/paginationhome.js"></script>
<script src="assets/javascripts/bootstrap.js"></script>
<script src="assets/javascripts/pixel-admin.min.js"></script>
<script type="text/javascript">
	init.push(function () {
		// Javascript code here
	})
	window.PixelAdmin.start(init);
	$(function(){
		var hr=window.location.hash;
		hr=hr.substr(2,hr.length);
		if(hr=="MyTask"){
			$("#func001").addClass("cur");
			$("#func001").find(".fa-caret-left").css({display:"block"});
			$("#func001").siblings().removeClass("cur");
			$("#func001").siblings().find(".fa-caret-left").css({display:"none"});
			$("#func001").parents(".mm-dropdown").siblings(".mm-dropdown").find("li").removeClass("cur");
			$("#func001").parents(".mm-dropdown").siblings(".mm-dropdown").find("li .fa-caret-left").css({display:"none"});
		}else if(hr=="CompletedTask"){
			$("#func002").addClass("cur");
			$("#func002").find(".fa-caret-left").css({display:"block"});
			$("#func002").siblings().removeClass("cur");
			$("#func002").siblings().find(".fa-caret-left").css({display:"none"});
			$("#func002").parents(".mm-dropdown").siblings(".mm-dropdown").find("li").removeClass("cur");
			$("#func002").parents(".mm-dropdown").siblings(".mm-dropdown").find("li .fa-caret-left").css({display:"none"});
		}
		accessScope("#globalURLID", function(scope){
			scope.globalURLID=hr;
		});
	});

</script>

<script type="text/javascript" src="assets/angularjs/angular-1.4.0/angular-route.js"></script>
<script type="text/javascript" src="assets/requirejs/require.js"></script>
<script type="text/javascript" src="appRoute.js"></script>
<script src="assets/javascripts/popWindow.js"></script>
<script src="../javascripts/bksw-directive.js"></script>
<script src="../javascripts/util/jquery.validate.js" type="text/javascript"></script>
<script type="application/javascript">
	function closeWP() {
		var userAgent = navigator.userAgent;
		if (userAgent.indexOf("Firefox") != -1 || userAgent.indexOf("Chrome") !=-1) {
			window.location.href="about:blank";
			window.close(true);
		} else {
			window.opener = null;
			window.open("", "_self");
			window.close();
		}
	}
	javascript:window.history.forward(1);
</script>
</body>
</html>