<div class="panel-body">
    <div class="header">
        <img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
        <span class="hd-title">待决策项目审阅</span>
    </div>
    <form class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div class="panel">
			<div class="panel-heading search-box">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingApplication" href="/#searchbox">查询</a>
			</div>
			<div id="searchbox" class="panel-collapse collapse">
				<div class="panel-body search-body">
					<div class="form-group row sm-row">
						<label class="col-sm-2 col-md-1 control-label">项目名称</label>
						<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConf.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
						<label class="col-sm-2 col-md-1 control-label">所属大区</label>
						<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConf.queryObj.pertainareaName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
						<div class="col-sm-2 col-md-4">
							<div class="col-sm-2 col-md-2 search"><button  type="button" class="btn btn-info" ng-click="queryWaitDecisionListByPage()"><i class="glyphicon glyphicon-search"></i>查询</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="panel">
            <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">决策项目列表<i class="i-triangle"></i></span></div></div>
            <div class="panel-body">
                <div class="">
                    <div class="table-responsive table-list">
                        <table border="0" cellspacing="0" cellpadding="0" class="table table-text-mid table-hover datatable first-col-fixed">
                            <thead>
                            <tr>
                               	<th>序号</th>
								<th>项目名称</th>
								<th>所属战区</th>
								<th>项目类型</th>
								<th>项目规模</th>
								<th>投资金额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dr in waitDecisionList">
                                <td>{{$index+1}}</td>
								<td>
								<!--<a ng-if="'pfr' == dr.PROJECT_TYPE" href="#/FormalBiddingInfoReview/{{dr.BUSINESS_ID}}/{{('#/waitDecisionReviewList') |encodeURI}}">{{dr.PROJECT_NAME}}</a>-->
								<!--<a ng-if="'bulletin' == dr.PROJECT_TYPE" href="#/BulletinReviewDetail/{{dr.BUSINESS_ID}}_0/{{('#/waitDecisionReviewList') |encodeURI}}">{{dr.PROJECT_NAME}}</a>-->
								<a ng-if="'pre' == dr.PROJECT_TYPE" href="#/PreBiddingInfoMeetingReview/{{dr.BUSINESS_ID}}/{{('#/waitDecisionReviewList') |encodeURI}}">{{dr.PROJECT_NAME}}</a>
									<a ng-if="'pfr' == dr.PROJECT_TYPE" href="#/FormalBiddingInfoPreview/{{dr.BUSINESS_ID}}/{{('#/waitDecisionReviewList') | encodeURI}}/1">{{dr.PROJECT_NAME}}</a>
									<a ng-if="'bulletin' == dr.PROJECT_TYPE" href="#/BulletinReviewDetailPreview/{{dr.BUSINESS_ID}}_0/{{('#/waitDecisionReviewList') |encodeURI}}">{{dr.PROJECT_NAME}}</a>
								</td>
                                <td>{{dr.PERTAINAREA_NAME}}</td>
                                <td>
                                	<font ng-if="'pfr' == dr.PROJECT_TYPE">正式评审</font>
									<font ng-if="'bulletin' == dr.PROJECT_TYPE">其他评审</font>
									<font ng-if="'pre' == dr.PROJECT_TYPE">投标评审</font>
                                </td>
								<td><font ng-if="'bulletin' != dr.PROJECT_TYPE && dr.PROJECT_SIZE != null && dr.PROJECT_SIZE != ''">{{dr.PROJECT_SIZE}}万吨</font></td>
								<td><font ng-if="'bulletin' != dr.PROJECT_TYPE && dr.INVESTMENT_AMOUNT != null && dr.INVESTMENT_AMOUNT != ''">{{dr.INVESTMENT_AMOUNT}}万</font></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-footer clearfix">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </form>
</div>