<div>
    <div class="row">
        <textarea name="" ng-model="formalReport.costCostReview"rows="1" cols="1" class="form-control ng-pristine ng-valid ng-touched" placeholder="基于技术中心给定的成本费用意见，本报告测算所用成本费用如下："></textarea>
    </div>
    <div class="mytable">
        <div>技改部分收益（若能够获得补偿）</div>
        <table  class="table table-bordered" style="table-layout: fixed">
            <thead>
            <tr class="info">
                <th rowspan="2">序号</th>
                <th rowspan="2">成本项目</th>
                <th colspan="3">测算所用数值</th>
                <th rowspan="2">说明</th>
            </tr>
            <tr class="info">
                <th>万元/年</th>
                <th>元/吨水</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>电度电费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.electricityTariffYear" name="" class="form-control ng-pristine ng-valid ng-touched"  repeat-formal-report-finish /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.electricityTariffTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.electricityTariffRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.electricityTariffExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>2</td>
                <td>基本电费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.basicElectricityYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.basicElectricityTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.basicElectricityRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.basicElectricityExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>3</td>
                <td>药剂费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.reagentCostYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.reagentCostTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.reagentCostRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.reagentCostExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>4</td>
                <td>污泥运输/处置费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.disposalFeeYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.disposalFeeTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.disposalFeeRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.disposalFeeExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>5</td>
                <td>自来水费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.waterRatesYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.waterRatesTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.waterRatesRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.waterRatesExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>6</td>
                <td>人工成本费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.laborCostYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.laborCostTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.laborCostRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.laborCostExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>7</td>
                <td>维修及大修费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.maintenanceCostYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.maintenanceCostTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.maintenanceCostRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.maintenanceCostExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>8</td>
                <td>化验检测费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.laboratoryTestingFeeYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.laboratoryTestingFeeTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.laboratoryTestingFeeRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.laboratoryTestingFeeExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>9</td>
                <td>财产保险费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.propertyInsurancePremiumYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.propertyInsurancePremiumTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.propertyInsurancePremiumRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.propertyInsurancePremiumExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>10</td>
                <td>土地使用税与房产税</td>
                <td><input type="text" ng-model="formalReport.costEstimate.taxationYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.taxationTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.taxationRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.taxationExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>11</td>
                <td>取暖费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.heatingFeeYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.heatingFeeTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.heatingFeeRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.heatingFeeExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr><!-- Year TonsWater Remarks  Explain-->
                <td>12</td>
                <td>管理费</td>
                <td><input type="text" ng-model="formalReport.costEstimate.managementExpenseYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.managementExpenseTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.managementExpenseRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.managementExpenseExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>13</td>
                <td>增值税</td>
                <td><input type="text" ng-model="formalReport.costEstimate.valueAddedTaxYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.valueAddedTaxTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.valueAddedTaxRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.valueAddedTaxExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            <tr>
                <td>14</td>
                <td>所得税</td>
                <td><input type="text" ng-model="formalReport.costEstimate.incomeTaxYear" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><input type="text" ng-model="formalReport.costEstimate.incomeTaxTonsWater" name="" class="form-control ng-pristine ng-valid ng-touched" /></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.incomeTaxRemarks" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
                <td><textarea cols="" rows="" ng-model="formalReport.costEstimate.incomeTaxExplain" name="" class="form-control ng-pristine ng-valid ng-touched"></textarea></td>
            </tr>
            </tbody>
        </table>
        <div>说明</div>
        <div>
            <textarea name=""  ng-model="formalReport.explain" rows="" cols="" class="form-control ng-pristine ng-valid ng-touched"></textarea>
        </div>
    </div>
</div>