<div>
    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <span class="text-blue">法律专业评审意见：</span>
        </div>
    </div>
    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row">
                <textarea name="" ng-model="formalReport.lawContent" rows="1" cols="1" class="form-control">法律共提出XX条意见，其中认为可以修订但未与对方确认的XX条，对方明确表示不同意修改的XX条。</textarea>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row">
                <span class="prompt">以下标注★的为重要条款，其余为一般条款。</span>
            </div>
        </div>
    </div>
    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row">
                <button  type="button" class="btn btn-info" ng-click="addLaw()" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-plus"></i>新增</button>
                <button  type="button" class="btn btn-info" ng-click="commonDdelete(2)" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-trash"></i>删除</button>
            </div>
        </div>
    </div>
    <div class="mytable">
        <table  class="table table-bordered" style="table-layout: fixed">
            <thead>
            <tr class="info">
                <th width="5%">选择</th>
                <th width="5%">序号</th>
                <th>法律评审意见及要求</th>
                <th width="125">投资部门承诺可修改，但未经对方确认</th>
                <th width="95">对方明确表示不同意修改</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m in formalReport.lawList track by $index" repeat-formal-report-finish>
                <td>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="px" ng-model="m.selected">
                        <span class="lbl">&nbsp;</span>
                    </label>
                </td>
                <td>{{ $index + 1 }}</td>
                <td><textarea name="" ng-model="m.lawOpinion" rows="" cols="" class="form-control"></textarea></td>
                <td class="switcher-left">
                    <input type="checkbox" ng-model="m.pendingConfirmation"  name="switcher">
                </td>
                <td class="switcher-right">
                    <input type="checkbox" ng-model="m.canNotBeModified"  name="switcher">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <span class="text-blue">技术专业评审意见：</span>
        </div>
    </div>
    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row">
                <textarea name="" ng-model="formalReport.lawContent" rows="1" cols="1" class="form-control">法律共提出XX条意见，其中认为可以修订但未与对方确认的XX条，对方明确表示不同意修改的XX条。</textarea>
            </div>
        </div>
    </div>
    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row">
                <button  type="button" class="btn btn-info" ng-click="addTechnology()" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-plus"></i>新增</button>
                <button  type="button" class="btn btn-info" ng-click="commonDdelete(3)" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-trash"></i>删除</button>
            </div>
        </div>
    </div>
    <div class="mytable">
        <table  class="table table-bordered" style="table-layout: fixed">
            <thead>
            <tr class="info">
                <th width="5%">选择</th>
                <th width="5%">序号</th>
                <th>技术评审意见及要求</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m in formalReport.technologyList track by $index"  repeat-formal-report-finish>
                <td>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="px" ng-model="m.selected">
                        <span class="lbl">&nbsp;</span>
                    </label>
                </td>
                <td>{{ $index + 1 }}</td>
                <td class="tr-max"><textarea name="" ng-model="m.technology_opinion" value="{{m.technology_opinion}}" rows="" cols="" class="form-control"></textarea></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <span class="text-blue">财务专业评审意见：</span>
        </div>
    </div>
    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row">
                <textarea name="" ng-model="formalReport.financialProfessionalReviewOpinion" rows="1" cols="1" class="form-control" placeholder="财金资源中心共提出XX条意见，主要围绕XX问题，具体如下："></textarea>
            </div>
        </div>
    </div>
    <div class="row normalline">
        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row">
                <button  type="button" class="btn btn-info" ng-click="addFinance()" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-plus"></i>新增</button>
                <button  type="button" class="btn btn-info" ng-click="commonDdelete(4)" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-trash"></i>删除</button>
            </div>
        </div>
    </div>
    <div class="mytable">
        <table  class="table table-bordered" style="table-layout: fixed">
            <thead>
            <tr class="info">
                <th width="5%">选择</th>
                <th width="5%">序号</th>
                <th>财务评审意见及要求</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m in formalReport.financeList track by $index"  repeat-formal-report-finish>
                <td>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="px" ng-model="m.selected">
                        <span class="lbl">&nbsp;</span>
                    </label>
                </td>
                <td>{{ $index + 1 }}</td>
                <td class="tr-max"><textarea name="" ng-model="m.finance_opinion" value="{{m.finance_opinion}}" rows="" cols="" class="form-control"></textarea></td>
            </tr>
            </tbody>
        </table>
    </div>

        <div class="row normalline">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <span class="text-blue">人力资源专业评审意见：</span>
            </div>
        </div>
        <div class="row normalline">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <div class="row">
                    <textarea name="" ng-model="formalReport.humanResourceOpinion" rows="1" cols="1" class="form-control" placeholder="人力资源尽调共提出XX条意见，主要围绕XX问题，具体如下："></textarea>
                </div>
            </div>
        </div>
        <div class="row normalline">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <div class="row">
                    <button  type="button" class="btn btn-info" ng-click="addFinance()" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-plus"></i>新增</button>
                    <button  type="button" class="btn btn-info" ng-click="commonDdelete(5)" ng-if="actionparm!='View'"><i class="glyphicon glyphicon-trash"></i>删除</button>
                </div>
            </div>
        </div>
    <div class="mytable">
        <table  class="table table-bordered" style="table-layout: fixed">
            <thead>
            <tr class="info">
                <th width="5%">选择</th>
                <th width="5%">序号</th>
                <th>人力资源评审意见及要求</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m in formalReport.hrResourceList track by $index"  repeat-formal-report-finish>
                <td>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="px" ng-model="m.selected">
                        <span class="lbl">&nbsp;</span>
                    </label>
                </td>
                <td>{{ $index + 1 }}</td>
                <td class="tr-max"><textarea name="" ng-model="m.hrResource_opinion" value="{{m.hrResource_opinion}}" rows="" cols="" class="form-control"></textarea></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>