<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws 
        http://cxf.apache.org/schemas/jaxws.xsd" 
        default-lazy-init="true">
	
	<import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
    <bean id="tzClient" class="ws.client.TzClient" name="TZPS" scope="prototype"/>
	
	<bean id="contractClient" class="ws.client.contract.SendProjectThread" name="HTTS" scope="prototype"/>
	
	<bean id="ptClient" class="ws.client.Portal2Client" name="PTTS" scope="prototype"/>
    
    <jaxws:endpoint id="projectForTzService" implementor="com.yk.rcm.ws.server.impl.ProjectForTzService" address="/WebServiceForTZ"/>
    
<!-- 	<bean id="hello" class="demo.spring.service.HelloWorldImpl" /> -->
<!-- 	<jaxws:endpoint id="helloWorld" implementor="#hello" address="/HelloWorld" /> -->

	<jaxws:client id="tzClientProxy"
		serviceClass="com.yk.rcm.ws.client.tz.RiskServiceSoap"
		address="${ws_tz_risk_addr}"></jaxws:client>
		
	<jaxws:client id="htClientProxy"
		serviceClass="com.yk.rcm.ws.client.contract.ReceiveInvestmentItemsSoap"
		address="${ws_ht_send_addr}"></jaxws:client>
		
	<jaxws:client id="ptClientProxy"
		serviceClass="com.yk.rcm.ws.client.portal.IUpToDoService"
		address="${ws.portal}"></jaxws:client>
		
</beans>