
<div class="panel-body">
	<!--form表单开始-->
	<form class="form-horizontal" name="myForm" id="myForm" onsubmit="return false;"  novalidate>
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt="" title="" /><span class="hd-title">其他需决策事项申请单</span><!--<span class="hd-title">{{titleName}}</span>-->
			</div>
			<div class="panel">
				<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">其他需决策事项申请单<i class="i-triangle"></i></span></div></div>
				<div class="panel-body">
					<div id="myTab" class="myTab">
						<ul class="nav nav-tabs bs-tabdrop-example" id="tabUl">
							<li class="active">
								<a href="#contracts_file_info" data-toggle="tab">流程表单</a>
							</li>
							<li>
								<a href="#flow_chart" data-toggle="tab">流程图</a>
							</li>
							<li>
								<a href="#relation_resources" data-toggle="tab">相关资源</a>
							</li>
						</ul>
					</div>
					<div class="tab-content tab-content-bordered">
						<div class="tab-pane in active special-form" id="contracts_file_info">
							<div class="row">
								<label for="" class="col-sm-2 control-label">所属大区</label>
								<div class="col-sm-4 has-feedback reporting-unit">
									<div class="full-drop">
										<input type="text" readonly required class="form-control" id="applyUnitName" name="applyUnitName" ng-model="bulletin.applyUnit.NAME">
									</div>
								</div>
								<label for="" class="col-sm-2 control-label"><span class="required"></span>单位负责人</label>
								<div class="col-sm-4">
									<input type="text" readonly required class="form-control" id="unitPersonName" name="unitPersonName" ng-model="bulletin.unitPerson.NAME">
								</div>
							</div>
							<div class="row">
								<label for="" class="col-sm-2 control-label">申请人</label>
								<div class="col-sm-4">
									<input type="text" readonly required class="form-control" id="applyUserName" name="applyUserName" ng-model="bulletin.applyUser.NAME">
								</div>
								<label for="" class="col-sm-2 control-label">申请时间</label>
								<div class="col-sm-4 has-feedback">
									<input type="text" class="form-control" id="createDate" name="createDate" ng-model="bulletin.createTime" readonly />
<!-- 									<i class="fa fa-calendar form-control-feedback"></i> -->
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 control-label"><span class="required">*</span>事项类型</label>
								<div class="col-sm-4">
									<input type="text" readonly required class="form-control" id="bulletinType" name="bulletinType" ng-model="bulletin.bulletinType.NAME">
								</div>
								<label for="" class="col-sm-2 control-label">职能部门负责人</label>
								<div class="col-sm-4">
									<input class="form-control" readonly required id="businessPersonName" name="businessPersonName" ng-model="bulletin.businessPerson.NAME"/>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-sm-2 control-label"><span class="required">*</span>申报事项</label>
								<div class="col-sm-10">
									<input type="text" readonly required class="form-control" id="bulletinName" name="bulletinName" ng-model="bulletin.bulletinName"/>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-sm-2 control-label"><span class="required">*</span>事项原因</label>
								<div class="col-sm-10">
									<textarea readonly required class="form-control" name="reason" id="reason" ng-model="bulletin.reason" placeholder="" auto-height></textarea>
								</div>
							</div>
							<div class="row">
								<label for="" class="col-sm-2 control-label"><span class="required">*</span>申请需求</label>
								<div class="col-sm-10">
									<textarea readonly required class="form-control" id="applyRequirement" name="applyRequirement" ng-model="bulletin.applyRequirement" auto-height></textarea>
								</div>
							</div>
							<div ng-show="bulletin.businessOpinion!=null && bulletin.businessOpinion!=''" class="row">
								<label for="" class="col-sm-2 control-label">职能部门审核意见</label>
								<div class="col-sm-10">
									<textarea class="form-control" name="businessOpinion" ng-model="bulletin.businessOpinion" placeholder="" readonly auto-height></textarea>
								</div>
							</div>
							<div ng-show="bulletin.windControlOpinion!=null && bulletin.windControlOpinion!=''" class="row">
								<label for="" class="col-sm-2 control-label">风控中心审核意见</label>
								<div class="col-sm-10">
									<textarea class="form-control" id="windControlOpinion" name="windControlOpinion" ng-model="bulletin.windControlOpinion" readonly auto-height></textarea>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="flow_chart">
							<directive-process-page></directive-process-page>
						</div>
						<div class="tab-pane" id="relation_resources">
							<div class="row">
								<button type="button" ng-click="batchDownload()" id="batchDownloadBtn" class="btn btn-info" title="">
									<i class="fa fa-cloud-download"></i>打包下载</button>
							</div>
							
							<div class="table-responsive">
								<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
									<thead>
									<tr>
										<th width="5%">
											<label class="checkbox-inline">
						                        <input type="checkbox" name="all" id="all" ng-click="selectAll()" class="px" />
						                        <span class="lbl">&nbsp;</span>
						                    </label>
										</th>
										<th width="30%">附件名称</th>
										<th>上传附件</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="item in bulletin.fileList track by $index">
										<td class="txc">
											<label class="checkbox-inline">
												<input type="checkbox" name="choose" filename="{{item.files.fileName}}" filepath="{{item.files.filePath}}" class="px">
												<span class="lbl">&nbsp;</span>
											</label>
										</td>
										<td><input type="text" readonly ng-model="item.file_content"  class="form-control"></td>
										<td>
											<div class="col-sm-10 noleft-pad noright-pad">
												<a href="javascript:void(0);" ng-click="downLoadFile(item.files)" style="line-height: 27px;">{{item.files.fileName}}</a>
											</div>
<!-- 											<div class="col-sm-2 noright-pad txr"> -->
<!-- 												<button type="button" class="btn btn-info" ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles, $index)">浏览</button> -->
<!-- 											</div> -->
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
            	<!-- 风控负责人审批 -->
            	<div  class="panel" ng-show="( null != bulletin.riskLeaderAttachment  && '' != bulletin.riskLeaderAttachment) || ( null != bulletin.riskLeaderOpinion  && '' != bulletin.riskLeaderOpinion) ||showController.isRiskLeader ">
            		<div class="panel-heading">
						<a class="accordion-toggle collapsed" href="/#riskLeaderOption" data-parent="#reviewLeader" data-toggle="collapse"><span class="text">风控负责人意见<i class="i-triangle"></i></span></a>
					</div>
					<div id="riskLeaderOption" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<label class="col-sm-2 control-label"><span class="required">*</span>风控负责人意见：</label>
								<div class="col-sm-10">
									<textarea class="form-control" ng-readonly="!showController.isRiskLeader"  rows="" cols="" ng-model="bulletin.riskLeaderOpinion" auto-height></textarea>
								</div>
							</div>
							<div class="row">
								<div class="row-tit">附件列表</div>
								<button type="button" ng-show="showController.isRiskLeader" class="btn btn-info" ng-click="addRiskLeaderAttachment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
								<button type="button" ng-show="showController.isRiskLeader" class="btn btn-info" ng-click="deleteRiskLeaderAttachment()"><i class="glyphicon glyphicon-trash"></i>删除</button>
							</div>
							<div class="row">
								<div class="table-responsive">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
										<thead>
										<tr>
											<th width="5%">选择</th>
											<th>上传附件</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="item in bulletin.riskLeaderAttachment track by $index">
											<td class="txc">
												<label class="checkbox-inline">
													<input type="checkbox" class="px" ng-disabled="!showController.isRiskLeader" ng-model="item.selected">
													<span class="lbl">&nbsp;</span>
												</label>
											</td>
											<td>
												<div class="col-sm-9 noleft-pad noright-pad">
													<span ng-bind="progress$index"></span>
													<span style="">{{errorAttach[$index].msg}}</span>
													<span class="required">*</span>
													<a href="javascript:void(0);" ng-click="downLoadFile(item)" style="line-height: 27px;">{{item.fileName}}</a>
												</div>
												<div class="col-sm-3 noright-pad txr">
													<button type="button" ng-disabled="!showController.isRiskLeader" class="btn btn-info" ngf-max-size="100MB" ngf-select="uploadRiskLeaderAttachment($file,$invalidFiles, $index)">浏览</button>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>
				<!-- 分配任务 -->
            	<div class="panel" ng-show="showController.isTask || showController.isRiskTask || bulletin.taskallocation != null && bulletin.taskallocation !='' ">
            		<div class="panel-heading">
						<a class="accordion-toggle collapsed" href="/#taskAssignment1" data-parent="#reviewLeader" data-toggle="collapse"><span class="text">任务分配<i class="i-triangle"></i></span></a>
					</div>
					<div id="taskAssignment1" class="panel-collapse collapse in">
						<div class="panel-body">
							<div ng-show="bulletin.taskallocation.reviewLeader.NAME != null || showController.isTask" class="row">
								<label class="col-sm-2 control-label">评审负责人</label>
								<div class="col-sm-4">
								  	<direct-fzr-single-select is-group="{{'true'}}" id="{{'reviewLeaderSelect'}}" 
									 checked-user="myTaskallocation.reviewLeader" 
									 is-editable="isTaskEdit"
									 url="{{'role/queryReviewUsers.do'}}" 
									 >
									</direct-fzr-single-select>
								</div>
								<label class="col-sm-2 control-label">法律评审负责人</label>
								<div class="col-sm-4">
								  	<direct-fzr-single-select is-group="{{'true'}}" id="{{'legalLeaderSelect'}}" 
									 checked-user="myTaskallocation.legalLeader" 
									 is-editable="isTaskEdit"
									 url="{{'role/queryLegalUsers.do'}}" 
									 >
								</div>
							</div>
							<div ng-show="bulletin.taskallocation.riskLeader.NAME != null || showController.isRiskTask" class="row">
								<label class="col-sm-2 control-label">风控评审负责人</label>
								<div class="col-sm-4">
									<direct-fzr-single-select is-group="{{'true'}}" id="{{'abbc'}}" 
									 checked-user="myTaskallocation.riskLeader" 
									 is-editable="isTaskEdit"
									 url="{{'role/queryPsfzr.do'}}" 
									 >
									</direct-fzr-single-select>
								</div>
							</div>
						</div>
					</div>
            	</div>
            	<!-- 评审负责人意见 -->
            	<div  class="panel" ng-show="( null != bulletin.reviewLeaderAttachment  && '' != bulletin.reviewLeaderAttachment) || ( null != bulletin.reviewLeaderOpinion  && '' != bulletin.reviewLeaderOpinion) ||showController.isReviewLeader ">
            		<div class="panel-heading">
						<a class="accordion-toggle collapsed" href="/#reviewLeaderOption" data-parent="#reviewLeader" data-toggle="collapse"><span class="text">评审负责人意见<i class="i-triangle"></i></span></a>
					</div>
					<div id="reviewLeaderOption" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<label class="col-sm-2 control-label"><span class="required">*</span>评审负责人意见：</label>
								<div class="col-sm-10">
									<textarea class="form-control" ng-readonly="!showController.isReviewLeader"  rows="" cols="" ng-model="bulletin.reviewLeaderOpinion" auto-height></textarea>
								</div>
							</div>
							<div class="row">
								<div class="row-tit">附件列表</div>
								<button ng-show="showController.isReviewLeader" type="button" class="btn btn-info" ng-click="addReviewLeaderAttachment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
								<button ng-show="showController.isReviewLeader" type="button" class="btn btn-info" ng-click="deleteReviewLeaderAttachment()"><i class="glyphicon glyphicon-trash"></i>删除</button>
							</div>
							<div class="row">
								<div class="table-responsive">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
										<thead>
										<tr>
											<th width="5%">选择</th>
											<th>上传附件</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="item in bulletin.reviewLeaderAttachment track by $index">
											<td class="txc">
												<label class="checkbox-inline">
													<input type="checkbox" class="px" ng-disabled="!showController.isReviewLeader" ng-model="item.selected">
													<span class="lbl">&nbsp;</span>
												</label>
											</td>
											<td>
												<div class="col-sm-9 noleft-pad noright-pad">
													<span ng-bind="progress$index"></span>
													<span style="">{{errorAttach[$index].msg}}</span>
													<span class="required">*</span>
													<a href="javascript:void(0);" ng-click="downLoadFile(item)" style="line-height: 27px;">{{item.fileName}}</a>
												</div>
												<div class="col-sm-3 noright-pad txr">
													<button type="button" ng-disabled="!showController.isReviewLeader" class="btn btn-info" ngf-max-size="100MB" ngf-select="uploadReviewLeaderAttachment($file,$invalidFiles, $index)">浏览</button>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>
            	<!-- 法律评审负责人意见 -->
            	<div  class="panel" ng-show="( null != bulletin.legalLeaderAttachment  && '' != bulletin.legalLeaderAttachment) || ( null != bulletin.legalLeaderOpinion  && '' != bulletin.legalLeaderOpinion) ||showController.isLegalLeader ">
            		<div class="panel-heading">
						<a class="accordion-toggle collapsed" href="/#legalLeaderOption" data-parent="#reviewLeader" data-toggle="collapse"><span class="text">法律负责人意见<i class="i-triangle"></i></span></a>
					</div>
					<div id="legalLeaderOption" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row">
								<label class="col-sm-2 control-label"><span class="required">*</span>法律评审负责人意见：</label>
								<div class="col-sm-10">
									<textarea class="form-control" ng-readonly="!showSubmit || !showController.isLegalLeader" rows="" cols="" ng-model="bulletin.legalLeaderOpinion" auto-height></textarea>
								</div>
							</div>
							<div class="row">
								<div class="row-tit">附件列表</div>
								<button ng-show="showSubmit && showController.isLegalLeader" type="button" class="btn btn-info" ng-click="addLegalLeaderAttachment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
								<button ng-show="showSubmit && showController.isLegalLeader" type="button" class="btn btn-info" ng-click="deleteLegalLeaderAttachment()"><i class="glyphicon glyphicon-trash"></i>删除</button>
							</div>
							<div class="row">
								<div class="table-responsive">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
										<thead>
										<tr>
											<th width="5%">选择</th>
											<th>上传附件</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="item in bulletin.legalLeaderAttachment track by $index">
											<td class="txc">
												<label class="checkbox-inline">
													<input type="checkbox" class="px" ng-disabled="!showController.isLegalLeader" ng-model="item.selected">
													<span class="lbl">&nbsp;</span>
												</label>
											</td>
											<td>
												<div class="col-sm-9 noleft-pad noright-pad">
													<span ng-bind="progress$index"></span>
													<span style="">{{errorAttach[$index].msg}}</span>
													<span class="required">*</span>
													<a href="javascript:void(0);" ng-click="downLoadFile(item)" style="line-height: 27px;">{{item.fileName}}</a>
												</div>
												<div class="col-sm-3 noright-pad txr">
													<button type="button" ng-disabled="!showController.isLegalLeader" class="btn btn-info" ngf-max-size="100MB" ngf-select="uploadLegalLeaderAttachment($file,$invalidFiles, $index)">浏览</button>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
            	</div>
            	
		</div>
		<div  id="userSinDialog"  class="modal" tabindex="-1" role="dialog" style="display: none;">
			<direct-user-single-dialog id="userSinDialog1" title="{{title}}" checked-user="checkedUser"
			remove-selected-user="removeSelectedUser()" callback="callback" 
			mapped-key-value="changeUserMapper"></direct-user-single-dialog>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="option">
<!-- 					<a class="btn btn-info" href="#/BulletinMattersAudit"><i class="fa fa-reply"></i>返回</a> -->
					<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
					<button ng-show="showSubmit" ng-click="showSubmitModal()" id="submitBtn" class="btn btn-info" title=""><i class="fa fa-cloud-upload"></i>提交</button>
					<button ng-if="showSubmit && (showController.isLegalLeader || showController.isReviewLeader|| showController.isRiskLeader)" ng-click="save()" id="saveBtn" class="btn btn-info" title=""><i class="fa fa-cloud-upload"></i>保存</button>
					
					<div id="submitModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
						<bpmn-pop-win approve="approve"></bpmn-pop-win>
					</div>
					<!--<button ng-if="isHide" ng-click="generateApplication()" class="btn btn-info"><i class="fa fa-file-o"></i>导出申请单</button>-->
				</div>
			</div>
		</div>
	</form>
</div>
<script  type="text/javascript">
	$(function() {
		/* $("#tabUl a:last").tab("show");*/
		$("#tabUl a").click(function(e){
			e.preventDefault();
			$(this).tab('show');
		}); 
		// validate signup form on keyup and submit
		$("#myForm").validate({
			rules: {
				tbsxType:"required",
				reason:"required",
				bulletinName:"required",
				applyRequirement:"required"
			},
			messages: {
				tbsxType:"此项必填",
				reason:"此项必填",
				bulletinName:"此项必填",
				applyRequirement:"此项必填"
			}
		});
	});
</script>
