<div name="cloud-file">
    <!--样式区域-->
    <!--
        IMPORT:
        本页面上的报错信息请不要做优化或者修改！！！！
    -->
    <!--附件显示区域-->
    <div ng-if="_cloud_text_before_" class="{{_cloud_text_class_}}" style="{{_cloud_text_style_}}">
        <!--文件名（点击下载）-->
        <a href="javascript:void(0);" ng-click="_cloud_download_(_cloud_)" id="_cloud_file_a_{{_cloud_area_code_}}_{{_cloud_}}"></a>
        <!--隐藏文件实体信息-->
        <input value="" type="hidden" id="_cloud_file_ipt_{{_cloud_area_code_}}_{{_cloud_}}" name="_fileName_cloud_">
    </div>
    <div ng-if="_cloud_area_code_ == '1'">
        <!--文件操作区域-->
        <div id="_cloud_btn_{{_cloud_}}_{{_cloud_area_code_}}" class="{{_cloud_btn_area_class_}}" style="{{_cloud_btn_area_style_}}">
            <!--上传或替换按钮-->
            <button style="{{_cloud_btn_style_}}" class="{{_cloud_btn_class_}}" ng-if="_cloud_show_upload_or_replace_" class="btn-add btn-scale" ngf-max-size="100MB" ngf-select="_cloud_upload_or_replace_($file,_cloud_)">
                <span>{{_cloud_upload_or_replace_text_}}</span>
            </button>
            <!--上传按钮-->
            <button style="{{_cloud_btn_style_}}" class="{{_cloud_btn_class_}}" ng-if="_cloud_show_upload_" ngf-max-size="100MB" ngf-select="_cloud_upload_($file,_cloud_)">
                <span>{{_cloud_upload_text_}}</span>
            </button>
            <!--删除按钮-->
            <button style="{{_cloud_btn_style_}}" class="{{_cloud_btn_class_}}" ng-if="_cloud_show_delete_" class="btn-delete btn-scale" ng-click="_cloud_delete_(_cloud_)">
                <span>{{_cloud_delete_text_}}</span>
            </button>
            <!--下载按钮-->
            <button style="{{_cloud_btn_style_}}" class="{{_cloud_btn_class_}}" ng-if="_cloud_show_download_" class="btn-add btn-scale" ng-click="_cloud_download_(_cloud_)">
                <span>{{_cloud_download_text_}}</span>
            </button>
            <!--预览按钮-->
            <button style="{{_cloud_btn_style_}}" class="{{_cloud_btn_class_}}" ng-if="_cloud_show_preview_" class="btn-add btn-scale" ng-click="_cloud_preview_(_cloud_)">
                <span>{{_cloud_preview_text_}}</span>
            </button>
            <!--替换按钮-->
            <button style="{{_cloud_btn_style_}}" class="{{_cloud_btn_class_}}" ng-if="_cloud_show_replace_" class="btn-add btn-scale" ngf-max-size="100MB" ngf-select="_cloud_replace_($file,_cloud_)">
                <span>{{_cloud_replace_text_}}</span>
            </button>
        </div>
    </div>
    <div ng-if="_cloud_area_code_ == '2'">
        <!--其他操作在这里设置-->
    </div>
    <!--附件显示区域-->
    <div ng-if="!_cloud_text_before_" class="{{_cloud_text_class_}}" style="{{_cloud_text_style_}}">
        <!--文件名（点击下载）-->
        <a href="javascript:void(0);" ng-click="_cloud_download_(_cloud_)" id="_cloud_file_a_{{_cloud_area_code_}}_{{_cloud_}}"></a>
        <!--隐藏文件实体信息-->
        <input value="" type="hidden" id="_cloud_file_ipt_{{_cloud_area_code_}}_{{_cloud_}}"  name="_fileName_cloud_">
    </div>
</div>