<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.formalAssessment.dao.IFormalAssessmentInfoMapper">

	<select id="queryAllLargePersonIsNull" resultType="map">
		select * from rcm_formalassessment_info f where f.largeareapersonid is null
	</select>
	
	<select id="queryByStageAndstate" resultType="map" parameterType="map">
		select * from rcm_formalassessment_info where 1 = 1
		<if test="wf_state != null and wf_state != ''"> and wf_state in (${wf_state})</if>
		<if test="stage != null and stage != ''"> and stage in (${stage})</if>
	</select>
	<select id="queryFormalCount" resultType="map" parameterType="map">
		select value , (select name from sys_org o where o.ORGPKVALUE = t.name ) name,t.name areaid  from (
			select count(*) value , pertainareaid name 
			from rcm_formalassessment_info where 1 = 1 and stage is not null
			<if test="wf_state != null and wf_state != ''"> and wf_state in 
				<foreach collection="wf_state" item="s_x" open="(" close=")" separator=",">
					#{s_x}
				</foreach>
			</if>
			<if test="stage != null and stage != ''"> and stage in 
				<foreach collection="stage" item="s_x" open="(" close=")" separator=",">
					#{s_x}
				</foreach>
			</if>
			<if test="stage == null or stage == ''"> and stage in ('1','2','3','3.5','3.7','3.9','4','5','6','7','9')</if>
			<if test="pertainAreaId != null and pertainAreaId != ''"> and pertainareaid in 
				<foreach collection="pertainAreaId" item="s_x" open="(" close=")" separator=",">
					#{s_x}
				</foreach>
			</if>
			<if test="serviceTypeId != null and serviceTypeId != ''"> and servicetype_id in 
				<foreach collection="serviceTypeId" item="s_x" open="(" close=")" separator=",">
					#{s_x}
				</foreach>
			</if>
			<if test="year != null and year != ''"> 
				and apply_date between to_date('${year}/01/01 00:00:00','YYYY/MM/dd hh24:mi:ss') 
				and to_date('${year}/12/31 23:59:59','YYYY/MM/dd hh24:mi:ss')
			</if>
			<if test="result != null and result != ''">
				and businessid in (
					select d.formal_id from rcm_decision_resolution d where d.formal_type = 0 and d.decision_result in 
					
					<foreach collection="result" item="s_x" open="(" close=")" separator=",">
					#{s_x}
					</foreach>
				)
			</if>
			 group by pertainareaid
		) t
	</select>
	
	<select id="queryAllFormal" resultType="map" >
		select * from rcm_formalassessment_info
	</select>
	<update id="updateCompleteDateById" parameterType="map">
		update rcm_formalassessment_info  set complete_date = #{complete_date} 
		where businessid=#{businessId}
	</update>
	
	<update id="updatePersonById"  parameterType="map">
		update rcm_formalassessment_info  
		 <trim prefix="set" suffixOverrides=",">
			<if test="reviewLeader != null and reviewLeader != ''">reviewpersonid = #{reviewLeader},</if>
			<if test="legalReviewLeader != null and legalReviewLeader != ''">legalreviewpersonid = #{legalReviewLeader},</if>
			<if test="fixedGroupIds != null and fixedGroupIds != ''">fixedgrouppersonids = #{fixedGroupIds} ,</if>
			<if test="professionalReviewersIds != null and professionalReviewersIds != ''">professional_reviewers_ids = #{professionalReviewersIds} ,</if>
			<if test="largeAreaPersonId != null and largeAreaPersonId != ''">largeareapersonid = #{largeAreaPersonId} ,</if>
			<if test="serviceTypePersonId != null and serviceTypePersonId != ''">serviceTypePersonId = #{serviceTypePersonId} ,</if>
			<if test="firstLevelLawyerPersonId != null and firstLevelLawyerPersonId != ''">firstLevelLawyerPersonId = #{firstLevelLawyerPersonId} ,</if>
			<if test="grassRootsLegalPersonId != null and grassRootsLegalPersonId != ''">grassRootsLegalPersonId = #{grassRootsLegalPersonId} ,</if>
			<if test="taskPersonId != null and taskPersonId != ''">taskPersonId = #{taskPersonId} ,</if>
			<if test="createBy != null and createBy != ''">createBy = #{createBy} ,</if>
		 </trim>
		where businessid=#{businessId}
	</update>
	
	<update id="updateFixGroupIds" parameterType="map">
		update rcm_formalassessment_info set fixedgrouppersonids = #{fixedGroupIds}  where businessid=#{businessId}
	</update>	
	
	<update id="updateAfterStartflow"  parameterType="map">
		update rcm_formalassessment_info set wf_state=#{wf_state},apply_date=#{apply_date}
		where businessid=#{businessId}
	</update>
	
	<delete id="deleteByBusinessId" parameterType="string">
		delete from rcm_formalassessment_info i where i.businessid = #{businessId}
	</delete>

	<select id="queryByPage" resultType="map"  parameterType="map">
		select * from (
			select 
			(
	              '/'||i.businessid||'@'||
	              (select a.proc_def_id_ from act_hi_procinst a where a.proc_inst_id_ = hp.procinstid)||'@'||hp.procinstid||'@@'
			) oldUrl,
			i.*,
	      	(select o.name from sys_org o where o.ORGPKVALUE=i.pertainareaid) pertainareaName ,
	      	(select u.NAME from sys_user u where u.uuid=i.createby) investmentName,
	       	(select u.NAME from sys_user u where u.uuid=i.reviewpersonid) reviewpersonName ,
	       	(select u.NAME from sys_user u where u.uuid=i.legalreviewpersonid) legalreviewpersonName 
	    	from rcm_formalassessment_info i ,(select p.business_key_,MAX(p.proc_inst_id_) procinstid from act_hi_procinst p where p.proc_def_id_ in (
				       select id_ from act_re_procdef pf where pf.key_ in ('formalAssessment','formalReview')
				) group by p.business_key_ ) hp where i.businessid = hp.business_key_ (+)
	    ) ta
    	where  1 = 1 
    	<if test="createBy != null and createBy != ''"> and	ta.createby = #{createBy}</if>
    	<if test="projectUnitName != null and projectUnitName != ''"> and	ta.pertainareaName like '%${projectUnitName}%'</if>
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state in (${wf_state})</if>
    	<if test="wf_state == null or wf_state == ''"> and ta.wf_state = '0'</if>
    	<if test="areaId != null and areaId != ''">  and ta.pertainAreaId = #{areaId}</if>
    	<if test="serviceTypeId != null and serviceTypeId != ''"> and ta.servicetype_id in ('${serviceTypeId}')</if>
    	<if test="stages != null and stages != ''"> and	ta.stage in (${stages})</if>
    	<if test="result != null and result != ''"> and	ta.businessid in (
    		select d.formal_id from rcm_decision_resolution d where d.formal_type = 0 and d.decision_result in (${result))
    	)</if>
    	order by ta.create_date desc
	</select>
	<select id="queryEnvirByPage" resultType="map"  parameterType="map">
		select * from (
			select 
			(
	              '/'||i.businessid||'@'||
	              (select a.proc_def_id_ from act_hi_procinst a where a.proc_inst_id_ = hp.procinstid)||'@'||hp.procinstid||'@@'
			) oldUrl,
			i.*,
	      	(select o.name from sys_org o where o.ORGPKVALUE=i.pertainareaid) pertainareaName ,
	      	(select u.NAME from sys_user u where u.uuid=i.createby) investmentName,
	       	(select u.NAME from sys_user u where u.uuid=i.reviewpersonid) reviewpersonName ,
	       	(select u.NAME from sys_user u where u.uuid=i.legalreviewpersonid) legalreviewpersonName 
	    	from rcm_formalassessment_info i ,(select p.business_key_,MAX(p.proc_inst_id_) procinstid from act_hi_procinst p where p.proc_def_id_ in (
				       select id_ from act_re_procdef pf where pf.key_ in ('formalAssessment','formalReview')
				) group by p.business_key_ ) hp where i.businessid = hp.business_key_ (+)
	    ) ta
    	where  1 = 1 
    	<if test="createBy != null and createBy != ''"> and	ta.createby = #{createBy}</if>
    	<if test="projectUnitName != null and projectUnitName != ''"> and	ta.pertainareaName like '%${projectUnitName}%'</if>
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state in (${wf_state})</if>
    	<if test="wf_state == null or wf_state == ''"> and ta.wf_state = '0'</if>
    	<if test="areaId != null and areaId != ''">  and ta.pertainAreaId = #{areaId}</if>
    	<if test="serviceTypeId != null and serviceTypeId != ''"> and ta.servicetype_id in (${serviceTypeId})</if>
    	<if test="stages != null and stages != ''"> and	ta.stage in (${stages})</if>
    	<if test="result != null and result != ''"> and	ta.businessid in (
    		select d.formal_id from rcm_decision_resolution d where d.formal_type = 0 and d.decision_result in (${result))
    	)</if>
    	order by ta.create_date desc
	</select>
	<select id="queryPageForExport" resultType="map"  parameterType="map">
		select * from (
	      select 
	      (
	              '/'||i.businessid||'@'||
	              (select a.proc_def_id_ from act_hi_procinst a where a.proc_inst_id_ = hp.procinstid)||'@'||hp.procinstid||'@@'
				) oldUrl,
	      i.*,
	          (select o.name from sys_org o where o.ORGPKVALUE=i.pertainareaid) pertainareaName ,
	          (select u.NAME from sys_user u where u.uuid=i.createby) investmentName,
	           (select u.NAME from sys_user u where u.uuid=i.reviewpersonid) reviewpersonName ,
	           (select u.NAME from sys_user u where u.uuid=i.legalreviewpersonid) legalreviewpersonName 
	        from rcm_formalassessment_info i ,(select p.business_key_,MAX(p.proc_inst_id_) procinstid from act_hi_procinst p where p.proc_def_id_ in (
				       select id_ from act_re_procdef pf where pf.key_ in ('formalAssessment','formalReview')
				) group by p.business_key_ ) hp where i.businessid = hp.business_key_ (+)
	      ) ta
    	where  1 = 1 
    	<if test="createBy != null and createBy != ''"> and	ta.createby = #{createBy}</if>
    	<if test="projectUnitName != null and projectUnitName != ''"> and	ta.pertainareaName like '%${projectUnitName}%'</if>
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state in (${wf_state})</if>
<!--     	<if test="wf_state == null or wf_state == ''"> and ta.wf_state = '0'</if> -->
    	<if test="areaId != null and areaId != ''">  and ta.pertainAreaId = #{areaId}</if>
    	<if test="serviceTypeId != null and serviceTypeId != ''"> and ta.servicetype_id in ('${serviceTypeId}')</if>
    	<if test="stages != null and stages != ''"> and	ta.stage in (${stages})</if>
    	<if test="year != null and year != ''"> 
			and ta.apply_date between to_date('${year}/01/01 00:00:00','YYYY/MM/dd hh24:mi:ss') 
			and to_date('${year}/12/31 23:59:59','YYYY/MM/dd hh24:mi:ss')
		</if>
    	<if test="auditResult != null and auditResult != ''"> and	ta.businessid in (
    		select d.formal_id from rcm_decision_resolution d where d.formal_type = 0 and d.decision_result in ( ${auditResult} )
    	) </if>
    	order by ta.create_date desc
	</select>
	<select id="querySubmitedByPage" resultType="map"  parameterType="map">
		select * from (
			select t.*,
			(select o.name from sys_org o where o.ORGPKVALUE=t.pertainareaid) pertainareaName ,
			(select u.NAME from sys_user u where u.uuid=t.createby) investmentName,
			(select u.NAME from sys_user u where u.uuid=t.reviewpersonid) reviewpersonName ,
			(select u.NAME from sys_user u where u.uuid=t.legalreviewpersonid) legalreviewpersonName,
			(
			        'ProjectFormalReviewDetailView/view/'||t.businessid||'@'||
			        (select a.proc_def_id_ from act_hi_procinst a where a.proc_inst_id_ = hp.procinstid)||'@'||hp.procinstid||'@@'
			) oldUrl from 
			(select f.*
			from rcm_formalassessment_info f 
		
			where f.wf_state !='0'
			<if test="createBy != null and createBy != ''">and	f.createby = #{createBy}</if>
			) t, (select p.business_key_,MAX(p.proc_inst_id_) procinstid from act_hi_procinst p where p.proc_def_id_ in (
			       select id_ from act_re_procdef pf where pf.key_ in ('formalAssessment','formalReview')
			) group by p.business_key_ ) hp 
			where t.businessid = hp.business_key_ 
		) ta where 1 = 1 
		
		<if test="projectUnitName != null and projectUnitName != ''"> and	ta.pertainareaName like '%${projectUnitName}%'</if>
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state = #{wf_state}</if>
    	order by ta.apply_date desc
	</select>
	<select id="queryEnvirSubmitedByPage" resultType="map"  parameterType="map">
		select * from (
			select t.*,
			(select o.name from sys_org o where o.ORGPKVALUE=t.pertainareaid) pertainareaName ,
			(select u.NAME from sys_user u where u.uuid=t.createby) investmentName,
			(select u.NAME from sys_user u where u.uuid=t.reviewpersonid) reviewpersonName ,
			(select u.NAME from sys_user u where u.uuid=t.legalreviewpersonid) legalreviewpersonName,
			(
			        'ProjectFormalReviewDetailView/view/'||t.businessid||'@'||
			        (select a.proc_def_id_ from act_hi_procinst a where a.proc_inst_id_ = hp.procinstid)||'@'||hp.procinstid||'@@'
			) oldUrl from 
			(select f.*
			from rcm_formalassessment_info f 
		
			where f.wf_state !='0'
			<if test="createBy != null and createBy != ''">and	f.createby = #{createBy}</if>
			) t, (select p.business_key_,MAX(p.proc_inst_id_) procinstid from act_hi_procinst p where p.proc_def_id_ in (
			       select id_ from act_re_procdef pf where pf.key_ in ('formalAssessment','formalReview')
			) group by p.business_key_ ) hp 
			where t.businessid = hp.business_key_ 
		) ta where 1 = 1 
		<if test="serviceTypeId != null and serviceTypeId != ''"> and ta.servicetype_id in (${serviceTypeId})</if>
		<if test="projectUnitName != null and projectUnitName != ''"> and	ta.pertainareaName like '%${projectUnitName}%'</if>
    	<if test="projectName != null and projectName != ''"> and	ta.projectName like '%${projectName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	ta.wf_state = #{wf_state}</if>
    	
    	order by ta.apply_date desc
	</select>
	
	<!-- 查询旧数据  start -->
	<select id="getAllOldFormal" resultType="map">
		select i.*,
		to_char(i.APPLY_DATE,'yyyy-mm-dd hh24:mi:ss') APPLY_DATEA,
		to_char(i.CREATE_DATE,'yyyy-mm-dd hh24:mi:ss') CREATE_DATEA,
		to_char(i.COMPLETE_DATE,'yyyy-mm-dd hh24:mi:ss') COMPLETE_DATEA,
		to_char(i.LAST_UPDATE_DATE,'yyyy-mm-dd hh24:mi:ss') LAST_UPDATE_DATEA,
		to_char(i.APPLY_DATE,'yyyy-mm-dd hh24:mi:ss') APPLY_DATEA
		from rcm_project_info i where i.type = 'formalAssessment'
	</select>
	
	<select id="queryRelationByTypeId" parameterType="map" resultType="map">
		select * from rcm_project_relation p 
		where p.business_id = #{businessId} 
		and p.relation_type = #{relationTypeId} 
	</select>
	
	
	<select id="queryFixGroupOption" resultType="map" parameterType="map">
			select t.assignee_ as uuid,
	       u.NAME as userName,
	       o.text_ as opinion,
	       to_char(t.end_time_, 'yyyy-mm-dd hh24:mi:ss') as create_time
	  from (select * from act_hi_varinst h where h.name_ = 'opinion') o,
	       act_hi_taskinst t,
	       sys_user u
	 where o.task_id_ = t.id_
	   and t.assignee_ = u.UUID
	   and t.task_def_key_ = 'usertask4'
	   and exists (select *
	          from act_hi_procinst a
	         where  1=1 and a.business_key_ = #{businessId}
	           and a.proc_inst_id_ = t.proc_inst_id_)
	 order by t.end_time_ desc
		
	</select>
	
	
	<select id="getOldProjectRelationByBusinessId" parameterType="map" resultType="map">
		select * from rcm_project_relation p 
		where p.business_id = #{businessId} 
	</select>
	
	
	<select id="queryWaitingByConditions" resultType="map"  parameterType="map">
		select * from rcm_project_info i  
		where i.type = 'formalAssessment' and i.business_id in (${waitSql}) 
		and i.business_id = #{businessId}
	</select>
	
	<select id="queryAuditedByConditions" resultType="map"  parameterType="map">
		select ta.*
                  from (select p.business_key_,
                               to_char(p.start_time_, 'yyyy-mm-dd hh24:mi:ss') as start_time_,
                               to_char(p.end_time_, 'yyyy-mm-dd hh24:mi:ss') as end_time_,
                               a.key_ as type_,
                               a.name_ as type_text,
                               a.category_ as form_key,
                               p.proc_def_id_,
                               p.proc_inst_id_,
                               decode(p.end_time_,
                                      null,
                                      (select regexp_replace(listagg(to_char(t.name_),
                                                                     ',') within
                                                             group(order by
                                                                   t.proc_inst_id_),
                                                             '([^,]+)(,\1)+',
                                                             '\1')
                                         from act_ru_task t
                                        where t.proc_inst_id_ = p.proc_inst_id_),
                                      '结束') as phase,
                               (select v.text_
                                  from act_hi_varinst v
                                 where v.name_ = 'subject'
                                   and v.proc_inst_id_ = p.proc_inst_id_) as subject
                          from act_hi_procinst p, act_re_procdef a
                         where p.proc_def_id_ = a.id_
                           and exists
                         (select *
                                  from act_hi_taskinst t
                                 where t.assignee_ = #{userId}
                                   and t.proc_inst_id_ = p.proc_inst_id_
                                   and t.end_time_ is not null)
                           and p.business_key_ is not null
                           and a.name_ != 'bulletin'
                         order by p.start_time_ desc) ta
                 where 1 = 1 and proc_def_id_ like '%formalAssessment%' and business_key_ = #{businessId}
	</select>
	
	
	<!-- 查询旧数据 end -->
	
	
	
	<select id="getFormalAssessmentById" parameterType="string" resultType="map">
		select * from rcm_formalassessment_info i  
		where i.businessid = #{businessId}
	</select>
	
	<update id="update" parameterType="map">
		update rcm_formalassessment_info set
		projectName = #{projectName},
		projectNum = #{projectNum},
		reportingUnit_id = #{reportingUnit_id},
		serviceType_id = #{serviceType_id},
		investment_model = #{investment_model},
		project_model_ids = #{project_model_ids,jdbcType=VARCHAR},
		need_meeting = #{need_meeting},
		meeting_date = to_date(#{meeting_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
		is_supplement_review = #{is_supplement_review},
		emergencyLevel = #{emergencyLevel,jdbcType=VARCHAR},
		isurgent = #{isurgent},
		pertainAreaId = #{pertainAreaId,jdbcType=VARCHAR},
		isTZ = #{isTZ,jdbcType=VARCHAR},
		wf_state = #{wf_state},
		create_date = to_date(#{create_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
		apply_date = to_date(#{apply_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
		complete_date = to_date(#{complete_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
		report_create_date = to_date(#{report_create_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
		stage = #{auditStage,jdbcType=VARCHAR},
		oldData = #{oldData,jdbcType=VARCHAR},
		createby = #{createby},
		last_update_date = to_date(#{last_update_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss') 
		where businessid  = #{businessid} 
	</update>
	
	<insert id="insert" parameterType="map">
		insert into rcm_formalassessment_info (
			businessid,
			projectName,
			projectNum,
			reportingUnit_id,
			serviceType_id,
			investment_model,
			project_model_ids,
			need_meeting,
			meeting_date,
			is_supplement_review,
			emergencyLevel,
			isurgent,
			pertainAreaId,
			isTZ,
			wf_state,
			apply_date,
			complete_date,
			stage,
			oldData,
			createby,
			last_update_date,
			create_date,
			largeareapersonid,
			servicetypepersonid,
			taskpersonid,
			legalreviewpersonid,
			reviewpersonid,
			grassrootslegalpersonid,
			firstlevellawyerpersonid,
			fixedgrouppersonids
		) values (
			#{businessid},
			#{projectName},
			#{projectNum},
			#{reportingUnit_id},
			#{serviceType_id},
			#{investment_model,jdbcType=VARCHAR},
			#{project_model_ids,jdbcType=VARCHAR},
			#{need_meeting,jdbcType=VARCHAR},
			to_date(#{meeting_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			#{is_supplement_review},
			#{emergencyLevel,jdbcType=VARCHAR},
			#{isUrgent,jdbcType=VARCHAR},
			#{pertainAreaId,jdbcType=VARCHAR},
			#{isTZ,jdbcType=VARCHAR},
			#{wf_state},
			to_date(#{apply_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			to_date(#{complete_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			#{auditStage,jdbcType=VARCHAR},
			#{oldData,jdbcType=VARCHAR},
			#{createBy},
			to_date(#{last_update_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			to_date(#{create_date,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			#{largeAreaPersonId,jdbcType=VARCHAR},
			#{serviceTypePersonId,jdbcType=VARCHAR},
			#{taskPersonId,jdbcType=VARCHAR},
			#{legalReviewPersonId,jdbcType=VARCHAR},
			#{reviewPersonId,jdbcType=VARCHAR},
			#{grassRootsLegalPersonId,jdbcType=VARCHAR},
			#{firstLevelLawyerPersonId,jdbcType=VARCHAR},
			#{fixedGroupPersonIds,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 查询会议信息列表(未处理) -->
	<select id="queryInformationList" resultType="map"  parameterType="hashmap">
		select i.*,
			(select o.name from sys_org o where o.ORGPKVALUE=i.pertainareaid) pertainareaName,
			(select u.NAME from sys_user u where u.uuid=i.createby) investmentName,
       		(select u.NAME from sys_user u where u.uuid=i.reviewpersonid) reviewpersonName ,
       		(select u.NAME from sys_user u where u.uuid=i.legalreviewpersonid) legalreviewpersonName   
		from rcm_formalassessment_info i 
		where stage IN ('3','3.7','3.5','3.9')
		<if test="userId!=null and userId!=''"> and i.reviewpersonid = #{userId} </if>
		<if test="projectUnitName != null and projectUnitName != ''"> and i.PERTAINAREAID in(select o.ORGPKVALUE from sys_org o where o.name like '%${projectUnitName}%')</if>
    	<if test="projectName != null and projectName != ''"> and	i.projectName like '%${projectName}%' </if>
    	<if test="wfState != null and wfState != ''"> and	i.wf_state = #{wfState}</if>
	</select>
	<!-- 查询会议信息列表(已处理) -->
	<select id="queryInformationListed" resultType="map"  parameterType="hashmap">
	select fi.* from(
		select i.*,
      		(select o.name from sys_org o where o.ORGPKVALUE=i.pertainareaid) pertainareaName,
      		(select u.NAME from sys_user u where u.uuid=i.createby) investmentName,
       		(select u.NAME from sys_user u where u.uuid=i.reviewpersonid) reviewpersonName ,
       		(select u.NAME from sys_user u where u.uuid=i.legalreviewpersonid) legalreviewpersonName ,
       		(select to_char('#/ProjectFormalReviewDetailView/view/' || hp.business_key_ || '@' ||
                               hp.proc_def_id_ || '@' || hp.proc_inst_id_ || '@@') url
                  from act_hi_procinst hp
                 where hp.proc_inst_id_ in
                       (select proc_inst_id_
                          from act_hi_taskinst
                         )
                   and hp.proc_def_id_ in
                       (select id_
                          from act_re_procdef
                         where key_ = 'formalAssessment')
                   and hp.business_key_ =i.businessid) oldurl  
    from rcm_formalassessment_info i 
    where (need_meeting='0' and stage='9') or need_meeting='1' and stage in('3.5','3.9','4','5','6','7')
    ) fi where 1=1
    <if test="createBy!=null and createBy!=''"> and fi.reviewpersonid = #{createBy} </if>
    <if test="projectUnitName != null and projectUnitName != ''"> and fi.PERTAINAREAID in(select o.ORGPKVALUE from sys_org o where o.name like '%${projectUnitName}%')</if>
    <if test="projectName != null and projectName != ''"> and fi.projectName like '%${projectName}%' </if>
    <if test="wfState != null and wfState != ''"> and fi.wf_state = #{wfState}</if>
    order by METTING_COMMIT_TIME desc
	</select>
	<!-- 保存之后修改stage状态为"3.5" -->
	<update id="updateStage" parameterType="hashmap">
		update rcm_formalAssessment_info set stage=#{stage},need_meeting=#{need_meeting},metting_commit_time=to_date(#{metting_commit_time,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss') 
		where businessid in (#{businessId,jdbcType=VARCHAR})
	</update>
	
	<select id="queryAllInfoByPage" resultType="map"  parameterType="map">
		select *  from (
			select t.*,
            (select o.name from sys_org o where o.ORGPKVALUE = t.pertainareaid) pertainareaName,
            (select u.NAME from sys_user u where u.uuid = t.createby) investmentName,
            (select u.NAME from sys_user u where u.uuid = t.reviewpersonid) reviewpersonName,
            (select u.NAME from sys_user u where u.uuid = t.legalreviewpersonid) legalreviewpersonName,
            ('ProjectFormalReviewDetailView/view/' || t.businessid || '@' ||  (select a.proc_def_id_ from act_hi_procinst a  where a.proc_inst_id_ = hp.procinstid) || '@' || hp.procinstid || '@@') oldUrl 
            from (
				select * from (
					select f.* from rcm_formalassessment_info f 
				) tt  
			) t, 
			(
				select p.business_key_, MAX(p.proc_inst_id_) procinstid 
				from act_hi_procinst p  where p.proc_def_id_ in
                  (select id_ from act_re_procdef pf where pf.key_ in ('formalAssessment',  'formalReview'))
                   group by p.business_key_) hp where t.businessid = hp.business_key_(+)) ta
                 where 1 = 1 
<!--                   order by create_date desc -->
    	<if test="project_name != null and project_name != ''">
    		and ta.PROJECTNAME like '%${project_name}%'
    	</if>
    	<if test="reporting_unit_name != null and reporting_unit_name != ''">
    		and ta.pertainareaName  like '%${reporting_unit_name}%' 
    	</if>
    	<if test="is_supplement_review != null and is_supplement_review != ''">
    		and ta.IS_SUPPLEMENT_REVIEW =  ${is_supplement_review}
    	</if>
    	<if test="wf_state != null and wf_state != ''">
    		and ta.WF_STATE =  ${wf_state}
    	</if>
    	order by
    	<if test="orderby_apptime == null and orderby_state == null">
    		ta.APPLY_DATE desc,ta.WF_STATE desc
    	</if>
    	<if test="orderby_apptime != null">
    		ta.APPLY_DATE ${orderby_apptime}
    	</if>
    	<if test="orderby_state != null">
    		ta.WF_STATE ${orderby_state}
    	</if>
	</select>
	<select id="countAll" resultType="int" parameterType="map">
		select count(1) from rcm_formalassessment_info
	</select>
	<insert id="createForTz" parameterType="map">
		insert into rcm_formalassessment_info (
			businessid,
			projectName,
			projectNum,
			reportingUnit_id,
			serviceType_id,
			investment_model,
			project_model_ids,
			need_meeting,
			meeting_date,
			is_supplement_review,
			emergencyLevel,
			isurgent,
			pertainAreaId,
			isTZ,
			wf_state,
			apply_date,
			complete_date,
			stage,
			oldData,
			createby,
			last_update_date,
			create_date,
			largeareapersonid,
			servicetypepersonid,
			taskpersonid,
			legalreviewpersonid,
			reviewpersonid,
			GRASSROOTSLEGALPERSONID,
			firstlevellawyerpersonid,
			fixedgrouppersonids
		) values (
			#{businessid,javaType=java.lang.String,jdbcType=VARCHAR},
			#{projectName,javaType=java.lang.String,jdbcType=VARCHAR},
			#{projectNum,javaType=java.lang.String,jdbcType=VARCHAR},
			#{reportingUnit_id,javaType=java.lang.String,jdbcType=VARCHAR},
			#{serviceType_id,javaType=java.lang.String,jdbcType=VARCHAR},
			#{investment_model,javaType=java.lang.String,jdbcType=VARCHAR},
			#{project_model_ids,javaType=java.lang.String,jdbcType=VARCHAR},
			#{need_meeting,javaType=java.lang.String,jdbcType=VARCHAR},
			to_date(#{meeting_date,javaType=java.lang.String,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			#{is_supplement_review,javaType=java.lang.String,jdbcType=VARCHAR},
			#{emergencyLevel,javaType=java.lang.String,jdbcType=VARCHAR},
			#{isUrgent,javaType=java.lang.String,jdbcType=VARCHAR},
			#{pertainAreaId,javaType=String,jdbcType=VARCHAR},
			'1',
			#{wf_state,javaType=java.lang.String,jdbcType=VARCHAR},
			to_date(#{apply_date,javaType=java.lang.String,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			to_date(#{complete_date,javaType=java.lang.String,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			#{auditStage,javaType=java.lang.String,jdbcType=VARCHAR},
			#{oldData,javaType=java.lang.String,jdbcType=VARCHAR},
			#{createBy,javaType=java.lang.String,jdbcType=VARCHAR},
			to_date(#{last_update_date,javaType=java.lang.String,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			to_date(#{create_date,javaType=java.lang.String,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),
			#{largeAreaPersonId,javaType=java.lang.String,jdbcType=VARCHAR},
			#{serviceTypePersonId,javaType=java.lang.String,jdbcType=VARCHAR},
			#{taskPersonId,javaType=java.lang.String,jdbcType=VARCHAR},
			#{legalReviewPersonId,javaType=java.lang.String,jdbcType=VARCHAR},
			#{reviewPersonId,javaType=java.lang.String,jdbcType=VARCHAR},
			#{grassrootslegalpersonId,javaType=java.lang.String,jdbcType=VARCHAR},
			#{firstLevelLawyerPersonId,javaType=java.lang.String,jdbcType=VARCHAR},
			#{fixedGroupPersonIds,javaType=java.lang.String,jdbcType=VARCHAR}
		)
	</insert>
	<select id="getProjectReport0706" resultType="map" parameterType="map">
		select * from rcm_v_deptreport_0706
	</select>
	<select id="getProjectReport0710" resultType="map" parameterType="map">
		select * from rcm_v_deptreport_0710
	</select>
	<select id="getProjectReportDetails0706" resultType="map"  parameterType="map">
		select * from rcm_v_deptreport_detail_0706 d
		where d.isdealed = '${isDealed}' and d.type = '${type}' and d.userid = '${userId}'
		<if test="projectName != null and '' != projectName">
			<![CDATA[
			and d.PROJECTNAME like '%${projectName}%' 
			]]>
		</if>
	</select>
	<select id="getProjectReportDetails0710" resultType="map"  parameterType="map">
		select * from rcm_v_deptreport_detail_0710 d
		where d.isdealed = '${isDealed}' and d.userid = '${userId}'
		<if test="projectName != null and '' != projectName">
			<![CDATA[
			and d.PROJECTNAME like '%${projectName}%' 
			]]>
		</if>
	</select>
	<update id="updateStageById" parameterType="map">
		update rcm_formalassessment_info  set stage = #{stage}  
		where businessid=#{businessId}
	</update>
	
	<!-- 根据用户id查出所在的专家评审小组名称 -->
	<select id="getProfessionByUserid" parameterType="string" resultType="map">
		select * from rcm_profession_item p 
		where p.review_team_memberid =#{businessId}
	</select>
	
	<select id="getDecisionByProjectNum" parameterType="string" resultType="map">
		select *
		  from rcm_noticedecision_info d
		 where d.projectformalid in
		       (select f.businessid
		          from rcm_formalassessment_info f
		         where f.projectnum = #{projectNum})
		 order by d.dateofmeeting desc
	</select>
	
	<select id="queryPertainAreaIsNull" resultType="map">
		select * from rcm_formalassessment_info f
		where f.PERTAINAREAID is null or PERTAINAREAID = ''
	</select>
	<update id="updatePertainAreaId" parameterType="map">
		update rcm_formalassessment_info set PERTAINAREAID = #{pertainAreaId} where ID = #{id}
	</update>
	<update id="startPigeonholeByBusinessId" parameterType="map">
		update rcm_formalassessment_info set pigeonhole_Time = #{pigeonholeTime,jdbcType=TIMESTAMP},pigeonhole_Status = #{pigeonholeStatus} where businessId = #{businessId}
	</update>
	<update id="cancelPigeonholeByBusinessId" parameterType="map">
		update rcm_formalassessment_info set pigeonhole_Time = #{pigeonholeTime,jdbcType=TIMESTAMP},pigeonhole_Status = #{pigeonholeStatus} where businessId = #{businessId}
	</update>
	<update id="updatePigeStatByBusiId" parameterType="map">
		update rcm_formalassessment_info set pigeonhole_Status = #{pigeonholeStatus} where businessId = #{businessId}
	</update>
	<select id="queryContractByBusinessId" resultType="map" parameterType="map">
		select fi.* 
	    from rcm_formalassessment_info fi  
		inner join rcm_v_pfr_CONTRACT pc 
		on pc.PROJECTCODE like CONCAT(CONCAT('%',fi.projectnum),'%') 
		where fi.businessid = #{businessId,jdbcType=VARCHAR}
	</select>
	<select id="queryAllByDaxt" resultType="map" parameterType="map">
		select p.* 
		  from rcm_formalassessment_info p 
		 where (p.pigeonhole_status is null or p.pigeonhole_status = '1') 
		   and (p.WF_STATE in ('3') or p.stage in ('7', '9'))
	</select>
	
	<update id="updateStageByProjectType" parameterType="hashmap">
	    update ${table} 
		  set stage=${stage}
		      <if test="projectType != 'bulletin'">
		            ,need_meeting=${need_meeting},metting_commit_time=to_date(#{metting_commit_time,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss') 
		       </if>
		where BUSINESSID = '${businessId}'
	</update>
	
	<select id="queryAproData" resultType="map" parameterType="hashmap">
		SELECT
			SDI.ITEM_NAME,
			tmp.* 
		FROM
			RCM_180408.SYS_DICTIONARY_ITEM SDI
			INNER JOIN (
		SELECT
			MA.PROJECTID,
			MA.PROJECTNAME,
		/*项目名称*/
			MA.PROJECTCODE,
		/*存储用编码*/
			MA.PROJECTCODENEW,
		/*显示用编码*/
			SO.ORGPKVALUE REPORTINGUNITCODE,
		/*申报单位编码*/
			SO.NAME AS REPORTINGUNITNAME,
		/*申报单位组织名称*/
			SO.ORGPKVALUE ORGCODE,
		/*所属大区编码*/
			SO.NAME AS ORGNAME,
		/*所属大区名称*/
			SO.ID,
			SGUR.COMPANYHEADER_NAME ORGHEADERNAME,
		/*项目归属单位负责人*/
			SGUR.COMPANYHEADER_ID ORGHEADERID,
		/*项目归属单位负责人ID*/
			( SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = MP.RESPONSIBLEUSERKEY ) RESPONSIBLEUSER,
		/*投资经理*/
			( SELECT SU.UUID FROM SYS_USER SU WHERE SU.UUID = MP.RESPONSIBLEUSERKEY ) RESPONSIBLEUSERID,
		/*投资经理ID*/
			( SELECT MAR.ENUMNAME FROM ZSJ.MDM_AREA MAR WHERE MAR.PK_ENUM = MA.PROVINCE_NAME ) || ( SELECT MAR.ENUMNAME FROM ZSJ.MDM_AREA MAR WHERE MAR.PK_ENUM = MA.CITY_NAME ) || ( SELECT MAR.ENUMNAME FROM ZSJ.MDM_AREA MAR WHERE MAR.PK_ENUM = MA.COUNTY_NAME ) ADDRESS,
		/*项目所在地*/
		CASE
		
			WHEN MA.BIZTYPEENUMCODE LIKE '101%' THEN
			'1401' 
			WHEN MA.BIZTYPEENUMCODE LIKE '104%' THEN
			'1401' 
			WHEN MA.BIZTYPEENUMCODE LIKE '102%' THEN
			'1402' 
			WHEN MA.BIZTYPEENUMCODE LIKE '106%' THEN
			'1403' 
			WHEN MA.BIZTYPEENUMCODE LIKE '105%' THEN
			'1404' 
			WHEN MA.BIZTYPEENUMCODE LIKE '107%' THEN
			'1405' 
			WHEN MA.BIZTYPEENUMCODE LIKE '108%' THEN
			'1406' 
			WHEN MA.BIZTYPEENUMCODE LIKE '109%' THEN
			'1407' ELSE '' 
			END SERVICETYPE,
			MA.BIZTYPEENUMCODE,
			MA.PROVINCE_NAME,
			MA.CITY_NAME,
			MA.COUNTY_NAME,
			MA.CREATEDATETIME,
			MP.VERSIONTIME,
			MP.PROJECTSTAGEENUMCODE,
			MP.RESPONSIBLEUSERKEY,
			ROW_NUMBER () over ( partition BY Ma.PROJECTCODENEW ORDER BY mp.VERSIONTIME DESC ) AS idx 
		FROM
			ZSJ.MDM_APRO MA,
			ZSJ.MDM_PROINFOHIS MP,
			SYS_ORG so,
			SYS_GROUP_USER_REPORTINGUNIT SGUR 
		WHERE
			1 = 1 
			AND MA.PROJECTID = MP.PROJECTID 
			AND SGUR.REPORTINGUNIT_ID ( + ) = MP.STAGEBELONGTODEPTKEY 
			AND SO.ORGPKVALUE ( + ) = MP.STAGEBELONGTODEPTKEY 
			AND MA.PROJECTTYPEENUMCODE = '10' 
			AND MP.PROJECTSTAGEENUMCODE = '10' 
			AND MA.PROJECTCODE = '${PROJECTCODE}'
		) tmp ON tmp.SERVICETYPE = sdi.ITEM_CODE
	</select>
	
</mapper>