<div class="panel-body">
	<form id="Notification" class="form-horizontal" name="Notification">
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt=""
					title="" /><span class="hd-title">公告平台--查看</span>
			</div>
			<div class="panel">

				<div class="panel-heading">
					<div class="panel-hd-cont">
						<span class="panel-title">平台公告<i class="i-triangle"></i></span>
					</div>
				</div>
				<div class="panel-body">
					<div class="special-form">
						<div class="row">
							<h2 style="text-align: center;">{{notificationInfo.TOPIC}}</h2>
							<div class="row-div">
								<p ng-bind-html="notificationInfo.CONTENT|textToHtml"></p>
							</div>
						</div>
						<hr class="row-div" style="height: 1px; border: none; border-top: 1px dashed #0066CC;"/>
						<div class="row" ng-if="null != notificationInfo.FILEPATH && '' != notificationInfo.FILEPATH">
							<div class="row-div">
								<label>公告附件:</label>
								<div>
									<div class="row nobottom-mar">
										<div class="col-sm-10 noleft-pad noright-pad">
											<a href="javascript:void(0);"
												ng-click="downLoadFile(notificationInfo.FILEPATH,notificationInfo.FILENAME)"
												style="line-height: 27px;">{{notificationInfo.FILENAME}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="row-div div-text" >
								<label>发布时间:</label>{{notificationInfo.PUBDATE}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="button-group">
			<div class="row">
				<div class="option txl">
					<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
				</div>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	angular
			.element(document)
			.ready(
					function() {
						var options = {
							todayBtn : "linked",
							orientation : $('body').hasClass('right-to-left') ? "auto right"
									: 'auto auto'
						}
						$('#expire_date').datepicker(options);

					});
</script>