 <div class="modal-dialog selection-pop">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" ng-click="cancelSelected()" data-dismiss="modal" aria-hidden="true">×</button>
             <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
         </div>
         <div class="modal-body">
				<div class="panel-body">
					<div class="row">
					    <label class="col-sm-1 control-label noleft-pad txl">已选</label>
					    <div class="col-sm-11 noleft-pad noright-pad">
					         <!--<input type="text" class="form-control" name="arrUserName" id="arrUserName" />-->
					                   <div>
					                       <div class="select2-success">
					                           <div id="s2id_projectModel" class="select2-container select2-container-multi form-control ng-untouched ng-valid ng-dirty ng-valid-parse">
					                               <ul class="select2-choices">
					<li class="select2-search-choice" ng-if="null != tempCheckedUser.NAME">
					           <div>{{tempCheckedUser.NAME}}</div>
							<a class="select2-search-choice-close" tabindex="-1" ng-click="removeSelectedUser()"></a>
							<div class="full-drop"><input type="hidden" id="" value="{{tempCheckedUser.VALUE}}"></div>
					</li>
					<li style="height:29px;"></li>
					                    </ul>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
					<div>
<!-- 					   <form name="formDirectivve" class="form-horizontal ng-pristine ng-valid" novalidate> -->
					       <div class="search-input has-feedback">
					           <input type="text" name="name" ng-model="paginationConf.queryObj.username" class="in-t form-control" />
					           <button class="fa fa-search search-p" style="background-color:transparent;border: 0;" ng-click="queryUser()" ></button>
					       </div>
<!-- 					   </form> -->
					</div>
					<div class="row"></div>
					<div class="panel nobottom-mar">
                         <div class="panel-body">
                             <div class="form-group row table-list">
                                 <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable pop-first-col-fixed">
                                     <thead>
                                     <tr>
                                         <th>选择</th>
                                         <th>登录名</th>
                                         <th>姓名</th>
                                         <th>单位/部门</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr ng-repeat="u in users">
                                         <td>
                                            <!-- <input type="checkbox" name="checkboxUser" ng-click="getcheck($event)" id="Ids"  class="ng-pristine ng-untouched ng-valid" value="{{u.UUID}}"/>
                                             <input type="hidden" id="cid" value='{{u.NAME}}'>-->
                                             <label class="checkbox-inline choose">
                                                 <input class="px" type="checkbox" id="chk_{{id}}_{{u.UUID}}" name="{{u.NAME}}" ng-checked="isChecked(u)" ng-click="toggleChecked(u)"/>
                                                 <span class="lbl">&nbsp;</span>
                                             </label>
                                         </td>
                                         <td>{{u.ACCOUNT}}</td>
                                         <td>{{u.NAME}}</td>
                                          <td>{{u.ORGNAME}}</td>
                                     </tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                         <div class="table-footer clearfix">
                             <tm-pagination conf="paginationConf"></tm-pagination>
                         </div>
                     </div>
             	</div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" ng-click="cancelSelected()" data-dismiss="modal">取消</button>
             <button type="button" class="btn btn-primary" ng-click="saveSelected()" data-dismiss="modal">确定</button>
         </div>
     </div>
 </div>