<a      style="font-size: small;color: blue;"
        href="javascript:void(0);"
        ng-click="_message_preview_file_(_message_.fileDto.preview3d)">{{_message_.fileDto.filename}}
    <span ng-if="_message_.messageFile != null">&nbsp;</span>
    <span ng-if="_message_.messageFile != null && _message_.fileDto.filesize < 1048576">
                {{_message_.fileDto.filesize/1024 | number:2}}
        </span>
    <span ng-if="_message_.messageFile != null && _message_.fileDto.filesize < 1048576">
                KB
        </span>
    <span ng-if="_message_.messageFile != null && _message_.fileDto.filesize >= 1048576">
                {{_message_.fileDto.filesize/1024/1024 | number:2}}
        </span>
    <span ng-if="_message_.messageFile != null && _message_.fileDto.filesize >= 1048576">
                MB
        </span>
</a>