<a  style="font-size: small;color: blue;"
    href="javascript:void(0);"
    ng-click="_message_preview_file_(_form_first_.preview3d)">
    {{_form_first_.filename}}
    <span ng-if="_form_first_.fileid != null">
    &nbsp;
    </span>
    <span ng-if="_form_first_.fileid != null && _form_first_.filesize < 1048576">
    {{_form_first_.filesize/1024 | number:2}}
    </span>
    <span ng-if="_form_first_.fileid != null && _form_first_.filesize < 1048576">
    KB
    </span>
    <span ng-if="_form_first_.fileid != null && _form_first_.filesize >= 1048576">
    {{_form_first_.filesize/1024/1024 | number:2}}
    </span>
    <span ng-if="_form_first_.fileid != null && _form_first_.filesize >= 1048576">
    MB
    </span>
</a>
<a  style="font-size: small;color: blue;"
    ng-if="_form_first_.fileid != null && _is_show_reply_btn_"
    ng-click="_message_delete_file_(_form_first_, 'FIR', -1);"
    href="javascript:void(0);">移除
</a>