<div>
    <span ng-if="_is_show_attach_type_" style="font-size: small;">资源类型</span>
    <select ng-if="_is_show_attach_type_" ng-disabled="_message_.messageFileType != -1 && _message_.messageFile != null" style="font-size: small;" ng-model="_message_.messageFileType" ng-options="_attach_type_.ITEM_CODE as _attach_type_.ITEM_NAME for _attach_type_ in _attach_types_"></select>
    <span ng-include="'page/sys/common/file_info.html'"></span>
    <a      style="font-size: small;color: blue;"
            ng-if="_message_.messageFile == null && _is_show_reply_btn_ && _message_.createdBy == _init_uuid_global_"
            ngf-max-size="100MB" ngf-select="_message_upload_file_($file, _message_)"
            href="javascript:void(0);">选择附件</a>
    <a      style="font-size: small;color: blue;"
            ng-if="_message_.messageFile != null && _is_show_reply_btn_ && _message_.createdBy == _init_uuid_global_"
            ng-click="_message_delete_file_(_message_);"
            href="javascript:void(0);">移除</a>
</div>