<div class="xh-content container-fluid">
	<form id="myFormPPR" name="myFormPPR" novalidate class="row">
		<div class="main-content col-md-12 col-sm-12 col-xs-12">
			<h3 class='text-blue item-name'>
				{{project.apply.projectName}}
			</h3>
			<div class="mcontent content1">
				<h3 class="text-blue">项目会议信息</h3>
				<input type="hidden"  name="UUID" id="UUID"   class="form-control"  value="{{id}}" />
				<div class="row normalline">
					<div class="col-md-12 col-sm-12  col-xs-12">
						<div class="row">
							<span class="required">*</span><span class="col-md-2 noPadding">大区人员参会方式</span>
							<span class="col-md-10 slim">
								<label class="radio radio-inline local">
									<input type="radio" disabled="disabled"  class="px" name="participantMode" ng-model="meeting.participantMode" value="1"/>
									<span class="lbl">现场</span>
								</label>
								<label class="radio radio-inline local">
									<input type="radio" disabled="disabled"  class="px" name="participantMode" ng-model="meeting.participantMode" value="2"/>
									<span class="lbl">视频</span>
								</label>
							</span>
						</div>
					</div>
				</div>

				<div class="row normalline">
					<div class="col-md-12 col-sm-12  col-xs-12">
						<div class="row">
							<span class="required">*</span><span class="col-md-2 noPadding">大区参会人员</span>
							<span class="col-md-10 slim">
				    			<!--<direct-user-multi-select id="{{'formalDivision'}}" checked-users="meeting.division"
														  is-editable="false"	mapped-key-value="formalDivisionMapped">
								</direct-user-multi-select>-->
								<input type="text" disabled="disabled" name="division" id="division" class="form-control" ng-model="meeting.division" />
				    		</span>
						</div>
					</div>
				</div>

				<div class="row normalline">
					<div class="col-md-12 col-sm-12  col-xs-12">
						<div class="row">
							<span class="col-md-2 noPadding">投资中心/水环境参会人员</span>
							<span class="col-md-10 slim">
				    			<!--<direct-user-multi-select id="{{'formalInvestment'}}" checked-users="meeting.investment"
														  is-editable="false" mapped-key-value="formalInvestmentMapped">
								</direct-user-multi-select>-->
								<input type="text" disabled="disabled" name="investment" id="investment" class="form-control" ng-model="meeting.investment" />
				    		</span>
						</div>
					</div>
				</div>

				<div class="row normalline">
					<div class="col-md-12 col-sm-12  col-xs-12">
						<div class="row">
							<span class="required">*</span><span class="col-md-2 noPadding">汇报人</span>
							<span class="col-md-10 slim">
				    			<!--<direct-user-single-select id="{{'projectagenda'}}" checked-user="meeting.agenda"
														   is-editable="false"	mapped-key-value="projectAgenda">
								</direct-user-single-select>-->
								<input type="text" disabled="disabled" name="agenda" id="agenda" class="form-control" ng-model="meeting.agenda.NAME" />
				    		</span>
						</div>
					</div>
				</div>

				<div class="row normalline">
					<div class="col-md-12 col-sm-12  col-xs-12">
						<div class="row">
							<span class="required">*</span><span class="col-md-2 noPadding">联系人</span>
							<span class="col-md-10 slim">
				    			<!--<direct-user-single-select id="{{'projectcontacts'}}" checked-user="meeting.contacts"
														   is-editable="false"	mapped-key-value="projectContacts">
								</direct-user-single-select>-->
								<input type="text" disabled="disabled" name="contacts" id="contacts" class="form-control" ng-model="meeting.contacts.NAME" />
				    		</span>
						</div>
					</div>
				</div>

				<div class="row normalline">
					<div class="col-md-12 col-sm-12  col-xs-12">
						<div class="row">
							<span class="required">*</span><span class="col-md-2 noPadding">电话</span>
							<span class="col-md-10 slim">
				    			<input disabled="disabled" type="text" name="telephone" id="telephone" class="form-control" ng-model="meeting.telephone" />
				    		</span>
						</div>
					</div>
				</div>

				<div class="button-group">
					<div class="row">
						<div class="option txl">
							<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
						</div>
					</div>
				</div>


			</div>
		</div>
	</form>
</div>

<directive-user-list></directive-user-list>
<directive-user-radio-list></directive-user-radio-list>
<script type="text/javascript">

</script>
<script  type="text/javascript">
    angular.element(document).ready(function() {
        var options = {
            minuteStep: 5,
            orientation: $('body').hasClass('right-to-left') ? { x: 'right', y: 'auto'} : { x: 'auto', y: 'auto'}
        }
        $('#startTime').timepicker(options);
        $('#endTime').timepicker(options);
        $('#startTime1').timepicker(options);
        $('#endTime1').timepicker(options);

        var optionsDate = {
            todayBtn: "linked",
            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
        }
        $('#meetingDate').datepicker(optionsDate);

        $("#regional-division select").select2();
        $("#investment-center select").select2();
        $("#contacts-box select").select2();
    });
</script>