<div class="panel-body">
	<!--form表单开始-->
	<form  class="form-horizontal" name="noticeName" id="noticeName"  onsubmit="return false;"  novalidate>
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt="" title="" /><span class="hd-title">{{titleName}}</span>
			</div>
			<div class="panel">
				<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">决策通知书<i class="i-triangle"></i></span></div></div>
				<div class="panel-body">
					<div id="myTab" class="myTab">
						<ul class="nav nav-tabs bs-tabdrop-example">
							<li class="active">
								<a href="javascript:;" data-toggle="tab">决策通知书</a>
							</li>
							<li>
								<a href="javascript:;" data-toggle="tab">流程图</a>
							</li>
						</ul>
					</div>
					<div class="tab-content tab-content-bordered">
						<div class="tab-pane in active" id="contracts_file_info">
							<div class="row">
								<div class="table-responsive">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light">
										<tbody>
											<tr>
												<td>项目名称</td>
												<td colspan="3">{{nod.projectName}}</td>
											</tr>
											<tr class="tr-max">
												<td>合同规模<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td colspan="3">
													<div class="has-feedback">
														<input type="text" name="contractScale" id="contractScale" class="form-control" ng-model="nod.contractScale"/>
														<span class="unit-s-td">万吨/日</span>
													</div>
												</td>
											</tr>
											<tr>
												<td>评审规模<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<div class="has-feedback">
														<input type="text" name="evaluationScale" id="evaluationScale" class="form-control" ng-model="nod.evaluationScale" />
														<span class="unit-s-td">万吨/日</span>
													</div>
												</td>
												<td>评审总投资<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<div class="has-feedback">
														<input type="text" name="reviewOfTotalInvestment" id="reviewOfTotalInvestment" class="form-control" ng-model="nod.reviewOfTotalInvestment"
															   onkeypress="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onkeyup="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onblur="if(!this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?|\.\d*?)?$/))this.value=this.o_value;else{if(this.value.match(/^\.\d+$/))this.value=0+this.value;if(this.value.match(/^\.$/))this.value=0;this.o_value=this.value}"/>
														<span class="unit-my-td">万元</span>
													</div>
												</td>
											</tr>
											<tr>
												<td>所属大区</td>
												<td>
													<input type="text" name="" class="form-control" readonly ng-model="nod.reportingUnit.name"/>
												</td>
												<td>原有项目再投资或已投资项目补充评审<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<select name="additionalReview" id="additionalReview" class="form-control" ng-model="nod.additionalReview">
														<option value="">请选择...</option>
														<option value="1">是</option>
														<option value="2">否</option>
													</select>
												</td>
											</tr>
											<tr>
												<td>投资决策会议期次<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td><input type="text" name="decisionStage" id="decisionStage" class="form-control" ng-model="nod.decisionStage" /></td>
												<td>会议日期<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<div class="has-feedback">
														<input type="text" name="dateOfMeeting" id="dateOfMeeting" class="form-control" ng-model="nod.dateOfMeeting" />
														<i class="fa fa-calendar form-control-feedback date-form"></i>
													</div>
												</td>
											</tr>
											<tr>
												<td>项目投资决策意见
													<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span>
												</td>
												<td colspan="3" class="radio-group">
													<label class="radio radio-inline">
														<input type="radio" class="px" name="consentToInvestment" ng-model="nod.consentToInvestment" value="1"/>
														<span class="lbl">同意投资</span>
													</label>
													<label class="radio radio-inline">
														<input type="radio" class="px" name="consentToInvestment" ng-model="nod.consentToInvestment" value="2"  />
														<span class="lbl">不同意投资</span>
													</label>
													<label class="radio radio-inline">
														<input type="radio" class="px" name="consentToInvestment" ng-model="nod.consentToInvestment" value="3" />
														<span class="lbl">同意有条件投资</span>
													</label>
													<label class="radio radio-inline">
														<input type="radio" class="px" name="consentToInvestment" ng-model="nod.consentToInvestment" value="4" />
														<span class="lbl">择期决议</span>
													</label>
													<!--<span class="radio-verify error">此项必填</span>-->
													<label for="consentToInvestment" class="radio-verify error">此项必填</label>
												</td>
											</tr>
											<tr class="tr-max">
												<td>项目投资前须落实事项</td>
												<td colspan="3"><textarea name="" ng-model="nod.implementationMatters" rows="" cols="" class="form-control" auto-height></textarea></td>
											</tr>
											<tr>
												<td>项目实施主体<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>

												<input type="text"  ng-click="setDirectiveParam('subjectOfImplementation')"  data-toggle="modal" data-target="#companyUnit-modal" class="form-control" id="subjectOfImplementationName" name="subjectOfImplementationName" ng-model="nod.subjectOfImplementation.name" value="{{nod.subjectOfImplementation.name}}"  >
												<input type="hidden"  class="form-control" id="subjectOfImplementation" name="subjectOfImplementation"  ng-model="nod.subjectOfImplementation.value"/>

												</td>
												<td>北控水务股权比例<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<div class="has-feedback">
														<input type="text" name="equityRatio" id="equityRatio" ng-model="nod.equityRatio" class="form-control"
															   onkeypress="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onkeyup="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onblur="if(!this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?|\.\d*?)?$/))this.value=this.o_value;else{if(this.value.match(/^\.\d+$/))this.value=0+this.value;if(this.value.match(/^\.$/))this.value=0;this.o_value=this.value}"/>
														<span class="percent">%</span>
													</div>
												</td>
											</tr>
											<tr>
												<td>是否新注册项目公司<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<select name="register" id="register" class="form-control" ng-model="nod.register">
														<option value="">请选择...</option>
														<option value="1">是</option>
														<option value="2">否</option>
													</select>
												</td>
												<td>注册资本金<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<div class="has-feedback">
														<input type="text" name="registeredCapital" id="registeredCapital" ng-model="nod.registeredCapital" class="form-control"
															   onkeypress="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onkeyup="if(!this.value.match(/^[\+\-]?\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))this.o_value=this.value"
															   onblur="if(!this.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?|\.\d*?)?$/))this.value=this.o_value;else{if(this.value.match(/^\.\d+$/))this.value=0+this.value;if(this.value.match(/^\.$/))this.value=0;this.o_value=this.value}"/>
														<span class="unit-my-td">万元</span>
													</div>
												</td>
											</tr>
											<tr>
												<td>责任单位<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<input type="text"  ng-click="setDirectiveParam('responsibilityUnit')"  data-toggle="modal" data-target="#companyUnit-modal" class="form-control" id="responsibilityUnitName" name="responsibilityUnitName" ng-model="nod.responsibilityUnit.name" value="{{nod.responsibilityUnit.name}}"  >
													<input type="hidden"  class="form-control" id="responsibilityUnit" name="responsibilityUnit"  ng-model="nod.responsibilityUnit.value"/>
												<td>责任人<span class="required-r" ng-if="actionPam=='Create' || actionPam=='Update' || actionPam=='Edit'">*</span></td>
												<td>
													<div >
														<input type="text" value="{{nod.personLiableName}}" disabled class="form-control" />
													</div>
													<input type="hidden" id="personLiableName" name="personLiableName" ng-model="nod.personLiable.name"  class="form-control" value="{{nod.personLiable}}" />
													<input type="hidden" ng-model="nod.personLiable.value"  />
												</td>
											</tr>
											<tr class="tr-max">
												<td>执行要求</td>
												<td colspan="3">
													<textarea name="" ng-model="nod.implementationRequirements" rows="" cols="" class="form-control" auto-height></textarea>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!--流程图 -->
						<div class="tab-pane" id="flow_chart" >
							<div ng-show="!old">
								<directive-process-page></directive-process-page>
							</div>
							<div ng-show="old">
								<directive-process-list></directive-process-list>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="panel" ng-show="old && action=='view3'">
				<div class="panel-heading">
					<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">上传决策通知书附件<i class="i-triangle"></i></span></div></div>
					<div class="panel-body">
						<div class="row">
							<label class="col-sm-2 control-label">决策通知书相关附件</label>
							<div class="col-sm-10">
								<div class="col-sm-10 noleft-pad">
									<div class="col-sm-2">
										<button type="button" class="btn btn-info" ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles, $index)">浏览</button>
									</div>
									<div class="col-sm-10 noleft-pad">
										<span ng-bind="progress$index"></span>
										<a href="javascript:void(0);" ng-click="downLoadFile(nod.attachment[0])" style="line-height: 27px;">{{nod.attachment.fileName}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="panel" ng-show="old && action!='view3' && null!=nod.attachment  && ''!=nod.attachment">
				<div class="panel-heading">
					<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">决策通知书附件<i class="i-triangle"></i></span></div></div>
					<div class="panel-body">
						<div class="row">
							<label class="col-sm-2 control-label">决策通知书相关附件</label>
							<div class="col-sm-10">
								<div class="col-sm-10 noleft-pad">
									<div class="col-sm-2">
									</div>
									<div class="col-sm-10 noleft-pad">
										<span ng-bind="progress$index"></span>
										<a href="javascript:void(0);" ng-click="downLoadFile(nod.attachment[0])" style="line-height: 27px;">{{nod.attachment[0].fileName}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="option txl">
					<a ng-if="flag=='1'" class="btn btn-info" href="#/IndividualTable"><i class="fa fa-reply"></i>返回</a>
					<a ng-if="flag=='2'" class="btn btn-info" href="#/MyTask"><i class="fa fa-reply"></i>返回</a>
					<a ng-if="flag=='3'" class="btn btn-info" href="#/CompletedTask"><i class="fa fa-reply"></i>返回</a>
					<a ng-if="flag=='4'" class="btn btn-info" href="#/NoticeOfDecisionList"><i class="fa fa-reply"></i>返回</a>
					<a ng-if="flag=='5'" class="btn btn-info" href="#/OverTask/{{'#/' | encodeURI}}"><i class="fa fa-reply"></i>返回</a> 
					<a ng-if="flag=='6' && action != 'toSubmit' && action !='submitted'" class="btn btn-info" href="#/NoticeDecisionAuditList/0"><i class="fa fa-reply"></i>返回</a> 
					<a ng-if="flag=='7' && action != 'toSubmit' && action !='submitted'" class="btn btn-info" href="#/NoticeDecisionList"><i class="fa fa-reply"></i>返回</a>
					   <directive-return-btn ng-show="action == 'toSubmit' || action =='submitted'" url="{{oldUrl}}"></directive-return-btn>
<!-- 					<button type="button" id="savebtn" ng-click="save()" class="btn btn-info"><i class="fa fa-save"></i>保存</button>
<!-- 					<button ng-click="showSubmitModal()" type="button"  id="submibtnn" class="btn btn-info" title=""> -->
<!-- 					<i class="fa fa-cloud-upload"></i>提交</button> -->
					<!-- <button 
						ng-show="action=='toSubmit'" ng-click="showSubmitModal()" id="submitBtn" class="btn btn-info" title="">
					<i class="fa fa-cloud-upload"></i>提交</button> -->
					<button ng-show="action == 'toSubmit' && !isShowOldSubmitBtn" ng-click="showSubmitModalNew()" type="button"  id="submitBtn" class="btn btn-info" title=""><i class="fa fa-cloud-upload"></i>提交</button>
			  		<button ng-show="(action != 'toSubmit' && action !='submitted') && isShowOldSubmitBtn" ng-click="showSubmitModalOld()" type="button"  id="submibtnn" class="btn btn-info" title=""><i class="fa fa-cloud-upload"></i>提交</button>
					<button type="button" id="wordbtn" ng-click="createWord()" class="btn btn-info"><i class="fa fa-file-o"></i>生成Word文档</button>
					<div ng-if="old" id="submitModalOld"  class="modal" tabindex="-1" role="dialog" style="display: none;">
						<approve-pop-win approve="approve"></approve-pop-win>
					</div>
					<div ng-if="!old" id="submitModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
						<decision-bpmn-pop-win  approve="approve"></decision-bpmn-pop-win>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<directive-user-list></directive-user-list>
<directive-org-list></directive-org-list>
<script type="text/javascript">
<!--
	$(function(){
		$('#porjectPreReview').collapse('show');
		$('#taskAssignment').collapse({toggle: 'show'});
		//二级菜单关闭&展示
		$(".dropdown-list").children("li").click(function(){
			var dropDown = $(this).find(".sub-list");
			var togClass=$(this).find(".ico");
			$(".dropdown-list li .sub-list").not(dropDown).slideUp(300);
			$(".dropdown-list li .ico").not(togClass).removeClass("fa-minus");
			dropDown.slideToggle(300);
			togClass.toggleClass("fa-minus");
		});
		//tabs切换
		$(".nav-tabs").children("li:not('.navbar-right')").click(function(){
			var liIndex=$(this).index();
			var tabCont=$(this).parents(".myTab").siblings(".tab-content").find(".tab-pane");
			$(this).addClass("active").siblings("li").removeClass("active");
			tabCont.eq(liIndex).fadeIn(300).siblings(".tab-pane").fadeOut(0);
		});
		//单选
		$(".one-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			$(this).parents(".dropdown-list").find(".sub-list li a").not($(this).children()).removeClass("cur");
			return false;
		});
		//多选
		$(".more-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			return false;
		});
	});

	$("#compareBtn").click(function(){
		var chooseCount=0;
		$("input[name='choose']").each(function(){
			if($(this).attr("checked")){
				chooseCount++;
			}
		});
		if(chooseCount==0){
			alert("请选择要对比的数据！");
			return;
		}else if(chooseCount>1){
			alert("只能选择一条数据！");
			return;
		}
	});

	/*$("#submibtnn").click(function(){
		var num=0;
		$("input[name='consentToInvestment']").each(function(){
			if($(this).attr("checked")=="checked"){
				num++;
			}
		});
		if(num>0){
			//alert("不为空，不显示此项必填");
			$(".radio-verify.error").css("display","none");
		}else{
			//alert("为空，显示此项必填");
			$(".radio-verify.error").css("display","inline-block");
			return false;
		}
	});

	$("input[name='consentToInvestment']").click(function(){
		$(".radio-verify.error").css("display","none");
	});*/
//-->
</script>
<script  type="text/javascript">
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#bs-datepicker-edit').datepicker();
		$('#dateOfMeeting').datepicker(options);
   });
	$().ready(function() {
		// validate signup form on keyup and submit
		$("#noticeName").validate({
			rules: {
				personLiableName:"required",
				responsibilityUnitName:"required",
				registeredCapital:"required",
				register:"required",
				equityRatio:"required",
				subjectOfImplementationName:"required",
				dateOfMeeting:"required",
				decisionStage:"required",
				additionalReview:"required",
				reviewOfTotalInvestment:"required",
				evaluationScale:"required",
				directPersonName:"required",
				contractScale:"required",
				consentToInvestment:"required"
			},
			messages: {
				personLiableName:"此项必填",
				responsibilityUnitName:"此项必填",
				registeredCapital:"请填入数字",
				register:"此项必填",
				equityRatio:"请填入数字",
				subjectOfImplementationName:"此项必填",
				dateOfMeeting:"此项必填",
				decisionStage:"此项必填",
				additionalReview:"此项必填",
				reviewOfTotalInvestment:"请填入数字",
				evaluationScale:"此项必填",
				directPersonName:"此项必填",
				contractScale:"此项必填",
				consentToInvestment:"此项必填"
			}
		});
	});

</script>
