<div class="panel-body">
    <div class="header">
        <img src="assets/images/icons/TimeWarning.png" width="41" height="41" alt="" title="" />
        <span class="hd-title">时间预警信息</span>
    </div>
    <div class="">
        <ul class="nav nav-tabs bs-tabdrop-example">
            <li class="active"><a href="/#bs-tabdrop-tab1" data-toggle="tab">预评审</a></li>
            <li><a href="/#bs-tabdrop-tab2" data-toggle="tab">正式评审</a></li>
            <li><a href="/#bs-tabdrop-tab3" data-toggle="tab">法律尽调</a></li>
        </ul>
        <div class="tab-content tab-content-bordered">
            <div class="tab-pane active" id="bs-tabdrop-tab1">
                <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                    <div class="panel">
                        <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">预评审<i class="i-triangle"></i></span></div></div>
                        <div class="panel-body">
                            <div class="row">
                                <button  type="button" class="btn btn-info" ng-click="save()"><i class="fa fa-save"></i>保存</button>
                            </div>
                            <div class="row nobottom-mar">
                                <div class="table-responsive table-list">
                                    <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>节点</th>
                                            <th>设定预警时间</th>
                                            <th>流程定义ID</th>
                                            <th class="txc">是否发送预警</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="w in warning">
                                            <td>{{$index+1}}</td>
                                            <td>{{w.PROCDEF_TASK_NAME}}</td>
                                            <td><input type="text" ng-model="w.DUE_DAYS" class="form-control" /></td>
                                            <td><input type="text" ng-model="w.PROCDEF_TASK_ID" readonly class="form-control" /></td>
                                            <td class="txc"><input type="checkbox" name="checkbox" ng-model="w.STATE" ng-checked="w.STATE == '1'"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="table-footer clearfix">
                            <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="bs-tabdrop-tab2">
                <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                    <div class="panel">
                        <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">正式评审<i class="i-triangle"></i></span></div></div>
                        <div class="panel-body">
                            <div class="row">
                                <button  type="button" class="btn btn-info" ng-click="save()"><i class="fa fa-save"></i>保存</button>
                            </div>
                            <div class="row nobottom-mar">
                                <div class="table-responsive table-list">
                                    <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>节点</th>
                                            <th>设定预警时间</th>
                                            <th>流程定义ID</th>
                                            <th class="txc">是否发送预警</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="w in warningFormal">
                                            <td>{{$index+1}}</td>
                                            <td>{{w.PROCDEF_TASK_NAME}}</td>
                                            <td><input type="text" ng-model="w.DUE_DAYS" class="form-control" /></td>
                                            <td><input type="text" ng-model="w.PROCDEF_TASK_ID" readonly class="form-control" /></td>
                                            <td class="txc"><input type="checkbox" name="checkbox" ng-model="w.STATE" ng-checked="w.STATE == '1'"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="table-footer clearfix">
                            <tm-paginationes confes="paginationConfes"></tm-paginationes>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="bs-tabdrop-tab3">
                <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                    <div class="panel">
                        <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">法律尽调<i class="i-triangle"></i></span></div></div>
                        <div class="panel-body">
                            <!--<div class="row">
                                <button  type="button" class="btn btn-info" ng-click="save()"><i class="fa fa-save"></i>保存</button>
                            </div>-->
                            <div class="row nobottom-mar">
                                <div class="table-responsive table-list">
                                    <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>节点</th>
                                            <th>设定预警时间</th>
                                            <th>FORM_KEY</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--<tr>
                                            <td>{{$index+1}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="table-footer clearfix">
                            <tm-paginationes confes="paginationConfes"></tm-paginationes>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--<form class="form-horizontal ng-pristing ng-valid ng-pristine">
        <div class="panel">
            <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">预评审时间预警信息设置<i class="i-triangle"></i></span></div></div>
            <div class="panel-body"  >
                <div class="row">
                    <button type="button" class="btn btn-info"  ng-click="Create(0)"><i class="glyphicon glyphicon-plus"></i>新增</button>
                    <button type="button" class="btn btn-info"  ng-click="updatePreWarning()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>
                    <button type="button" class="btn btn-info"  ng-click="deletePreWarning()"><i class="glyphicon glyphicon-trash"></i>删除</button>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table border="0" cellspacing="0" cellpadding="0" class="table  table-hover datatable">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>项目模式名称</th>
                                    <th>项目模式编码</th>
                                    <th>提醒时间</th>
                                    <th>是否启用</th>
                                    <th>评审类型</th>
                                </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="t in warning" on-finish-render-filters>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="checkbox" class="px ng-pristine ng-untouched ng-valid" value="{{t.UUID}}"/>
                                        <span class="lbl">&nbsp;</span>
                                    </label>
                                </td>
                                <td>{{t.MODEL_NAME}}</td>
                                <td>{{t.MODEL_CODE}}</td>
                                <td>{{t.WARNING_DAY}}</td>
                                <td><div ng-if="'1'== t.STATE"><span class="status-y">启用</span></div>
                                    <div ng-if="'2'== t.STATE"><span class="status-n">禁用</span></div>
                                </td>
                                <td><div ng-if="'1'== t.TYPE">预评审时间预警</div>
                                    <div ng-if="'2'== t.TYPE">正式评审时间预警</div>
                                    <div ng-if="'3'== t.TYPE">法律尽调时间预警</div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="table-footer clearfix">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>
    </form>-->
</div>


<script type="text/javascript">
    <!--
    $(function(){
        //查询关闭&展示
        $(".panel-heading").find(".ico-dorp").click(function(){
            $(this).toggleClass("fa-plus");
            $(this).toggleClass("fa-minus");
            $(this).parents(".panel-heading").siblings(".panel-body").stop().slideToggle(300);
        });
        //菜单关闭&展示
        $(".wrap-info .menuico").toggle(function(){
            $(this).addClass("glyphicon-menu-right").removeClass("glyphicon-menu-left");
            $(this).parents(".wrapper").stop().animate({"margin-left":"-150px"},300);
        },function(){
            $(this).addClass("glyphicon-menu-left").removeClass("glyphicon-menu-right");
            $(this).parents(".wrapper").stop().animate({"margin-left":"0"},300);
        });
        //二级菜单关闭&展示
        $(".menu-bd .list").children("li").click(function(){
            var dropDown = $(this).find(".sub-list");
            var togClass=$(this).find(".ico");
            $(".menu-bd .list li .sub-list").not(dropDown).slideUp(300);
            $(".menu-bd .list li .ico").not(togClass).removeClass("fa-minus");
            dropDown.slideToggle(300);
            togClass.toggleClass("fa-minus");
        });
        //收藏
        $(".ico-wrap .fa-star").click(function(){
            $(this).toggleClass("red-star");
        });
        //分配角色弹层
        $(".allot").click(function(){
            Visa.NoticePopup.show();
        });
        $("#pub-notice .ico-x").click(function(){
            $("#js-index-popup").hide(300);
            $("#_Dialog_maskwrap").hide(100);
        });
    });
    var name,value;
    var str=location.href; //取得整个地址栏
    var num=str.lastIndexOf("/");
    str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
    $("#createbtn").attr('ng-click',"Create("+str+")");
    //-->
</script>