<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/BasicSet.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">预评审时间预警信息设置</span>
	</div>
	<div class="panel">
		<div class="panel-heading">
			<div class="panel-hd-cont"><span class="panel-title">预评审时间预警信息设置<i class="i-triangle"></i></span></div>
		</div>
		<div class="panel-body">
			<form class="form-horizontal ng-pristine ng-valid" name="myForm" ng-submit="save()" novalidate>
				<div class="row">
					<input type="hidden" name="UUID"  ng-model="warning.UUID" value="{{warning.UUID}}">
					<label  class="col-sm-2 control-label">项目模式名称</label>
					<div class="col-sm-4">
						<input type="text" name="MODEL_NAME" id="MODEL_NAME" required ng-model="warning.MODEL_NAME" class="form-control" />
						<span style="color:red" ng-show="myForm.MODEL_NAME.$dirty && myForm.MODEL_NAME.$invalid">
                            <p ng-show="myForm.MODEL_NAME.$error.required" class="help-block">名称必填</p>
						</span>
					</div>
					<label class="col-sm-2 control-label">项目模式编码</label>
					<div class="col-sm-4">
						<input type="text" name="MODEL_CODE"  required  id="MODEL_CODE"    ng-model="warning.MODEL_CODE" class="form-control ng-pristine ng-untouched ng-valid" />
						  <span style="color:red" ng-show="myForm.MODEL_CODE.$dirty && myForm.MODEL_CODE.$invalid">
                            <p ng-show="myForm.MODEL_CODE.$error.required" class="help-block">编码必填</p>
						  </span>
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 control-label">提醒时间</label>
					<div class="col-sm-4">
						<input type="text" name="WARNING_DAY" required id="WARNING_DAY" ng-model="warning.WARNING_DAY" class="form-control" />
						<span style="color:red" ng-show="myForm.WARNING_DAY.$dirty && myForm.WARNING_DAY.$invalid">
                            <p ng-show="myForm.WARNING_DAY.$error.required" class="help-block">描述必填</p>
						  </span>
					</div>

					<label class="col-sm-2 control-label">状态：</label>
					<div class="col-sm-4"><select   name="STATE" id="STATE"  ng-model="warning.STATE" class="form-control ng-pristine ng-untouched ng-valid">
						<option value=" "></option>
						<option value="1">启用</option>
						<option value="2">禁用</option>
					</select>
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 control-label">预警类型：</label>
					<div class="col-sm-4"><select   name="TYPE" id="TYPE"  ng-model="warning.TYPE" class="form-control ng-pristine ng-untouched ng-valid">
						<option value=" "></option>
						<option value="1">预评审时间预警</option>
						<option value="2">正式评审时间预警</option>
						<option value="3">法律尽调时间预警</option>
					</select>
					</div>
				</div>
				<div class="row">
					<div class="btn-group-gap txl">
						<button class="btn btn-info" type="button"  id="viewlbtn" ng-click="cancel()">返回</button>
						<button type="submit" class="btn btn-info"><i class="fa fa-save"></i>保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--
<script type="text/javascript">
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#bidOpenTime').datepicker(options);
	});
</script>-->
