<div class="panel-body" ng-controller="myControl">
	<form class="form-horizontal ng-pristine ng-valid" name="CFB" onsubmit="return false;">
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt="" title="" /><span class="hd-title">初步评审意见反馈</span>
			</div>
			<div id="commentsFeedback" class="panel-group">
					<div class="panel">
						<div class="panel-heading">
							<a class="accordion-toggle collapsed" href="/#porjectPreReview" data-parent="#commentsFeedback" data-toggle="collapse"><span class="text">项目预评审申请<i class="i-triangle"></i></span></a>
						</div>
						<div id="porjectPreReview" class="panel-collapse collapse">
							<div class="panel-body">
								<div id="myTab" class="myTab">
									<ul class="nav nav-tabs bs-tabdrop-example">
										<li class="active">
											<a href="javascript:;" data-toggle="tab">流程表单</a>
										</li>
										<li>
											<a href="javascript:;" data-toggle="tab">流程图</a>
										</li>
										<li >
											<a href="javascript:;" data-toggle="tab">相关资源</a>
										</li>
									</ul>
								</div>
								<div class="tab-content tab-content-bordered">
									<div class="tab-pane in active" id="contracts_file_info">
										<directive-project-pre-review-view></directive-project-pre-review-view>
									</div>
									<div class="tab-pane" id="flow_chart">
										<directive-process-list></directive-process-list>
									</div>
									<div class="tab-pane" id="contracts_resources">
										<directive-file-list></directive-file-list>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<directive-review-leader></directive-review-leader>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<a class="accordion-toggle collapsed" href="/#reviewComments" data-parent="#commentsFeedback" data-toggle="collapse"><span class="text">初步评审意见反馈<i class="i-triangle"></i></span></a>
						</div>
						<div id="reviewComments" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="txl">
										<button  type="button" class="btn btn-info" disabled="disabled"><i class="glyphicon glyphicon-plus"></i>新增</button>
										<button  type="button" class="btn btn-info" disabled="disabled"><i class="glyphicon glyphicon-trash"></i>删除</button>
									</div>
								</div>
								<div class="row">
									<div class="table-responsive">
										<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center reviewCommentsTable">
											<thead>
											<tr>
												<th>选择</th>
												<th>序号</th>
												<th>意见类型</th>
												<th>具体内容</th>
												<th>反馈要求</th>
												<th>投资经理反馈</th>
											</tr>
											</thead>
											<tbody id="commentList">
											<tr ng-repeat="m in pre.approveAttachment.commentsList track by $index">
												<td class="txc">
													<label class="checkbox-inline">
														<input type="checkbox" class="px" ng-model="m.selected" disabled="disabled">
														<span class="lbl">&nbsp;</span>
													</label>
												</td>
												<td class="txc">{{ $index + 1 }}</td>
												<td>
													<div class="row">
														<select ng-model="m.opinionType" ng-options="ot.ITEM_NAME for  ot in optionTypeList track by ot.ITEM_CODE" disabled="disabled" name="" id="" class="form-control">
															<option value="">请选择...</option>
														</select>
													</div>
													<div class="row nobottom-mar">
														<input type="text" style="border:0;width:100%;color:red;background-color:#ffffff;text-align:center;" readonly ng-model="m.commentDate" value="{{m.commentDate}}"/>
													</div>
												</td>
												<td>
													<textarea name="" ng-model="m.commentConent" readonly rows="" cols="" class="form-control"></textarea>
												</td>
												<td>
													<textarea name="" ng-model="m.commentFeedback" readonly rows="" cols="" class="form-control"></textarea>
												</td>
												<td class="attachmentTd">
													<div class="row"  ng-if="actionPam!='edit'">
														<textarea name="" ng-model="m.commentDepartment" readonly rows="" cols="" class="form-control"></textarea>
													</div>
													<div class="row"  ng-if="actionPam!='view1' && actionPam!='view2'">
														<textarea name="" ng-model="m.commentDepartment" ng-readonly="m.feedbackTaskID!=feedbackTaskID" rows="" cols="" class="form-control"></textarea>
													</div>
													<div class="row nobottom-mar">
														<div class="col-sm-12 noleft-pad noright-pad">
															<span ng-bind="progress$index"></span>
															<span style="">{{errorAttach[$index].msg}}</span>
															<input type="hidden" ng-model="m.files.filePath" />
															<a class="attachmentBox" href="javascript:void(0);" ng-click="downLoadFile(m.files)">{{m.files.fileName}}</a>
															<span ng-if="actionPam!='view1' && actionPam!='view2'">
																<button class="btn btn-info attachmentBtn"  ng-disabled="m.feedbackTaskID!=feedbackTaskID" ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles, $index)">浏览</button>
															</span>
															<span  ng-if="actionPam!='edit'">
																<button class="btn btn-info attachmentBtn"  ng-disabled="true" ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles, $index)">浏览</button>
															</span>
														</div>
													</div>
												</td>
											</tr>
											<tr class="tr-max">
												<td colspan="2" rowspan="2"></td>
												<td>重点风险提示</td>
												<td colspan="3">
													<textarea name="riskWarning" readonly rows="" cols="" ng-model="pre.approveAttachment.riskWarning" class="form-control"></textarea>
												</td>
											</tr>
											<tr class="tr-max">
												<td>要求反馈时间</td>
												<td colspan="3">
													<div class="has-feedback">
														<input type="text" id="feedbackTime" readonly name="" ng-model="pre.approveAttachment.feedbackTime" class="form-control" />
														<i class="fa fa-calendar form-control-feedback"></i>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="txl">
										<button  type="button" class="btn btn-info" disabled="disabled" ng-click="addAttachment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
										<button  type="button" class="btn btn-info" disabled="disabled" ng-click="deleteComment(1)"><i class="glyphicon glyphicon-trash"></i>删除</button>
									</div>
								</div>
								<div class="row">
									<div class="table-responsive">
										<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center attachmentTable">
											<thead>
											<tr>
												<th>选择</th>
												<th>需更新附件</th>
												<th>最新版本附件</th>
											</tr>
											</thead>
											<tbody id="attachmentList">
											<tr ng-repeat="am in pre.approveAttachment.attachmentNew">
												<td class="txc">
													<label class="checkbox-inline">
														<input type="checkbox" class="px" ng-model="am.selected" disabled="disabled">
														<span class="lbl">&nbsp;</span>
													</label>
												</td>
												<td>  <!--  ng-options="f.UUID as f.ITEM_NAME for f in  dic.fileName track by f.UUID"-->
													<select disabled="disabled" name="attachmentUList" id="attachmentUList" ng-model="am.attachmentUList"  ng-options="f.ITEM_NAME for f in fileName track by f.UUID" class="form-control">
														<option value="">---请选择---</option>
													</select>
													<input type="hidden" id="programmed{{$index}}" ng-model="am.programmed.name">
													<input type="hidden" class="form-control"  ng-model="am.programmed.value">

													<input type="hidden"  id="approved{{$index}}" ng-model="am.approved.name">
													<input type="hidden" class="form-control"  ng-model="am.approved.value">
												</td>
												<td class="attachmentTd">
													<div class="row nobottom-mar">
														<div class="col-sm-12 noleft-pad noright-pad">
															<span ng-bind="progress$index"></span>
															<span style="">{{errorAttach[$index].msg}}</span>
															<input type="hidden" name="filePath" id="filePath" ng-model="am.attachment_new.filePath" />
															<a class="attachmentBox" href="javascript:void(0);" ng-click="downLoadFile(am.attachment_new)">{{am.attachment_new.fileName}}</a>
															<button class="btn btn-info attachmentBtn" ng-disabled="am.taskId!=taskID && actionPam!='edit'"  ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles, $index,am.attachmentUList,am.attachment_new.version)">浏览</button>
														</div>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="btn-group-gap">
					<a ng-if="flag=='1'" class="btn btn-info" href="#/IndividualTable"><i class="fa fa-reply"></i>返回</a>
					<a ng-if="flag=='2'" class="btn btn-info" href="#/MyTask"><i class="fa fa-reply"></i>返回</a>
					<button type="button" ng-show="isShow"  ng-click="savePreReviewComtents();" class="btn btn-info"><i class="fa fa-save"></i>保存</button>
					<button ng-click="showSubmitModal()" class="btn btn-info" title=""><i class="fa fa-cloud-upload"></i>提交</button>
					<div  id="submitModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
						<approve-pop-win approve="approve"></approve-pop-win>
					</div>
				<!--	<div class="full-drop inline-div">
						<button data-toggle="modal" data-target="#extendModal" class="btn btn-info" title=""><i class="fa fa-arrow-circle-left"></i>延期说明</button>
						<div  id="extendModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title">延期说明</h4>
									</div>
									<div class="modal-body">
										<textarea name="" rows="" cols="" class="form-control" placeholder="延期说明"></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
										<button type="button" class="btn btn-primary btn-confirm" data-dismiss="modal">确定</button>
									</div>
								</div>
							</div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
<!--
	$(function(){
		$('#porjectPreReview').collapse('show');
		$('#taskAssignment').collapse('show');
		$('#reviewComments').collapse('show');
		//二级菜单关闭&展示
		$(".dropdown-list").children("li").click(function(){
			var dropDown = $(this).find(".sub-list");
			var togClass=$(this).find(".ico");
			$(".dropdown-list li .sub-list").not(dropDown).slideUp(300);
			$(".dropdown-list li .ico").not(togClass).removeClass("fa-minus");
			dropDown.slideToggle(300);
			togClass.toggleClass("fa-minus");
		});
		//tabs切换
		$(".nav-tabs").children("li:not('.navbar-right')").click(function(){
			var liIndex=$(this).index();
			var tabCont=$(this).parents(".myTab").siblings(".tab-content").find(".tab-pane");
			$(this).addClass("active").siblings("li").removeClass("active");
			tabCont.eq(liIndex).fadeIn(300).siblings(".tab-pane").fadeOut(0);
		});
		//单选
		$(".one-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			$(this).parents(".dropdown-list").find(".sub-list li a").not($(this).children()).removeClass("cur");
			return false;
		});
		//多选
		$(".more-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			return false;
		});
	});

	$("#compareBtn").click(function(){
		var chooseCount=0;
		$("input[name='choose']").each(function(){
			if($(this).attr("checked")){
				chooseCount++;
			}
		});
		if(chooseCount==0){
			alert("请选择要对比的数据！");
			return;
		}else if(chooseCount>1){
			alert("只能选择一条数据！");
			return;
		}
	});

	ctmApp.register.controller("myControl",function($scope, $http) {
				//初始化页面
				(function initPage(){
                    if(! $scope.contract) $scope.contract = {};
                })();

				function addBlankRow(array){
					var blankRow = {
							comment_type:'',
							comment_feedback:'',
							comment_department:'',
							attachment_old:'',
							attachment_new:''
					}
					array.push(blankRow);
				}
				if(! $scope.contract.comments) $scope.contract.comments = [];
				addBlankRow($scope.contract.comments);

				if(! $scope.contract.attachment) $scope.contract.attachment = [];
				addBlankRow($scope.contract.attachment);

				$scope.addComment = function(){
					function addBlankRow(array){
						var blankRow = {
								comment_type:'',
								comment_feedback:'',
								comment_department:''
						}
						array.push(blankRow);
					}

					if(! $scope.contract.comments) $scope.contract.comments = [];
					addBlankRow($scope.contract.comments);
				}

				$scope.deleteComment = function(){
					$("#commentList").find("input[type='checkbox']:checked").each(function(){
						$(this).parent().parent().remove();//删除dom对象
					});
				}

				$scope.addAttachment = function(){
					function addBlankRow(array){
						var blankRow = {
								attachment_old:'',
								attachment_new:''
						}
						array.push(blankRow);
					}

					if(! $scope.contract.attachment) $scope.contract.attachment = [];
					addBlankRow($scope.contract.attachment);
				}

				$scope.deleteAttachment = function(){
					$("#attachmentList").find("input[type='checkbox']:checked").each(function(){
						$(this).parent().parent().remove();//删除dom对象
					});
				}
    });
//-->
</script>
<script>
	angular.element(document).ready(function() {
		$("#project-type-box select").select2();
		$("#project-mode-box select").select2();
		$("#fixed-member-box select").select2();

		$("#review-leader-box").select2({
			allowClear: true,
			placeholder: ""
		});
   });
</script>
