<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">预评审报告列表</span>
	</div>
	<form class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div id="report" class="panel-group">
			<div class="panel">
				<div class="panel-heading search-box">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#report" href="/#searchbox">查询</a>
				</div>
				<div id="searchbox" class="panel-collapse in">
					<div class="panel-body search-body">
						<div class="row nobottom-mar sm-row">
							<label class="col-sm-2 col-md-1 control-label">项目名称</label>
							<div class="col-sm-4 col-md-2 sm-col"><input type="text" name="PROJECT_NAME" id="PROJECT_NAME" ng-model="PROJECT_NAME" class="form-control ng-pristine ng-untouched ng-valid" /></div>
							<label for="" class="col-sm-2 col-md-1 control-label">提交时间</label>
							<div class="col-sm-4 col-md-2 has-feedback sm-col">
								<input type="text" id="APPLY_TIME" name="APPLY_TIME" ng-model="APPLY_TIME" class="form-control"/>
								<i class="fa fa-calendar form-control-feedback"></i>
							</div>
							<label for="" class="col-sm-2 col-md-1 control-label">状态</label>
							<div class="col-sm-4 col-md-2 sm-col">
								<select name="WF_STATE" id="WF_STATE" ng-model="WF_STATE" class="form-control">
									<option value="">请选择...</option>
									<option value="1">未提交</option>
									<option value="2">已提交</option>
								</select>
							</div>
							<div class="col-sm-12 col-md-2 search">
								<button  type="button" class="btn btn-info" ng-click="ListAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">预评审报告列表<i class="i-triangle"></i></span></div></div>
			<div class="panel-body">
				<div class="row">
					<div class="full-drop inline-div">
						<button type="button" data-toggle="modal" data-target="#addModal" id="compareBtn"  ng-click="listProjectName()" class="btn btn-info" title=""><i class="glyphicon glyphicon-plus"></i>新增</button>
						<div  id="addModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title" id="myModalLabel">请选择项目</h4>
									</div>
									<div class="modal-body special-form">
										<div class="row">
											<div class="col-md-12" id="porjectName" >
												<select class="form-control" ng-model="x.UUID">
													<option ng-repeat="x in pprs" value="{{x.BUSINESS_ID}}">{{x.PROJECT_NAME}}</option>
												</select>
											</div>
										</div>
										<div class="row">
											<label class="col-sm-2 control-label select-mode">普通模式：</label>
											<div class="col-sm-10 single-mode">
												<label class="radio radio-inline">
													<input type="radio" name="mode" ng-model="x.pmodel" class="px" value="normal"/>
													<span class="lbl">通用模板</span>
												</label>
											</div>
										</div>
										<div class="row">
											<label class="col-sm-2 control-label select-mode">其他：</label>
											<div class="col-sm-10 single-mode">
												<label class="radio radio-inline">
													<input type="radio" name="mode" ng-model="x.pmodel" class="px" value="other"/>
													<span class="lbl">上传电子版预评审报告</span>
												</label>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
										<button type="button" ng-click="forReport(x.pmodel,x.UUID)" class="btn btn-primary btn-confirm" id="forportid">确定</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="button" ng-click="update()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>
					<button type="button" ng-click="Delete()" class="btn btn-info"><i class="glyphicon glyphicon-trash"></i>删除</button>
					<button type="button" ng-click="preBiddingInfo()" class="btn btn-info"><i class="glyphicon glyphicon-ok-circle"></i>提交决策委员会材料</button>
					<button  type="button" ng-click="import()" class="btn btn-info"><i class="glyphicon glyphicon-export"></i>导出</button>
					<!--<button ng-click="submitMaterialToP()" type="button" class="btn btn-info" ><i class="glyphicon glyphicon-ok-circle"></i>提交决策委员会材料</button>-->
				</div>
				<div class="row nobottom-mar">
					<div class="table-responsive table-list">
						<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
							<thead>
							<tr>
								<th>选择</th>
								<th>序号</th>
								<th>项目名称</th>
								<th>投资经理</th>
								<th>评审负责人</th>
								<th>所属大区</th>
								<th>报告提交时间<i class="icofunc fa fa-caret-up" id="orderasc" ng-click="order('time','asc')"></i><i class="icofunc cur fa fa-caret-down" id="orderdesc" ng-click="order('time','desc')"></i></th>
								<th>预评审报告状态<i class="icofunc fa fa-caret-up" id="orderascstate" ng-click="order('state','asc')"></i><i class="icofunc cur fa fa-caret-down" id="orderdescstate" ng-click="order('state','desc')"></i></th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="p in report">
								<td>
									<label class="checkbox-inline">
										<input type="checkbox" name="checkbox" ng-if="'2'!= p.WF_STATE" class="px" value="{{p.BUSINESS_ID}}"/>
										<span class="lbl">&nbsp;</span>
									</label>
								</td>
								<td>{{$index+1}}</td>
								<td><a href="#/PreReviewReport/View/{{p.BUSINESS_ID}}@@2" title="">{{p.PROJECT_NAME}}</a></td>
								<td>{{p.INVESTMENT_MANAGER_NAME}}</td>
								<td>{{p.REVIEW_LEADER_NAME}}</td>
								<td>{{p.REPORTING_UNIT_NAME}}</td>
								<td>{{p.REPORT_COMMIT_DATE}}</td>
								<td><div ng-if="'1'== p.WF_STATE">未提交</div><div ng-if="'2'== p.WF_STATE">已提交</div></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</form>
</div>


<script>
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#APPLY_TIME').datepicker(options);
		//$("select").select2({minimumResultsForSearch: Infinity});
		$("#porjectName select").select2({ placeholder: '项目名称' });
	});
</script>