<div>
    <div class="row">
        <div class="full-drop">
            <!--isEdite || wfState =='0' || wfState == undefined || wfState =='1'-->
            <button type="button" ng-if="isEdite || wfState =='0'" ng-click="_addOneNewFile()" class="btn btn-info" title=""><i class="fa fa-cloud-download"></i>新增</button>
            <!--<button type="button" ng-if="showController.isInvestmentManager && hasWaiting  || wfState =='0' || wfState == undefined" ng-click="_deleteFile()" class="btn btn-info" title=""><i class="fa fa-cloud-download"></i>删除</button>-->
            <!--<button type="button" ng-if="showController.isInvestmentManager && hasWaiting  || wfState =='0' || wfState == undefined" ng-click="addOneNewFile()" class="btn btn-info" title=""><i class="fa fa-cloud-download"></i>打包下载</button>-->
            <div  id="compareModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon">已选文件</span>
                                    <input type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table-bordered table-hover datatable table-text-mid table-light" ng-if="!isShowMeetingAttachment">
            <thead>
            <tr>
                <th width="8%">序号</th>
                <!--<th width="8%">业务类型</th>-->
                <th width="20%" ng-if="businessType != 'bulletin'">资源类型</th>
                <th width="20%">附件内容</th>
                <!--<th ng-if="businessType != 'bulletin'"  width="8%">编制人</th>
                <th ng-if="businessType != 'bulletin'"  width="8%">审核人</th>-->
                <th  width="12%">最后提交人</th>
                <th  width="15%">最后提交时间</th>
                <th ng-if="isEdite || wfState =='0'">相关操作</th>
                <th ng-if="isChoose">上会附件</th>
            </tr>
            </thead>
            <tbody ng-repeat="item in fileList" ng-init="outerIndex = $index">
            <tr>
                <td>{{outerIndex+1}}</td>
                <td ng-if="businessType != 'bulletin'">
                    <span ng-if="!item.newFile">{{item.type.ITEM_NAME}}</span>
                    <div ng-if="item.newFile">
                        <select ng-model="item.type"  ng-options="y.ITEM_NAME for y in attachmentType track by y.ITEM_CODE" ng-change="_changeItemType(item)">
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                </td>
                <!--<td>
                    <span ng-if="!item.newFile">{{item.itemType.ITEM_NAME}}</span>
                    <div ng-if="item.newFile">
                        <select ng-model="item.itemType"  ng-options="y.ITEM_NAME for y in itemType track by y.ITEM_CODE" ng-change="_changeItemType(item)">>
                            <option value="">&#45;&#45; 请选择 &#45;&#45;</option>
                        </select>
                    </div>
                </td>-->
                <td>
                    <a href="javascript:void(0);" ng-click="_download(item.download3d)" ng-if="!item.newFile">{{item.fileName}}</a>
                    <div ng-if="item.fileName != undefined || item.fileName != null">
                        <span ng-if="item.newFile">{{item.fileName}}</span>
                    </div>
                </td>
               <!-- <td>
                    <a href="javascript:void(0);" ng-click="_download(item.download3d)" ng-if="!item.newFile">{{item.fileName}}</a>
                    <div ng-if="item.fileName != undefined || item.fileName != null">
                        <span ng-if="item.newFile">{{item.fileName}}</span>
                        <span ng-if="item.lastUpdateData == null">_</span>
                        <input ng-if="item.lastUpdateData == null" ng-model="item.fileNamSuffix" style="width: 50%"/>
                    </div>
                </td>-->
               <!-- <td ng-if="businessType != 'bulletin'">
                    <span ng-if="isEdite">{{item.programmed.NAME}}</span>
                    <direct-user-single-select ng-if="!isEdite && (showController.isInvestmentManager && hasWaiting  || wfState =='0' || wfState == undefined)" id="{{'bzr_'+$index}}" checked-user="item.programmed" callback="selectPersonCallBack"></direct-user-single-select>
                </td>
                <td ng-if="businessType != 'bulletin'">
                    <span ng-if="isEdite">{{item.approved.NAME}}</span>
                    <direct-user-single-select ng-if="!isEdite && (showController.isInvestmentManager && hasWaiting  || wfState =='0' || wfState == undefined)" id="{{'shr_'+$index}}" checked-user="item.approved" callback="selectPersonCallBack"></direct-user-single-select>
                </td>-->
                <td>{{item.lastUpdateBy.NAME}}</td>
                <td>{{item.lastUpdateData}}</td>
                <td ng-if="isEdite || wfState =='0'">
                    <!--<button type="button" class="btn btn-danger"  ng-click="_delete(item.fileid)">删除</button>-->
                    <button ng-if="item.preview3d != null && (isEdite || wfState =='0')" type="button" class="btn btn-info"  ng-click="_review(item.preview3d)">预览</button>
                   <!-- <directive-replace-file old-item="item"></directive-replace-file>-->
                    <!--<button ng-if="item.newFile == null && showController.isInvestmentManager && hasWaiting  ||item.newFile == null && wfState =='0' || wfState == undefined" type="button"  class="btn btn-info" ngf-max-size="100MB" ngf-select="_uploadReplace($file,$invalidFiles,item')">替换</button>-->
                    <button ng-if="item.newFile && (isEdite || wfState =='0')" type="button"  class="btn btn-info" ngf-max-size="100MB" ngf-select="_uploadThat($file, $index, item)">新增</button>
                    <button type="button" data-toggle="modal" data-target="#addModal{{$index}}" id="compareBtn" class="btn btn-info" ng-click="showModel()"
                            ng-if="item.preview3d != null && (isEdite || wfState =='0')">替换
                    </button>
                    <div id="addModal{{$index}}" class="modal" tabindex="-1" role="dialog"
                         style="display: none;" ng-if="isShow">
                        <div class="modal-dialog">
                            <div class="modal-content special-form">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">替换文件</h4>
                                </div>
                                <div class="modal-body special-form">
                                    <div class="row">
                                        <label class="col-sm-2 control-label select-mode">原因：</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" rows="4" cols="" ng-model="item.reason"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-cancel"
                                            ng-click="cancel()">取消</button>
                                    <button type="button" ngf-max-size="100MB" ngf-select="_uploadReplace($file,$invalidFiles,item)"
                                            class="btn btn-primary btn-confirm" id="forportid">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td ng-if="isChoose">
                    <label class="checkbox-inline choose">
                        <input type="checkbox" name="fileChoose{{$index}}" ng-click="_changeChoose($index, item.fileid)" class="px" ng-checked="item.isMettingAttachment == '1'"/>
                        <span class="lbl">&nbsp;</span>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-hover datatable table-text-mid table-light" ng-if="isShowMeetingAttachment">
            <thead>
            <tr>
                <th width="20%" ng-if="businessType != 'bulletin'">资源类型</th>
                <th width="20%">附件内容</th>
                <th  width="12%">最后提交人</th>
                <th  width="15%">最后提交时间</th>
            </tr>
            </thead>
            <tbody ng-repeat="item in fileList" ng-if="item.isMettingAttachment == '1'" ng-init="outerIndex = $index">
            <tr>
                <td ng-if="businessType != 'bulletin'">
                    <span>{{item.type.ITEM_NAME}}</span>
                </td>
                <td>
                    <a href="javascript:void(0);" ng-click="_download(item.download3d)" ng-if="!item.newFile">{{item.fileName}}</a>
                </td>
                <td>{{item.lastUpdateBy.NAME}}</td>
                <td>{{item.lastUpdateData}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>