<div class="row nobottom-mar">
	<div  class="col-sm-12 noleft-pad noright-pad">
		<div id="{{id}}">
			<div  id="model1"  data-toggle="modal" data-target="#commonOrgSinDialog_{{id}}"  class="select2-success">
				<div id="s2id_projectModel2" class="select2-container select2-container-multi form-control ng-untouched ng-valid ng-dirty ng-valid-parse">
					<ul class="select2-choices">
						<li class="select2-search-choice" ng-if="null != checkedCommonOrg[mappedKeyValue.nameField]">
							<div>{{checkedCommonOrg[mappedKeyValue.nameField]}}</div>
							<a ng-if="isEditable=='true'" class="select2-search-choice-close" tabindex="-1" ng-click="removeSelectedCommonOrg()"></a>
							<div ng-if="isEditable=='true'" class="full-drop"></div>
						</li>
						<li style="height:29px;"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	 <div ng-if="isEditable=='true'" id="commonOrgSinDialog_{{id}}" class="modal reporting-unit" tabindex="-1" role="dialog" style="display: none;">
		<direct-common-org-single-dialog id="{{id}}" checked-common-org="checkedCommonOrg"
		remove-selected-user="removeSelectedCommonOrg()" callback="callback" 
		mapped-key-value="mappedKeyValue"></direct-common-org-single-dialog>
	</div>
</div>

