 <div class="modal-dialog selection-pop">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" ng-click="cancelSelected()" data-dismiss="modal" aria-hidden="true">×</button>
             <h4 class="modal-title" id="myModalLabel">选择单位(单选)</h4>
         </div>
         <div class="modal-body">
				<div class="panel-body">
					<div class="row">
					    <label class="col-sm-1 control-label noleft-pad txl">已选</label>
					    <div class="col-sm-11 noleft-pad noright-pad">
					                   <div>
					                       <div class="select2-success">
					                           <div id="s2id_projectModel" class="select2-container select2-container-multi form-control ng-untouched ng-valid ng-dirty ng-valid-parse">
					                               <ul class="select2-choices">
					<li class="select2-search-choice" ng-if="null != tempCheckedCommonOrg.NAME">
					           <div>{{tempCheckedCommonOrg.NAME}}</div>
							<a class="select2-search-choice-close" tabindex="-1" ng-click="removeSelectedCommonOrg()"></a>
							<div class="full-drop"><input type="hidden" value="{{tempCheckedCommonOrg.VALUE}}"></div>
					</li>
					<li style="height:29px;"></li>
					                    </ul>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
                    <div class="panel-body unit-tree">
                         <div id="treeCommonOrg_{{id}}" class="ztree"></div>	
                    </div>
             	</div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" ng-click="cancelSelected()" data-dismiss="modal">取消</button>
             <button type="button" class="btn btn-primary" ng-click="saveSelected()" data-dismiss="modal">确定</button>
         </div>
     </div>
 </div>