 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" ng-click="cancelSelected()" data-dismiss="modal" aria-hidden="true">×</button>
             <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
         </div>
         <div class="modal-body person-container">
             <div class="row" style="margin-left: 0px;margin-right: 0px;">
             	<div class="col-sm-3 col-xs-6" ng-repeat="u in users">
             		<div class="person-unitbox">
	             		<label class="checkbox-inline">
	                        <input class="px" type="checkbox" value="{{u[mappedKeyValue.valueField]}}" name="{{u[mappedKeyValue.nameField]}}" ng-checked="true"/>
	                        <span class="lbl">{{u[mappedKeyValue.nameField]}}</span>
	                    </label>
             		</div>
             	</div>
             </div>
          </div>
          <div class="modal-body person-container panel">
            <div class="panel-heading search-box">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingApplicationLeader" style="text-decoration:none;" href="/#leaderBox">可选委员</a>
			</div>
			<div id="leaderBox" class="panel-collapse collapse row" style="margin-left: 0px;margin-right: 0px;">
             	<div class="col-sm-3 col-xs-6" ng-repeat="u in leaders">
             		<div class="person-unitbox">
	             		<label class="checkbox-inline">
	                        <input class="px" type="checkbox" value="{{u[mappedKeyValue.valueField]}}" name="{{u[mappedKeyValue.nameField]}}"/>
	                        <span class="lbl">{{u[mappedKeyValue.nameField]}}</span>
	                    </label>
             		</div>
             	</div>
            </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" ng-click="cancelSelected()" data-dismiss="modal">取消</button>
             <button type="button" class="btn btn-primary" ng-click="saveSelected()" data-dismiss="modal">确定</button>
         </div>
     </div>
 </div>