<div>
    <div class="">
        <!--流程图-->
        <!--标准-->
        <div class="imgArea" ng-if="processType == 'normal1'">
            <!--timeNode 为普通节点 activeNode 为节点运行过 activingNode 为节点正在审批-->
            <div class="nodeItem activeNode" nodeNum="1" style="top: 200px;left: 50px;">
                <!--节点前线 第一个节点没有-->
                <!--<div class="preLine"></div>-->
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>投资经理起草</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode" nodeNum="2" style="top: 200px;left:250px;">
                <div class="preLine" style="top: 4px;left: -187px;width: 188px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>业务区审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode" nodeNum="3" style="top: 200px;left: 460px;">
                <div class="preLine" style="top: 4px;left: -197px;width: 198px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px"><p>综合评审小组</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode " nodeNum="4" subNum="1" style="top: 120px;left: 630px;">
                <!--一个竖线一个直线-->
                <div class="preLine" style="top: 84px;left: -157px;width: 163px"></div>
                <div class="preLine" style="top: 48px;left: -31.5px;width: 77px;transform: rotate(90deg)"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:-25px;left:-94px"><p>法律分配</p></div>
                <div class="nodeInfo" style="top: -75px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode " nodeNum="4" subNum="2" style="top: 280px;left: 630px">
                <!--一个竖线-->
                <div class="preLine" style="top: -36px;left: -31.5px;width: 77px;transform: rotate(90deg)"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px"><p>分配审批任务</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetime">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem  activeNode" nodeNum="5" subNum="1" style="top: 120px;left: 820px">
                <!--一个竖线-->
                <div class="preLine" style="top: 4px;left: -177px;width:178px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:-25px;left:-94px"><p>法律负责人审批</p></div>
                <div class="nodeInfo" style="top: -75px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetime">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem  activeNode" nodeNum="5" subNum="2" style="top: 280px;left: 820px">
                <!--一个竖线-->
                <div class="preLine" style="top: 4px;left: -177px;width: 178px;"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px"><p>评审负责人审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode " nodeNum="6" style="top: 200px;left: 979px">
                <!--一个竖线-->
                <div class="preLine" style="top: -67px;left: -154px;width: 5px;height: 148px"></div>
                <!--一横-->
                <div class="preLine" style="top: 4px;left: -149px;width: 150px;"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px;"><p>评审负责人确认</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode activingNode" nodeNum="7" style="top: 200px;left: 1150px">
                <div class="preLine" style="top: 4px;left: -158px;width: 159px;"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px;"><p>单位负责人</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetime">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem " nodeNum="8" style="top: 200px;left: 1320px">
                <div class="preLine" style="top: 4px;left: -155.5px;width: 156.5px;"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName " style="top:30px;left:-94px;"><p>完成</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetime">2018-11-17 15:42</p>

                </div>
            </div>
        </div>

        <!--投标-->
        <div class="imgArea" ng-if="processType == 'toubiao'">
            <div class="nodeItem activeNode" nodeNum="1" style="top: 200px;left: 50px;">
                <!--节点前线 第一个节点没有-->
                <!--<div class="preLine"></div>-->
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>投资经理起草</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode" nodeNum="2" style="top: 200px;left:270px;">
                <div class="preLine" style="top: 4px;left: -206.5px;width: 207.5px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>大区审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode" nodeNum="3" style="top: 200px;left:540px;">
                <div class="preLine" style="top: 4px;left: -257px;width: 258px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>投资中心/水环境</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode" nodeNum="4" style="top: 200px;left:820px;">
                <div class="preLine" style="top: 4px;left: -267px;width: 268px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>分配任务</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode activingNode" nodeNum="5" style="top: 200px;left:1090px;">
                <div class="preLine" style="top: 4px;left: -257px;width: 258px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>评审负责人审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem " nodeNum="6" style="top: 200px;left:1320px;">
                <div class="preLine" style="top: 4px;left: -216px;width: 217px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>投资中心/水环境</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>


        </div>

        <!--其他-->
        <div class="imgArea" ng-if="processType == 'another'">
            <div class="nodeItem activeNode" nodeNum="1" style="top: 200px;left: 50px;">
                <!--节点前线 第一个节点没有-->
                <!--<div class="preLine"></div>-->
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>起草</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode" nodeNum="2" style="top: 200px;left:235px;">
                <div class="preLine" style="top: 4px;left: -172px;width: 173px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>单位负责人审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode " nodeNum="3" style="top: 200px;left:450px;">
                <div class="preLine" style="top: 4px;left: -202px;width: 203px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>业务负责人审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode" nodeNum="4" style="top: 200px;left:674px;">
                <div class="preLine" style="top: 4px;left: -211px;width: 212px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>分配任务</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode activingNode" nodeNum="5" subNum="1" style="top: 120px;left: 884px;">
                <!--一个竖线一个直线-->
                <div class="preLine" style="top: 84px;left: -197px;width: 202px"></div>
                <div class="preLine" style="top: 48px;left: -31.5px;width: 77px;transform: rotate(90deg)"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:-25px;left:-94px"><p>法律负责人审批</p></div>
                <div class="nodeInfo" style="top: -75px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode activingNode " nodeNum="5" subNum="2" style="top: 280px;left: 884px">
                <!--一个竖线-->
                <div class="preLine" style="top: -36px;left: -31.5px;width: 77px;transform: rotate(90deg)"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px"><p>评审负责人审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetime">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem  " nodeNum="6" style="top: 200px;left: 1320px">
                <!--上横-->
                <div class="preLine" style="top: -76px;left: -422px;width: 268px"></div>
                <!--下横-->
                <div class="preLine" style="top: 84.5px;left: -422px;width: 268px"></div>
                <!--一个竖线-->
                <div class="preLine" style="top: -76px;left: -154px;width: 5px;height: 165.5px"></div>
                <!--一横-->
                <div class="preLine" style="top: 4px;left: -149px;width: 150px;"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px;"><p>完成</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>

        </div>
        <!--其他2-->
        <div class="imgArea" ng-if="processType == 'normal'">
            <div class="nodeItem activeNode " nodeNum="1" style="top: 200px;left: 50px;">
                <!--节点前线 第一个节点没有-->
                <!--<div class="preLine"></div>-->
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>起草</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode activingNode" nodeNum="2" style="top: 120px;left:235px;">
                <div class="preLine" style="top: 84px;left: -171px;width: 177px"></div>
                <div class="preLine" style="top: 4px;left: 4px;width: 5px;height: 85px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:-25px;left: -94px"><p>单位负责人审批</p></div>
                <div class="nodeInfo" style="top: -75px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem activeNode activingNode" nodeNum="3" style="top: 280px;left:235px;">
                <div class="preLine" style="top: -72px;left: 4px;width: 5px;height: 73px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>业务负责人审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem " nodeNum="4" style="top: 200px;left:674px;">
                <div class="preLine" style="top: -76px;left: -425.5px;width: 203px"></div>
                <div class="preLine" style="top: 84.5px;left: -425.5px;width: 203px"></div>
                <div class="preLine" style="top: 4px;left: -220px;width: 221px"></div>
                <div class="preLine" style="top: -76px;left: -224px;width: 5px;height: 165.5px"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left: -94px"><p>分配任务</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem " nodeNum="5" subNum="1" style="top: 120px;left: 884px;">
                <!--一个竖线一个直线-->
                <div class="preLine" style="top: 84px;left: -197px;width: 202px"></div>
                <div class="preLine" style="top: 48px;left: -31.5px;width: 77px;transform: rotate(90deg)"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:-25px;left:-94px"><p>法律负责人审批</p></div>
                <div class="nodeInfo" style="top: -75px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem " nodeNum="5" subNum="2" style="top: 280px;left: 884px">
                <!--一个竖线-->
                <div class="preLine" style="top: -36px;left: -31.5px;width: 77px;transform: rotate(90deg)"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px"><p>评审负责人审批</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetime">2018-11-17 15:42</p>

                </div>
            </div>
            <div class="nodeItem  " nodeNum="6" style="top: 200px;left: 1320px">
                <!--上横-->
                <div class="preLine" style="top: -76px;left: -422px;width: 268px"></div>
                <!--下横-->
                <div class="preLine" style="top: 84.5px;left: -422px;width: 268px"></div>
                <!--一个竖线-->
                <div class="preLine" style="top: -76px;left: -154px;width: 5px;height: 165.5px"></div>
                <!--一横-->
                <div class="preLine" style="top: 4px;left: -149px;width: 150px;"></div>
                <!--节点-->
                <div class="timeNode"></div>
                <!--节点下的文字-->
                <div class="nodeName" style="top:30px;left:-94px;"><p>完成</p></div>
                <div class="nodeInfo" style="top: 55px;left: -95px">
                    <p class="operator">武国松</p>
                    <p class="opetimeYMD">2018-11-17 15:42</p>

                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row nobottom-mar">
            <div class="row-tit">审批意见</div>
        </div>
        <div class="fade widget-followers in active" id="approvalinfo">
            <ul class="apply-list">
                <li>
                    <div class="row" style="font-weight: bold;">
                        <div class="col-md-1">处理人</div>
                        <div class="col-md-2">审批状态</div>
                        <div class="col-md-2">审批环节</div>
                        <div class="col-md-5">审批意见</div>
                        <div class="col-md-2">审批时间</div>
                    </div>
                </li>
                <li ng-repeat="hi in auditLogs">
                    <div class="row">
                        <div class="col-md-1">{{hi.AUDITUSERNAME}}</div>

                        <div ng-if="hi.AUDITSTATUS=='A'" class="col-md-2">提交</div>
                        <div ng-if="hi.AUDITSTATUS=='B'" class="col-md-2">审批通过</div>
                        <div ng-if="hi.AUDITSTATUS=='C'" class="col-md-2">审批不通过</div>
                        <div ng-if="hi.AUDITSTATUS=='D'" class="col-md-2">退回投资经理</div>
                        <div ng-if="hi.AUDITSTATUS=='E'" class="col-md-2">提交固定小组成员</div>
                        <div ng-if="hi.AUDITSTATUS=='F'" class="col-md-2">分配任务</div>
                        <div ng-if="hi.AUDITSTATUS=='9' && hi.TASKDESC !='通过结束' && hi.TASKDESC !='不通过结束'"
                             class="col-md-2">待处理
                        </div>
                        <div ng-if="hi.AUDITSTATUS=='9' && (hi.TASKDESC =='通过结束' || hi.TASKDESC =='不通过结束')"
                             class="col-md-2"></div>
                        <div class="col-md-2">{{hi.TASKDESC}}</div>
                        <div class="col-md-5">{{hi.OPINION}}</div>
                        <div class="col-md-2">{{hi.AUDITTIME | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row nobottom-mar">
            <div class="row-tit"><a href="javaScript:void(0)"
                                    ng-click="showImg != null&&showImg == true?showImg = false:showImg = true">显示流程图</a>
            </div>
        </div>
        <div class="bpm-img" style="position:relative" ng-show="showImg">
            <img ng-src="{{srvInfo.srvUrl}}bpm/WorkFlow/getBpmImg?processDefinitionId={{wf.processDefinitionId}}">
            <div ng-repeat="node in wf.currentNodes"
                 ng-style="{position:'absolute',border:'2px solid','border-color':'red',width:node.width+1,height:node.height,left:node.left-1,top:node.top}"></div>
        </div>


    </div>
</div>
