<div>
    <div class="panel-heading">
    <a class="accordion-toggle collapsed" href="/#reviewComments" data-parent="#professionalReviewComments" data-toggle="collapse"><span class="text">初步评审意见<i class="i-triangle"></i></span></a>
</div>
    <div id="reviewComments" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="row">
            <div class="txl">
               <!-- <button  type="button" class="btn btn-info isdisabled" ><i class="glyphicon glyphicon-plus"></i>新增</button>
                <button  type="button" class="btn btn-info isdisabled" ><i class="glyphicon glyphicon-trash"></i>删除</button>-->
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center reviewCommentsTable">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>序号</th>
                        <th>意见类型</th>
                        <th>具体内容</th>
                        <th>反馈要求</th>
                        <th>投资经理反馈</th>
                    </tr>
                    </thead>
                    <tbody id="commentList">
                    <tr ng-repeat="m in pre.approveAttachment.commentsList track by $index">
                        <td class="txc">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="px isdisabled" ng-model="m.selected" disabled>
                                <span class="lbl">&nbsp;</span>
                            </label>
                        </td>
                        <td class="txc">{{ $index + 1 }}</td>
                        <td>
                            <div class="row">
                                <select disabled ng-model="m.opinionType" ng-options="ot.ITEM_NAME for  ot in optionTypeList track by ot.ITEM_CODE" name="" id="" class="form-control isdisabled">
                                    <option value="">请选择...</option>
                                </select>
                            </div>
                            <div class="row nobottom-mar">
                                <input type="text" style="border:0;width:100%;color:red;background-color:#ffffff;text-align:center;" disabled ng-model="m.commentDate" value="{{m.commentDate}}"/>
                            </div>
                        </td>
                        <td>
                            <textarea disabled name="" ng-model="m.commentConent"  rows="" cols="" class="form-control isdisabled" ></textarea>
                        </td>
                        <td>
                            <textarea disabled name="" ng-model="m.commentFeedback" rows="" cols="" class="form-control isdisabled"></textarea>
                        </td>
                        <td class="attachmentTd">
                            <div class="row">
                                <textarea disabled name="" ng-model="m.commentDepartment"  rows="" cols="" class="form-control isdisabledes"></textarea>
                            </div>
                            <div class="row nobottom-mar">
                                <div class="col-sm-12 noleft-pad noright-pad">
                                    <span ng-bind="progress$index"></span>
                                    <span style="">{{errorAttach[$index].msg}}</span>
                                    <input type="hidden" ng-model="m.fileName.filePath" />
                                    <a class="attachmentBox" href="javascript:void(0);" ng-click="downLoadFile(m.fileName.filePath)">{{m.fileName.fileName}}</a>
                                    <button disabled class="btn btn-info attachmentBtn isdisabledes" ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles, $index)">浏览</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="tr-max">
                        <td colspan="2" rowspan="2"></td>
                        <td>重点风险提示</td>
                        <td colspan="3">
                            <textarea disabled name="riskWarning"  rows="" cols="" ng-model="pre.approveAttachment.riskWarning" class="form-control isdisabled"></textarea>
                        </td>
                    </tr>
                    <tr class="tr-max">
                        <td>要求反馈时间</td>
                        <td colspan="3">
                            <div class="has-feedback">
                                <input disabled type="text" id="feedbackTime"  name="" ng-model="pre.approveAttachment.feedbackTime" class="form-control isdisabled" />
                                <i class="fa fa-calendar form-control-feedback"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="txl">
                <!--<button  type="button" disabled class="btn btn-info isdisabled"  ng-click="addAttachment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
                <button  type="button" disabled class="btn btn-info isdisabled" ng-click="deleteComment(1)"><i class="glyphicon glyphicon-trash"></i>删除</button>-->
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center attachmentTable">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>需更新附件</th>
                        <th>最新版本附件</th>
                    </tr>
                    </thead>
                    <tbody id="attachmentList">
                    <tr ng-repeat="m in pre.approveAttachment.attachment">
                        <td class="txc">
                            <label class="checkbox-inline">
                                <input disabled type="checkbox" class="px isdisabled" ng-model="m.selected">
                                <span class="lbl">&nbsp;</span>
                            </label>
                        </td>
                        <td>  <!--  ng-options="f.UUID as f.ITEM_NAME for f in  dic.fileName track by f.UUID"-->
                            <select disabled ng-model="m.attachmentUList"  ng-options="f.ITEM_NAME for f in fileName track by f.UUID" class="form-control isdisabled">
                                <option value="">---请选择---</option>
                            </select>
                        </td>
                        <td class="attachmentTd">
                            <div class="row nobottom-mar">
                                <div class="col-sm-12 noleft-pad noright-pad">
                                    <span ng-bind="progress$index"></span>
                                    <span style="">{{errorAttach[$index].msg}}</span>
                                    <input type="hidden" ng-model="m.attachment_new.filePath" />
                                    <a class="attachmentBox" href="javascript:void(0);" ng-click="downLoadFile(m.attachment_new.filePath)">{{m.attachment_new.fileName}}</a>
                                    <button disabled class="btn btn-info attachmentBtn isdisabledes" ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles, $index,m.attachmentUList)">浏览</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>