<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
         	<div class="row">
				<label class="col-sm-4 control-label">上传决策通知书附件：</label>
				<div class="col-sm-8">
					<button type="button" class="btn btn-info" ngf-max-size="100MB" style="margin-top:0;" ngf-select="upload($file,$invalidFiles, $index)">浏览</button>
					<span ng-bind="progress$index"></span>
					<a href="javascript:void(0);" ng-click="$parent.$parent.downLoadFile(attachment)" style="line-height: 27px;">{{attachment.fileName}}</a>
				</div>
			</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal" ng-click="cancel()">取消</button>
            <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="submit()">确定</a>
        </div>
    </div>
</div>