    <div class="special-form">
        <div class="row">
            <label class="col-sm-2 control-label">所属大区</label>
                <div class="col-sm-4">
					<input type="text" readonly class="form-control" id="pertainArea" name="pertainArea" ng-model="pre.apply.pertainArea.VALUE" placeholder="" readonly>
					<input type="hidden" class="form-control" id="pertainAreaKey" name="pertainAreaKey" ng-model="pre.apply.pertainArea.KEY">
				</div>
            <label class="col-sm-2 control-label">项目编号</label>
            <div class="col-sm-4">
                <input ng-show="pre.apply.projectNoNew != null" type="text" class="form-control" id="projectNoNew" name="projectNoNew" ng-model="pre.apply.projectNoNew" placeholder="" readonly/>
                <input ng-show="pre.apply.projectNoNew == null" type="text" class="form-control" id="projectNo1" name="projectNo1" ng-model="pre.apply.projectNo" placeholder="" readonly/>
                <input type="hidden" class="form-control" id="projectNo" name="projectNo" ng-model="pre.apply.projectNo" placeholder="" readonly/>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">投资经理</label>
            <div class="col-sm-4 has-feedback">
                <div class="full-drop">
                    <input type="text" readonly  class="form-control"  id="investmentManagerName" name="investmentManagerName" ng-model="pre.apply.investmentManager.NAME" >
                    <input type="hidden"  id="investmentManagerValue" name="investmentManagerValue"  ng-model="pre.apply.investmentManager.VALUE"/>
                </div>
            </div>
            <label class="col-sm-2 control-label">项目归属单位负责人</label>
            <div class="col-sm-4">
                <div class="full-drop">
                    <input type="text" readonly  class="form-control" id="companyHeaderName" name="companyHeaderName" ng-model="pre.apply.companyHeader.NAME"   >
                    <input type="hidden"  id="companyHeaderValue" name="companyHeaderValue"  ng-model="pre.apply.companyHeader.VALUE"/>
               </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">项目名称</label>
            <div class="col-sm-4">
                <input type="text" readonly  class="form-control" name="projectName" ng-model="pre.apply.projectName" />
            </div>
            <label class="col-sm-2  control-label">项目所在地</label>
            <div class="col-sm-4">
                <input type="text" readonly  class="form-control" name="projectAddress" ng-model="pre.apply.projectAddress" >
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">业务类型</label>
            <div id="headerserviceTypebox" class="col-sm-4">
                <div class="select2-success">
                    <input name="serviceTypeboxName" readonly id="serviceTypeboxName" class="form-control" ng-model="pre.apply.serviceType">
                </div>
            </div>
            <label class="col-sm-2 control-label">基层法务</label>
            <div class="col-sm-4">
                <div class="full-drop">
                    <input type="text" readonly  class="form-control" id="grassrootsLegalStaffName" name="grassrootsLegalStaffName" ng-model="pre.apply.grassrootsLegalStaff.NAME"/>
                    <input type="hidden"  id="grassrootsLegalStaffValue" name="grassrootsLegalStaffValue"  ng-model="pre.apply.grassrootsLegalStaff.VALUE"/>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">投资模式</label>
            <div id="headerprojectmodebox" class="col-sm-4">
                <div class="select2-success">
                    <input class="form-control" readonly id="projectmodeboxName" name="projectmodeboxName" ng-model="pre.apply.projectModel" />
                </div>
            </div>
            <label class="col-sm-2 control-label">项目投资总额</label>
            <div class="col-sm-4">
                <input type="text"  class="form-control" readonly name="investMoney" ng-model="pre.apply.investMoney">
            </div>

        </div>
        <div class="row">
            <label class="col-sm-2 control-label">项目规模</label>
            <div class="col-sm-4">
                <input readonly  class="form-control" name="projectSize" ng-model="pre.apply.projectSize" placeholder=""/>
            </div>
            <label class="col-sm-2 control-label">单体项目数</label>
            <div class="col-sm-4 has-feedback">
                <input type="text"  readonly class="form-control" name="projectNum" ng-model="pre.apply.projectNum" placeholder="">
                <span class="unit-n">个</span>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">拟投标时间</label>
            <div class="col-sm-4 has-feedback" ng-if="pre.apply.tenderTime.length > 10">
                <input type="text" readonly  id="tenderTime" name="" value="{{pre.apply.tenderTime | limitTo:10}}" class="form-control" />
                <i class="fa fa-calendar form-control-feedback"></i>
                <span id="showdate" ></span>
            </div>
            <div class="col-sm-4 has-feedback" ng-if="pre.apply.tenderTime.length <= 10">
                <input type="text" readonly  id="tenderTime1" name="" ng-model="pre.apply.tenderTime " class="form-control" />
                <i class="fa fa-calendar form-control-feedback"></i>
                <span id="showdate1" ></span>
            </div>
            <div class="col-sm-4 has-feedback" ng-if="pre.apply.tenderTime == null"></div>
            <label class="col-sm-2 control-label">竞争对手</label>
            <div class="col-sm-4">
                <input type="text"  readonly class="form-control" id="competitor" name="competitor" ng-model="pre.apply.competitor" />
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">市场投资中心项目负责人</label>
            <div class="col-sm-4">
                <input type="text" readonly  class="form-control" name="investmentPersonName" id="investmentPersonName"   ng-model="pre.apply.investmentPerson.NAME" >
                <input type="hidden" name="investmentPersonValue" ng-model="pre.apply.investmentPerson.VALUE">
            </div>
            <!--<div class="col-sm-4">
                <div class="col-sm-6 noleft-pad noright-pad has-feedback">
                    <input type="text" readonly  class="form-control" name="investmentPersonName" id="investmentPersonName"   ng-model="pre.apply.investmentPerson.NAME" >
                    <input type="hidden" name="investmentPersonValue" ng-model="pre.apply.investmentPerson.VALUE">
                </div>
                <div id="directPersonMin" class="col-sm-6 noright-pad has-feedback">
                    <input type="text"  readonly class="form-control" name="directPersonName" id="directPersonName" ng-model="pre.apply.directPerson.NAME">
                    <input type="hidden" name="directPersonValue" ng-model="pre.apply.directPerson.VALUE" >
                </div>
            </div>-->
            <label class="col-sm-2 control-label">保证金支付时间</label>
            <div class="col-sm-4 has-feedback" ng-if="pre.apply.paymentTime.length > 10">
                <input type="text" readonly  id="paymentTime" value="{{pre.apply.paymentTime | limitTo:10}}" class="form-control" />
                <i class="fa fa-calendar form-control-feedback"></i>
            </div>
            <div class="col-sm-4 has-feedback" ng-if="pre.apply.paymentTime.length <= 10">
                <input type="text" readonly  id="paymentTime1" ng-model="pre.apply.paymentTime " class="form-control" />
                <i class="fa fa-calendar form-control-feedback"></i>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">风控介入类型</label>
            <div class="col-sm-4 has-feedback">
                <input type="text" readonly  ng-if="pre.apply.pre_type == 1" class="form-control"  placeholder="深入介入投标"/>
                <input type="text" readonly  ng-if="pre.apply.pre_type != 1" class="form-control"  placeholder="轻度介入投标"/>
            </div>
            <label class="col-sm-2 control-label">申请填写日期</label>
            <div class="col-sm-4 has-feedback">
                <input type="text" readonly class="form-control"  id="showCreateDate" name="showCreateDate" ng-model="pre.showCreateDate" />
                <input type="hidden" readonly class="form-control"  id="create_date" name="create_date" ng-model="pre.create_date" />
                <i class="fa fa-calendar form-control-feedback"></i>
            </div>
        </div>
        <div class="row" ng-if="null!=yjdw && ''!=yjdw">
            <label class="col-sm-2 control-label">投资中心/水环境投资中心意见</label>
            <div class="col-sm-10 ">
                <div class="reason"><textarea class="form-control" readonly  name="reason">{{yjdw}}</textarea></div>
            </div>
        </div>
        <div class="row" ng-if="projectCodeSameList != null">
            <label class="col-sm-2 control-label">相关项目</label>
            <table class="table table-bordered">
                <thead>
                <th style="text-align: center;" width="4%">
                    序号
                </th>
                <th style="text-align: center;" width="30%">
                    评审名称
                </th>
                <th style="text-align: center;" width="8%">
                    评审类型
                </th>
                <th style="text-align: center;" width="8%">
                    评审状态
                </th>
                <th style="text-align: center;" width="10%">
                    投资经理
                </th>
                <th style="text-align: center;" width="10%">
                    评审负责人
                </th>
                <th style="text-align: center;" width="10%">
                    法务负责人
                </th>
                <th style="text-align: center;" width="10%">
                    申请时间
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="projectCodeSame in projectCodeSameList">
                    <td align="center">
                        {{ $index + 1 }}
                    </td>
                    <td>
                        <a ng-if="'pfr'==projectCodeSame.PROJECT_TYPE" target="_blank"
                           href="#/projectInfoAllBoardView/{{projectCodeSame.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}"
                           title="{{projectCodeSame.PROJECTNAME}}">
                            {{projectCodeSame.PROJECTNAME|projectNameFilter:25}}</a>
                        <a ng-if="'pre'==projectCodeSame.PROJECT_TYPE" target="_blank"
                           href="#/projectPreInfoAllBoardView/{{projectCodeSame.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}"
                           title="{{projectCodeSame.PROJECTNAME}}">
                            {{projectCodeSame.PROJECTNAME|projectNameFilter:25}}</a>
                        <a ng-if="'bulletin'==projectCodeSame.PROJECT_TYPE" target="_blank"
                           href="#/projectBulletinInfoAllBoardView/{{projectCodeSame.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}"
                           title="{{projectCodeSame.PROJECTNAME}}">
                            {{project.projectCodeSame|projectNameFilter:25}}</a>
                    </td>
                    <td>
                        <div ng-if="'pfr'==projectCodeSame.PROJECT_TYPE">正式评审</div>
                        <div ng-if="'pre'==projectCodeSame.PROJECT_TYPE">投标评审</div>
                        <div ng-if="'bulletin'==projectCodeSame.PROJECT_TYPE">其他评审</div>
                    </td>
                    <td>
                        <a style="color: black" ng-if="'1'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">申请阶段</a>
                        <a style="color: black" ng-if="'2'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">风控评审</a>
                        <a style="color: black" ng-if="'3'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">风控评审</a>
                        <a style="color: black" ng-if="'4'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">准备上会</a>
                        <a style="color: black"
                           ng-if="'5'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">已上会，未表决</a>
                        <a style="color: black"
                           ng-if="'6'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">已上会，已决策</a>
                        <a style="color: black"
                           ng-if="'7'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">已上会，已决策</a>
                        <a style="color: black"
                           ng-if="'9'== projectCodeSame.STAGE && '3'!= projectCodeSame.WF_STATE">已审批，无需上会</a>
                    </td>
                    <td align="center">
                        {{ projectCodeSame.INVESTMENTNAME }}
                    </td>
                    <td align="center">
                        {{ projectCodeSame.REVIEWPERSONNAME }}
                    </td>
                    <td align="center">
                        {{ projectCodeSame.LEGALREVIEWPERSONNAME }}
                    </td>
                    <td align="center">
                        {{ projectCodeSame.APPLY_DATE|projectTimeFilter: 10 }}
                    </td>

                </tr>
                </tbody>
            </table>
        </div>


      </div>
