<div class="panel-body">
    <!--form表单开始-->
    <form class="form-horizontal" name="myFormPfR" id="myFormPfR"   novalidate>
        <div class="">
            <div class="header detail-page">
                <img src="assets/images/icons/detail.png" width="" height="" alt="" title="" /><span class="hd-title">{{title}}</span>
            </div>
            <div class="panel">
                <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">{{title}}<i class="i-triangle"></i></span></div></div>
                <div class="panel-body">
                    <div class="tab-content tab-content-bordered">
                        <div class="tab-pane in active special-form" id="contracts_file_info">
                            <div class="row">
                                <label class="col-sm-2 control-label">所属大区</label>
                                <div class="col-sm-4 has-feedback reporting-unit">
                                    <div class="full-drop">
                                        <input type="text" class="form-control" data-toggle="modal" data-target="#myModal" id="pertainArea" name="pertainArea" ng-model="pre.apply.pertainArea.VALUE"/>
                                        <input type="hidden" class="form-control" id="pertainAreaKey" name="pertainAreaKey" ng-model="pre.apply.pertainArea.KEY"/>
                                        <div  id="myModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" ng-click="" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title" id="myModalLabel">所属大区选择</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="drop-menu one-choice">
                                                            <div id="treeID1" class="ztree"></div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">项目编号</label>
                                <div class="col-sm-4">
                                    <input type="text" readonly class="form-control" id="projectNo" name="projectNo" ng-model="pre.apply.projectNo" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">投资经理</label>
                                <div class="col-sm-4 has-feedback">
                                    <div class="full-drop">
                                        <input type="text" readonly  class="form-control"  id="investmentManagerName" name="investmentManagerName" ng-model="pre.apply.investmentManager.NAME" >
                                        <input type="hidden"  id="investmentManagerValue" name="investmentManagerValue"  ng-model="pre.apply.investmentManager.VALUE"/>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">项目归属单位负责人</label>
                                <div  id="companyHeader-type-box" class="col-sm-4">
                                    <div id="headercompanyHeaderName">
                                        <div ng-click="setDirectiveParam('companyHeader',0)"  data-toggle="modal" data-target="#userRaido-modal"   class="select2-success">
                                            <div id="s2id_projectModel" class="select2-container select2-container-multi form-control ng-untouched ng-valid ng-dirty ng-valid-parse">
                                                <ul class="select2-choices">
                                                    <li class="select2-search-field">
                                                        <div class="full-drop">
                                                            <input id="s2id_autogen2" class="select2-input" type="text" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" style="width: 16px;"/>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="companyHeaderName" name="companyHeaderName" ng-model="pre.apply.companyHeader.NAME" value="{{pre.apply.companyHeader.NAME}}" />
                                    <input type="hidden" id="companyHeaderValue" name="companyHeaderValue" ng-model="pre.apply.companyHeader.VALUE"  />
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">项目名称</label>
                                <div class="col-sm-4">
                                    <input type="text"  data-toggle="modal" data-target="#companyProjectName-modal" class="form-control" id="projectName" name="projectName" ng-model="pre.apply.projectName" value="{{pre.apply.projectName}}"/>
                                </div>
                                <label class="col-sm-2  control-label">项目所在地</label>
                                <div class="col-sm-4">
                                    <input type="text"  class="form-control" name="projectAddress" ng-model="pre.apply.projectAddress" >
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">业务类型</label>
                                <div id="headeroneservicetypebox"  class="col-sm-4">
                                    <div class="select2-success">
                                        <select multiple="multiple" name="oneservicetypeboxName" id="oneservicetypeboxName" class="form-control" ng-model="pre.apply.serviceType"
                                                ng-options="sy.VALUE for sy in dicSyn.Syncbusinessmodel track by sy.KEY">
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">项目投资总额</label>
                                <div class="col-sm-4">
                                    <input type="text"  class="form-control" name="investMoney" ng-model="pre.apply.investMoney">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">投资模式</label>
                                <div class="col-sm-1 noright-pad">
                                    <label class="checkbox-inline">
                                        <input class="px" type="checkbox" ng-model="investmentModel" ng-change="changeInvestmentModel()" id="investmentModel" name="investmentModel"/>
                                        <span class="lbl">PPP</span>
                                    </label>
                                </div>
                                <div id="headerprojectmodebox" class="col-sm-3 noleft-pad">
                                    <div class="select2-success">
                                        <select multiple="multiple" id="projectmodeboxName" name="projectmodeboxName" class="form-control"  ng-model="pre.apply.projectModel"
                                                ng-options="pm.VALUE for pm in dicSyn.projectModelValue track by pm.KEY">
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">单体项目数</label>
                                <div class="col-sm-4 has-feedback">
                                    <input type="text"  class="form-control" name="projectNum" ng-model="pre.apply.projectNum" placeholder="">
                                    <span class="unit-n">个</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">项目规模</label>
                                <div class="col-sm-4">
                                    <input  class="form-control" name="projectSize" ng-model="pre.apply.projectSize" placeholder=""/>
                                </div>
                                <label class="col-sm-2 control-label">竞争对手</label>
                                <div class="col-sm-4">
                                    <input type="text"  class="form-control" id="competitor" name="competitor" ng-model="pre.apply.competitor" />
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">拟投标时间</label>
                                <div class="col-sm-4 has-feedback">
                                    <input type="text"  id="tenderTime" name="" value="{{pre.apply.tenderTime}}" ng-model="pre.apply.tenderTime" class="form-control" />
                                    <i class="fa fa-calendar form-control-feedback"></i>
                                    <span id="showdate" ></span>
                                </div>
                                <label class="col-sm-2 control-label">保证金支付时间</label>
                                <div class="col-sm-4 has-feedback">
                                    <input type="text"  id="paymentTime" value="{{pre.apply.paymentTime}}" ng-model="pre.apply.paymentTime" class="form-control" />
                                    <i class="fa fa-calendar form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">投资中心/水环境投资中心项目负责人</label>
                                <div class="col-sm-4 has-feedback">
                                    <div id="headerinvestmentPersonName" class="col-sm-6 noleft-pad noright-pad"
                                         style="width: calc(50% - 2.5px);margin-right: 5px">
                                        <div ng-click="setDirectiveParam('investmentPerson',0)"  data-toggle="modal" data-target="#userRaido-modal"  class="select2-success">
                                            <div  class="select2-container select2-container-multi form-control ng-untouched ng-valid ng-dirty ng-valid-parse">
                                                <ul class="select2-choices">
                                                    <li class="select2-search-field">
                                                        <div class="full-drop">
                                                            <input class="select2-input" type="text" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" style="width: 16px;" placeholder="区域负责人">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="investmentPersonName" name="investmentPersonName" ng-model="pre.apply.investmentPerson.NAME" value="{{pre.apply.investmentPerson.NAME}}" />
                                    <input type="hidden" id="investmentPersonValue" name="investmentPersonValue" ng-model="pre.apply.investmentPerson.VALUE"  />

                                    <div id="headerdirectPersonName" class="col-sm-6 noleft-pad noright-pad" style="width: calc(50% - 2.5px)">
                                        <div ng-click="setDirectiveParam('directPerson',0)"  data-toggle="modal" data-target="#userRaido-modal"  class="select2-success">
                                            <div  class="select2-container select2-container-multi form-control ng-untouched ng-valid ng-dirty ng-valid-parse">
                                                <ul class="select2-choices">
                                                    <li class="select2-search-field">
                                                        <div class="full-drop">
                                                            <input class="select2-input" type="text" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" style="width: 16px;" placeholder="直接负责人">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="directPersonName" name="directPersonName" ng-model="pre.apply.directPerson.NAME" value="{{pre.apply.directPerson.NAME}}" />
                                    <input type="hidden" id="directPersonValue" name="directPersonValue" ng-model="pre.apply.directPerson.VALUE"  />
                                </div>
                                <label class="col-sm-2 control-label">申请填写日期</label>
                                <div class="col-sm-4 has-feedback">
                                    <input type="text" readonly class="form-control"  id="create_date" name="create_date" ng-model="pre.create_date" />
                                    <i class="fa fa-calendar form-control-feedback"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-group">
            <div class="row">
                <div class="option txl">
                    <button class="btn btn-info" type="button"  id="viewlbtn" ng-click="cancel()">返回</button>
                    <button ng-if="flag == 1" type="button" ng-click="save()" id="savebtn" class="btn btn-info"><i class="fa fa-save"></i>保存</button>
                    <button ng-if="flag == 2" type="button" ng-click="update()" id="updatebtn" class="btn btn-info"><i class="fa fa-save"></i>保存</button>
                    <div id="submitModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
                        <approve-pop-win approve="approve"></approve-pop-win>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<directive-user-list ></directive-user-list>
<directive-user-radio-list></directive-user-radio-list>
<directive-company-list></directive-company-list>

<script type="text/javascript">
    angular.element(document).ready(function() {
        var options = {
            todayBtn: "linked",
            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
        }
        $('#bs-datepicker-edit').datepicker();
        $('#tenderTime').datepicker(options);
        $('#paymentTime').datepicker(options);
        var date = new Date();
        date.setDate(date.getDate());
        var curDate = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
        var tenderOptions = {
            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto',
            startDate:curDate
        }
        $('#expectedContractDate').datepicker(tenderOptions);
        $("#headeroneservicetypebox select").select2();
        $("#headerprojectmodebox select").select2();
    });
</script>