<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.newProjectBoard.dao.IProjectBoardMapper">
	<!-- 查询项目列表, 查询角色绑定的项目以及本人参与审批的项目 -->
	<select id="getRoleProjectList" resultType="map"  parameterType="map">
	  SELECT *
        FROM (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI
               WHERE FI.BUSINESSID IN
                    (SELECT DISTINCT (BUSINESS_ID)
                       FROM (SELECT PR.BUSINESS_ID
                               FROM SYS_PROJECT_ROLE PR
                              WHERE 1 = 1
                                AND PR.ROLE_ID IN
                                   (SELECT UR.ROLE_ID
                                      FROM SYS_USER_ROLE UR
                                     WHERE UR.USER_ID = #{userId})
                                       AND PR.PROJECT_TYPE = 'pfr'

                              UNION ALL

                              SELECT FL.BUSINESSID BUSINESS_ID
                                FROM RCM_FORMALASSESSMENT_LOG FL
                               WHERE FL.AUDITUSERID = #{userId}))

        UNION ALL

        SELECT PI.ID,
               PI.BUSINESSID,
               PI.PROJECTNAME,
               'pre' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
               PI.CREATE_DATE,
               PI.WF_STATE,
               PI.OLDDATA,
               PI.APPLY_DATE,
               PI.STAGE
          FROM RCM_PRE_INFO PI
         WHERE PI.BUSINESSID IN
                  (SELECT DISTINCT (BUSINESS_ID)
                     FROM (SELECT PR.BUSINESS_ID
                             FROM SYS_PROJECT_ROLE PR
                            WHERE 1 = 1
                              AND PR.ROLE_ID IN
                                 (SELECT UR.ROLE_ID
                                    FROM SYS_USER_ROLE UR
                                   WHERE UR.USER_ID = #{userId})
                                     AND PR.PROJECT_TYPE = 'pre'

                                  UNION ALL
                          
                                  SELECT PL.BUSINESSID BUSINESS_ID
                                    FROM RCM_PRE_LOG PL
                                   WHERE PL.AUDITUSERID = #{userId}))

        UNION ALL

        SELECT BI.ID,
               BI.BUSINESSID,
               BI.BULLETINNAME PROJECTNAME,
               'bulletin' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
               BI.CREATETIME CREATE_DATE,
               BI.AUDITSTATUS WF_STATE,
               '0' OLDDATA,
               BI.APPLYTIME APPLY_DATE,
               DECODE(BI.STAGE, '1.5', '3' ,'2', '3', '3', '5' ,  '4', '6','5' ,'7') STAGE
          FROM RCM_BULLETIN_INFO BI
         WHERE BI.BUSINESSID IN
              (SELECT DISTINCT (BUSINESS_ID)
                 FROM (SELECT PR.BUSINESS_ID
                         FROM SYS_PROJECT_ROLE PR
                        WHERE 1 = 1
                          AND PR.ROLE_ID IN
                             (SELECT UR.ROLE_ID
                                FROM SYS_USER_ROLE UR
                               WHERE UR.USER_ID = #{userId})
                                 AND PR.PROJECT_TYPE = 'bulletin'
                             
                              UNION ALL
                             
                              SELECT BL.BUSINESSID BUSINESS_ID
                                FROM RCM_BULLETIN_LOG BL
                               WHERE BL.AUDITUSERID = #{userId}))) T
      WHERE 1 = 1
        AND T.WF_STATE <![CDATA[ <> ]]> '0'
    	<if test="wf_state_n != null and wf_state_n != ''"> and	T.WF_STATE <![CDATA[ <> ]]> '${wf_state_n}'</if>
    	<if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	<if test="projectType != null and projectType != ''"> and	T.PROJECT_TYPE like '%${projectType}%' </if>
    	<if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	<if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	<if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	<if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	<if test="stageList != null"> and T.STAGE in
	       <foreach collection="stageList" item="stage" open="(" close=")" separator=",">
			 　#{stage}
		   </foreach>
		</if>
      ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询项目列表, 查询角色绑定的项目以及本人参与审批的项目数量 -->
	<select id="getRoleProjectListCount" resultType="int"  parameterType="map">
	  SELECT COUNT(*)
        FROM (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI
               WHERE FI.BUSINESSID IN
                    (SELECT DISTINCT (BUSINESS_ID)
                       FROM (SELECT PR.BUSINESS_ID
                               FROM SYS_PROJECT_ROLE PR
                              WHERE 1 = 1
                                AND PR.ROLE_ID IN
                                   (SELECT UR.ROLE_ID
                                      FROM SYS_USER_ROLE UR
                                     WHERE UR.USER_ID = #{userId})
                                       AND PR.PROJECT_TYPE = 'pfr'

                              UNION ALL

                              SELECT FL.BUSINESSID BUSINESS_ID
                                FROM RCM_FORMALASSESSMENT_LOG FL
                               WHERE FL.AUDITUSERID = #{userId}))

        UNION ALL

        SELECT PI.ID,
               PI.BUSINESSID,
               PI.PROJECTNAME,
               'pre' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
               PI.CREATE_DATE,
               PI.WF_STATE,
               PI.OLDDATA,
               PI.APPLY_DATE,
               PI.STAGE
          FROM RCM_PRE_INFO PI
         WHERE PI.BUSINESSID IN
                  (SELECT DISTINCT (BUSINESS_ID)
                     FROM (SELECT PR.BUSINESS_ID
                             FROM SYS_PROJECT_ROLE PR
                            WHERE 1 = 1
                              AND PR.ROLE_ID IN
                                 (SELECT UR.ROLE_ID
                                    FROM SYS_USER_ROLE UR
                                   WHERE UR.USER_ID = #{userId})
                                     AND PR.PROJECT_TYPE = 'pre'

                                  UNION ALL
                          
                                  SELECT PL.BUSINESSID BUSINESS_ID
                                    FROM RCM_PRE_LOG PL
                                   WHERE PL.AUDITUSERID = #{userId}))

        UNION ALL

        SELECT BI.ID,
               BI.BUSINESSID,
               BI.BULLETINNAME PROJECTNAME,
               'bulletin' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
               BI.CREATETIME CREATE_DATE,
               BI.AUDITSTATUS WF_STATE,
               '0' OLDDATA,
               BI.APPLYTIME APPLY_DATE,
               DECODE(BI.STAGE, '1.5', '3' , '2', '3', '3', '5' , '4', '6', '5' ,'7') STAGE
          FROM RCM_BULLETIN_INFO BI
         WHERE BI.BUSINESSID IN
              (SELECT DISTINCT (BUSINESS_ID)
                 FROM (SELECT PR.BUSINESS_ID
                         FROM SYS_PROJECT_ROLE PR
                        WHERE 1 = 1
                          AND PR.ROLE_ID IN
                             (SELECT UR.ROLE_ID
                                FROM SYS_USER_ROLE UR
                               WHERE UR.USER_ID = #{userId})
                                 AND PR.PROJECT_TYPE = 'bulletin'
                             
                              UNION ALL
                             
                              SELECT BL.BUSINESSID BUSINESS_ID
                                FROM RCM_BULLETIN_LOG BL
                               WHERE BL.AUDITUSERID = #{userId}))) T
      WHERE 1 = 1
        AND T.WF_STATE <![CDATA[ <> ]]> '0'
    	<if test="wf_state_n != null and wf_state_n != ''"> and	T.WF_STATE <![CDATA[ <> ]]> '${wf_state_n}'</if>
    	<if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	<if test="projectType != null and projectType != ''"> and	T.PROJECT_TYPE like '%${projectType}%' </if>
    	<if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	<if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	<if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	<if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	<if test="stageList != null"> and T.STAGE in
	       <foreach collection="stageList" item="stage" open="(" close=")" separator=",">
			 　#{stage}
		   </foreach>
		</if>
      ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询项目列表, 查询所有项目 -->
	<select id="getALLProjectList" resultType="map"  parameterType="map">
	  SELECT *
        FROM (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI

        UNION ALL

        SELECT PI.ID,
               PI.BUSINESSID,
               PI.PROJECTNAME,
               'pre' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
               PI.CREATE_DATE,
               PI.WF_STATE,
               PI.OLDDATA,
               PI.APPLY_DATE,
               PI.STAGE
          FROM RCM_PRE_INFO PI

        UNION ALL

        SELECT BI.ID,
               BI.BUSINESSID,
               BI.BULLETINNAME PROJECTNAME,
               'bulletin' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
               BI.CREATETIME CREATE_DATE,
               BI.AUDITSTATUS WF_STATE,
               '0' OLDDATA,
               BI.APPLYTIME APPLY_DATE,
               DECODE(BI.STAGE, '1.5', '3', '2', '3', '3', '5' , '4', '6','5' ,'7') STAGE
          FROM RCM_BULLETIN_INFO BI) T
      WHERE 1 = 1
        AND T.WF_STATE <![CDATA[ <> ]]> '0'
    	<if test="wf_state_n != null and wf_state_n != ''"> and	T.WF_STATE <![CDATA[ <> ]]> '${wf_state_n}'</if>
    	<if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	<if test="projectType != null and projectType != ''"> and	T.PROJECT_TYPE like '%${projectType}%' </if>
    	<if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	<if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	<if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	<if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	<if test="stageList != null"> and T.STAGE in
	       <foreach collection="stageList" item="stage" open="(" close=")" separator=",">
			 　#{stage}
		   </foreach>
		</if>
      ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询项目列表, 查询所有项目 -->
	<select id="getALLProjectListCount" resultType="int"  parameterType="map">
	  SELECT COUNT(*)
        FROM (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI

        UNION ALL

        SELECT PI.ID,
               PI.BUSINESSID,
               PI.PROJECTNAME,
               'pre' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
               PI.CREATE_DATE,
               PI.WF_STATE,
               PI.OLDDATA,
               PI.APPLY_DATE,
               PI.STAGE
          FROM RCM_PRE_INFO PI

        UNION ALL

        SELECT BI.ID,
               BI.BUSINESSID,
               BI.BULLETINNAME PROJECTNAME,
               'bulletin' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
               BI.CREATETIME CREATE_DATE,
               BI.AUDITSTATUS WF_STATE,
               '0' OLDDATA,
               BI.APPLYTIME APPLY_DATE,
               DECODE(BI.STAGE, '1.5', '3' ,'2', '3', '3', '5' ,  '4', '6','5' ,'7') STAGE
          FROM RCM_BULLETIN_INFO BI) T
      WHERE 1 = 1
        AND T.WF_STATE <![CDATA[ <> ]]> '0'
    	<if test="wf_state_n != null and wf_state_n != ''"> and	T.WF_STATE <![CDATA[ <> ]]> '${wf_state_n}'</if>
    	<if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	<if test="projectType != null and projectType != ''"> and	T.PROJECT_TYPE like '%${projectType}%' </if>
    	<if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	<if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	<if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	<if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	<if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	<if test="stageList != null"> and T.STAGE in
	       <foreach collection="stageList" item="stage" open="(" close=")" separator=",">
			 　#{stage}
		   </foreach>
		</if>
      ORDER BY T.CREATE_DATE DESC
	</select>
	
	
	<!-- 20190611改版后 -->
	<!-- 查询全部正式评审项目 -->
	<select id="getAllPfrProjectList" resultType="map"  parameterType="map">
	       SELECT *
	         FROM
	          (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
    	       <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询全部正式评审项目数量 -->
	<select id="getAllPfrProjectListCount" resultType="int"  parameterType="map">
	       SELECT COUNT(*)
	         FROM
	          (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询全部投标评审项目 -->
	<select id="getAllPreProjectList" resultType="map"  parameterType="map">
	       SELECT *
	         FROM
	          (SELECT PI.ID,
                     PI.BUSINESSID,
                     PI.PROJECTNAME,
                     'pre' PROJECT_TYPE,
                    (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
                    (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
                    (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
                    (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     PI.CREATE_DATE,
                     PI.WF_STATE,
                     PI.OLDDATA,
                     PI.APPLY_DATE,
                     PI.STAGE
                FROM RCM_PRE_INFO PI) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询全部投标评审项目数量 -->
	<select id="getAllPreProjectListCount" resultType="int"  parameterType="map">
	       SELECT COUNT(*)
	         FROM
	          (SELECT PI.ID,
                     PI.BUSINESSID,
                     PI.PROJECTNAME,
                     'pre' PROJECT_TYPE,
                    (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
                    (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
                    (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
                    (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     PI.CREATE_DATE,
                     PI.WF_STATE,
                     PI.OLDDATA,
                     PI.APPLY_DATE,
                     PI.STAGE
                FROM RCM_PRE_INFO PI) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询全部其他评审项目 -->
	<select id="getAllBulletinProjectList" resultType="map"  parameterType="map">
	       SELECT *
	         FROM
	          (SELECT BI.ID,
                     BI.BUSINESSID,
                     BI.BULLETINNAME PROJECTNAME,
                     'bulletin' PROJECT_TYPE,
                     (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
                     BI.CREATETIME CREATE_DATE,
                     BI.AUDITSTATUS WF_STATE,
                     '0' OLDDATA,
                     BI.APPLYTIME APPLY_DATE,
                     DECODE(BI.STAGE, '1.5', '3' ,'2', '3', '3', '5' ,  '4', '6','5' ,'7') STAGE
                FROM RCM_BULLETIN_INFO BI) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询全部其他评审项目数量 -->
	<select id="getAllBulletinProjectListCount" resultType="int"  parameterType="map">
	       SELECT COUNT(*)
	         FROM
	          (SELECT BI.ID,
                     BI.BUSINESSID,
                     BI.BULLETINNAME PROJECTNAME,
                     'bulletin' PROJECT_TYPE,
                     (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
                     BI.CREATETIME CREATE_DATE,
                     BI.AUDITSTATUS WF_STATE,
                     '0' OLDDATA,
                     BI.APPLYTIME APPLY_DATE,
                     DECODE(BI.STAGE, '1.5', '3' ,'2', '3', '3', '5' ,  '4', '6','5' ,'7') STAGE
                FROM RCM_BULLETIN_INFO BI) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询正式项目列表, 查询角色绑定的项目以及本人参与审批的项目 -->
	<select id="getRolePfrProjectList" resultType="map"  parameterType="map">
	       SELECT *
	         FROM
	          (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI
               WHERE FI.BUSINESSID IN
                    (SELECT DISTINCT (BUSINESS_ID)
                       FROM (SELECT PR.BUSINESS_ID
                               FROM SYS_PROJECT_ROLE PR
                              WHERE 1 = 1
                                AND PR.ROLE_ID IN
                                   (SELECT UR.ROLE_ID
                                      FROM SYS_USER_ROLE UR
                                     WHERE UR.USER_ID = #{userId})
                                       AND PR.PROJECT_TYPE = 'pfr'

                              UNION ALL

                              SELECT FL.BUSINESSID BUSINESS_ID
                                FROM RCM_FORMALASSESSMENT_LOG FL
                               WHERE FL.AUDITUSERID = #{userId}))) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询正式项目列表数量, 查询角色绑定的项目以及本人参与审批的项目 -->
	<select id="getRolePfrProjectListCount" resultType="int"  parameterType="map">
	       SELECT COUNT(*)
	         FROM
	          (SELECT FI.ID,
                     FI.BUSINESSID,
                     FI.PROJECTNAME,
                     'pfr' PROJECT_TYPE,
                     (SELECT O.NAME
                     FROM SYS_ORG O
                     WHERE O.ORGPKVALUE = FI.PERTAINAREAID) PERTAINAREANAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.CREATEBY) INVESTMENTNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.REVIEWPERSONID) REVIEWPERSONNAME,
                     (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = FI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
                     FI.CREATE_DATE,
                     FI.WF_STATE,
                     FI.OLDDATA,
                     FI.APPLY_DATE,
                     FI.STAGE
                FROM RCM_FORMALASSESSMENT_INFO FI
               WHERE FI.BUSINESSID IN
                    (SELECT DISTINCT (BUSINESS_ID)
                       FROM (SELECT PR.BUSINESS_ID
                               FROM SYS_PROJECT_ROLE PR
                              WHERE 1 = 1
                                AND PR.ROLE_ID IN
                                   (SELECT UR.ROLE_ID
                                      FROM SYS_USER_ROLE UR
                                     WHERE UR.USER_ID = #{userId})
                                       AND PR.PROJECT_TYPE = 'pfr'

                              UNION ALL

                              SELECT FL.BUSINESSID BUSINESS_ID
                                FROM RCM_FORMALASSESSMENT_LOG FL
                               WHERE FL.AUDITUSERID = #{userId}))) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询投标项目列表, 查询角色绑定的项目以及本人参与审批的项目 -->
	<select id="getRolePreProjectList" resultType="map"  parameterType="map">
	       SELECT *
	         FROM
	          (SELECT PI.ID,
               PI.BUSINESSID,
               PI.PROJECTNAME,
               'pre' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
               PI.CREATE_DATE,
               PI.WF_STATE,
               PI.OLDDATA,
               PI.APPLY_DATE,
               PI.STAGE
          FROM RCM_PRE_INFO PI
         WHERE PI.BUSINESSID IN
                  (SELECT DISTINCT (BUSINESS_ID)
                     FROM (SELECT PR.BUSINESS_ID
                             FROM SYS_PROJECT_ROLE PR
                            WHERE 1 = 1
                              AND PR.ROLE_ID IN
                                 (SELECT UR.ROLE_ID
                                    FROM SYS_USER_ROLE UR
                                   WHERE UR.USER_ID = #{userId})
                                     AND PR.PROJECT_TYPE = 'pre'

                                  UNION ALL
                          
                                  SELECT PL.BUSINESSID BUSINESS_ID
                                    FROM RCM_PRE_LOG PL
                                   WHERE PL.AUDITUSERID = #{userId}))) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询投标项目列表数量, 查询角色绑定的项目以及本人参与审批的项目 -->
	<select id="getRolePreProjectListCount" resultType="int"  parameterType="map">
	       SELECT COUNT(*)
	         FROM
	          (SELECT PI.ID,
               PI.BUSINESSID,
               PI.PROJECTNAME,
               'pre' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = PI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.REVIEWPERSONID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = PI.LEGALREVIEWPERSONID) LEGALREVIEWPERSONNAME,
               PI.CREATE_DATE,
               PI.WF_STATE,
               PI.OLDDATA,
               PI.APPLY_DATE,
               PI.STAGE
          FROM RCM_PRE_INFO PI
         WHERE PI.BUSINESSID IN
                  (SELECT DISTINCT (BUSINESS_ID)
                     FROM (SELECT PR.BUSINESS_ID
                             FROM SYS_PROJECT_ROLE PR
                            WHERE 1 = 1
                              AND PR.ROLE_ID IN
                                 (SELECT UR.ROLE_ID
                                    FROM SYS_USER_ROLE UR
                                   WHERE UR.USER_ID = #{userId})
                                     AND PR.PROJECT_TYPE = 'pre'

                                  UNION ALL
                          
                                  SELECT PL.BUSINESSID BUSINESS_ID
                                    FROM RCM_PRE_LOG PL
                                   WHERE PL.AUDITUSERID = #{userId}))) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询其他项目列表, 查询角色绑定的项目以及本人参与审批的项目 -->
	<select id="getRoleBulletinProjectList" resultType="map"  parameterType="map">
	       SELECT *
	         FROM
	          (SELECT BI.ID,
               BI.BUSINESSID,
               BI.BULLETINNAME PROJECTNAME,
               'bulletin' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
               BI.CREATETIME CREATE_DATE,
               BI.AUDITSTATUS WF_STATE,
               '0' OLDDATA,
               BI.APPLYTIME APPLY_DATE,
               DECODE(BI.STAGE, '1.5', '3' ,'2', '3', '3', '5' ,  '4', '6','5' ,'7') STAGE
          FROM RCM_BULLETIN_INFO BI
         WHERE BI.BUSINESSID IN
              (SELECT DISTINCT (BUSINESS_ID)
                 FROM (SELECT PR.BUSINESS_ID
                         FROM SYS_PROJECT_ROLE PR
                        WHERE 1 = 1
                          AND PR.ROLE_ID IN
                             (SELECT UR.ROLE_ID
                                FROM SYS_USER_ROLE UR
                               WHERE UR.USER_ID = #{userId})
                                 AND PR.PROJECT_TYPE = 'bulletin'
                             
                              UNION ALL
                             
                              SELECT BL.BUSINESSID BUSINESS_ID
                                FROM RCM_BULLETIN_LOG BL
                               WHERE BL.AUDITUSERID = #{userId}))) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
	
	<!-- 查询其他项目列表数量, 查询角色绑定的项目以及本人参与审批的项目 -->
	<select id="getRoleBulletinProjectListCount" resultType="int"  parameterType="map">
	       SELECT COUNT(*)
	         FROM
	          (SELECT BI.ID,
               BI.BUSINESSID,
               BI.BULLETINNAME PROJECTNAME,
               'bulletin' PROJECT_TYPE,
               (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = BI.PERTAINAREAID) PERTAINAREANAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.CREATEBY) INVESTMENTNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.REVIEWLEADERID) REVIEWPERSONNAME,
               (SELECT U.NAME FROM SYS_USER U WHERE U.UUID = BI.LEGALLEADERID) LEGALREVIEWPERSONNAME,
               BI.CREATETIME CREATE_DATE,
               BI.AUDITSTATUS WF_STATE,
               '0' OLDDATA,
               BI.APPLYTIME APPLY_DATE,
               DECODE(BI.STAGE, '1.5', '3' ,'2', '3', '3', '5' ,  '4', '6', '5' ,'7') STAGE
          FROM RCM_BULLETIN_INFO BI
         WHERE BI.BUSINESSID IN
              (SELECT DISTINCT (BUSINESS_ID)
                 FROM (SELECT PR.BUSINESS_ID
                         FROM SYS_PROJECT_ROLE PR
                        WHERE 1 = 1
                          AND PR.ROLE_ID IN
                             (SELECT UR.ROLE_ID
                                FROM SYS_USER_ROLE UR
                               WHERE UR.USER_ID = #{userId})
                                 AND PR.PROJECT_TYPE = 'bulletin'
                             
                              UNION ALL
                             
                              SELECT BL.BUSINESSID BUSINESS_ID
                                FROM RCM_BULLETIN_LOG BL
                               WHERE BL.AUDITUSERID = #{userId}))) T
             WHERE 1 = 1
               AND T.WF_STATE <![CDATA[ <> ]]> '0'
               <if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
    	       <if test="pertainareaName != null and pertainareaName != ''"> and	T.PERTAINAREANAME like '%${pertainareaName}%' </if>
    	       <if test="wf_state != null and wf_state != ''"> and	T.WF_STATE in (${wf_state})</if>
    	       <if test="investmentName != null and investmentName != ''"> and	T.INVESTMENTNAME like '%${investmentName}%' </if>
    	       <if test="reviewPersonName != null and reviewPersonName != ''"> and	T.REVIEWPERSONNAME like '%${reviewPersonName}%' </if>
    	       <if test="legalReviewPersonName != null and legalReviewPersonName != ''"> and	T.LEGALREVIEWPERSONNAME like '%${legalReviewPersonName}%' </if>
    	       <if test="stage != null and stage != ''"> and T.STAGE = '${stage}' </if>
          ORDER BY T.CREATE_DATE DESC
	</select>
</mapper>