<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
		namespace="com.yk.rcm.fillMaterials.dao.IFillMaterialsMapper">
	<select id="queryNoSubmitList" resultType="map">
		SELECT
		*
		FROM
		(
		<if test="unionBulletin == null or unionBulletin == ''">
			SELECT
			RFI.ID,
			RFI.BUSINESSID,
			RFI.PROJECTNAME,
			'pfr' PROJECT_TYPE,
			RFI.SERVICETYPE_ID SERVICETYPE,
			( SELECT
			O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RFI.PERTAINAREAID )
			PERTAINAREANAME,
			( SELECT U.NAME FROM SYS_USER U WHERE U.UUID =
			RFI.CREATEBY )
			INVESTMENTNAME,
			RFI.APPLY_DATE,
			( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RFI.BUSINESSID) STAGE,
			RFI.WF_STATE
			STATUS,
			RFI.IS_SUBMIT_REPORT RFI_IS_SUBMIT_REPORT,
			RFI.IS_SUBMIT_BIDDING
			RFI_IS_SUBMIT_BIDDING,
			RFI.IS_SUBMIT_DECISION_NOTICE
			RFI_IS_SUBMIT_DECISION_NOTICE,
			NULL RPI_IS_SUBMIT_REPORT,
			NULL
			RPI_IS_SUBMIT_BIDDING,
			( SELECT RFR.CONTROLLER_VAL
			FROM RCM_FORMALASSESSMENT_REPORT RFR WHERE RFR.BUSINESSID =
			RFI.BUSINESSID ) PFR_CONTROLLER_VAL,
			NULL RPE_CONTROLLER_VAL,
			RFI.BIDDING_TYPE
			FROM
			RCM_FORMALASSESSMENT_INFO RFI
			WHERE
			RFI.STAGE IN ( 3 )
			AND
			RFI.REVIEWPERSONID = '${userId}'
			UNION ALL
			SELECT
			RPI.ID,
			RPI.BUSINESSID,
			RPI.PROJECTNAME,
			'pre' PROJECT_TYPE,
			NULL SERVICETYPE,
			( SELECT O.NAME FROM
			SYS_ORG O WHERE O.ORGPKVALUE = RPI.PERTAINAREAID )
			PERTAINAREANAME,
			(
			SELECT U.NAME FROM SYS_USER U WHERE U.UUID = RPI.CREATEBY )
			INVESTMENTNAME,
			RPI.APPLY_DATE,
			( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RPI.BUSINESSID) STAGE,
			RPI.WF_STATE STATUS,
			NULL RFI_IS_SUBMIT_REPORT,
			NULL RFI_IS_SUBMIT_BIDDING,
			NULL RFI_IS_SUBMIT_DECISION_NOTICE,
			RPI.IS_SUBMIT_REPORT RPI_IS_SUBMIT_REPORT,
			RPI.IS_SUBMIT_BIDDING
			RPI_IS_SUBMIT_BIDDING,
			NULL PFR_CONTROLLER_VAL,
			( SELECT RPE.CONTROLLER_VAL
			FROM RCM_PRE_REPORT RPE WHERE RPE.BUSINESSID =
			RPI.BUSINESSID ) RPE_CONTROLLER_VAL,
			RPI.BIDDING_TYPE
			FROM
			RCM_PRE_INFO RPI
			WHERE
			RPI.STAGE IN ( 3 )
			AND
			RPI.REVIEWPERSONID = '${userId}'
		</if>
		<if test="unionBulletin != null and unionBulletin != ''">
			SELECT
			RBI.ID,
			RBI.BUSINESSID,
			RBI.BULLETINNAME PROJECTNAME,
			'bulletin' PROJECT_TYPE,
			NULL SERVICETYPE,
			(
			SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RBI.PERTAINAREAID )
			PERTAINAREANAME,
			( SELECT U.NAME FROM SYS_USER U WHERE U.UUID =
			RBI.CREATEBY )
			INVESTMENTNAME,
			RBI.APPLYTIME APPLY_DATE,
			( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RBI.BUSINESSID) STAGE,
			RBI.AUDITSTATUS STATUS,
			NULL RFI_IS_SUBMIT_REPORT,
			NULL
			RFI_IS_SUBMIT_BIDDING,
			NULL RFI_IS_SUBMIT_DECISION_NOTICE,
			NULL
			RPI_IS_SUBMIT_REPORT,
			NULL RPI_IS_SUBMIT_BIDDING,
			RBI.IS_SUBMIT_SUMMARY
			RBI_IS_SUBMIT_SUMMARY,
			NULL PFR_CONTROLLER_VAL,
			NULL RPE_CONTROLLER_VAL,
			NULL BIDDING_TYPE
			FROM
			RCM_BULLETIN_INFO RBI
			WHERE
			RBI.STAGE IN ( 4 )
		</if>
		) T
		WHERE
		1 = 1
		<if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
		<if test="onlyBulletin != null and onlyBulletin != ''">and	T.PROJECT_TYPE = 'bulletin' </if>
		ORDER BY
		T.APPLY_DATE DESC
	</select>

	<select id="querySubmitList" resultType="map">
		SELECT
		*
		FROM
		(
		<if test="unionBulletin == null or unionBulletin == ''">
			SELECT
			RFI.ID,
			RFI.BUSINESSID,
			RFI.PROJECTNAME,
			'pfr' PROJECT_TYPE,
			RFI.SERVICETYPE_ID SERVICETYPE,
			( SELECT
			O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RFI.PERTAINAREAID )
			PERTAINAREANAME,
			( SELECT U.NAME FROM SYS_USER U WHERE U.UUID =
			RFI.CREATEBY )
			INVESTMENTNAME,
			RFI.APPLY_DATE,
			( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RFI.BUSINESSID) STAGE,
			RFI.WF_STATE
			STATUS,
			( SELECT RFR.CONTROLLER_VAL
			FROM RCM_FORMALASSESSMENT_REPORT RFR WHERE RFR.BUSINESSID =
			RFI.BUSINESSID ) PFR_CONTROLLER_VAL,
			NULL RPE_CONTROLLER_VAL,
			RFI.BIDDING_TYPE
			FROM
			RCM_FORMALASSESSMENT_INFO RFI
			WHERE
			RFI.STAGE IN ( 4, 5, 6, 7 )
			AND
			RFI.REVIEWPERSONID = '${userId}'
			UNION ALL
			SELECT
			RPI.ID,
			RPI.BUSINESSID,
			RPI.PROJECTNAME,
			'pre' PROJECT_TYPE,
			NULL SERVICETYPE,
			( SELECT O.NAME FROM
			SYS_ORG O WHERE O.ORGPKVALUE = RPI.PERTAINAREAID )
			PERTAINAREANAME,
			(
			SELECT U.NAME FROM SYS_USER U WHERE U.UUID = RPI.CREATEBY )
			INVESTMENTNAME,
			RPI.APPLY_DATE,
			( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RPI.BUSINESSID) STAGE,
			RPI.WF_STATE STATUS,
			NULL PFR_CONTROLLER_VAL,
			( SELECT RPE.CONTROLLER_VAL
			FROM RCM_PRE_REPORT RPE WHERE RPE.BUSINESSID =
			RPI.BUSINESSID ) RPE_CONTROLLER_VAL,
			RPI.BIDDING_TYPE
			FROM
			RCM_PRE_INFO RPI
			WHERE
			RPI.STAGE IN ( 4, 5, 6, 7, 9 )
			AND
			RPI.REVIEWPERSONID = '${userId}'
		</if>
		<if test="unionBulletin != null and unionBulletin != ''">
			SELECT
			RBI.ID,
			RBI.BUSINESSID,
			RBI.BULLETINNAME PROJECTNAME,
			'bulletin' PROJECT_TYPE,
			NULL SERVICETYPE,
			(
			SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RBI.PERTAINAREAID )
			PERTAINAREANAME,
			( SELECT U.NAME FROM SYS_USER U WHERE U.UUID =
			RBI.CREATEBY )
			INVESTMENTNAME,
			RBI.APPLYTIME APPLY_DATE,
			( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RBI.BUSINESSID) STAGE,
			RBI.AUDITSTATUS STATUS,
			NULL PFR_CONTROLLER_VAL,
			NULL RPE_CONTROLLER_VAL,
			NULL BIDDING_TYPE
			FROM
			RCM_BULLETIN_INFO RBI
			WHERE
			RBI.STAGE IN ( 5 )
		</if>
		) T
		WHERE
		1 = 1
		<if test="projectName != null and projectName != ''"> and	T.PROJECTNAME like '%${projectName}%' </if>
		<if test="onlyBulletin != null and onlyBulletin != ''">and	T.PROJECT_TYPE = 'bulletin' </if>
		ORDER BY
		T.APPLY_DATE DESC
	</select>

	<update id="updateProjectStaus"  parameterType="map">
		update ${table} 
		set ${filed} = '${status}' 
		where BUSINESSID = '${BUSINESSID}'
	</update>

	<update id="updateProjectBiddingStaus"  parameterType="map">
		update ${table} 
		set ${filed} = '${status}', BIDDING_TYPE = '${BIDDING_TYPE}' 
		where BUSINESSID = '${BUSINESSID}'
	</update>

	<select id="getRFIStatus" parameterType="map" resultType="hashmap">
     	SELECT RFI.IS_SUBMIT_REPORT, RFI.IS_SUBMIT_BIDDING, RFI.IS_SUBMIT_DECISION_NOTICE FROM RCM_FORMALASSESSMENT_INFO RFI WHERE RFI.BUSINESSID = #{businessid}
     </select>

	<select id="getRPIStatus" parameterType="map" resultType="hashmap">
     	SELECT RPI.IS_SUBMIT_REPORT, RPI.IS_SUBMIT_BIDDING FROM RCM_PRE_INFO RPI WHERE RPI.BUSINESSID = #{businessid}
     </select>
</mapper>