<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yk.rcm.fillMaterials.dao.IFillMaterialsMapper">
	<select id="queryNoSubmitList" resultType="map">
		SELECT
		*
		FROM
		(
		SELECT
		RFI.ID,
		RFI.BUSINESSID,
		RFI.PROJECTNAME,
		'pfr' PROJECT_TYPE,
		( SELECT
		O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RFI.PERTAINAREAID )
		PERTAINAREANAME,
		( SELECT U.NAME FROM SYS_USER U WHERE U.UUID =
		RFI.CREATEBY )
		INVESTMENTNAME,
		RFI.APPLY_DATE,
		( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RFI.BUSINESSID) STAGE,
		RFI.WF_STATE
		STATUS,
		( SELECT RFR.CREATE_DATE FROM RCM_FORMALASSESSMENT_REPORT RFR
		WHERE
		RFR.BUSINESSID = RFI.BUSINESSID ) PFR_REPORT_CREATE_DATE,
		( SELECT
		RNI.CREATE_DATE FROM RCM_NOTICEDECISION_INFO RNI WHERE
		RNI.BUSINESSID =
		RFI.BUSINESSID ) PFR_NOTICE_CREATE_DATE,
		( SELECT RFR.CONTROLLER_VAL
		FROM RCM_FORMALASSESSMENT_REPORT RFR WHERE RFR.BUSINESSID =
		RFI.BUSINESSID ) PFR_CONTROLLER_VAL,
		NULL PRE_REPORT_CREATE_DATE,
		RFI.IS_SUBMIT_REPORT RFI_IS_SUBMIT_REPORT,
		RFI.IS_SUBMIT_BIDDING
		RFI_IS_SUBMIT_BIDDING,
		RFI.IS_SUBMIT_DECISION_NOTICE
		RFI_IS_SUBMIT_DECISION_NOTICE,
		NULL RPI_IS_SUBMIT_REPORT,
		NULL
		RPI_IS_SUBMIT_BIDDING,
		NULL RBI_IS_SUBMIT_SUMMARY
		FROM
		RCM_FORMALASSESSMENT_INFO RFI
		WHERE
		RFI.STAGE IN ( 3, 3.5, 3.9 )
		AND
		RFI.REVIEWPERSONID = '${userId}' UNION ALL
		SELECT
		RBI.ID,
		RBI.BUSINESSID,
		RBI.BULLETINNAME PROJECTNAME,
		'bulletin' PROJECT_TYPE,
		(
		SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RBI.PERTAINAREAID )
		PERTAINAREANAME,
		( SELECT U.NAME FROM SYS_USER U WHERE U.UUID =
		RBI.CREATEBY )
		INVESTMENTNAME,
		RBI.APPLYTIME APPLY_DATE,
		( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RBI.BUSINESSID) STAGE,
		RBI.STATUS,
		NULL PFR_REPORT_CREATE_DATE,
		NULL PFR_NOTICE_CREATE_DATE,
		NULL PFR_CONTROLLER_VAL,
		NULL PRE_REPORT_CREATE_DATE,
		NULL RFI_IS_SUBMIT_REPORT,
		NULL
		RFI_IS_SUBMIT_BIDDING,
		NULL RFI_IS_SUBMIT_DECISION_NOTICE,
		NULL
		RPI_IS_SUBMIT_REPORT,
		NULL RPI_IS_SUBMIT_BIDDING,
		RBI.IS_SUBMIT_SUMMARY
		RBI_IS_SUBMIT_SUMMARY
		FROM
		RCM_BULLETIN_INFO RBI
		WHERE
		RBI.STAGE IN ( 4 )
		AND RBI.REVIEWLEADERID = '${userId}' UNION ALL
		SELECT
		RPI.ID,
		RPI.BUSINESSID,
		RPI.PROJECTNAME,
		'pre' PROJECT_TYPE,
		( SELECT O.NAME FROM
		SYS_ORG O WHERE O.ORGPKVALUE = RPI.PERTAINAREAID )
		PERTAINAREANAME,
		(
		SELECT U.NAME FROM SYS_USER U WHERE U.UUID = RPI.CREATEBY )
		INVESTMENTNAME,
		RPI.APPLY_DATE,
		( SELECT RVPI.STAGE FROM RCM_V_PROJECT_INFO RVPI WHERE RVPI.BUSINESS_ID = RPI.BUSINESSID) STAGE,
		RPI.WF_STATE,
		NULL
		PFR_REPORT_CREATE_DATE,
		NULL PFR_NOTICE_CREATE_DATE,
		NULL PFR_CONTROLLER_VAL,
		( SELECT
		RPR.CREATE_DATE FROM RCM_PRE_REPORT RPR WHERE RPR.BUSINESSID =
		RPI.BUSINESSID ) PRE_REPORT_CREATE_DATE,
		NULL RFI_IS_SUBMIT_REPORT,
		NULL RFI_IS_SUBMIT_BIDDING,
		NULL RFI_IS_SUBMIT_DECISION_NOTICE,
		RPI.IS_SUBMIT_REPORT RPI_IS_SUBMIT_REPORT,
		RPI.IS_SUBMIT_BIDDING
		RPI_IS_SUBMIT_BIDDING,
		NULL RBI_IS_SUBMIT_SUMMARY
		FROM
		RCM_PRE_INFO RPI
		WHERE
		RPI.STAGE IN ( 3, 3.5, 3.7, 3.9 )
		AND RPI.REVIEWPERSONID =
		'${userId}'
		) T
		WHERE
		1 = 1
		ORDER BY
		T.APPLY_DATE DESC
	</select>

	<select id="querySubmitList" resultType="map">
		select * from
		RCM_FORMALASSESSMENT_INFO WHERE STAGE IN (3, 3.5, 3.9)
	</select>


</mapper>