<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.meeting.dao.INoticeMapper">

	<insert id="add" parameterType="map">
		insert into RCM_NOTICE
		(ID,
		TITLE,
		CONTENT,
		RELEASE_TIME,
		EXPIRATION_TIME,
		RELATION_ID,
		TYPE,
		CREATE_TIME,
		CREATE_BY,
		STATUS)
		values
		(#{ID,javaType = java.lang.String,jdbcType = VARCHAR},
		#{TITLE,javaType = java.lang.String,jdbcType = VARCHAR},
		#{CONTENT,javaType = java.lang.String,jdbcType = VARCHAR},
		#{RELEASE_TIME,javaType = java.util.Date,jdbcType= TIMESTAMP},
		#{EXPIRATION_TIME,javaType = java.util.Date,jdbcType= TIMESTAMP},
		#{RELATION_ID,javaType = java.lang.String,jdbcType = VARCHAR},
		#{TYPE,javaType = java.lang.String,jdbcType = VARCHAR},
		#{CREATE_TIME,javaType = java.util.Date,jdbcType=TIMESTAMP},
		#{CREATE_BY,javaType = java.lang.String,jdbcType = VARCHAR},
		#{STATUS,javaType = java.lang.String,jdbcType = VARCHAR})
	</insert>
	
	<select id="queryByRelationId" parameterType="java.lang.String" resultType="map">
		select * from RCM_NOTICE 
		where RELATION_ID = #{relationId,javaType = java.lang.String,jdbcType = VARCHAR}
	</select>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from RCM_NOTICE 
		where ID = #{id,javaType = java.lang.String,jdbcType = VARCHAR}
	</delete>
	
	<select id="queryListByPage" parameterType="map" resultType="hashmap">
		select n.* 
		from rcm_notice n,rcm_notice_user nu 
		where n.id = nu.relation_id and n.type = '${type}' 
		<if test="title != null and title !=''"> 
		 and n.title like '%${title}%' 
		</if>
		<if test="content != null and content !=''"> 
		 and n.content like '%${content}%' 
		</if>
		and nu.user_id = '${userId}' 
		and n.status = 1 
		order by to_number(nu.review_status) ,n.RELEASE_TIME desc
	</select>
	
	<select id="queryListTopLimit" parameterType="map" resultType="hashmap">
		select *
		from (
			select n.*,rownum rn 
			from rcm_notice n,rcm_notice_user nu 
			where n.id = nu.relation_id and n.type = '${type}' 
			<if test="title != null and title !=''"> 
			 and n.title like '%${title}%' 
			</if>
			<if test="content != null and content !=''"> 
			 and n.content like '%${content}%' 
			</if>
			and nu.user_id = '${userId}' 
			and n.status = 1 
			order by to_number(nu.review_status) ,n.RELEASE_TIME desc
		) t_
		<![CDATA[
		where t_.rn <= ${limit}
  		]]>
	</select>
	
	<!-- 请不要修改为 n.*和nu.*,因为有相同的字段列名!-->
	<select id="queryInfo" parameterType="map" resultType="map">
		select n.*,nu.REVIEW_STATUS from rcm_notice n 
		left join rcm_notice_user nu on n.id = nu.relation_id 
		where n.id = #{id,javaType = java.lang.String,jdbcType = VARCHAR} and nu.user_id = #{userId,javaType = java.lang.String,jdbcType = VARCHAR}
	</select>
</mapper>