// 颜色
// 蓝色
$blue:#2b679d;
$dark-blue:#1c4c77;
$light-blue:#eff2f7;
// 黑色
$black:#000;
$light-black:#333;
// 白色和灰色
$grey:#eff2f7;
$dark-grey:#ebebeb;
// 红色
$red:#ec4f4b;
$light-red:#faf0f0;
$red-able:#efc5c4;
$dark-red:#c83e3a;
// 黄色
$yellow:#ecac55;
$dark-yellow:#da973f;
$light-yellow:#f7deb8;
// 绿色
$green:#69bb8e;
$dark-green:#6daa88;
// 按钮阴影
$btn-shadow:0 2px 10px rgba($color: #56626d, $alpha: 0.6);
// 背景色
$bg-color:rgb(229, 229, 229);