@charset "UTF-8";
/* 页面整体样式 */
html,
body {
  width: 100%;
  height: 100%;
}

#content-wrapper {
  padding: 20px 20px;
  background-color: #e5e5e5;
}

#content-wrapper .panel,
#content-wrapper .panel-default {
  box-shadow: none;
  margin-bottom: 0;
}

#content-wrapper .panel-body.panel-index1 {
  width: 84%;
}

#content-wrapper .panel-body.panel-index1.panel-index2 {
  width: 100%;
}

#content-wrapper .section2 {
  margin-left: 0px;
  margin-right: 0px;
}

#content-wrapper .section2 .panel-body {
  width: calc(50% - 5px);
}

#content-wrapper .section2 .section2-1 {
  margin-right: 5px;
}

#content-wrapper .section2 .section2-2 {
  margin-left: 5px;
}

/* 下拉框颜色 */
.select2-results .select2-highlighted {
  color: #666;
}

/* 单选框颜色 */
.gt-ie8 input[type=radio].px + .lbl:after {
  background-color: #333;
}

/* 页签部分 */
a.tab {
  margin: 5px 5px 5px 0 !important;
}

.nav-tabs > li > a > .badge {
  position: static;
  margin: -1px 0 0 4px;
}

.nav-tabs {
  border: none;
}

/* 表格部分 */
.panel,
.panel-default {
  border: none;
}

.tab-content {
  padding: 0;
}

.table-list > table {
  border: 1px solid #ebebeb;
}

/* thead */
.table > thead {
  background-color: #ebebeb;
}

.table > thead > tr > th {
  border: none;
  border-top: 1px solid #ebebeb;
  font-weight: normal;
  height: 44px;
  line-height: 44px;
  color: #000;
  font-size: 14px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 0 0 0 6px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
}

.table > tbody > tr:hover {
  color: #2b679d;
  background-color: #eff2f7;
}

.table > tbody > tr:hover td {
  color: #2b679d;
}

.table > tbody > tr > td {
  color: #333;
}

.table > tbody > tr > td > a {
  color: #2b679d;
}

.table > tbody > tr > td > a:hover {
  color: #1c4c77;
}

.tab-pane .more {
  border-top: none;
}

/* 首页快捷菜单 */
.short-menu {
  position: fixed;
  top: 82px;
  right: 20px;
  background-color: #fff;
  width: 15%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.short-menu h1 {
  font-size: 16px;
  line-height: 2;
  width: 140px;
  margin: 0 auto;
}

.short-menu a.shortcut-index {
  margin: 20px auto;
}

.short-menu a.more {
  color: #2b679d;
}

.short-menu a.more p {
  font-size: 14px;
  width: 140px;
  text-align: right;
  margin: 0 auto;
}

.short-menu a.more:hover {
  color: #1c4c77;
}

/* 左右分布页面 */
form .mcontent {
  padding: 20px;
}

form .left-content {
  top: 100px;
  right: 10px;
}

/* 标题样式 */
.panel-hd-cont {
  border-top: 2px solid #2b679d;
}

.panel-title {
  background-color: #2b679d;
}

.panel-title .i-triangle,
.accordion-toggle .i-triangle {
  border-color: #2b679d transparent transparent #2b679d;
}

.accordion-toggle {
  border-top: 2px solid #2b679d;
}

.accordion-toggle .text {
  background-color: #2b679d;
}

/* 分页符 */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #2b679d;
  border-color: #2b679d;
}

/* 表格样式 */
.table > thead > tr > th {
  border: 1px solid #e4e4e4;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  /*white-space: nowrap;*/
}

.table > thead > tr > th > div > input,
.table > tbody > tr > td > div > input {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  height: 36px;
  line-height: 44px;
}

/* 留言样式 */
._message {
  width: 100%;
}

._message form#_message_form_first div.form-control {
  min-height: 30px;
  height: auto;
}

._message .select2-success div#select2-success div.form-control {
  min-height: 30px;
  height: auto;
}

._message .select2-success ul.select2-choices {
  padding: 0px;
  min-height: 30px;
  position: relative;
  padding-left: 15px;
}

._message .select2-success ul.select2-choices li > span {
  line-height: 30px;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

._message .select2-success ul.select2-choices li.select2-search-choice {
  margin: 5px;
}

._message div div[id^="_message_panel_head_"] a span[id^="_span_hide_content_"] {
  margin-left: 35px;
}

._message div div[id^="_message_panel_body_"] {
  padding-top: 10px;
}

._message div div[id^="_message_panel_body_"] div div.form-control {
  min-height: 30px;
  height: auto;
}

._message div div[id^="_message_panel_body_"] div div[id^="_message_left_"] div[id^="_message_left_top_"] span:first-child a {
  color: #2b679d;
}

._message div div[id^="_message_panel_body_"] div div[id^="_message_left_"] div[id^="_message_left_bottom_"] .form-control {
  border: none;
  background-color: #eff2f7;
  padding: 10px;
  border-radius: 4px;
}

._message div div[id^="_message_panel_body_"] div div[id^="_message_left_"] div[id^="_message_left_bottom_"] .form-control span {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

._message div div[id^="_message_panel_body_"] div div[id^="_message_right_"] div[id^="_message_right_top_"] span:first-child a {
  color: #2b679d;
}

._message div div[id^="_message_panel_body_"] div div[id^="_message_right_"] div[id^="_message_right_bottom_"] .form-control {
  border: none;
  background-color: #98e165;
  padding: 10px;
  border-radius: 4px;
}

._message div div[id^="_message_panel_body_"] div div[id^="_message_right_"] div[id^="_message_right_bottom_"] .form-control span {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

._message div div[id^="_message_panel_body_"] form div.form-control {
  height: auto;
  min-height: 50px;
}

._message div#_submit_message_dialog .modal-content.panel .modal-header.panel-heading {
  position: relative;
}

._message div#_submit_message_dialog .modal-content.panel .modal-header.panel-heading button.close {
  position: absolute;
  right: 5px;
  top: 5px;
}

._message div#_submit_message_dialog .modal-content.panel .modal-header.panel-heading button.close:hover {
  background-color: #eff2f7;
}

._message div#_submit_message_dialog .modal-content.panel .modal-header.panel-heading h4.modal-title {
  line-height: 2;
  margin: 0 auto;
  font-weight: bold;
}

._message div#_submit_message_dialog .modal-content.panel .modal-body.panel-body div.form-control {
  min-height: 50px;
  height: auto;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  ._message .modal-dialog {
    margin: 100px auto;
  }
}

._message div#_share_message_dialog .modal-dialog .panel .modal-header.panel-heading {
  position: relative;
}

._message div#_share_message_dialog .modal-dialog .panel .modal-header.panel-heading button.close {
  position: absolute;
  right: 5px;
  top: 5px;
}

._message div#_share_message_dialog .modal-dialog .panel .modal-header.panel-heading button.close:hover {
  background-color: #eff2f7;
}

._message div#_share_message_dialog .modal-dialog .panel .modal-header.panel-heading h4.modal-title {
  line-height: 2;
  margin: 0 auto;
  font-weight: bold;
}

._message div#_share_message_dialog .modal-dialog .panel .modal-body.panel-body ul li:last-child {
  margin: 5px;
}

._message div#_share_message_dialog .modal-dialog .panel .modal-body.panel-body ul li:last-child span.addlabel {
  margin: 0;
  height: auto;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  ._message .modal-dialog {
    margin: 100px auto;
  }
}

/*.modal.in .checkbox-inline > span.lbl:after,
.modal.in .checkbox-inline > span.lbl:before {
  margin: 15px 0px 0px -13px !important;
}*/


/* 必填项颜色设置*/
.help-block {
  color: red;
}
.gt-ie8 .radio-inline.local input.px+.lbl:before,
.gt-ie8 .radio-inline.local input.px+.lbl:after,
.gt-ie8 .checkbox-inline.local input.px+.lbl:before,
.gt-ie8 .checkbox-inline.local input.px+.lbl:after{
  margin: 10px 3px -4px -20px!important
}

.gt-ie8 .radio-inline.xlocal input.px+.lbl:before,
.gt-ie8 .radio-inline.xlocal input.px+.lbl:after,
.gt-ie8 .checkbox-inline.xlocal input.px+.lbl:before,
.gt-ie8 .checkbox-inline.xlocal input.px+.lbl:after{
  margin: 14px 3px -4px -20px!important;
}

.gt-ie8 .radio-inline.choose input.px+.lbl:before,
.gt-ie8 .radio-inline.choose input.px+.lbl:after{
  margin: 13px 0px 0px -31px!important
}

.gt-ie8 .checkbox-inline.choose input.px+.lbl:before,
.gt-ie8 .checkbox-inline.choose input.px+.lbl:after{
  margin: 15px 3px -4px -20px!important;
}

.gt-ie8 .checkbox-inline.zchoose input.px+.lbl:before,
.gt-ie8 .checkbox-inline.zchoose input.px+.lbl:after{
  margin: 15px 3px -4px 2px!important
}

.gt-ie8 .checkbox-inline.xchoose input.px+.lbl:before,
.gt-ie8 .checkbox-inline.xchoose input.px+.lbl:after{
  margin: 15px 3px -3px -10px!important
}


.fa {
  line-height: 32px;
}

.required-m {
  display: inline-block;
  margin-right: 3px;
  color: red;
}

/* 修改菜单样式 */
.dropdown-menu {
  -moz-box-shadow:0px 2px 10px #333333;
  -webkit-box-shadow:0px 2px 10px #333333;
  box-shadow:0px 2px 10px #cccccc;
  border-radius:10px;
  -moz-border-radius:10px;
}

.navbar-nav>li>.dropdown-menu{
    border: 0;
    position: absolute;
    left: -68px;
    top: 74px;
    padding: 0;
    border-radius: 5px;
}
.navbar-nav .dropdown-menu>li:first-child>a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-nav .dropdown-menu>li:last-child>a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-nav>li>.dropdown-menu:after{
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    left: 50%;
    margin-left: -5px;
    top: -19px;
}
.dropdown-submenu > a:after{
    position: absolute;
    right: 23px;
    top: 18px;
}

.dropdown-menu>li:hover>a{
    background: #2b679d;
    color: #fff;
}
.dropdown-menu .dropdown-menu{
    box-shadow: none;
    padding: 0;
}
.dropdown-menu>li>a>i{
    margin-right: 10px;
}
.dropdown-menu a{
    border: 0px!important;
    border-bottom: 1px solid #ccc!important;
}
.dropdown-menu>li:last-child>a{
    border-bottom: 0!important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    top: 5px;
    /*margin-left: 0;*/
    margin-left: -2px;
    border-radius: 10px;
    left: calc(-100% - 2px);
}

/** 覆盖日期控件颜色 **/
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover, .datepicker table tr td.selected, .datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected:hover {
  color: #66b1ff !important;
}

.datepicker thead th {
  color: #333333;
}

.datepicker thead th.next:after,
.datepicker thead th.prev:after{
  color: #333333;
}


/** 弹出框查询图片 **/
.search-p {
  background-color: transparent;
  border: 0;
  width: 5%;
  position: relative;
  right: -95%;
  margin: -5% -5% 0% 0%;
  top: -34px;
}

.form-horizontal .search-input .fa-search{
  right: -95%;
  width: 5%;
  top: -26px;
}

.form-control{
  background-color: white;
}

/** 整行提示样式 **/
.titleText {
  width: 5%;
  position: relative;
  right: -97%;
  top: -23px;
}

/** 笼罩层样式 **/
.mask_{
  position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;
  z-index: 99999; left: 0px;
  opacity:0.5; -moz-opacity:0.5;
  display:none;
}

/** 调整新日期控件样式 **/
.wui-date.small .wui-date-picker .wui-date-picker_panel {
  width: 270px;
}
.wui-input {
  border: 1px solid #cfcfcf;
  height: 30px;
  padding: 0 15px;
  transition: all ease-in-out .35s;
  border-radius: 4px;
  font-size: 15px;
}

.wui-date-editor .wui-date-input{
  padding-left: 15px;
}


/** 页面整体样式调整 **/
.nav {
  margin-bottom: 15px;
}

.button-group {
  margin-top: 25px;
}

.unit-my, .unit-n {
  right: 15px;
}

.unit-my, .unit-l {
  left: 25px;
}


/** 会议安排中上会时间样式调整 **/
.meeting-time-input {
  margin-top: 7px;
}

/** 工作量统计样式 **/
.panel-work-link {
  width: 28%;
}

.panel-work-list {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: #fff;
  width: 68%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}