<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/teanManage.png" width="41" height="41"
			alt="" title="" /> <span class="hd-title">部门管理</span>
	</div>
	<div class="panel">
		<div class="panel-heading">
			<div class="panel-hd-cont">
				<span class="panel-title">部门管理<i class="i-triangle"></i></span>
			</div>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" name="myForm" id="myForm">
				<div class="special-form">
					<div class="row">
						<label class="col-sm-2 control-label"><span class="required">*</span>所在部门</label>
						<div class="col-sm-4">
						<input type="text" name="REVIEW_TYPE" id="REVIEW_TYPE" ng-model="pro.team.REVIEW_TYPE" class="form-control" />
						</div>
						<label class="col-sm-2 control-label"><span class="required">*</span>小组编号</label>
						<div class="col-sm-4">
							<input type="number" name="ORDERNUM" id="ORDERNUM" required
								ng-model="pro.team.ORDERNUM" class="form-control" />
						</div>
					</div>
					<div class="row" name="groupMember">
						<label for="" class="col-sm-2 control-label"><span class="required">*</span>组长</label>
						<div class="col-sm-4">
						<div class="row nobottom-mar">
								<direct-user-single-select id="{{'proReviewTeamMembername'}}" checked-user="pro.review_leader"
							        	mapped-key-value="memberName">
								</direct-user-single-select>
						</div>
						</div>
						<label for="" class="col-sm-2 control-label"><span class="required">*</span>组员</label>
						<div class="col-sm-4">
						<div class="row nobottom-mar">
								<direct-user-multi-select id="{{'proReviewLeader'}}" checked-users="pro.review_team_membername"
							        	mapped-key-value="reviewLeader">
								</direct-user-multi-select>
						</div>
						</div>
					</div>
					<div class="row">
						<label class="col-sm-2 control-label"><span class="required">*</span>是否启用</label>
						<div class="col-sm-4">
							<select name="STUTAS" id="STUTAS" required ng-model="pro.team.STATUS"
								class="form-control ng-pristine ng-untouched ng-valid">
								<option value=""></option>
								<option value="1">启用</option>
								<option value="2">禁用</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="btn-group-gap txl">
						<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
						<button type="button" ng-click="save()" class="btn btn-info"><i class="fa fa-save"></i>保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<directive-user-list></directive-user-list>
<directive-user-radio-list></directive-user-radio-list>

<script type="text/javascript">
$().ready(function() {
	$("#myForm").validate({
		rules: {
			review_type:"required",
			ordernum:"required",
			review_leader:"required",
			review_team_membername:"required",
			status:"required"
		},
		messages: {
			review_type:"此项必填",
			ordernum:"此项必填",
			review_leader:"此项必填",
			review_team_membername:"此项必填",
			status:"此项必填"
		}
	});
});
$(function() {
	//二级菜单关闭&展示
	$(".dropdown-list").children("li").click(function() {
		var dropDown = $(this).find(".sub-list");
		var togClass = $(this).find(".ico");
		$(".dropdown-list li .sub-list").not(dropDown).slideUp(300);
		$(".dropdown-list li .ico").not(togClass).removeClass("fa-minus");
		dropDown.slideToggle(300);
		togClass.toggleClass("fa-minus");
	});
	//单选
	$(".one-choice .sub-list li").click(
			function() {
				$(this).children("a").addClass("cur");
				$(this).parents(".dropdown-list").find(".sub-list li a")
						.not($(this).children()).removeClass("cur");
				return false;
			});
	//多选
	$(".more-choice .sub-list li").click(function() {
		$(this).children("a").addClass("cur");
		return false;
	});
});

function addrow(p) {
	var obj = $(p).parent().parent();
	var n = obj.attr("name");
	var addtr = "<div class=\"row groupMember\" name=\""+n+"\"><label for=\"\" class=\"col-sm-2 control-label\">组员<i class=\"fa fa-times\" onclick=\"delrow(this)\"></i></label><div class=\"col-sm-4\"><input type=\"text\" name=\"\" class=\"form-control\" /></div></div>";
	$("div[name='" + n + "']:last").after(addtr);
}

function delrow(p) {
	var obj = $(p).parent().parent();
	obj.remove();
}

angular
		.element(document)
		.ready(
				function() {
					var options = {
						todayBtn : "linked",
						orientation : $('body').hasClass('right-to-left') ? "auto right"
								: 'auto auto'
					}
					$('#bidOpenTime').datepicker(options);
				});
				
	
</script>