<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.project.dao.IDeptworkMapper">
	
	<select id="queryNoticedCount" resultType="hashmap" parameterType="hashmap">
	select count(1) value,(select name from sys_org  where ORGPKVALUE = t.pertainareaid) name from (
      select f.businessid,'formal' ITEM_CODE,'正式评审' type,f.pertainareaid ,f.apply_date applydate  from rcm_formalassessment_info f where f.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 
     <if test="result != null and result !=''"> 
	      and d.decision_result in (${result})
     </if>
      and d.formal_type = 0)
      union all
      select b.businessid,'bulletin' ITEM_CODE, '其他评审' type,b.pertainareaid ,b.applytime applydate from rcm_bulletin_info b where b.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 
      <if test="result != null and result !=''"> 
	      and d.decision_result in (${result})
     </if>
      and d.formal_type = 1)
      union all
      select p.businessid,'pre' ITEM_CODE, '投标评审' type,p.pertainareaid ,p.apply_date applydate from rcm_pre_info p where p.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 
      <if test="result != null and result !=''"> 
	      and d.decision_result in (${result})
     </if>
      and d.formal_type = 2)
     ) t where  1 = 1 
     
     <if test="serviceTypeId != null and serviceTypeId !=''"> 
	     and  t.item_code in  (${serviceTypeId})
     </if>
     <if test="pertainAreaId != null and pertainAreaId !=''"> 
	     and t.pertainareaid in (${pertainAreaId})
     </if>
     <if test="year != null and year != ''"> 
		and t.applydate between to_date('${year}/01/01 00:00:00','YYYY/MM/dd hh24:mi:ss') 
		and to_date('${year}/12/31 23:59:59','YYYY/MM/dd hh24:mi:ss')
	</if>
     group by t.pertainareaid
	</select>

	<select id="queryNoticedType" resultType="hashmap">
	  select ta.item_code value,decode(ta.item_code,'formal','正式评审','bulletin','其他评审','pre','投标评审') name from (
      select f.businessid,'formal' ITEM_CODE,'正式评审' type,f.pertainareaid from rcm_formalassessment_info f where f.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,2,3,4) and d.formal_type = 0)
      union all
      select b.businessid,'bulletin' ITEM_CODE, '其他评审' type,b.pertainareaid from rcm_bulletin_info b where b.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,2,3,4) and d.formal_type = 1)
      union all
      select p.businessid,'pre' ITEM_CODE, '投标评审' type,p.pertainareaid from rcm_pre_info p where p.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,2,3,4) and d.formal_type = 2)
     ) ta group by ta.item_code 
	</select>
	<select id="queryAllNoticed" resultType="hashmap">
	  select f.businessid,'formal' ITEM_CODE,'正式评审' type,f.pertainareaid from rcm_formalassessment_info f where f.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,2,3,4) and d.formal_type = 0)
      union all
      select b.businessid,'bulletin' ITEM_CODE, '其他评审' type,b.pertainareaid from rcm_bulletin_info b where b.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,2,3,4) and d.formal_type = 1)
      union all
      select p.businessid,'pre' ITEM_CODE, '投标评审' type,p.pertainareaid from rcm_pre_info p where p.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,2,3,4) and d.formal_type = 2)
	</select>

	<!-- 获取评审同意投资，按大区统计数据 总计-->
	<select id="getNoticedTYGroupAreaReports" resultType="hashmap">
		select ta.pertainareaName name,count(1) value from (     
      select m.*,(select t.name from sys_org t where t.ORGPKVALUE = m.pertainareaid) pertainareaName from (
      select 'formal' ITEM_CODE,'正式评审' type,f.pertainareaid from rcm_formalassessment_info f where f.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,3) and d.formal_type = 0)
      union all
      select 'bulletin' ITEM_CODE, '其他评审' type,b.pertainareaid from rcm_bulletin_info b where b.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,3) and d.formal_type = 1)
      union all
      select 'pre' ITEM_CODE, '投标评审' type,p.pertainareaid from rcm_pre_info p where p.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,3) and d.formal_type = 2)
      ) m) ta group by pertainareaName
	</select>
	<!-- 获取不评审同意投资，按大区统计数据 总计-->
	<select id="getNoticedBTYGroupAreaReports" resultType="hashmap">
		select ta.pertainareaName name,count(1) value from (     
      select m.*,(select t.name from sys_org t where t.ORGPKVALUE = m.pertainareaid) pertainareaName from (
      select 'formal' ITEM_CODE,'正式评审' type,f.pertainareaid from rcm_formalassessment_info f where f.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (2,4) and d.formal_type = 0)
      union all
      select 'bulletin' ITEM_CODE, '其他评审' type,b.pertainareaid from rcm_bulletin_info b where b.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (2,4) and d.formal_type = 1)
      union all
      select 'pre' ITEM_CODE, '投标评审' type,p.pertainareaid from rcm_pre_info p where p.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (2,4) and d.formal_type = 2)
      ) m) ta group by pertainareaName
	</select>
	<!-- 获取评审同意投资，按大区统计数据 -->
	<select id="getNoticeTYCount" resultType="hashmap">
	      select n.type,n.ITEM_CODE ,n.pertainareaName,count(1) num from  (
      select m.*,(select t.name from sys_org t where t.ORGPKVALUE = m.pertainareaid) pertainareaName from (
      select 'formal' ITEM_CODE,'正式评审' type,f.pertainareaid from rcm_formalassessment_info f where f.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,3) and d.formal_type = 0)
      union all
      select 'bulletin' ITEM_CODE, '其他评审' type,b.pertainareaid from rcm_bulletin_info b where b.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,3) and d.formal_type = 1)
      union all
      select 'pre' ITEM_CODE, '投标评审' type,p.pertainareaid from rcm_pre_info p where p.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (1,3) and d.formal_type = 2)
      ) m) n group by (n.pertainareaName,n.type,n.ITEM_CODE) order by type
	</select>
	<!-- 获取评审不同意投资，按大区统计数据 -->
	<select id="getNoticeBTYCount" resultType="hashmap">
	      select n.type,n.ITEM_CODE ,n.pertainareaName,count(1) num from  (
      select m.*,(select t.name from sys_org t where t.ORGPKVALUE = m.pertainareaid) pertainareaName from (
      select 'formal' ITEM_CODE,'正式评审' type,f.pertainareaid from rcm_formalassessment_info f where f.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (2,4) and d.formal_type = 0)
      union all
      select 'bulletin' ITEM_CODE, '其他评审' type,b.pertainareaid from rcm_bulletin_info b where b.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (2,4) and d.formal_type = 1)
      union all
      select 'pre' ITEM_CODE, '投标评审' type,p.pertainareaid from rcm_pre_info p where p.businessid in (
      select d.formal_id from rcm_decision_resolution d where d.vote_status = 2 and d.decision_result in (2,4) and d.formal_type = 2)
      ) m) n group by (n.pertainareaName,n.type,n.ITEM_CODE) order by type
	</select>
	
	<select id="getBulletinTypeReport" resultType="hashmap" parameterType="hashmap">
		select count(1) value ,b.bulletintypeid ,
		(select d.item_name from sys_dictionary_item d where d.uuid =b.bulletintypeid) name
		from rcm_bulletin_info b where b.stage in ('1.5','2','3')  
		<if test="year != null and year != ''"> 
			and b.applytime between to_date('${year}/01/01 00:00:00','YYYY/MM/dd hh24:mi:ss') 
			and to_date('${year}/12/31 23:59:59','YYYY/MM/dd hh24:mi:ss')
		</if>
		group by b.bulletintypeid
	</select>
	
	<select id="queryFLFZR" resultType="hashmap" parameterType="hashmap">
		select *  from rcm_v_deptreport_0922 where userid  = #{userId} and person_type = '2'
	</select>
	<select id="queryYWFZR" resultType="hashmap" parameterType="hashmap">
		select *  from rcm_v_deptreport_0922 where userid  = #{userId} and person_type = '1'
	</select>
	<select id="queryProjects" resultType="hashmap" parameterType="hashmap">
		select d.*,v.decision_date from rcm_v_deptlist  d
		left join rcm_v_project_info v on v.business_id = d.businessid
		where d.wf_state != 3 
		<if test="stage != null and stage != '' "> and d.stage in ( ${stage} ) </if>
		<if test="pType != null and pType != '' "> and d.type = #{pType} </if>
		<if test="lx == 'FL'">
			<if test="id != null and id != '' "> and d.legalleaderid in ( ${id} ) </if>
		</if>
		<if test="lx == 'YW'">
			<if test="id != null and id != '' "> and d.reviewleaderid in ( ${id} ) </if>
		</if>
		<if test="projectName != null and projectName != '' "> and name like '%${projectName}%' </if>
	</select>
	
    <select id="countYPSAll" resultType="int">
		select sum(count) from (
	      select count(v.ID) as count
	        from view_project_review v
	       where v.WF_STATE !='0'
	         and v.TYPE = 'preAssessment'
	      union
	      select count(v.ID) as  count
	        from view_project_review v
	       where v.TYPE = 'preAssessment'
	         and v.WF_STATE = '0'      
	    )
    </select>
    
    <select id="queryPsfzrUsers" resultType="hashmap">
    select *
  		from (select g_.*, rownum rn
          from (select t.* from team t where 1 = 1 and t.type = '1' order by t.ordernum asc) g_) t_

	</select>
	
	 <select id="queryFlfzrUsers" resultType="hashmap">
    select *
  		from (select g_.*, rownum rn
          from (select t.* from team t where 1 = 1 and t.type = '2' order by t.ordernum asc) g_) t_

	</select>
	
   	<select id="countByStatus1" resultType="hashmap">
		select 'fromName',count(1) from rcm_formalassessment_info f where f.stage in ('3','3.5','3.7',3.9,'4','5')
		union all
		select 'pre',count(1) from rcm_pre_info p where p.stage in ('3','3.5','3.7','3.9','4','5')
		union all
		select 'bulletin',count(1) from rcm_bulletin_info b where b.stage in ('1.5','2','3')
	</select>
	
	<select id="countByStatus2" resultType="hashmap">
		select 'fromName',count(1) from rcm_formalassessment_info f where f.stage in ('6','7','9')
		union all
		select 'pre',count(1) from rcm_pre_info p where p.stage in ('6','7','9')
		union all
		select 'bulletin',count(1) from rcm_bulletin_info b where b.stage in ('4','5')
	</select>
	
	<select id="countTzjcAll" resultType="int" parameterType="map">
		select t1.num1+t2.num2 from 
		  (select count(*) num1 from rcm_v_deptreport_wxsh) t1,
		  (select count(*) num2 from rcm_v_deptreport_xsh) t2
	</select>
	
	<select id="countTzjcXsh" resultType="int" parameterType="map">
		select count(*)  from rcm_v_deptreport_xsh
	</select>
	
	<select id="countTzjcWxsh" resultType="int" parameterType="map">
		select count(*)  from rcm_v_deptreport_wxsh
	</select>

	<select id="getPreWghGroupAreaReports1401" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_pre_info r
		   where r.stage  in ('1','2','3')  and r.servicetype_id ='1401'
		   ) na
	   group by pertainareaName
	</select>

	<select id="getPreWghGroupAreaReports1402" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_pre_info r
		   where r.stage  in ('1','2','3')  and r.servicetype_id ='1402'
		   ) na
	   group by pertainareaName
	</select>

	<select id="getFormalaWghGroupAreaReports1401" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_formalassessment_info r
		   where r.stage in ('1','2','3','3.5','3.7','4','5')  and r.servicetype_id ='1401'
		   ) na
	   group by pertainareaName
	</select>
	<select id="getPreaWghGroupAreaReports1401" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_pre_info r
		   where r.stage in ('1','2','3','3.5','3.7','4','5')  and r.servicetype_id ='1401'
		   ) na
	   group by pertainareaName
	</select>

	<select id="getFormalaWghGroupAreaReports1402" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_formalassessment_info r
		   where r.stage in ('1','2','3','3.5','3.7','4','5')  and r.servicetype_id ='1402'
		   ) na
	   group by pertainareaName
	</select>
	<select id="getProjectReport0922ByYw" resultType="map" parameterType="map">
	select t.*,tt.ordernum,tt.team_leader,tt.team_leader_id from (
		  select r.TEAM_ID,r.TEAM_NAME,SUM(r.FORMAL_GOING) as FORMAL_GOING,
			  SUM(r.FORMAL_DEALED) as FORMAL_DEALED,
		      SUM(r.PRE_GOING) as PRE_GOING,
		      SUM(r.PRE_DEALED) as PRE_DEALED,
		      SUM(r.BULLETIN_GOING) as BULLETIN_GOING,
		      SUM(r.BULLETIN_DEALED) as BULLETIN_DEALED,
		      SUM(r.TOTAL_NUM) as TOTAL 
		      from rcm_v_deptreport_0922 r 
		      where r.person_type = '1'
		    GROUP BY r.TEAM_NAME,r.TEAM_ID   ) t , team tt where t.team_id = tt.uuid
    order by tt.ordernum
	</select>
	
	
	<select id="getProjectReport0922ByFl" resultType="map" parameterType="map">
		 select t.*,tt.ordernum,tt.team_leader,tt.team_leader_id from (
   		 select r.TEAM_ID,r.TEAM_NAME,SUM(r.FORMAL_GOING) as FORMAL_GOING ,
	      SUM(r.FORMAL_DEALED) as FORMAL_DEALED,
	      SUM(r.BULLETIN_GOING) as BULLETIN_GOING,
		  SUM(r.BULLETIN_DEALED) as BULLETIN_DEALED,
	      SUM(r.TOTAL_NUM) as TOTAL 
	    from rcm_v_deptreport_0922 r  where r.person_type = '2'    GROUP BY r.TEAM_NAME,r.TEAM_ID ) t , team tt where t.team_id = tt.uuid order by t.TEAM_ID
  
	</select>

	<select id="getFzrByTeamId" parameterType="map" resultType="hashmap">
		select *  from rcm_v_deptreport_0922 where team_id=#{teamID} and person_type = '1' 
	</select>
	
	<select id="getFlFzrByTeamId" parameterType="map" resultType="hashmap">
		select *  from rcm_v_deptreport_0922 where team_id=#{teamID} and person_type = '2' 
	</select>
	
	
	<select id="getFormalaYghGroupAreaReports" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
	        from rcm_formalassessment_info r
	          where r.stage in ('6','7','9')  and r.servicetype_id not like '%,%'
	           order by r.pertainareaid
	       ) na
	     group by pertainareaName
	</select>
	<select id="getPreaYghGroupAreaReports" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
	        from rcm_pre_info r
	          where r.stage in ('6','7','9')  and r.servicetype_id not like '%,%'
	           order by r.pertainareaid
	       ) na
	     group by pertainareaName
	</select>
	
	<select id="getFormalaWghGroupAreaReports" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_formalassessment_info r
		   where r.stage in ('3','3.5','3.7','3.9','4','5')  and r.servicetype_id is not null and r.servicetype_id not like '%,%' 
		   order by r.pertainareaid
		   ) na
	   group by pertainareaName
	</select>
	<select id="getPreaWghGroupAreaReports" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_pre_info r
		   where r.stage in ('3','3.5','3.7','3.9','4','5')   and r.servicetype_id not like '%,%' 
		   order by r.pertainareaid
		   ) na
	   group by pertainareaName
	</select>
	
	<select id="getFormalaWghReportsByServiceType" resultType="hashmap">
		select COUNT(*) as value,na.areaName as name  from (
	      select  (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) areaName
	        from rcm_formalassessment_info r
	       where r.stage in ('1','2','3','3.5','3.7','4','5')  
	       order by r.pertainareaid
	       ) na
	     group by areaName 
	</select>
	<select id="getPreaWghReportsByServiceType" resultType="hashmap">
		select COUNT(*) as value,na.areaName as name  from (
	      select  (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) areaName
	        from rcm_pre_info r
	       where r.stage in ('1','2','3','3.5','3.7','4','5')  
	       order by r.pertainareaid
	       ) na
	     group by areaName 
	</select>
	
	<select id="getFormalaWghReportsByAreaWithGm" resultType="hashmap">
		select sum(investmentamount) as value,na.pertainareaName as name  from (
       		 select (select f.investmentamount from rcm_formalassessment_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
          from rcm_formalassessment_info r
         where r.stage in ('1','2','3','3.5','3.7','4','5')  
         ) na
       group by pertainareaName 
	</select>
	<select id="getPreaWghReportsByAreaWithGm" resultType="hashmap">
		select sum(investmentamount) as value,na.pertainareaName as name  from (
       		 select (select f.investmentamount from rcm_pre_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
          from rcm_pre_info r
         where r.stage in ('1','2','3','3.5','3.7','4','5')  
         ) na
       group by pertainareaName 
	</select>
	
	<select id="getFormalaYghReportsByServiceWithGm" resultType="hashmap">
    	select sum(investmentamount) as value,na.serviceName as name  from (
            select (select f.investmentamount from rcm_formalassessment_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) serviceName
          from rcm_formalassessment_info r
         where r.stage in ('1','2','3','3.5','3.7','4','5')  
         ) na
       group by serviceName 
	</select>
	
	<select id="getFormalaWghReportsByServiceWithGm" resultType="hashmap">
    	select sum(investmentamount) as value,na.serviceName as name  from (
            select (select f.investmentamount from rcm_formalassessment_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) serviceName
          from rcm_formalassessment_info r
         where r.stage in ('1','2','3','3.5','3.7','4','5')  
         ) na
       group by serviceName
	</select>
	<select id="getPreaWghReportsByServiceWithGm" resultType="hashmap">
    	select sum(investmentamount) as value,na.serviceName as name  from (
            select (select f.investmentamount from rcm_pre_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) serviceName
          from rcm_pre_info r
         where r.stage in ('1','2','3','3.5','3.7','4','5')  
         ) na
       group by serviceName
	</select>
	
	<select id="getFormalaYghReportsByAreaWithGm" resultType="hashmap">
    	select sum(investmentamount) as value,na.pertainareaName as name  from (
            select (select f.investmentamount from rcm_formalassessment_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
         	 from rcm_formalassessment_info r
	         where r.stage in ('6','7')  
	         ) na
       group by pertainareaName 
	</select>
	<select id="getPreaYghReportsByAreaWithGm" resultType="hashmap">
    	select sum(investmentamount) as value,na.pertainareaName as name  from (
            select (select f.investmentamount from rcm_pre_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
         	 from rcm_pre_info r
	         where r.stage in ('6','7','9')  
	         ) na
       group by pertainareaName 
	</select>
	
	<select id="getFromYghGroupServiceWithNum" resultType="hashmap">
    	select count(*) as value,na.serviceName as name  from (
            select   
               (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) serviceName
          from rcm_formalassessment_info r
         where r.stage in ('6','7','9')     
         ) na
       group by serviceName
	</select>
	<select id="getPreFromYghGroupServiceWithNum" resultType="hashmap">
    	select count(*) as value,na.serviceName as name  from (
            select   
               (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) serviceName
          from rcm_pre_info r
         where r.stage in ('6','7','9')     
         ) na
       group by serviceName
	</select>
	
	<select id="getFromYghGroupServiceWithGm" resultType="hashmap">
    	select sum(investmentamount) as value,na.serviceName as name  from (
            select (select f.investmentamount from rcm_formalassessment_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) serviceName
          from rcm_formalassessment_info r
         where r.stage in ('6','7','9')  
         ) na
       group by serviceName
	</select>
	<select id="getPreFromYghGroupServiceWithGm" resultType="hashmap">
    	select sum(investmentamount) as value,na.serviceName as name  from (
            select (select f.investmentamount from rcm_pre_report f where f.businessid= r.businessid)as  investmentamount , 
               (select t.item_name from sys_dictionary_item t where t.item_code=r.servicetype_id) serviceName
          from rcm_pre_info r
         where r.stage in ('6','7','9')  
         ) na
       group by serviceName
	</select>
	
	<select id="getFromWghByServietypeAndAreaWithNum" resultType="hashmap">
				select areaId,
		       item_code,
		       (select item_name
		          from sys_dictionary_item t
		         where t.item_code = xyz.item_code) servicename,
		       sum(num) num
		  from (select areaid, item_code, decode(name, item_code, value, 0) num
		          from (select na.pertainareaid as areaid,
		                       na.servicecode as name,
		                       count(*) as value
		                  from (select r.pertainareaid, r.servicetype_id servicecode
		                          from rcm_formalassessment_info r
		                         where r.servicetype_id not like '%,%'
		                           and r.stage in ('3', '3.5', '3.7', '3.9', '4', '5')) na
		                 where na.servicecode is not null
		                 group by (pertainareaid, servicecode)
		                 order by pertainareaid, servicecode) gg,
		               (select item_code
		                  from sys_dictionary_item i
		                 where i.fk_dictionary_uuid =
		                       '52573fc1a3ae4fd78fd2a1c66cee30a1') xx) xyz
		 group by areaid, item_code
		 order by areaid, item_code
	</select>
	<select id="getPreFromWghByServietypeAndAreaWithNum" resultType="hashmap">
		select areaid,item_code,(select item_name from sys_dictionary_item t where t.item_code=xyz.item_code)servicename,sum(num) num from
    (
    select areaid,item_code,decode(name,item_code,value,0) num from 
    (select  na.pertainareaid as areaid,
            na.servicecode as name, 
           count(*) as value
      from (select r.pertainareaid,r.servicetype_id servicecode
                   
              from rcm_pre_info r
             where r.servicetype_id not like '%,%' 
             and r.stage in ('3', '3.5', '3.7', '3.9','4', '5')) na where na.servicecode is not null
     group by (pertainareaid,servicecode)
     order by pertainareaid, servicecode
     ) gg,
     (select item_code from sys_dictionary_item i where i.fk_dictionary_uuid='52573fc1a3ae4fd78fd2a1c66cee30a1') xx
    ) xyz group by areaid,item_code 
      order by areaid,item_code  	
	</select>
	
	<select id="getFromWghByServietypeAndAreaWithGm" resultType="hashmap">
		select areaname,item_code,(select item_name from sys_dictionary_item t where t.item_code = xyz.item_code) servicename,sum(num) num
  		from (select areaname, item_code, decode(name, item_code, value, 0) num
          from (select na.pertainareaName as areaName,
                       na.servicecode as name,
                       investmentamount as value
                  from (select (select t.item_code
                                  from sys_dictionary_item t
                                 where t.item_code = r.servicetype_id) servicecode,
                               (select t.name
                                  from sys_org t
                                 where t.ORGPKVALUE = r.pertainareaid) pertainareaName,
                                 
                                 (select f.investmentamount 
                                 from rcm_formalassessment_report f 
                                 where f.businessid= r.businessid)  investmentamount
                                 
                          from rcm_formalassessment_info r
                         where r.servicetype_id not like '%,%'
                           and r.stage in ('1', '2', '3', '3.5', '3.7', '4', '5')) na
                 where na.servicecode is not null
                 group by (pertainareaName, servicecode,investmentamount)
                 order by pertainareaName, servicecode) gg,
               (select item_code
                  from sys_dictionary_item i
                 where i.fk_dictionary_uuid =
                       '52573fc1a3ae4fd78fd2a1c66cee30a1') xx) xyz
     group by areaname, item_code
     order by areaname, item_code
	</select>
	<select id="getPreFromWghByServietypeAndAreaWithGm" resultType="hashmap">
		select areaname,item_code,(select item_name from sys_dictionary_item t where t.item_code = xyz.item_code) servicename,sum(num) num
  		from (select areaname, item_code, decode(name, item_code, value, 0) num
          from (select na.pertainareaName as areaName,
                       na.servicecode as name,
                       investmentamount as value
                  from (select (select t.item_code
                                  from sys_dictionary_item t
                                 where t.item_code = r.servicetype_id) servicecode,
                               (select t.name
                                  from sys_org t
                                 where t.ORGPKVALUE = r.pertainareaid) pertainareaName,
                                 
                                 (select f.investmentamount 
                                 from rcm_pre_report f 
                                 where f.businessid= r.businessid)  investmentamount
                                 
                          from rcm_pre_info r
                         where r.servicetype_id not like '%,%'
                           and r.stage in ('1', '2', '3', '3.5', '3.7', '4', '5')) na
                 where na.servicecode is not null
                 group by (pertainareaName, servicecode,investmentamount)
                 order by pertainareaName, servicecode) gg,
               (select item_code
                  from sys_dictionary_item i
                 where i.fk_dictionary_uuid =
                       '52573fc1a3ae4fd78fd2a1c66cee30a1') xx) xyz
     group by areaname, item_code
     order by areaname, item_code
	</select>
	
	<select id="getFromYghByServietypeAndAreaWithNum" resultType="hashmap">
		select areaid,item_code,
		       (select item_name
		          from sys_dictionary_item t
		         where t.item_code = xyz.item_code) servicename,
		       sum(num) num
		  from (select areaid, item_code, decode(name, item_code, value, 0) num
		          from (select na.pertainareaid as areaid,
		                       na.servicecode as name,
		                       count(*) as value
		                  from (select r.pertainareaid, r.servicetype_id servicecode
		                          from rcm_formalassessment_info r
		                         where r.servicetype_id not like '%,%'
		                           and r.stage in ('6', '7', '9')) na
		                 where na.servicecode is not null
		                 group by (pertainareaid, servicecode)
		                 order by pertainareaid, servicecode) gg,
		               (select item_code
		                  from sys_dictionary_item i
		                 where i.fk_dictionary_uuid =
		                       '52573fc1a3ae4fd78fd2a1c66cee30a1') xx) xyz
		 group by areaid, item_code
		 order by areaid, item_code		
	</select>
	<select id="getPreFromYghByServietypeAndAreaWithNum" resultType="hashmap">
		select areaid,item_code,(select item_name from sys_dictionary_item t where t.item_code=xyz.item_code)servicename,sum(num) num from
		(
		select areaid,item_code,decode(name,item_code,value,0) num from 
		(select  na.pertainareaid as areaid,
		        na.servicecode as name, 
		       count(*) as value
		  from (select r.pertainareaid,r.servicetype_id servicecode from rcm_pre_info r
		         where r.servicetype_id not like '%,%' 
		         and r.stage in ('6', '7', '9')) na where na.servicecode is not null
		 group by (pertainareaid,servicecode)
		 order by pertainareaid, servicecode
     ) gg,
     (select item_code from sys_dictionary_item i where i.fk_dictionary_uuid='52573fc1a3ae4fd78fd2a1c66cee30a1') xx
    ) xyz group by areaid,item_code 
      order by areaid,item_code    
	</select>
	
	<select id="getFromYghByServietypeAndAreaWithGm" resultType="hashmap">
		select areaname,item_code,(select item_name from sys_dictionary_item t where t.item_code = xyz.item_code) servicename,sum(num) num
  		from (select areaname, item_code, decode(name, item_code, value, 0) num
          from (select na.pertainareaName as areaName,
                       na.servicecode as name,
                       investmentamount as value
                  from (select (select t.item_code
                                  from sys_dictionary_item t
                                 where t.item_code = r.servicetype_id) servicecode,
                               (select t.name
                                  from sys_org t
                                 where t.ORGPKVALUE = r.pertainareaid) pertainareaName,
                                 
                                 (select f.investmentamount 
                                 from rcm_formalassessment_report f 
                                 where f.businessid= r.businessid)  investmentamount
                                 
                          from rcm_formalassessment_info r
                         where r.servicetype_id not like '%,%'
                           and r.stage in ('6', '7', '9')) na
                 where na.servicecode is not null
                 group by (pertainareaName, servicecode,investmentamount)
                 order by pertainareaName, servicecode) gg,
               (select item_code
                  from sys_dictionary_item i
                 where i.fk_dictionary_uuid =
                       '52573fc1a3ae4fd78fd2a1c66cee30a1') xx) xyz
		 group by areaname, item_code
		 order by areaname, item_code
	</select>
	
	<select id="getPreFromYghByServietypeAndAreaWithGm" resultType="hashmap">
		select areaname,item_code,(select item_name from sys_dictionary_item t where t.item_code = xyz.item_code) servicename,sum(num) num
  		from (select areaname, item_code, decode(name, item_code, value, 0) num
          from (select na.pertainareaName as areaName,
                       na.servicecode as name,
                       investmentamount as value
                  from (select (select t.item_code
                                  from sys_dictionary_item t
                                 where t.item_code = r.servicetype_id) servicecode,
                               (select t.name
                                  from sys_org t
                                 where t.ORGPKVALUE = r.pertainareaid) pertainareaName,
                                 
                                 (select f.investmentamount 
                                 from rcm_pre_report f 
                                 where f.businessid= r.businessid)  investmentamount
                                 
                          from rcm_pre_info r
                         where r.servicetype_id not like '%,%'
                           and r.stage in ('6', '7', '9')) na
                 where na.servicecode is not null
                 group by (pertainareaName, servicecode,investmentamount)
                 order by pertainareaName, servicecode) gg,
               (select item_code
                  from sys_dictionary_item i
                 where i.fk_dictionary_uuid =
                       '52573fc1a3ae4fd78fd2a1c66cee30a1') xx) xyz
		 group by areaname, item_code
		 order by areaname, item_code
	</select>
	
	<select id="getBulletinFromWghByServietypeAndAreaWithNum" resultType="hashmap">
		select areaId,
       item_code,
       (select item_name
          from sys_dictionary_item t
         where t.uuid = xyz.item_code) servicename,
       sum(num) num
  from (select areaId, item_code, decode(name, item_code, value, 0) num
          from (select na.pertainareaid as areaId,
                       na.servicecode as name,
                       count(*) as value
                  from (select r.bulletintypeid servicecode,
                               r.pertainareaid
                          from rcm_bulletin_info r
                         where r.stage in
                               ('2', '3','1.5')) na
                 where na.servicecode is not null
                 group by (pertainareaid, servicecode)
                 order by pertainareaid, servicecode) gg,
               (select uuid item_code
                  from sys_dictionary_item i
                 where i.fk_dictionary_uuid =
                       '730a6d7456f24023990b9812563aad6b') xx) xyz
 group by areaId, item_code
 order by areaId, item_code
	</select>
	
	<select id="getBulletinWghGroupAreaReports" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
		    from rcm_bulletin_info r
		   where r.stage in ('2', '3','1.5')  
		   order by r.pertainareaid
		   ) na
	   group by pertainareaName
	</select>
	
	<select id="getBulletinFromYghByServietypeAndAreaWithNum" resultType="hashmap">
	select areaid,
       item_code,
       (select item_name
          from sys_dictionary_item t
         where t.uuid = xyz.item_code) servicename,
       sum(num) num
  from (select areaid, item_code, decode(name, item_code, value, 0) num
          from (select na.pertainareaid as areaid,
                       na.servicecode as name,
                       count(*) as value
                  from (select r.bulletintypeid servicecode,
                               r.pertainareaid
                          from rcm_bulletin_info r
                         where r.stage in
                               ('4', '5')) na
                 where na.servicecode is not null
                 group by (pertainareaid, servicecode)
                 order by pertainareaid, servicecode) gg,
               (select uuid item_code
                  from sys_dictionary_item i
                 where i.fk_dictionary_uuid =
                       '730a6d7456f24023990b9812563aad6b') xx) xyz
 group by areaid, item_code
 order by areaid, item_code
	</select>
	
	<select id="getBulletinYghGroupAreaReports" resultType="hashmap">
		select COUNT(*) as value,na.pertainareaName as name  from (
		  select  (select t.name from sys_org t where t.ORGPKVALUE=r.pertainareaid) pertainareaName
	        from rcm_bulletin_info r
	          where r.stage in ('4','5')  
	           order by r.pertainareaid
	       ) na
	     group by pertainareaName
	</select>
</mapper>
