<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.project.dao.IJournalMapper">

	<insert id="save" parameterType="map">
		insert into sys_journal(id, accesstime, type, content, create_date, request_url,
		request_params,request_userid,ip) values(#{id}, #{accesstime},#{type},#{content,jdbcType=CLOB},
		sysdate,#{requestUrl},#{requestParams},#{requestUserId,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR})
	</insert>
	
	<select id="queryByPage" resultType="hashmap">
		select * from sys_journal where 1=1
		<if test="TYPE!=null and TYPE!=''"> and type like '%${TYPE}%'</if> 
		<if test="accesstime_start!=null and accesstime_start!=''"><![CDATA[ and accesstime >= #{accesstime_start}]]></if> 
		<if test="accesstime_end!=null and accesstime_end!=''"><![CDATA[ and accesstime <= #{accesstime_end}]]></if> 
		order by accesstime desc
	</select>
	<select id="queryById" resultType="hashmap" parameterType="map">
		select * from sys_journal where id = #{id}
	</select>
</mapper>