
<div class="panel-body">
    <div class="header">
        <img src="assets/images/icons/DocumentManagement.png" width="41" height="41" alt="" title="" />
        <span class="hd-title">附件</span>
    </div>
    <form ng-submit="ListAll()" class="form-horizontal ng-pristine ng-valid" name="myForm">
        <div id="dataDictionary" class="panel-group">
            <div class="panel">
                <input type="hidden" name="yuuid" id="yuuid" ng-model="conf.UUID" >
                <input type="hidden" name="ybusiness_name" id="ybusiness_name" ng-model="conf.BUSINESS_NAME" >
                <input type="hidden" name="business_type" id="business_type" ng-model="conf.BUSINESS_TYPE" >
                <input type="hidden" name="bitem_type" id="bitem_type" ng-model="conf.ITEM_TYPE" >
                <div class="panel-heading search-box">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="dataDictionary" href="/#searchbox">查询</a>
                </div>
                <div id="searchbox" class="panel-collapse in">
                    <div class="panel-body search-body">
                        <div class="row nobottom-mar sm-row">
                            <!--<input type="text" name="PROJECT_TYPE" id="PROJECT_TYPE" ng-model="conf.PROJECT_TYPE" />-->
                            <label class="col-sm-2 col-md-1 control-label">附件名称</label>
                            <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="ITEM_NAME" id="ITEM_NAME" ng-model="ITEM_NAME" class="form-control ng-pristine ng-untouched ng-valid" /></div>
                            <label class="col-sm-2 col-md-1 control-label">附件编码</label>
                            <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="ITEM_CODE" id="ITEM_CODE" ng-model="ITEM_CODE" class="form-control ng-pristine ng-untouched ng-valid" /></div>
                            <div class="col-sm-12 col-md-2 search">
                                <button class="btn btn-info" type="submit" ><i class="glyphicon glyphicon-search"></i>查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="panel">
            <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">附件<i class="i-triangle"></i></span></div></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 col-md-2 noleft-pad">
                        <a href="#/BusinessModelList" class="btn btn-info"><i class="fa fa-reply"></i>返回</a>
                        <button type="button" class="btn btn-info"  ng-click="addAttachment()"><i class="glyphicon glyphicon-plus"></i>添加</button>
                        <!--<button type="button" class="btn btn-info"  ng-click="updateDictionary()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>-->
                    </div>
                    <label class="col-sm-3 col-md-2 control-label">请选择功能模块</label>
                    <div class="col-sm-4 col-md-2">
                        <select ng-model="conf.ITEM_TYPE"   id="ITEM_TYPE" ng-options="item.ITEM_NAME as item.ITEM_NAME for item in allname track by item.ITEM_NAME"  class="form-control ng-pristine ng-valid ng-touched">   </select>
                    </div>
                    <label class="col-sm-3 col-md-2 control-label">请选择业务类型</label>
                    <div class="col-sm-4 col-md-2">
                        <select ng-model="conf.SERVICE"   id="SERVICE" ng-options="sy.VALUE for sy in Syncbusinessmodel track by sy.KEY"  class="form-control ng-pristine ng-valid ng-touched">   </select>
                    </div>
                </div>
                <div class="row nobottom-mar">
                    <div class="table-responsive table-list">
                        <table border="0" cellspacing="0" cellpadding="0" class="table table-text-mid table-hover datatable fs-col-fixed">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>序号</th>
                                <th>附件名称</th>
                                <th>附件编码</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="t in item" on-finish-render-filters >
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="checkbox" class="px ng-pristine ng-untouched ng-valid" value="{{t.UUID}}"/>
                                        <span class="lbl">&nbsp;</span>
                                    </label>
                                </td>
                                <td>{{$index+1}}</td>
                                <td>{{t.ITEM_NAME}}</td>
                                <td>{{t.ITEM_CODE}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-footer clearfix">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    <!--
    $(function(){
        //查询关闭&展示
        $(".panel-heading").find(".ico-dorp").click(function(){
            $(this).toggleClass("fa-plus");
            $(this).toggleClass("fa-minus");
            $(this).parents(".panel-heading").siblings(".panel-body").stop().slideToggle(300);
        });
        //菜单关闭&展示
        $(".wrap-info .menuico").toggle(function(){
            $(this).addClass("glyphicon-menu-right").removeClass("glyphicon-menu-left");
            $(this).parents(".wrapper").stop().animate({"margin-left":"-150px"},300);
        },function(){
            $(this).addClass("glyphicon-menu-left").removeClass("glyphicon-menu-right");
            $(this).parents(".wrapper").stop().animate({"margin-left":"0"},300);
        });
        //二级菜单关闭&展示
        $(".menu-bd .list").children("li").click(function(){
            var dropDown = $(this).find(".sub-list");
            var togClass=$(this).find(".ico");
            $(".menu-bd .list li .sub-list").not(dropDown).slideUp(300);
            $(".menu-bd .list li .ico").not(togClass).removeClass("fa-minus");
            dropDown.slideToggle(300);
            togClass.toggleClass("fa-minus");
        });
        //收藏
        $(".ico-wrap .fa-star").click(function(){
            $(this).toggleClass("red-star");
        });
        //分配角色弹层
        $(".allot").click(function(){
            Visa.NoticePopup.show();
        });
        $("#pub-notice .ico-x").click(function(){
            $("#js-index-popup").hide(300);
            $("#_Dialog_maskwrap").hide(100);
        });
    });
    var name,value;
    var str=location.href; //取得整个地址栏
    var num=str.lastIndexOf("/");
    str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
    $("#createbtn").attr('ng-click',"Create("+str+")");
    //-->
</script>