<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/BasicSet.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">评审小组管理</span>
	</div>
	<div class="panel">
		<div class="panel-heading">
			<span class="panel-title">评审小组管理</span>
		</div>
		<div class="panel-body">
			<form class="form-horizontal ng-pristine ng-valid" name="myForm"  ng-submit="save()">
				<div class="row">
					<input type="hidden" name="team_id" id="TEAM_ID" ng-model="team.TEAM_ID" value="{{team.TEAM_ID}}" />
					<input type="hidden" name="lead_id" id="LEAD_ID" ng-model="team.LEAD_ID" value="{{team.LEAD_ID}}" />
					<label  class="col-sm-2 control-label">评审小组</label>
					<div class="col-sm-4">
						<input type="text" name="team_name" id="TEAM_NAME" required  ng-model="team.TEAM_NAME" class="form-control" />
					</div>
				</div>
				<div class="row" name="groupMember">
					<label for="" class="col-sm-2 control-label">组长</label>
					<div class="col-sm-4 has-feedback">
						<div class="full-drop">
							<input type="text" class="form-control" id="TEAM_LEADERNAME"  ng-model="team.TEAM_LEADERNAME" ng-click="setDirectiveParam('teamLeader')"  data-toggle="modal" data-target="#company-modal"  class="select2-success">
							<input type="hidden" class="form-control" id="TEAM_LEADERVALUE"  ng-model="team.TEAM_LEADERVALUE"/>

							<i class="fa fa-user form-control-feedback"></i>
						</div>
					</div>
				</div>
				<div class="row" name="groupMember">
					<label for="" class="col-sm-2 control-label">组员</label>
					<div class="col-sm-4 has-feedback">
						<div class="full-drop">
							<input type="text" class="form-control" id="TEAM_PEOPLE"  ng-model="team.TEAM_PEOPLE" ng-click="setDirectiveParam('team_by')"  data-toggle="modal" data-target="#company-modal"  class="select2-success">
							<input type="hidden" class="form-control" id="TEAM_MAN"  ng-model="team.TEAM_MAN"/>

							<i class="fa fa-user form-control-feedback"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="btn-group-gap txl">
						<a href="#/ReviewTeamList" class="btn btn-info"><i class="fa fa-reply"></i>返回</a>
						<button  type="button" ng-click="insertAll()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

	<directive-user-list></directive-user-list>


<div id="headerName">
	<div id="companyHeaderName" name="companyHeaderName" ng-click="setDirectiveParam('companyHeader')" data-toggle="modal" data-target="#company-modal"  class="select2-success">
		<div id="s2id_projectModel" class="select2-container select2-container-multi form-control ng-untouched ng-valid ng-dirty ng-valid-parse">
			<ul class="select2-choices">
				<li class="select2-search-field">
					<input id="s2id_autogen2" class="select2-input" type="text" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" style="width: 16px;">
				</li>
			</ul>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function(){
		//二级菜单关闭&展示
		$(".dropdown-list").children("li").click(function(){
			var dropDown = $(this).find(".sub-list");
			var togClass=$(this).find(".ico");
			$(".dropdown-list li .sub-list").not(dropDown).slideUp(300);
			$(".dropdown-list li .ico").not(togClass).removeClass("fa-minus");
			dropDown.slideToggle(300);
			togClass.toggleClass("fa-minus");
		});
		//单选
		$(".one-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			$(this).parents(".dropdown-list").find(".sub-list li a").not($(this).children()).removeClass("cur");
			return false;
		});
		//多选
		$(".more-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			return false;
		});
	});

	function addrow(p){
		var obj=$(p).parent().parent();
		var n=obj.attr("name");
		var addtr = "<div class=\"row groupMember\" name=\""+n+"\"><label for=\"\" class=\"col-sm-2 control-label\">组员<i class=\"fa fa-times\" onclick=\"delrow(this)\"></i></label><div class=\"col-sm-4\"><input type=\"text\" name=\"\" class=\"form-control\" /></div></div>";
		$("div[name='"+n+"']:last").after(addtr);
	}

	function delrow(p){
		var obj=$(p).parent().parent();
		obj.remove();
	}

	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#bidOpenTime').datepicker(options);
	});
</script>