<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">已办任务</span>
	</div>
	<form class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div id="completedTask" class="panel-group">
			<div class="panel">
				<input type="hidden"  name="proId" id="proId" />
				<div class="panel-heading search-box">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#completedTask" href="/#searchbox">查询</a>
				</div>
				<div id="searchbox" class="panel-collapse in">
					<div class="panel-body search-body">
						<div class="form-group row sm-row">
							<label class="col-sm-2 col-md-1 control-label">工单主题</label>
							<div class="col-sm-4 col-md-2 sm-col"><input type="text" ng-model="paginationConf.queryObj.subject" class="form-control" /></div>
							<label class="col-sm-2 col-md-1 control-label">工单类型</label>
							<div class="col-sm-4 col-md-2 sm-col">
								<select class="form-control" ng-model="paginationConf.queryObj.processKey">
                                    <option value="">请选择...</option>
                                    <option value="preAssessment">投标评审</option>
                                    <option value="formalReview">正式评审</option>
                                    <option value="bulletin">其他决策事项</option>
                                    <option value="noticeDecision">决策通知书</option>
                                </select>
							</div>
							<!--<label for="" class="col-sm-2 control-label">审批处理日期</label>
							<div class="col-sm-2 has-feedback">
								<input type="text" class="form-control" id="bs-datepicker-component" name="bs-datepicker-component"/>
								<i class="fa fa-calendar form-control-feedback"></i>
							</div>-->
							<div class="col-sm-12 col-md-2 search">
								<button class="btn btn-info" type="button" ng-click="executequeryOverTaskByPage()"><i class="glyphicon glyphicon-search"></i>查询</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">已办任务<i class="i-triangle"></i></span></div></div>
			<div class="panel-body">
				<div class="form-group row table-responsive table-list">
					<table class="table table-hover datatable first-col-fixed">
						<thead>
						<tr>
							<th>序号</th>
							<th>工单主题</th>
							<th>工单类型</a></th>
							<th>当前环节</th>
							<th>流程开始时间</th>
						</tr>
						</thead>
						<tbody class="valign-middle">
							<tr ng-repeat="t in tasks">
								<td>{{$index+1}}</td>
								<td>
									<a ng-if="t.TYPE_ == 'preAssessment'" ng-href="#/ProjectPreReviewView/{{t.BUSINESS_KEY_}}@{{t.PROC_DEF_ID_}}@{{t.PROC_INST_ID_}}@@2">{{t.SUBJECT}}</a>
									<a ng-if="t.TYPE_ == 'formalAssessment'" ng-href="#/ProjectFormalReviewDetailView/View/{{t.BUSINESS_KEY_}}@{{t.PROC_DEF_ID_}}@{{t.PROC_INST_ID_}}@@5">{{t.SUBJECT}}</a>
									<a ng-if="t.TYPE_ == 'formalReview'" ng-href="#/FormalAssessmentAuditDetailView/{{t.BUSINESS_KEY_}}/{{'#/OverTask/'+oldUrl|encodeURI}}">{{t.SUBJECT}}</a>
									<a ng-if="t.TYPE_ == 'preReview'" ng-href="#/PreAuditDetailView/{{t.BUSINESS_KEY_}}/{{'#/OverTask/'+oldUrl|encodeURI}}">{{t.SUBJECT}}</a>
									<a ng-if="t.TYPE_ == 'noticeOfDecision'" ng-href="#/NoticeOfDecision/view/{{t.BUSINESS_KEY_}}@{{t.PROC_DEF_ID_}}@{{t.PROC_INST_ID_}}@@5">{{t.SUBJECT}}</a>
									<a ng-if="t.TYPE_ == 'noticeDecision'" ng-href="#/noticeDecisionAuditView/submitted/{{t.BUSINESS_KEY_}}/{{'#/OverTask/'+oldUrl|encodeURI}}">{{t.SUBJECT}}</a>
									<a ng-if="t.TYPE_ == 'bulletin'" ng-href="#/BulletinMattersAuditView/{{t.BUSINESS_KEY_}}/{{'#/OverTask/'+oldUrl|encodeURI}}">{{t.SUBJECT}}</a>
								</td>
								<td>{{t.TYPE_TEXT}}</td>
								<td>{{t.PHASE}}</td>
								<td>{{t.START_TIME_}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="option">
					<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
				</div>
			</div>
		</div>
	</form>
</div>
<script>
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#bs-datepicker-component').datepicker(options);
	});
</script>