<div class="row nobottom-mar">
    <div class="col-sm-12 noleft-pad noright-pad" id="templateSelect" data-toggle="modal"
         data-target="#userSinDialog_summaryTemplate">
        <select style="width: 200px" ng-change="change()"
                class="form-control" name="userSinDialog_summaryTemplate"
                ng-model="template"
                ng-options="summary.ITEM_NAME for summary in summaryTemplate track by summary.ITEM_CODE">
        </select>
        <div ng-if="isShow" id="userSinDialog_summaryTemplate" class="modal modal-dialog selection-pop" tabindex="-1" role="dialog"
             style="display: none;position: fixed">
            <div class="modal-content" style="position: fixed;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%); height:146px">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body" style="height: 80px">
                        <div style="margin-top: 18px;">切换模板时，模板填写数据会清空，是否确定继续切换模板？</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-delete" style="height: 32px; width: 68px;"
                            ngf-max-size="100MB" ng-click="cancel()" aria-hidden="true"><span>取消</span></button>
                    <button type="button" class="btn-add" ng-click="submit()"
                            style="height: 32px; width: 68px">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>


