<div>
    <div class="row">
        <div class="full-drop">
<!--             <button type="button" data-toggle="modal" data-target="#compareModal" id="compareBtn" class="btn btn-info" title=""><i class="fa fa-arrows-h"></i>对比</button> -->
            <button type="button" ng-click="batchDownload()" id="batchDownloadBtn" class="btn btn-info" title=""><i class="fa fa-cloud-download"></i>打包下载</button>
            <button type="button" ng-if="showController.isInvestmentManager  && hasWaiting || pfr.oracle.WF_STATE =='0' " ng-click="addOneNewFile()" id="" class="btn btn-info" title=""><i class="fa fa-cloud-download"></i>新增</button>
            <div  id="compareModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">文件对比</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon">已选文件</span>
                                    <input type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon">目标文件</span>
                                    <select name="" id="" class="form-control">
                                        <option value="">请选择...</option>
                                        <option value="">项目投资测算.doc&nbsp;版本号：1.0</option>
                                        <option value="">项目投资测算.doc&nbsp;版本号：2.0</option>
                                        <option value="">项目投资测算.doc&nbsp;版本号：3.0</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table-bordered table-hover datatable table-text-mid table-light">
            <thead>
	            <tr>
	                <th><label class="checkbox-inline">
	                        <input type="checkbox" name="all" id="all" ng-click="selectAll()" class="px" />
	                        <span class="lbl">&nbsp;</span>
	                    </label>
	                </th>
	                <th>序号</th>
	                <th>资源名称</th>
	                <th>附件内容</th>
	                <th>编制人</th>
	                <th>审核人</th>
	                <th>创建时间</th>
	                <th>版本号</th>
	                <th ng-if="showController.isInvestmentManager && hasWaiting  || pfr.oracle.WF_STATE =='0'">相关操作</th>
	            </tr>
            </thead>
            <tbody ng-repeat="item in newAttachment " ng-init="outerIndex = $index">
	            <tr>
	                <td>
	                    <label class="checkbox-inline">
	                        <input type="checkbox" name="choose" filename="{{item.fileName}}" filepath="{{item.filePath}}" class="px" value="{{item.UUID}}"/>
	                        <span class="lbl">&nbsp;</span>
	                    </label>
	                </td>
	                <td>{{outerIndex+1}}</td>
	                <td>
	                	<span>{{item.ITEM_NAME}}</span>
	                	<div ng-if="item.newFile">
							<select ng-model="item.newItem"  ng-options="y.ITEM_NAME for y in attach " >
							</select>
						</div>
	                </td>
	                <td>
	                	<a href="javascript:void(0);" ng-click="downLoadFile(item)">{{item.fileName}}</a>
	                </td>
	                <td>
	                	<span ng-if="!showController.isInvestmentManager && pfr.oracle.WF_STATE !='0'">{{item.programmed.NAME}}</span>
	                	<direct-user-single-select ng-if="showController.isInvestmentManager && hasWaiting  || pfr.oracle.WF_STATE =='0'" id="{{'bzr_'+$index}}" checked-user="item.programmed" callback="selectPersonCallBack"></direct-user-single-select>
	                </td>
	                <td>
	                	<span ng-if="!showController.isInvestmentManager && pfr.oracle.WF_STATE !='0'">{{item.approved.NAME}}</span>
						<direct-user-single-select ng-if="showController.isInvestmentManager && hasWaiting  || pfr.oracle.WF_STATE =='0'" id="{{'shr_'+$index}}" checked-user="item.approved" callback="selectPersonCallBack"></direct-user-single-select>
					</td>
	                <td>{{item.upload_date}}</td>
	                <td>{{item.version}}</td>
	                <td ng-if="showController.isInvestmentManager && hasWaiting  || pfr.oracle.WF_STATE =='0'">
	                	<button ng-if="showController.isInvestmentManager && hasWaiting  || pfr.oracle.WF_STATE =='0'" type="button" class="btn btn-danger"  ng-click="deleteFile(item)">删除</button>
	                    <button ng-if="item.newFile == null && showController.isInvestmentManager && hasWaiting  ||item.newFile == null && pfr.oracle.WF_STATE =='0'" type="button"  class="btn btn-info" ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles,outerIndex,item)">替换</button>
	                    <button ng-if="item.newFile && showController.isInvestmentManager  && hasWaiting ||item.newFile && pfr.oracle.WF_STATE =='0'" type="button"  class="btn btn-info" ngf-max-size="100MB" ngf-select="uploadNew($file,$invalidFiles,outerIndex,item)">新增</button>
	               	</td>
	            </tr>
            </tbody>
        </table>
    </div>
</div>