<div class="panel-body">
	<form id="RegulationsInfo" class="form-horizontal" name="RegulationsInfo">
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt=""
					title="" /><span class="hd-title">规章制度--查看</span>
			</div>
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-hd-cont">
						<span class="panel-title">规章制度<i class="i-triangle"></i></span>
					</div>
				</div>
				<div class="panel-body">
					<div class="special-form">
						<div class="row">
							<label for="" class="col-sm-2 control-label">规章制度名称</label>
							<div class="col-sm-4">
								<input type="text" readonly="readonly" data-toggle="modal" class="form-control" name="name" id="name" ng-model="regulationsInfo.NAME"/>
							</div>
						</div>
						<div class="row">
							<label for="" class="col-sm-2 control-label">规章制度内容</label>
							<div class="col-sm-10 has-feedback">
								<textarea rows="6%" cols="100%" readonly="readonly" auto-height data-toggle="modal" class="form-control" name="content" id="content" ng-model="regulationsInfo.CONTENT" ></textarea>
							</div>
						</div>
						<div class="row">
							<div id="attachmentFile">
								<label for="" class="col-sm-2 control-label">附件</label>
								<div class="col-sm-9">
									<div class="row nobottom-mar">
										<div class="col-sm-10 noleft-pad noright-pad">
											<a  href="javascript:void(0);" ng-click="downLoadFile(regulationsInfo.FILE_PATH,regulationsInfo.FILE_NAME)" style="line-height: 27px;" >{{regulationsInfo.FILE_NAME}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="button-group">
			<div class="row">
				<div class="option txl">
					<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
				</div>
			</div>
		</div>
	</form>
</div>
<script  type="text/javascript">
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#expire_date').datepicker(options);

	});
	</script>