<div class="panel-body" ng-controller="myControl">
	<form class="form-horizontal ng-pristine ng-valid" onsubmit="return false;">
		<div class="">
			<div class="header">
				<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
				<span class="hd-title">填写初步评审意见</span>
			</div>
			<div id="preReviewComments" class="panel-group">
					<div class="panel">
						<div class="panel-heading">
							<a class="accordion-toggle collapsed" href="/#porjectPreReview" data-parent="#preReviewComments" data-toggle="collapse">项目预评审申请</a>
							<i class="blue-block"></i>
						</div>
						<div id="porjectPreReview" class="panel-collapse collapse">
							<div class="panel-body">
								<div id="myTab" class="myTab">
									<ul class="nav nav-tabs bs-tabdrop-example">
										<li class="active">
											<a href="javascript:;" data-toggle="tab">流程表单</a>
										</li>
										<li>
											<a href="javascript:;" data-toggle="tab">流程图</a>
										</li>
										<li >
											<a href="javascript:;" data-toggle="tab">相关资源</a>
										</li>
									</ul>
								</div>
								<div class="tab-content tab-content-bordered">
									<div class="tab-pane in active" id="contracts_file_info">
										<fieldset disabled="disabled">
											<div class="row">
												<label for="" class="col-sm-2 control-label">所属大区</label>
												<div class="col-sm-4 has-feedback">
													<div class="full-drop">
														<input type="text" class="form-control" id="reportingUnitName" placeholder="所属大区" name="reportingUnitName" ng-model="ppr.reportingUnitName">
														<input type="hidden" class="form-control" id="reportingUnitValue" name="reportingUnitValue" ng-model="ppr.reportingUnitValue">
														<button class="sapmle-but"  data-toggle="modal" data-target="#myModal" ></button>
														<div  id="myModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">所属大区选择</h4>
																	</div>
																	<div class="modal-body">
																		<div class="drop-menu one-choice">
																			<div class="search-input has-feedback">
																				<input type="text" name="" class="in-t" placeholder="请输入负责人姓名" />
																				<i class="fa fa-search form-control-feedback"></i>
																			</div>
																			<div id="treeIDorg">
																				<div class="dtree"></div>
																			</div>
																		</div>	
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
																		<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
																	</div>
																</div>
															</div>
														</div>
														<i class="fa fa-hospital-o form-control-feedback"></i>
													</div>
												</div>
												<label for="" class="col-sm-2 control-label">项目编号</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" id="projectNumber" name="projectNumber" ng-model="ppr.projectNumber" placeholder="" readonly>
												</div>
											</div>
											<div class="row">
												<label for="companyCategory" class="col-sm-2 control-label">单位类别</label>
												<div class="col-sm-4">
													<select class="form-control" id="companyCategory" name="companyCategory">
														<option value="">集团</option>
														<option value="">一级</option>
														<option value="">二级</option>
													</select>
												</div>
												<label for="" class="col-sm-2 control-label">单位负责人</label>
												<div class="col-sm-4 has-feedback">
													<div class="full-drop">
														<input type="text" class="form-control" id="companyHeader" name="companyHeader" placeholder="负责"   data-toggle="modal" data-target="#company-modal" >
														<div  id="company-modal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">申报负责人选择(多选)</h4>
																	</div>
																	<div class="modal-body">
																		<div class="drop-menu">
																			<div class="search-input has-feedback">
																				<input type="text" id="" name="" class="in-t" placeholder="请输入负责人姓名" />
																				<i class="fa fa-search form-control-feedback"></i>
																			</div>
																			<ul class="dropdown-list more-choice">
																				<li class="">
																					<a title="" href="javascript:;"><span title="北控水务集团" class="text">北控水务集团</span><i class="ico fa fa-plus"></i></a>
																					<ul class="sub-list">
																						<li><a tabindex="-1" title="" href="#">三级菜单</a></li>
																						<li><a tabindex="-1" title="" href="#">三级菜单</a></li>
																						<li><a tabindex="-1" title="" href="#">三级菜单</a></li>
																						<li><a tabindex="-1" title="" href="#">三级菜单</a></li>
																						<li><a tabindex="-1" title="" href="#">三级菜单</a></li>
																					</ul>
																				</li>
																				<li>
																					<a title="" href="javascript:;"><span class="text">一级事业部</span><i class="ico fa fa-plus"></i></a>
																					<ul class="sub-list">
																						<li><a tabindex="-1" title="" href="#">二级事业部</a></li>
																						<li><a tabindex="-1" title="" href="#">二级事业部</a></li>
																						<li><a tabindex="-1" title="" href="#">二级事业部</a></li>
																						<li><a tabindex="-1" title="" href="#">二级事业部</a></li>
																						<li><a tabindex="-1" title="" href="#">二级事业部</a></li>
																					</ul>
																				</li>
																				<li><a title="" href="javascript:;"><span class="text">XX事业部</span></a></li>
																				<li><a title="" href="javascript:;"><span class="text">XX事业部</span></a></li>
																				<li><a title="" href="javascript:;"><span class="text">XX事业部</span></a></li>
																			</ul>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
																		<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
																	</div>
																</div>
															</div>
														</div>
														<i class="fa fa-users form-control-feedback"></i>
													</div>
												</div>
											</div>
											<div class="row">
												<label for="" class="col-sm-2 control-label">投资经理</label>
												<div class="col-sm-4 has-feedback">
													<div class="full-drop">
														<input type="text" class="form-control"  id="investmentManager" ng-model="ppr.investmentManager" name="investmentManager"  placeholder="投资经理">
														<i class="fa fa-user form-control-feedback"></i>
													</div>
												</div>
												<label for="" class="col-sm-2 control-label">基层法务人员</label>
												<div class="col-sm-4 has-feedback">
													<div class="full-drop">
														<input type="text" class="form-control" id="grassrootsLegalStaff" ng-model="ppr.grassrootsLegalStaff" name="grassrootsLegalStaff" placeholder="基层法务人员">
														<i class="fa fa-user form-control-feedback"></i>
													</div>
												</div>
											</div>
											<div class="row">
												<label for="" class="col-sm-2 control-label">项目名称</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" id="projectName" name="projectName" ng-model="ppr.projectName" placeholder="">
												</div>
												<label for="" class="col-sm-2  control-label">项目所在地</label>
												<div class="col-sm-4">
													<input type="text" class="form-control" id="projectAddress" name="projectAddress" ng-model="ppr.projectAddress" placeholder="项目所在地">
												</div>
											</div>
											<div class="row">
												<label for="projectType" class="col-sm-2 control-label">项目类型</label>
												<div id="project-type-box" class="col-sm-4">
													<div class="select2-success">
														<select  multiple="multiple" class="form-control" id="projectType" name="projectType" ng-model="ppr.projectType">
															<option value="1">污水</option>
															<option value="2">自来水</option>
															<option value="3">固废</option>
															<option value="4">环卫</option>
															<option value="5">其他</option>
														</select>
													</div>
												</div>
												<label for="projectModel" class="col-sm-2 control-label">项目模式</label>
												<div id="project-mode-box" class="col-sm-4">
													<div class="select2-success">
														<select multiple="multiple" class="form-control" id="projectModel" name="projectModel" ng-model="ppr.projectModel">
															<option value="1">BOT</option>
															<option value="2">TOT</option>
															<option value="3">股权收购</option>
															<option value="4">PPPPP</option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<label for="projectSize" class="col-sm-2 control-label">项目规模</label>
												<div class="col-sm-4">
														<input type="text" class="form-control" id="projectSize" name="projectSize" ng-model="ppr.projectSize" placeholder="">
												</div>
												<label for="projectNum" class="col-sm-2 control-label">单体项目数</label>
												<div class="col-sm-4 has-feedback">
													<input type="text" class="form-control" id="projectNum" name="projectNum" ng-model="ppr.projectNum" placeholder="">
													<span class="unit-n">个</span>
												</div>
											</div>
											<div class="row">
												<label for="" class="col-sm-2 control-label">竞争对手</label>
												<div class="col-sm-4">
													<input type="text" name="" class="form-control" />
												</div>
											</div>
											<div class="row">
												<label for="" class="col-sm-2 control-label">拟投标时间</label>
												<div class="col-sm-4 has-feedback">
													<input type="text" id="tenderTime" name="" class="form-control" />
													<i class="fa fa-calendar form-control-feedback"></i>
												</div>
												<label for="" class="col-sm-2 control-label">保证金支付时间</label>
												<div class="col-sm-4 has-feedback">
													<input type="text" id="paymentTime" name="" class="form-control" />
													<i class="fa fa-calendar form-control-feedback"></i>
												</div>
											</div>
											<div class="row">
												<label for="" class="col-sm-2 control-label">一级事业单位负责人</label>
												<div class="col-sm-4">
														<div class="col-sm-6 noleft-pad noright-pad has-feedback">
															<div class="full-drop">
																<input type="text" name="investmentPerson" ng-model="ppr.investmentPerson" class="form-control" placeholder="区域团队负责人">
																<i class="fa fa-user form-control-feedback"></i>
															</div>
														</div>
														<div id="directPersonMin" class="col-sm-6 noright-pad has-feedback">
															<div class="full-drop">
																<input type="text" class="form-control" name="directPerson" ng-model="ppr.directPerson" placeholder="直接负责人">
																<i class="fa fa-user form-control-feedback"></i>
															</div>
														</div>
												</div>
												<label for="" class="col-sm-2 control-label">申请填写日期</label>
												<div class="col-sm-4 has-feedback">
													<input type="text" class="form-control"  readonly id="applyDate" name="applyDate" ng-model="ppr.applyDate" />
													<i class="fa fa-calendar form-control-feedback"></i>
												</div>
											</div>
											<div class="row">
												<label for="" class="col-sm-2 control-label">一级事业单位审核意见</label>
												<div class="col-sm-10 ">
													<div class="radio radio-inline">
														<label>
															<input type="radio" name="pnrYes" ng-model="ppr.pnrYes" value="1" class="px">
															<span class="lbl">同意投资</span>
														</label>
													</div>
													<div class="radio radio-inline">
														<label>
															<input type="radio" name="pnrYes" ng-model="ppr.pnrYes" value="2" class="px">
															<span class="lbl">不同意投资</span>
														</label>
													</div>
													<div class="reason"><textarea class="form-control" ng-model="ppr.reason" name="reason" placeholder="具体意见"></textarea></div>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="tab-pane" id="flow_chart">
										<a>流程图嵌套</a>
										<div class="">
											<div class="row">
												<ul class="nav nav-tabs nav-tabs-simple">
													<li class="active">
														<a href="#approvalinfo" data-toggle="tab">审批意见</a>
													</li>
												</ul>
											</div>
											<div class="fade widget-followers in active" id="approvalinfo">
												<div class="follower">
													<img src="assets/demo/avatars/1.jpg" alt="" class="follower-avatar">
													<div class="body">
														<div class="follower-controls">
															<button class="btn btn-sm btn-info" type="submit" title=""><i class="fa fa-spinner"></i>审批中</button>
														</div>
														<div class="row">
															<div class="col-md-3">
																<a href="#" class="follower-name">王健</a><br>
																<a href="#" class="follower-username">财务部</a>
															</div>
															<div class="col-md-4">
																<a class="follower-name">审批意见：同意借阅</a><br>
																<a href="#" class="approve_info">审批信息</a>
															</div>
															<div class="col-md-3 centered">
																<a href="#" class="follower-name">审批时间：206-01-23 12:34</a>
															</div>

														</div>
													</div>
												</div>

												<div class="follower">
													<img src="assets/demo/avatars/3.jpg" alt="" class="follower-avatar">
													<div class="body">
														<div class="follower-controls">
															<button class="btn btn-sm" type="submit" title=""><i class="fa fa-check-square"></i>已审批</button>
														</div>
														<a href="#" class="follower-name">金伟</a><br>
														<a href="#" class="follower-username">物流部</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="contracts_resources">
										<div class="row">
											<div class="full-drop">
												<button data-toggle="modal" data-target="#compareModal" id="compareBtn" class="btn btn-info" title=""><i class="fa fa-arrows-h"></i>对比</button>
												<div  id="compareModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																<h4 class="modal-title" id="myModalLabel">文件对比</h4>
															</div>
															<div class="modal-body">
																<div class="row">
																	<div class="input-group">
																		<span class="input-group-addon">已选文件</span>
																		<input type="text" class="form-control" disabled="disabled">
																	</div>
																</div>
																<div class="row">
																	<div class="input-group">
																		<span class="input-group-addon">目标文件</span>
																		<select name="" id="" class="form-control">
																			<option value="">请选择...</option>
																			<option value="">项目投资测算.doc&nbsp;版本号：1.0</option>
																			<option value="">项目投资测算.doc&nbsp;版本号：2.0</option>
																			<option value="">项目投资测算.doc&nbsp;版本号：3.0</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
																<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="table-responsive">
											<table class="table table-bordered table-hover datatable table-text-mid table-light">
												<thead>
													<tr>
														<th>选择</th>
														<th>序号</th>
														<th>资源名称</th>
														<th>附件内容</th>
														<th>编制人</th>
														<th>审核人</th>
														<th>创建时间</th>
														<th>版本号</th>
													</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="choose" class="px"/>
															<span class="lbl">&nbsp;</span>
														</label>
													</td>
													<td>1</td>
													<td>投资分析报告</td>
													<td> <a href="#">投资分析报告.doc  投资分析报告-附件1.doc</a></td>
													<td>张三</td>
													<td>审核人</td>
													<td>2016-06-01</td>
													<td>1.0</td>
												</tr>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="choose" class="px"/>
															<span class="lbl">&nbsp;</span>
														</label>
													</td>
													<td>2</td>
													<td>项目投资测算</td>
													<td><a href="#">项目投资测算.doc</a></td>
													<td>李四</td>
													<td>审核人</td>
													<td>2016-06-01</td>
													<td>1.0</td>
												</tr>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="choose" class="px"/>
															<span class="lbl">&nbsp;</span>
														</label>
													</td>
													<td>3</td>
													<td>合同偏差表</td>
													<td><a href="#">合同偏差表.doc</a></td>
													<td>王五</td>
													<td>审核人</td>
													<td>2016-06-01</td>
													<td>1.0</td>
												</tr>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="choose" class="px"/>
															<span class="lbl">&nbsp;</span>
														</label>
													</td>
													<td>4</td>
													<td>投资协议</td>
													<td><a href="#">投资协议.doc</a></td>
													<td>王五</td>
													<td>审核人</td>
													<td>2016-06-01</td>
													<td>1.0</td>
												</tr>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="choose" class="px"/>
															<span class="lbl">&nbsp;</span>
														</label>
													</td>
													<td>5</td>
													<td>技术专业尽职调查意见</td>
													<td><a href="#">技术专业尽职调查意见.doc</a></td>
													<td>王五</td>
													<td>审核人</td>
													<td>2016-06-01</td>
													<td>1.0</td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="row">
											<div class="table-footer clearfix">
												<tm-pagination conf="paginationConf"></tm-pagination>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<a class="accordion-toggle collapsed" href="/#taskAssignment" data-parent="#preReviewComments" data-toggle="collapse">任务分配</a>
							<i class="blue-block"></i>
						</div>
						<div id="taskAssignment" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<label class="col-sm-2 control-label">评审负责人<span class="required">*</span></label>
									<div class="col-sm-4">
										<select name="" id="review-leader-box" class="form-control">
											<option></option>
											<optgroup label="评审小组一">
												<option value="1">张三</option>
												<option value="2">李四</option>
											</optgroup>
											<optgroup label="评审小组二">
												<option value="3">王五</option>
												<option value="4">赵六</option>
												<option value="5">田七</option>
												<option value="6">田七</option>
											</optgroup>
										</select>
									</div>
									<label class="col-sm-2 control-label">评审小组固定成员<span class="required">*</span></label>
									<div class="col-sm-4">
										<div id="fixed-member-box">
											<div class="select2-success">
												<select  multiple="multiple" class="form-control" id="fixed-member" name="fixed-member">
													<option value="1">张三</option>
													<option value="2">李四</option>
													<option value="3">王五</option>
													<option value="4">赵六</option>
													<option value="5">田七</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<a class="accordion-toggle collapsed" href="/#reviewComments" data-parent="#preReviewComments" data-toggle="collapse">初步评审意见</a>
							<i class="blue-block"></i>
						</div>
						<div id="reviewComments" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="txl">
										<button  type="button" class="btn btn-info" ng-click="addComment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
										<button  type="button" class="btn btn-info" ng-click="deleteComment()"><i class="glyphicon glyphicon-trash"></i>删除</button>
									</div>
								</div>
								<div class="row">
									<div class="table-responsive">
										<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center">
											<thead>
												<tr>
													<th>选择</th>
													<th>序号</th>
													<th>意见类型</th>
													<th>具体内容</th>
													<th>反馈要求</th>
													<th>投资经理反馈</th>
													<th>反馈时间</th>
												</tr>
											</thead>
											<tbody id="commentList">
												<tr ng-repeat="m in contract.comments track by $index">
													<td class="txc">
														<label class="checkbox-inline">
															<input type="checkbox" class="px">
															<span class="lbl">&nbsp;</span>
														</label>
													</td>
													<td class="txc">{{ $index + 1 }}</td>
													<td>
														<select name="" id="" class="form-control">
															<option value="">请选择...</option>
															<option value="">招标文件异议</option>
															<option value="">技术文件异议</option>
															<option value="">项目测算异议</option>
															<option value="">其他</option>
														</select>
													</td>
													<td>
														<textarea name="" ng-model="m.comment_type" value="{{m.comment_type}}" rows="" cols="" class="form-control"></textarea>
													</td>
													<td>
														<textarea name="" ng-model="m.comment_feedback" value="{{m.comment_feedback}}" rows="" cols="" class="form-control"></textarea>
													</td>
													<td style="width:30%;">
														<div class="row">
															<textarea name="" ng-model="m.comment_department" value="{{m.comment_department}}" rows="" cols="" class="form-control" disabled="disabled"></textarea>
														</div>
														<div class="row nobottom-mar">
															<div class="col-sm-9 noleft-pad noright-pad">
																<input type="file" name="" class="" disabled="disabled"/>
															</div>
															<div class="col-sm-3 noright-pad txr">
																<button class="btn btn-info" title="" disabled="disabled">提交</button>
															</div>
														</div>
													</td>
													<td>
														<<input type="text" readonly ng-model="m.commentDate" value="{{m.commentDate}}"/>
													</td>
												</tr>
												<tr class="tr-max">
													<td colspan="2" rowspan="2"></td>
													<td>重点风险提示<span class="required">*</span></td>
													<td colspan="4">
														<textarea name="" rows="" cols="" class="form-control"></textarea>
													</td>
												</tr>
												<tr class="tr-max">
													<td>要求反馈时间<span class="required">*</span></td>
													<td colspan="4">
														<div class="has-feedback">
															<input type="text" id="feedbackTime" name="" class="form-control" />
															<i class="fa fa-calendar form-control-feedback"></i>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="txl">
										<button  type="button" class="btn btn-info" ng-click="addAttachment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
										<button  type="button" class="btn btn-info" ng-click="deleteAttachment()"><i class="glyphicon glyphicon-trash"></i>删除</button>
									</div>
								</div>
								<div class="row">
									<div class="table-responsive">
										<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center">
											<thead>
												<tr>
													<th>选择</th>
													<th>需更新附件</th>
													<th>最新版本附件</th>
												</tr>
											</thead>
											<tbody id="attachmentList">
												<tr ng-repeat="m in contract.attachment">
													<td class="txc">
														<label class="checkbox-inline">
															<input type="checkbox" class="px">
															<span class="lbl">&nbsp;</span>
														</label>
													</td>
													<td>
														<select ng-model="m.attachment_old" value="{{m.attachment_old}}" name="" id="" class="form-control">
															<option value="">请选择...</option>
															<option value="">投资分析报告</option>
															<option value="">项目投资测算</option>
															<option value="">合同偏差表</option>
															<option value="">投资协议</option>
															<option value="">技术专业尽职调查意见</option>
														</select>
													</td>
													<td>
														<div class="row nobottom-mar">
															<div class="col-sm-10 noleft-pad noright-pad">
																<input type="file" ng-model="m.attachment_new" value="{{m.attachment_new}}" name="" class="" disabled="disabled"/>
															</div>
															<div class="col-sm-2 noright-pad txr">
																<button class="btn btn-info" title="" disabled="disabled">上传</button>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="btn-group-gap txl">
					<button type="submit" class="btn btn-info"><i class="fa fa-save"></i>保存</button>
					<button ng-click="showSubmitModal(0)" class="btn btn-info" title=""><i class="fa fa-arrow-circle-left"></i>回退</button>
					<button ng-click="showSubmitModal(1)" class="btn btn-info" title=""><i class="fa fa-cloud-upload"></i>提交</button>
					<div id="submitModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
						<approve-pop-win></approve-pop-win>
					</div>
					<div class="full-drop inline-div">
						<button data-toggle="modal" data-target="#passModal" class="btn btn-info" title=""><i class="fa fa-check-square"></i>填写预评审报告</button>
						<div  id="passModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title">是否填写预评审报告？</h4>
									</div>
									<div class="modal-footer txc">
										<button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
										<a href="#/PreReviewReport" class="btn btn-primary btn-confirm" data-dismiss="modal">确定</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
<!--
	$(function(){
		$('#porjectPreReview').collapse('show');
		$('#taskAssignment').collapse('show');
		$('#reviewComments').collapse('show');
		//二级菜单关闭&展示
		$(".dropdown-list").children("li").click(function(){
			var dropDown = $(this).find(".sub-list");
			var togClass=$(this).find(".ico");
			$(".dropdown-list li .sub-list").not(dropDown).slideUp(300);
			$(".dropdown-list li .ico").not(togClass).removeClass("fa-minus");
			dropDown.slideToggle(300);
			togClass.toggleClass("fa-minus");
		});
		//tabs切换
		$(".nav-tabs").children("li:not('.navbar-right')").click(function(){
			var liIndex=$(this).index();
			var tabCont=$(this).parents(".myTab").siblings(".tab-content").find(".tab-pane");
			$(this).addClass("active").siblings("li").removeClass("active");
			tabCont.eq(liIndex).fadeIn(300).siblings(".tab-pane").fadeOut(0);
		});
		//单选
		$(".one-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			$(this).parents(".dropdown-list").find(".sub-list li a").not($(this).children()).removeClass("cur");
			return false;
		});
		//多选
		$(".more-choice .sub-list li").click(function(){
			$(this).children("a").addClass("cur");
			return false;
		});
	});

	$("#compareBtn").click(function(){
		var chooseCount=0;
		$("input[name='choose']").each(function(){
			if($(this).attr("checked")){
				chooseCount++;
			}
		});
		if(chooseCount==0){
			alert("请选择要对比的数据！");
			return;
		}else if(chooseCount>1){
			alert("只能选择一条数据！");
			return;
		}
	});

	ctmApp.register.controller("myControl",function($scope, $http) {
				//初始化页面
				(function initPage(){
                    if(! $scope.contract) $scope.contract = {};
                })();

				function addBlankRow(array){
					var blankRow = {
							comment_type:'',
							comment_feedback:'',
							comment_department:'',
							comment_time:'',
							attachment_old:'',
							attachment_new:''
					}
					array.push(blankRow);
				}
				if(! $scope.contract.comments) $scope.contract.comments = [];
				addBlankRow($scope.contract.comments);

				if(! $scope.contract.attachment) $scope.contract.attachment = [];
				addBlankRow($scope.contract.attachment);

				$scope.addComment = function(){
					function addBlankRow(array){
						var blankRow = {
								comment_type:'',
								comment_feedback:'',
								comment_department:''
						}
						array.push(blankRow);
					}

					if(! $scope.contract.comments) $scope.contract.comments = [];
					addBlankRow($scope.contract.comments);
				}

				$scope.deleteComment = function(){
					$("#commentList").find("input[type='checkbox']:checked").each(function(){
						$(this).parent().parent().parent().remove();//删除dom对象
					});
				}

				$scope.addAttachment = function(){
					function addBlankRow(array){
						var blankRow = {
								attachment_old:'',
								attachment_new:''
						}
						array.push(blankRow);
					}

					if(! $scope.contract.attachment) $scope.contract.attachment = [];
					addBlankRow($scope.contract.attachment);
				}

				$scope.deleteAttachment = function(){
					$("#attachmentList").find("input[type='checkbox']:checked").each(function(){
						$(this).parent().parent().parent().remove();//删除dom对象
					});
				}
    });
//-->
</script>
<script>
	angular.element(document).ready(function() {
		$("#project-type-box select").select2();
		$("#project-mode-box select").select2();
		$("#fixed-member-box select").select2();

		$("#review-leader-box").select2({
			allowClear: true,
			placeholder: ""
		});

		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#feedbackTime').datepicker(options);
   });
</script>
