<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.workflow.dao.IWorkFlowMapper">
	
	<select id="getMyTaskCount" resultType="int" parameterType="map">
SELECT COUNT(1)
  FROM (SELECT '' taskmark,
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char(t.form_key_) form_key_,
               to_char(p.business_key_) business_key_,
               to_char(a.name_) AS type_text,
               (SELECT to_char(v.text_)
                  FROM act_hi_varinst v
                 WHERE v.name_ = 'subject'
                   AND v.proc_inst_id_ = t.proc_inst_id_) AS subject,
               (SELECT to_char(v.text_)
                  FROM act_hi_varinst v
                 WHERE v.name_ = 'submitBy'
                   AND v.task_id_ = t.id_) AS submitby,
               (SELECT to_char(emergencyLevel)
                  FROM rcm_formalassessment_info ri
                 WHERE ri.businessid = p.business_key_) AS emergencyLevel
          FROM act_ru_task t, act_hi_procinst p, act_re_procdef a
         WHERE t.proc_inst_id_ = p.proc_inst_id_
           AND p.proc_def_id_ = a.id_
           AND t.assignee_ = '${userId}'
           AND a.key_ NOT IN
               ('bulletin', 'noticeDecision', 'formalReview', 'preReview')
        UNION
        SELECT '',
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char('bulletin') form_key_,
               to_char(p.businessid) business_key_,
               to_char('其它需决策事项') type_text,
               (SELECT bulletinname
                  FROM rcm_bulletin_info
                 WHERE businessid = p.businessid) subject,
               '' submitby,
               '' emergencyLevel
          FROM act_ru_task t, rcm_bulletin_log p
         WHERE p.taskid = t.id_
           AND p.auditstatus = '9'
           AND p.audituserid = '${userId}'
        UNION
        SELECT '',
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char('preReview') form_key_,
               to_char(g.businessid) business_key_,
               to_char('投标评审') type_text,
               (SELECT projectname
                  FROM rcm_pre_info
                 WHERE businessid = g.businessid) subject,
               '' submitby,
               decode((SELECT emergencylevel
                        FROM rcm_pre_info
                       WHERE businessid = g.businessid),
                      NULL,
                      '') emergencylevel
          FROM act_ru_task t, rcm_pre_log g
         WHERE g.taskid = t.id_
           AND t.proc_def_id_ LIKE 'preReview%'
           AND g.auditstatus = '9'
           AND g.audituserid = '${userId}'
        UNION
        SELECT g.taskmark,
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char('formalReview') form_key_,
               to_char(g.businessid) business_key_,
               to_char('正式评审') type_text,
               (SELECT projectname
                  FROM rcm_formalassessment_info
                 WHERE businessid = g.businessid) subject,
               '' submitby,
               decode((SELECT emergencylevel
                        FROM rcm_formalassessment_info
                       WHERE businessid = g.businessid),
                      NULL,
                      '') emergencylevel
          FROM act_ru_task t, rcm_formalassessment_log g
         WHERE g.taskid = t.id_
           AND t.proc_def_id_ LIKE 'formalReview%'
           AND g.auditstatus = '9'
           AND g.audituserid = '${userId}'
        /*UNION
        SELECT '' taskmark,
               Translate('0' USING NCHAR_CS) id_,
               Translate('0' USING NCHAR_CS) proc_def_id_,
               Translate('0' USING NCHAR_CS) proc_inst_id_,
               Translate('填写参会信息' USING NCHAR_CS) name_,
               RFI.CREATE_DATE,
               to_char('formalReview') form_key_,
               RFI.BUSINESSID business_key_,
               to_char('正式评审') type_text,
               RFI.PROJECTNAME subject,
               '' submitby,
               '' emergencylevel
          FROM RCM_FORMALASSESSMENT_INFO RFI
         WHERE RFI.STAGE IN ('3', '3.5', '3.7', '3.9')
           AND RFI.WF_STATE = '2'
           AND RFI.NEED_MEETING = '1'
           AND RFI.IS_INVESTMENTMANAGER_SUBMIT IS NULL
           AND RFI.CREATEBY = '${userId}'
        UNION
        SELECT '' taskmark,
               Translate('0' USING NCHAR_CS) id_,
               Translate('0' USING NCHAR_CS) proc_def_id_,
               Translate('0' USING NCHAR_CS) proc_inst_id_,
               Translate('填写参会信息' USING NCHAR_CS) name_,
               RPI.CREATE_DATE,
               to_char('formalReview') form_key_,
               RPI.BUSINESSID business_key_,
               to_char('投标评审') type_text,
               RPI.PROJECTNAME subject,
               '' submitby,
               '' emergencylevel
          FROM RCM_PRE_INFO RPI
         WHERE RPI.STAGE IN ('3', '3.5', '3.7', '3.9')
           AND RPI.WF_STATE = '2'
           AND RPI.NEED_MEETING = '1'
           AND RPI.IS_INVESTMENTMANAGER_SUBMIT IS NULL
           AND RPI.CREATEBY = '${userId}'*/
           ) ta
 WHERE 1 = 1
	</select>
	
	<select id="queryMyTaskByPage" resultType="map" parameterType="map">
SELECT *
  FROM (SELECT '' taskmark,
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char(t.form_key_) form_key_,
               to_char(p.business_key_) business_key_,
               to_char(a.name_) AS type_text,
               (SELECT to_char(v.text_)
                  FROM act_hi_varinst v
                 WHERE v.name_ = 'subject'
                   AND v.proc_inst_id_ = t.proc_inst_id_) AS subject,
               (SELECT to_char(v.text_)
                  FROM act_hi_varinst v
                 WHERE v.name_ = 'submitBy'
                   AND v.task_id_ = t.id_) AS submitby,
               (SELECT to_char(emergencyLevel)
                  FROM rcm_formalassessment_info ri
                 WHERE ri.businessid = p.business_key_) AS emergencyLevel
          FROM act_ru_task t, act_hi_procinst p, act_re_procdef a
         WHERE t.proc_inst_id_ = p.proc_inst_id_
           AND p.proc_def_id_ = a.id_
           AND t.assignee_ = '${userId}'
           AND a.key_ NOT IN
               ('bulletin', 'noticeDecision', 'formalReview', 'preReview')
        UNION
        SELECT '',
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char('bulletin') form_key_,
               to_char(p.businessid) business_key_,
               to_char('其它需决策事项') type_text,
               (SELECT bulletinname
                  FROM rcm_bulletin_info
                 WHERE businessid = p.businessid) subject,
               '' submitby,
               '' emergencyLevel
          FROM act_ru_task t, rcm_bulletin_log p
         WHERE p.taskid = t.id_
           AND p.auditstatus = '9'
           AND p.audituserid = '${userId}'
        UNION
        SELECT '',
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char('preReview') form_key_,
               to_char(g.businessid) business_key_,
               to_char('投标评审') type_text,
               (SELECT projectname
                  FROM rcm_pre_info
                 WHERE businessid = g.businessid) subject,
               '' submitby,
               decode((SELECT emergencylevel
                        FROM rcm_pre_info
                       WHERE businessid = g.businessid),
                      NULL,
                      '') emergencylevel
          FROM act_ru_task t, rcm_pre_log g
         WHERE g.taskid = t.id_
           AND t.proc_def_id_ LIKE 'preReview%'
           AND g.auditstatus = '9'
           AND g.audituserid = '${userId}'
        UNION
        SELECT g.taskmark,
               t.id_,
               t.proc_def_id_,
               t.proc_inst_id_,
               t.name_,
               t.create_time_,
               to_char('formalReview') form_key_,
               to_char(g.businessid) business_key_,
               to_char('正式评审') type_text,
               (SELECT projectname
                  FROM rcm_formalassessment_info
                 WHERE businessid = g.businessid) subject,
               '' submitby,
               decode((SELECT emergencylevel
                        FROM rcm_formalassessment_info
                       WHERE businessid = g.businessid),
                      NULL,
                      '') emergencylevel
          FROM act_ru_task t, rcm_formalassessment_log g
         WHERE g.taskid = t.id_
           AND t.proc_def_id_ LIKE 'formalReview%'
           AND g.auditstatus = '9'
           AND g.audituserid = '${userId}'
        /*UNION
        SELECT '' taskmark,
               Translate('1' USING NCHAR_CS) id_,
               Translate('1' USING NCHAR_CS) proc_def_id_,
               Translate('1' USING NCHAR_CS) proc_inst_id_,
               Translate('填写参会信息' USING NCHAR_CS) name_,
               RFI.CREATE_DATE,
               to_char('conferenceInformation') form_key_,
               RFI.BUSINESSID business_key_,
               to_char('正式评审') type_text,
               RFI.PROJECTNAME subject,
               '' submitby,
               '' emergencylevel
          FROM RCM_FORMALASSESSMENT_INFO RFI
         WHERE RFI.STAGE IN ('3', '3.5', '3.7', '3.9')
           AND RFI.WF_STATE = '2'
           AND RFI.NEED_MEETING = '1'
           AND RFI.IS_INVESTMENTMANAGER_SUBMIT IS NULL
           AND RFI.CREATEBY = '${userId}'
        UNION
        SELECT '' taskmark,
               Translate('0' USING NCHAR_CS) id_,
               Translate('0' USING NCHAR_CS) proc_def_id_,
               Translate('0' USING NCHAR_CS) proc_inst_id_,
               Translate('填写参会信息' USING NCHAR_CS) name_,
               RPI.CREATE_DATE,
               to_char('conferenceInformation') form_key_,
               RPI.BUSINESSID business_key_,
               to_char('投标评审') type_text,
               RPI.PROJECTNAME subject,
               '' submitby,
               '' emergencylevel
          FROM RCM_PRE_INFO RPI
         WHERE RPI.STAGE IN ('3', '3.5', '3.7', '3.9')
           AND RPI.WF_STATE = '2'
           AND RPI.NEED_MEETING = '1'
           AND RPI.IS_INVESTMENTMANAGER_SUBMIT IS NULL
           AND RPI.CREATEBY = '${userId}'*/
        ) ta
 WHERE 1 = 1
		<if test="createTime != null and createTime !=''"> and to_char(ta.create_time_,'yyyy-mm-dd')='${createTime}'</if>
		<if test="processKey != null and processKey != ''">
			<choose> 
				<when test="'formalReview' == processKey">and (ta.proc_def_id_ like '${processKey}%' or ta.proc_def_id_ like 'formalAssessment%')</when>
				<when test="'noticeDecision' == processKey">and (ta.proc_def_id_ like '${processKey}%' or ta.proc_def_id_ like 'noticeOfDecision%')</when>
				<otherwise>and ta.proc_def_id_ like '${processKey}%'</otherwise>
			</choose>
		</if>
		order by ta.create_time_ desc
	</select>
	
	<select id="getOverOrCompletedTaskCount" resultType="int" parameterType="map">
SELECT count(1)
  FROM (SELECT to_char(p.business_key_) business_key_,
               to_char(p.start_time_, 'yyyy-mm-dd hh24:mi:ss') AS start_time_,
               to_char(p.end_time_, 'yyyy-mm-dd hh24:mi:ss') AS end_time_,
               to_char(a.key_) AS type_,
               to_char(a.name_) AS type_text,
               to_char(a.category_) AS form_key,
               to_char(p.proc_def_id_) proc_def_id_,
               to_char(p.proc_inst_id_) proc_inst_id_,
               decode(p.end_time_,
                      NULL,
                      (SELECT regexp_replace(listagg(to_char(t.name_), ',')
                                             within
                                             GROUP(ORDER BY t.proc_inst_id_),
                                             '([^,]+)(,\1)+',
                                             '\1')
                         FROM act_ru_task t
                        WHERE t.proc_inst_id_ = p.proc_inst_id_),
                      '结束') AS phase,
               (SELECT to_char(v.text_)
                  FROM act_hi_varinst v
                 WHERE v.name_ = 'subject'
                   AND v.proc_inst_id_ = p.proc_inst_id_) AS subject
          FROM act_hi_procinst p, act_re_procdef a
         WHERE p.proc_def_id_ = a.id_
           AND EXISTS
         (SELECT *
                  FROM act_hi_taskinst t
                 WHERE t.assignee_ = '${userId}'
                   AND t.proc_inst_id_ = p.proc_inst_id_
                   AND t.end_time_ IS NOT NULL)
           AND p.business_key_ IS NOT NULL
           AND a.key_ IN
               ('preAssessment', 'formalAssessment', 'noticeOfDecision')
        UNION
        SELECT b.businessid business_key_,
               (SELECT to_char(audittime, 'yyyy-mm-dd hh24:mi:ss')
                  FROM rcm_bulletin_log
                 WHERE auditstatus = 'A'
                   AND orderby = 1
                   AND businessid = b.businessid) start_time_,
               CASE
                 WHEN b.auditstatus = '2' OR b.auditstatus = '3' THEN
                  (SELECT to_char(audittime, 'yyyy-mm-dd hh24:mi:ss')
                     FROM rcm_bulletin_log
                    WHERE auditstatus = '9'
                      AND businessid = b.businessid)
                 ELSE
                  NULL
               END end_time_,
               'bulletin' type_,
               '其它需决策事项' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               (SELECT listagg(taskdesc, '/') within GROUP(ORDER BY taskdesc)
                  FROM rcm_bulletin_log
                 WHERE auditstatus = '9'
                   AND businessid = b.businessid) phase,
               b.bulletinname subject
          FROM rcm_bulletin_info b
         WHERE b.businessid IN
               (SELECT businessid
                  FROM rcm_bulletin_log bg
                 WHERE bg.iswaiting = '0'
                   AND bg.audituserid = '${userId}')
        UNION
        SELECT f.businessid business_key_,
               to_char((SELECT audittime
                         FROM rcm_formalassessment_log
                        WHERE auditstatus = 'A'
                          AND orderby = 2
                          AND businessid = f.businessid and rownum = 1/**取第一条**/),
                       'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(f.complete_date, 'yyyy-mm-dd hh24:mi:ss') AS end_time_,
               'formalReview' type_,
               '正式评审' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               (SELECT listagg(taskdesc, ',') within GROUP(ORDER BY taskdesc)
                  FROM rcm_formalassessment_log
                 WHERE auditstatus = '9'
                   AND businessid = f.businessid) phase,
               f.projectname subject
          FROM rcm_formalassessment_info f
         WHERE f.businessid IN
               (SELECT businessid
                  FROM rcm_formalassessment_log fg
                 WHERE fg.iswaiting = '0'
                   AND fg.audituserid = '${userId}')
        UNION
        SELECT f.businessid business_key_,
               to_char((SELECT audittime
                         FROM rcm_pre_log
                        WHERE auditstatus = 'A'
                          AND orderby = 2
                          AND businessid = f.businessid and rownum = 1/**取第一条**/),
                       'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(f.complete_date, 'yyyy-mm-dd hh24:mi:ss') AS end_time_,
               'preReview' type_,
               '投标评审' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               (SELECT listagg(taskdesc, ',') within GROUP(ORDER BY taskdesc)
                  FROM rcm_pre_log
                 WHERE auditstatus = '9'
                   AND businessid = f.businessid) phase,
               f.projectname subject
          FROM rcm_pre_info f
         WHERE f.businessid IN
               (SELECT businessid
                  FROM rcm_pre_log fg
                 WHERE fg.iswaiting = '0'
                   AND fg.audituserid = '${userId}')
                   /*UNION
        SELECT RFI.BUSINESSID business_key_,
               to_char(RFI.CREATE_DATE, 'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(RFI.Meeting_Date, 'yyyy-mm-dd hh24:mi:ss') end_time_,
               'conferenceInformation' type_,
               '正式评审' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               '填写参会信息' phase,
               RFI.PROJECTNAME subject
          FROM RCM_FORMALASSESSMENT_INFO RFI
         WHERE (RFI.STAGE IN ('5','6','7') OR RFI.IS_INVESTMENTMANAGER_SUBMIT = 1)
           AND RFI.WF_STATE = '2'
           AND RFI.NEED_MEETING = '1'
           AND RFI.CREATEBY = '${userId}'
        UNION
        SELECT RPI.BUSINESSID business_key_,
               to_char(RPI.CREATE_DATE, 'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(RPI.Meeting_Date, 'yyyy-mm-dd hh24:mi:ss') end_time_,
               'conferenceInformation' type_,
               '投标评审' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               '填写参会信息' phase,
               RPI.PROJECTNAME subject
          FROM RCM_PRE_INFO RPI
         WHERE (RPI.STAGE IN ('5','6','7') OR RPI.IS_INVESTMENTMANAGER_SUBMIT = 1)
           AND RPI.WF_STATE = '2'
           AND RPI.NEED_MEETING = '1'
           AND RPI.CREATEBY = '${userId}'*/
        ) ta
 WHERE 1 = 1

<!-- 	    <choose>  -->
<!-- 			<when test="isCompleted == 1"> and ta.end_time_ is not null </when> -->
<!-- 			<otherwise> and ta.end_time_ is null </otherwise> -->
<!-- 		</choose> -->
	</select>
	
	<select id="queryOverOrCompletedTaskByPage" resultType="map" >
SELECT ta.*, nvl(tmp.projectname, ta.subject) as subject_
  FROM (SELECT to_char(p.business_key_) business_key_,
               to_char(p.start_time_, 'yyyy-mm-dd hh24:mi:ss') AS start_time_,
               to_char(p.end_time_, 'yyyy-mm-dd hh24:mi:ss') AS end_time_,
               to_char(a.key_) AS type_,
               to_char(a.name_) AS type_text,
               to_char(a.category_) AS form_key,
               to_char(p.proc_def_id_) proc_def_id_,
               to_char(p.proc_inst_id_) proc_inst_id_,
               decode(p.end_time_,
                      NULL,
                      (SELECT regexp_replace(listagg(to_char(t.name_), ',')
                                             within
                                             GROUP(ORDER BY t.proc_inst_id_),
                                             '([^,]+)(,\1)+',
                                             '\1')
                         FROM act_ru_task t
                        WHERE t.proc_inst_id_ = p.proc_inst_id_),
                      '结束') AS phase,
               (SELECT to_char(v.text_)
                  FROM act_hi_varinst v
                 WHERE v.name_ = 'subject'
                   AND v.proc_inst_id_ = p.proc_inst_id_) AS subject
          FROM act_hi_procinst p, act_re_procdef a
         WHERE p.proc_def_id_ = a.id_
           AND EXISTS
         (SELECT *
                  FROM act_hi_taskinst t
                 WHERE t.assignee_ = '${userId}'
                   AND t.proc_inst_id_ = p.proc_inst_id_
                   AND t.end_time_ IS NOT NULL)
           AND p.business_key_ IS NOT NULL
           AND a.key_ IN
               ('preAssessment', 'formalAssessment', 'noticeOfDecision')
        UNION
        SELECT b.businessid business_key_,
               (SELECT to_char(audittime, 'yyyy-mm-dd hh24:mi:ss')
                  FROM rcm_bulletin_log
                 WHERE auditstatus = 'A'
                   AND orderby = 1
                   AND businessid = b.businessid) start_time_,
               CASE
                 WHEN b.auditstatus = '2' OR b.auditstatus = '3' THEN
                  (SELECT to_char(audittime, 'yyyy-mm-dd hh24:mi:ss')
                     FROM rcm_bulletin_log
                    WHERE auditstatus = '9'
                      AND businessid = b.businessid)
                 ELSE
                  NULL
               END end_time_,
               'bulletin' type_,
               '其它需决策事项' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               (SELECT listagg(taskdesc, '/') within GROUP(ORDER BY taskdesc)
                  FROM rcm_bulletin_log
                 WHERE auditstatus = '9'
                   AND businessid = b.businessid) phase,
               b.bulletinname subject
          FROM rcm_bulletin_info b
         WHERE b.businessid IN
               (SELECT businessid
                  FROM rcm_bulletin_log bg
                 WHERE bg.iswaiting = '0'
                   AND bg.audituserid = '${userId}')
        UNION
        SELECT f.businessid business_key_,
               to_char((SELECT audittime
                         FROM rcm_formalassessment_log
                        WHERE auditstatus = 'A'
                          AND orderby = 2
                         AND businessid = f.businessid and rownum = 1/**取第一条**/),
                       'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(f.complete_date, 'yyyy-mm-dd hh24:mi:ss') AS end_time_,
               'formalReview' type_,
               '正式评审' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               (SELECT listagg(taskdesc, ',') within GROUP(ORDER BY taskdesc)
                  FROM rcm_formalassessment_log
                 WHERE auditstatus = '9'
                   AND businessid = f.businessid) phase,
               f.projectname subject
          FROM rcm_formalassessment_info f
         WHERE f.businessid IN
               (SELECT businessid
                  FROM rcm_formalassessment_log fg
                 WHERE fg.iswaiting = '0'
                   AND fg.audituserid = '${userId}')
        UNION
        SELECT f.businessid business_key_,
               to_char((SELECT audittime
                         FROM rcm_pre_log
                        WHERE auditstatus = 'A'
                          AND orderby = 2
                          AND businessid = f.businessid and rownum = 1/**取第一条**/),
                       'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(f.complete_date, 'yyyy-mm-dd hh24:mi:ss') AS end_time_,
               'preReview' type_,
               '投标评审' type_text,
               '' form_key,
               '' proc_def_id_,
               '' proc_inst_id_,
               (SELECT listagg(taskdesc, ',') within GROUP(ORDER BY taskdesc)
                  FROM rcm_pre_log
                 WHERE auditstatus = '9'
                   AND businessid = f.businessid) phase,
               f.projectname subject
          FROM rcm_pre_info f
         WHERE f.businessid IN
               (SELECT businessid
                  FROM rcm_pre_log fg
                 WHERE fg.iswaiting = '0'
                   AND fg.audituserid = '${userId}')
                   /*UNION
        SELECT RFI.BUSINESSID business_key_,
               to_char(RFI.CREATE_DATE, 'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(RFI.Meeting_Date, 'yyyy-mm-dd hh24:mi:ss') end_time_,
               'conferenceInformation' type_,
               '正式评审' type_text,
               '' form_key,
               '1' proc_def_id_,
               '1' proc_inst_id_,
               '填写参会信息' phase,
               RFI.PROJECTNAME subject
          FROM RCM_FORMALASSESSMENT_INFO RFI
         WHERE (RFI.STAGE IN ('5','6','7') OR RFI.IS_INVESTMENTMANAGER_SUBMIT = 1)
           AND RFI.WF_STATE = '2'
           AND RFI.NEED_MEETING = '1'
           AND RFI.CREATEBY = '${userId}'
        UNION
        SELECT RPI.BUSINESSID business_key_,
               to_char(RPI.CREATE_DATE, 'yyyy-mm-dd hh24:mi:ss') start_time_,
               to_char(RPI.Meeting_Date, 'yyyy-mm-dd hh24:mi:ss') end_time_,
               'conferenceInformation' type_,
               '投标评审' type_text,
               '' form_key,
               '0' proc_def_id_,
               '0' proc_inst_id_,
               '填写参会信息' phase,
               RPI.PROJECTNAME subject
          FROM RCM_PRE_INFO RPI
         WHERE (RPI.STAGE IN ('5','6','7') OR RPI.IS_INVESTMENTMANAGER_SUBMIT = 1)
           AND RPI.WF_STATE = '2'
           AND RPI.NEED_MEETING = '1'
           AND RPI.CREATEBY = '${userId}'*/
        ) ta
            <!--同一个项目，名称不一致问题 Add By LiPan 2019-06-05-->
            left join
            (
            select distinct rpi.businessid,
            rpi.projectname
            from rcm_pre_info rpi
            union
            select distinct rfi.businessid,
            rfi.projectname
            from rcm_formalassessment_info rfi
            union
            select rbi.bulletintypeid,
            rbi.bulletinname as projectname
            from rcm_bulletin_info rbi
            ) tmp
            on tmp.businessid = ta.business_key_
            <!--同一个项目，名称不一致问题 Add By LiPan 2019-06-05-->
      WHERE 1 = 1

<!-- 	    <choose>  -->
<!-- 			<when test="isCompleted == 1"> ta.end_time_ is not null</when> -->
<!-- 			<otherwise> ta.end_time_ is null </otherwise> -->
<!-- 		</choose> -->
		<if test="subject != null and subject != ''">and nvl(tmp.projectname, ta.subject) like '%${subject}%'</if>
		<if test="processKey != null and processKey != ''">
			<choose> 
				<when test="'formalReview' == processKey">and (ta.type_ = '${processKey}' or ta.type_ = 'formalAssessment')</when>
				<when test="'noticeDecision' == processKey">and (ta.type_ = '${processKey}' or ta.type_ = 'noticeOfDecision')</when>
				<when test="'preAssessment' == processKey">and (ta.type_ = '${processKey}' or ta.type_ = 'preReview')</when>
				<otherwise>and type_ = '${processKey}'</otherwise>
			</choose>
		</if>
		order by ta.start_time_ desc
	</select>
	
	<!-- 查询流程审批历史 -->
	<select id="selectProcessInstanceApproveHistory" resultType="map" >
		select u.NAME as userName,
		       t.name_ as taskName,
		       (select v.text_
		                  from act_hi_varinst v
		                 where v.name_ = 'opinion'
		                   and v.task_id_ = t.id_) as opinion,
		       to_char(t.start_time_, 'yyyy-mm-dd hh24:mi:ss') as startTime,
		       to_char(t.end_time_, 'yyyy-mm-dd hh24:mi:ss') as endTime,
		       (select v.text_
		                  from act_hi_varinst v
		                 where v.name_ = 'emergencyLevel'
		                   and v.task_id_ = t.id_) as emergencyLevel
		  from act_hi_taskinst t, sys_user u
		 where t.proc_inst_id_ = #{processInstanceId}
		   and t.assignee_ = u.UUID
		   order by t.start_time_
	</select>
	
	<!-- 流程审批的时候查询已办和待办，同步给门户 -->
	<select id="selectForPortal" resultType="map" >
		select uniid, title, sender, depart,url,created, owner, type, status, record_status, priority from (
          select ta.*,
                 (decode(ta.status,'1',ta.form_key_,a.category_) || '/' || p.business_key_ ||
                  '@' || p.proc_def_id_ || '@' ||p.proc_inst_id_ || '@' || ta.uniid) as url,
                 to_char(ta.created_, 'yyyy-mm-dd hh24:mi:ss') as created,
                 nvl(decode(pri.text_, '一般', '1', '紧急', '2', '特急', '3', ''),1) as priority,
                 subject.text_ as title,
                 cu.NAME as sender,
                 cu.depart
            from (select t.proc_def_id_,
                         t.proc_inst_id_,
                         t.id_ as uniid,
                         t.end_time_ as created_,
                         t.assignee_ as owner,
                         '1' as type,
                         '2' as status,
                         '2' as record_status,
                         '' as form_key_
                    from act_hi_taskinst t
                   where t.id_ = '${preTaskId}'
                  union 
                  select t.proc_def_id_,
                         t.proc_inst_id_,
                         t.id_ as uniid,
                         t.create_time_ as created_,
                         t.assignee_ as owner,
                         '1' as type,
                         '1' as status,
                         '1' as record_status,
                         to_char(t.form_key_) as form_key_
                    from act_ru_task t
                   where t.id_ in (${currentTaskIds})) ta,
                 (select v.text_, v.task_id_
                    from act_hi_varinst v
                   where v.name_ = 'emergencyLevel') pri,
                 (select v.text_, v.proc_inst_id_
                    from act_hi_varinst v
                   where v.name_ = 'subject') subject,
                 act_re_procdef a,
                 act_hi_procinst p,
                 view_user_dep cu
           where ta.proc_def_id_ = a.id_
             and ta.proc_inst_id_ = p.proc_inst_id_
             and ta.uniid = pri.task_id_(+)
             and ta.proc_inst_id_ = subject.proc_inst_id_
             and p.start_user_id_ = cu.UUID
        )
	</select>
	
	<!-- 查询我的项目 -->
	<select id="queryMyProjectInfoByPage" resultType="map" >
		select p.*,(select o.name from sys_org o where o.ORGPKVALUE = p.pertainarea_id) pertainarea_name 
		from rcm_v_project_info p 
		where 1=1 
		<if test="reviewpersonId != null">
			and p.REVIEWPERSON_ID = #{reviewpersonId}
		</if>
		<if test="createby != null">
			and p.CREATEBY = #{createby}
		</if>
		order by p.PROJECT_TYPE,TO_NUMBER(p.STAGE) desc,nvl(p.APPLY_DATE, p.CREATE_DATE) desc
	</select>
</mapper>
