<div class="visa-menu">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-menu">
            <li>
                <!-- <i class="icon-nav" style="font-size: 14px;">&#xe628;</i>-->
                <a class="breadcrumb-text breadcrumb-text-menu">
                    资料填写
                </a>
            </li>
            <li>
                <a href="" class="breadcrumb-text breadcrumb-text-menu">
                    项目清单
                </a>
            </li>
        </ol>
    </div>
</div>
<div class="panel-body">
    <ul class="nav nav-tabs bs-tabdrop-example">
        <li class="{{tabIndex=='0'?'active':''}}">
            <a href="/#bs-tabdrop-tab1" data-toggle="tab">资料待填写</a>
        </li>
        <li class="{{tabIndex=='1'?'active':''}}">
            <a href="/#bs-tabdrop-tab2" data-toggle="tab">资料已填写</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane {{tabIndex=='0'?'active':''}}" id="bs-tabdrop-tab1">
            <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                <div id="report" class="panel-group">
                    <div class="panel">
                        <div class="panel-body search-body">
                            <label class="col-sm-2 col-md-1 control-label" style="text-align: left">项目名称</label>
                            <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="PROJECT_NAME"
                                                                         id="PROJECT_NAME"
                                                                         ng-model="paginationConf.queryObj.projectName"
                                                                         class="form-control ng-pristine ng-untouched ng-valid"/>
                            </div>
                            <!--<label class="col-sm-2 col-md-1 control-label">所属大区</label>
                            <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="REPORTING_UNIT_NAME" id="REPORTING_UNIT_NAME" ng-model="paginationConf.queryObj.projectUnitName" class="form-control ng-pristine ng-untouched ng-valid" /></div>-->
                            <div class="col-sm-12 col-md-2 search">
                                <button type="button" class="btn btn-info" ng-click="queryNoSubmitList()"><i
                                        class="glyphicon glyphicon-search"></i>查询
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div class=" table-list no-selectbox clearfix fixtable" style="overflow:hidden;">
                                <div class="lltable">
                                    <table class="table table-hover maintable">
                                        <thead>
                                        <tr>
                                            <th width="5%">序号</th>
                                            <th width="10%">项目名称</th>
                                            <th width="10%">评审类型</th>
                                            <th width="10%">所属大区</th>
                                            <th width="15%">投资经理</th>
                                            <th width="5%">申请时间</th>
                                            <!--<th width="5%">审批状态</th>-->
                                            <th width="5%">评审状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="noSubmit in noSubmitList">
                                            <td>
                                                {{ $index + 1 }}
                                            </td>
                                            <td>
                                                {{ noSubmit.PROJECTNAME }}
                                            </td>
                                            <td ng-if="'pfr' == noSubmit.PROJECT_TYPE">
                                                正式评审
                                            </td>
                                            <td ng-if="'pre' == noSubmit.PROJECT_TYPE">
                                                投标评审
                                            </td>
                                            <td ng-if="'bulletin' == noSubmit.PROJECT_TYPE">
                                                其他评审
                                            </td>
                                            <td>
                                                {{ noSubmit.PERTAINAREANAME }}
                                            </td>
                                            <td>
                                                {{ noSubmit.INVESTMENTNAME }}
                                            </td>
                                            <td>
                                                {{ noSubmit.APPLY_DATE }}
                                            </td>
                                            <!--<td ng-if="'1'== noSubmit.STAGE">申请阶段</td>-->
                                            <!--<td ng-if="'2'== noSubmit.STAGE">任务分配</td>-->
                                            <!--<td ng-if="'3'== noSubmit.STAGE">风控处理</td>-->
                                            <!--<td ng-if="'4'== noSubmit.STAGE">准备上会</td>-->
                                            <!--<td ng-if="'5'== noSubmit.STAGE">已决策</td>-->
                                            <!--<td ng-if="'9'== noSubmit.STAGE">已终止</td>-->
                                            <td ng-if="'0'== noSubmit.STATUS">起草中</td>
                                            <td ng-if="'1'== noSubmit.STATUS">审批中</td>
                                            <td ng-if="'2'== noSubmit.STATUS">已审批</td>
                                            <td ng-if="'3'== noSubmit.STATUS">已终止</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <table class="table table-hover lefttable">
                                    <thead>
                                    <tr>
                                        <th class="fixedth">填写评审资料</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="noSubmit in noSubmitList">
                                        <td>
                                            <button ng-if="noSubmit.PROJECT_TYPE == 'pfr' && (noSubmit.RFI_IS_SUBMIT_REPORT != 0 && noSubmit.RFI_IS_SUBMIT_REPORT != 1)"
                                                    ng-click="openRFIReport(noSubmit)"
                                                    class="btn btn-sm btn-grey btn-left"
                                                    data-toggle="modal"
                                                    data-target="#addModal"
                                                    title="">
                                                评审报告
                                            </button>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_REPORT == 0"
                                               href="#/{{noSubmit.PFR_CONTROLLER_VAL}}/0/Update/{{noSubmit.BUSINESSID}}@2/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-grey btn-left"
                                               title="">
                                                评审报告
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_REPORT == 1"
                                               href="#/{{noSubmit.PFR_CONTROLLER_VAL}}/0/View/{{noSubmit.BUSINESSID}}@2/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-left"
                                               title="">
                                                评审报告
                                            </a>
                                            <button ng-if="noSubmit.PROJECT_TYPE == 'pfr' && (noSubmit.RFI_IS_SUBMIT_BIDDING != 0 && noSubmit.RFI_IS_SUBMIT_BIDDING != 1)"
                                                    ng-click="openRFIBiddingInfo(noSubmit)"
                                                    class="btn btn-sm btn-grey btn-left"
                                                    data-toggle="modal"
                                                    data-target="#addModal4"
                                                    title="">
                                                决策会材料
                                            </button>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_BIDDING == 0 && noSubmit.BIDDING_TYPE == 'PPT'"
                                               href="#/OtherBidding/0/Update/{{noSubmit.BUSINESSID}}@2/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-grey btn-center"
                                               title="">
                                                决策会材料
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_BIDDING == 0 && noSubmit.BIDDING_TYPE == 'NORMAL'"
                                               href="#/FormalBiddingInfo/{{noSubmit.BUSINESSID}}@2/{{'#/IndividualTable'|encodeURI}}/0"
                                               class="btn btn-sm btn-grey btn-center"
                                               title="">
                                                决策会材料
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_BIDDING == 1 && noSubmit.BIDDING_TYPE == 'NORMAL'"
                                               ng-click="getInfo(noSubmit.BUSINESSID)"
                                               class="btn btn-sm btn-success btn-center"
                                               title="">
                                                决策会材料
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_BIDDING == 1 && noSubmit.BIDDING_TYPE == 'PPT'"
                                               href="#/OtherBidding/0/View/{{noSubmit.BUSINESSID}}@2/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-center"
                                               title="">
                                                决策会材料
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && (noSubmit.RFI_IS_SUBMIT_DECISION_NOTICE != 0 && noSubmit.RFI_IS_SUBMIT_DECISION_NOTICE != 1)"
                                               href="#/NoticeDecisionDraftDetail/Create/{{ noSubmit.BUSINESSID }}"
                                               class="btn btn-sm btn-grey btn-right"
                                               title="">
                                                决策通知书
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_DECISION_NOTICE == 0"
                                               href="#/NoticeDecisionDraftDetail/Update/{{noSubmit.BUSINESSID}}"
                                               class="btn btn-sm btn-grey btn-right"
                                               title="">
                                                决策通知书
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pfr' && noSubmit.RFI_IS_SUBMIT_DECISION_NOTICE == 1"
                                               href="#/NoticeDecisionDraftDetailView/submitted/{{noSubmit.BUSINESSID}}/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-right"
                                               title="">
                                                决策通知书
                                            </a>
                                            <button ng-if="noSubmit.PROJECT_TYPE == 'pre' && (noSubmit.RPI_IS_SUBMIT_REPORT != 0 && noSubmit.RPI_IS_SUBMIT_REPORT != 1)"
                                                    ng-click="openPREReport(noSubmit)"
                                                    class="btn btn-sm btn-grey btn-left"
                                                    data-toggle="modal"
                                                    data-target="#addModal2"
                                                    title="">
                                                评审报告
                                            </button>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pre' && noSubmit.RPI_IS_SUBMIT_REPORT == 0"
                                               href="#/{{noSubmit.RPE_CONTROLLER_VAL}}/0/Update/{{noSubmit.BUSINESSID}}/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-grey btn-right"
                                               title="">
                                                评审报告
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pre' && noSubmit.RPI_IS_SUBMIT_REPORT == 1"
                                               href="#/{{noSubmit.RPE_CONTROLLER_VAL}}View/{{noSubmit.BUSINESSID}}/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-right"
                                               title="">
                                                评审报告
                                            </a>

                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pre' && noSubmit.RPI_IS_SUBMIT_BIDDING != 1"
                                               href="#/PreBiddingInfo/{{noSubmit.BUSINESSID}}@2/{{'#/IndividualTable'|encodeURI}}/0"
                                               class="btn btn-sm btn-grey btn-center"
                                               title="">
                                                决策会材料
                                            </a>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'pre' && noSubmit.RPI_IS_SUBMIT_BIDDING == 1"
                                               href="#/PreBiddingInfoView/{{noSubmit.BUSINESSID}}@view/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-center"
                                               title="">
                                                决策会材料
                                            </a>

                                            <button ng-if="noSubmit.PROJECT_TYPE == 'bulletin' && (noSubmit.RBI_IS_SUBMIT_SUMMARY != 1)"
                                                    ng-click="openRBIMeeting(noSubmit)"
                                                    class="btn btn-sm btn-grey btn-left"
                                                    data-toggle="modal"
                                                    data-target="#addModal3"
                                                    title="">
                                                会议纪要
                                            </button>
                                            <a ng-if="noSubmit.PROJECT_TYPE == 'bulletin' && noSubmit.RBI_IS_SUBMIT_SUMMARY == 1"
                                               href="#/BulletinMattersDetailView/{{noSubmit.BUSINESSID}}/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-center"
                                               title="">
                                                会议纪要
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="table-footer clearfix">
                            <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane {{tabIndex=='1'?'active':''}}" id="bs-tabdrop-tab2">
            <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                <div id="report1" class="panel-group">
                    <div class="panel">
                            <div class="panel-body search-body">
                                <label class="col-sm-2 col-md-1 control-label" style="text-align: left">项目名称</label>
                                <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="PROJECT_NAME"
                                                                             id="PROJECT_NAME1"
                                                                             ng-model="paginationConfes.queryObj.projectName"
                                                                             class="form-control ng-pristine ng-untouched ng-valid"/>
                                </div>
                                <!--<label class="col-sm-2 col-md-1 control-label">所属大区</label>
                                <div class="col-sm-4 col-md-2 sm-col"><input type="text" name="REPORTING_UNIT_NAME" id="REPORTING_UNIT_NAME" ng-model="paginationConfes.queryObj.projectUnitName" class="form-control ng-pristine ng-untouched ng-valid" /></div>-->
                                <div class="col-sm-12 col-md-3">
                                    <div class="col-sm-12 col-md-2 search">
                                        <button type="button" class="btn btn-info" ng-click="querySubmitList()"><i
                                                class="glyphicon glyphicon-search"></i>查询
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">

                            <div class=" table-list no-selectbox clearfix fixtable" style="overflow:hidden;">
                                <div class="lltable">
                                    <table class="table table-hover maintable">
                                        <thead>
                                        <tr>
                                            <th width="5%">序号</th>
                                            <th width="10%">项目名称</th>
                                            <th width="10%">评审类型</th>
                                            <th width="10%">所属大区</th>
                                            <th width="15%">投资经理</th>
                                            <th width="5%">申请时间</th>
                                            <th width="5%">审批状态</th>
                                            <th width="5%">评审状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="submit in submitList">
                                            <td>
                                                {{ $index + 1 }}
                                            </td>
                                            <td>
                                                {{ submit.PROJECTNAME }}
                                            </td>
                                            <td ng-if="'pfr' == submit.PROJECT_TYPE">
                                                正式评审
                                            </td>
                                            <td ng-if="'pre' == submit.PROJECT_TYPE">
                                                投标评审
                                            </td>
                                            <td ng-if="'bulletin' == submit.PROJECT_TYPE">
                                                其他评审
                                            </td>
                                            <td>
                                                {{ submit.PERTAINAREANAME }}
                                            </td>
                                            <td>
                                                {{ submit.INVESTMENTNAME }}
                                            </td>
                                            <td>
                                                {{ submit.APPLY_DATE }}
                                            </td>
                                            <td>
                                                <a ng-if="'1'== submit.STAGE">申请阶段</a>
                                                <a ng-if="'2'== submit.STAGE">任务分配</a>
                                                <a ng-if="'3'== submit.STAGE">风控处理</a>
                                                <a ng-if="'4'== submit.STAGE">准备上会</a>
                                                <a ng-if="'5'== submit.STAGE">已决策</a>
                                                <a ng-if="'9'== submit.STAGE">已终止</a>
                                            </td>
                                            <td>
                                                <div ng-if="'0'== submit.STATUS">起草中</div>
                                                <div ng-if="'1'== submit.STATUS">审批中</div>
                                                <div ng-if="'2'== submit.STATUS">已审批</div>
                                                <div ng-if="'3'== submit.STATUS">已终止</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <table class="table table-hover lefttable">
                                    <thead>
                                    <tr>
                                        <th class="fixedth">填写评审资料</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="submit in submitList">
                                        <td>
                                            <a ng-if="submit.PROJECT_TYPE == 'pfr'"
                                               href="#/{{submit.PFR_CONTROLLER_VAL}}/0/View/{{submit.BUSINESSID}}@2/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-left"
                                               title="">
                                                报告
                                            </a>
                                            <a ng-if="submit.PROJECT_TYPE == 'pfr'"
                                               ng-click="getInfo(submit.BUSINESSID)"
                                               class="btn btn-sm btn-success btn-center"
                                               title="">
                                                材料
                                            </a>
                                            <a ng-if="submit.PROJECT_TYPE == 'pfr'"
                                               href="#/NoticeDecisionDraftDetailView/submitted/{{submit.BUSINESSID}}/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-right"
                                               title="">
                                                通知书
                                            </a>
                                            <a ng-if="submit.PROJECT_TYPE == 'pre'"
                                               href="#/{{submit.RPE_CONTROLLER_VAL}}/0/View/{{submit.BUSINESSID}}/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-right"
                                               title="">
                                                报告
                                            </a>

                                            <a ng-if="submit.PROJECT_TYPE == 'pre'"
                                               href="#/PreBiddingInfoView/{{noSubmit.BUSINESSID}}@view/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-center"
                                               title="">
                                                材料
                                            </a>
                                            <a ng-if="submit.PROJECT_TYPE == 'bulletin'"
                                               href="#/BulletinMattersDetailView/{{submit.BUSINESSID}}/{{'#/IndividualTable'|encodeURI}}"
                                               class="btn btn-sm btn-success btn-center"
                                               title="">
                                                纪要
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="table-footer clearfix">
                            <tm-pagination conf="paginationConfes"></tm-pagination>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="addModal" class="modal" tabindex="-1" role="dialog"
     style="display: none;">

    <div class="modal-dialog">
        <div class="modal-content special-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">选择项目和模式</h4>
            </div>
            <div class="modal-body special-form">
                <div class="row">
                    <label class="col-sm-2 control-label select-mode">混合模式</label>
                    <div class="col-sm-10 single-mode">
                        <label class="radio radio-inline"> <input
                                type="radio" ng-checked="true" name="mode"
                                ng-model="r.pmodel" class="px"
                                value="FormalReviewReport/Create"/> <span class="lbl">包括：BT、供水BOT、供水TOT、环卫、委托运营、污水BOT、污水TOT</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label select-mode">单体模式</label>
                    <div class="col-sm-10 single-mode">
                        <label class="radio radio-inline"> <input
                                type="radio" name="mode" ng-model="r.pmodel" class="px"
                                value="TecTransformReport/Create"/> <span class="lbl">技改项目</span>
                        </label> <label class="radio radio-inline"> <input
                            type="radio" name="mode" ng-model="r.pmodel" class="px"
                            value="DropOutReport/Create"/> <span class="lbl">退出（终止、回购、转让）项目</span>
                    </label> <label class="radio radio-inline"> <input
                            type="radio" name="mode" ng-model="r.pmodel" class="px"
                            value="HazardousWasteReport/Create"/> <span
                            class="lbl">危废项目</span>
                    </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 regionalContext"></label>
                    <div class="col-sm-10 single-mode">
                        <label class="radio radio-inline"> <input
                                type="radio" name="mode" ng-model="r.pmodel" class="px"
                                value="EquityAcquisitionReport/Create"/> <span
                                class="lbl">股权收购或合作项目或涉及股权PPP</span>
                        </label> <label class="radio radio-inline"> <input
                            type="radio" name="mode" ng-model="r.pmodel" class="px"
                            value="SupplementReport/Create"/> <span class="lbl">补充</span>
                    </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label select-mode">其他</label>
                    <div class="col-sm-10 single-mode">
                        <label class="radio radio-inline"> <input
                                type="radio" name="mode" ng-model="r.pmodel" class="px"
                                value="OtherReport/Create"/> <span class="lbl">上传电子版正式评审报告</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel"
                        data-dismiss="modal">取消
                </button>
                <button type="button" ng-click="createRFIReport(r.pmodel,toCreateReport.BUSINESSID)"
                        class="btn btn-primary btn-confirm" id="forportid">确定
                </button>
            </div>
        </div>
    </div>
</div>
<div id="addModal2" class="modal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel1">请选择项目</h4>
            </div>
            <div class="modal-body special-form">
                <div class="row">
                    <div class="col-md-12" id="porjectName">
                        {{ preProjectName.PROJECTNAME }}
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label select-mode">普通模式：</label>
                    <div class="col-sm-10 single-mode">
                        <label class="radio radio-inline">
                            <input type="radio" name="mode" ng-model="x.pmodel" class="px" value="normal"/>
                            <span class="lbl">通用模板</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label select-mode">其他：</label>
                    <div class="col-sm-10 single-mode">
                        <label class="radio radio-inline">
                            <input type="radio" name="mode" ng-model="x.pmodel" class="px" value="other"/>
                            <span class="lbl">上传电子版预评审报告</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
                <button type="button" ng-click="forPreReport(x.pmodel,preProjectName.BUSINESSID,textValue)"
                        class="btn btn-primary btn-confirm" id="forportid1">确定
                </button>
            </div>
        </div>
    </div>
</div>
<div id="addModal3" class="modal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabe3">会议纪要填写内容</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-sm-2 control-label">会议纪要：</label>
                    <div class="col-sm-10">
                        <textarea name="" ng-model="mettingSummary" rows="6" cols="" class="form-control"
                                  auto-height></textarea></td>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal" ng-click="cancel()">取消
                </button>
                <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="mettingSubmit()">确定</a>
            </div>
        </div>
    </div>
</div>
<div id="addModal4" class="modal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabe4">会议纪要填写内容</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-sm-2 control-label">会议纪要：</label>
                    <div class="col-sm-10">
                        <textarea name="" ng-model="mettingSummary" rows="6" cols="" class="form-control"
                                  auto-height></textarea></td>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal" ng-click="cancel()">取消
                </button>
                <a href="javascript:void(0);" class="btn btn-primary btn-confirm" ng-click="mettingSubmit()">确定</a>
            </div>
        </div>
    </div>
</div>