<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/TimeWarning.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">接口日志</span>
	</div>
	<div class="">
		<ul class="nav nav-tabs bs-tabdrop-example">
			<li class="active"><a href="/#bs-tabdrop-tab1" data-toggle="tab">接口调用日志</a></li>
<!-- 			<li><a href="/#bs-tabdrop-tab2" data-toggle="tab">webservice接口调用</a></li> -->
		</ul>
		<div class="tab-content tab-content-bordered">
			<div class="tab-pane active" id="bs-tabdrop-tab1">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div class="panel">
						<div class="panel-heading search-box">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#projectPreReview" href="/#searchbox">查询</a>
						</div>
						<div id="searchbox" class="panel-collapse in">
							<div class="panel-body search-body">
								<div class="form-group row sm-row">
									<label class="col-sm-2 col-md-1 control-label">接口类型</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<select class="form-control" ng-model="paginationConf.queryObj.sysName">
											<option value="">请选择...</option>
											<option value="portal">portal</option>
											<option value="contract">contract</option>
										</select>
									</div>
									<label class="col-sm-2 col-md-1 control-label">是否成功</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<select class="form-control" ng-init="paginationConf.queryObj.successFlag='1'" ng-model="paginationConf.queryObj.successFlag">
											<option value="">请选择...</option>
											<option value="1">失败</option>
											<option value="0">成功</option>
										</select>
									</div>
									<div class="col-sm-12 col-md-2 search">
										<button class="btn btn-info" ng-click="listAll()" type="button"><i class="glyphicon glyphicon-search"></i>查询</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">接口日志<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="row nobottom-mar">
								<div class="table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
										<thead>
										<tr>
											<th>序号</th>
											<th>系统</th>
											<th>调用时间</th>
											<th>是否成功</th>
											<th>耗时(毫秒)</th>
                                            <th>日志内容</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="l in logs">
											<td>{{$index+1}}</td>
											<td>{{l.SYS_NAME}}</td>
											<td>{{l.CREATE_TIME}}</td>
											<td>
												<span ng-if="'0'==l.SUCCESS_FLAG">成功</span>
												<span ng-if="'1'==l.SUCCESS_FLAG">失败</span>
											</td>
                                            <td>{{l.USE_TIME}}</td>
											<td><a class="btn btn-sm btn-info" ng-href="#/wsLogDetail/{{l.ID}}">查看</a></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConf"></tm-pagination>
						</div>
					</div>
				</form>
			</div>
			<!-- <div class="tab-pane" id="bs-tabdrop-tab2">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div class="panel">
						<div class="panel-heading search-box">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#projectPreReview" href="/#searchbox">查询</a>
						</div>
						<div id="searchbox" class="panel-collapse in">
							<div class="panel-body search-body">
								<div class="form-group row sm-row">
									<label class="col-sm-2 col-md-1 control-label">接口类型</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<select class="form-control" ng-model="paginationConf.queryObj.sysName">
											<option value="">请选择...</option>
											<option value="portal">portal</option>
											<option value="contract">contract</option>
										</select>
									</div>
									<label class="col-sm-2 col-md-1 control-label">是否成功</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<select class="form-control" ng-init="paginationConf.queryObj.successFlag='1'" ng-model="paginationConf.queryObj.successFlag">
											<option value="">请选择...</option>
											<option value="1">失败</option>
											<option value="0">成功</option>
										</select>
									</div>
									<div class="col-sm-12 col-md-2 search">
										<button class="btn btn-info" ng-click="listAll()" type="button"><i class="glyphicon glyphicon-search"></i>查询</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">接口日志<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="row nobottom-mar">
								<div class="table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
										<thead>
										<tr>
											<th>序号</th>
											<th>系统</th>
											<th>调用时间</th>
											<th>是否成功</th>
											<th>耗时(毫秒)</th>
                                            <th>日志内容</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="l in logs">
											<td>{{$index+1}}</td>
											<td>{{l.SYS_NAME}}</td>
											<td>{{l.CREATE_TIME}}</td>
											<td>
												<span ng-if="'0'==l.SUCCESS_FLAG">成功</span>
												<span ng-if="'1'==l.SUCCESS_FLAG">失败</span>
											</td>
                                            <td>{{l.USE_TIME}}</td>
											<td><a class="btn btn-sm btn-info" ng-href="#/wsLogDetail/{{l.ID}}">查看</a></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConf"></tm-pagination>
						</div>
					</div>
				</form>
			</div> -->


		</div>
	</div>

</div>

