<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">项目决策会意见汇总</span>
	</div>
	<div class="">
		<ul class="nav nav-tabs bs-tabdrop-example">
			<li class="active"><a href="/#bs-tabdrop-tab1" data-toggle="tab">待决策</a></li>
			<li><a href="/#bs-tabdrop-tab2" data-toggle="tab">已决策</a></li>
		</ul>
		<div class="tab-content tab-content-bordered">
			<div class="tab-pane active" id="bs-tabdrop-tab1">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="meetingAnnou" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingAnnou" href="/#searchbox1">查询</a>
							</div>
							<div id="searchbox1" class="panel-collapse collapse">
								<div class="panel-body search-body">
									<div class="form-group row sm-row">
										<input type="hidden" ng-model="conf.user_id">
										<label class="col-sm-2 col-md-1 control-label">项目名称</label>
										<div class="col-sm-4 col-md-2 sm-col">
											<input type="text" id="projectName1" name="" ng-model="projectName1" class="form-control" />
										</div>
										<label for="" class="col-sm-2 col-md-1 control-label">项目类型</label>
										<div class="col-sm-4 col-md-2 has-feedback sm-col">
											<!-- <input type="text" id="projectType1" name="projectType1" ng-model="projectType1" class="form-control"/> -->
											<select name="projectType1" ng-model="projectType1" 
												id="projectType" class="form-control" ng-options="item.ITEM_NAME as item.ITEM_NAME for item in projectType">
												<option value=''>-- 请选择 --</option>
											</select>
											
											
										</div>
										<label class="col-sm-2 col-md-1 control-label">所属大区</label>
										<div class="col-sm-4 col-md-2 sm-col"><input type="text" id="reportingUnit1" name="" ng-model="reportingUnit1" class="form-control" /></div>
										<div class="col-sm-12 col-md-2 search">
											<button class="btn btn-info" type="button" ng-click="ListMeetingAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">待决策<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="row">
								<!-- <div class="col-sm-2 noleft-pad noright-pad"><button type="button" ng-click="importtwo()" class="btn btn-info"><i class="glyphicon glyphicon-export"></i>导出</button></div> -->
								<!-- <div class="col-sm-10 decision-total">
									<span class="total-tit">今年已决策项目规模总和：</span>
									<span class="total-account">{{projectSizeTotal1}} 万吨</span>
									<span class="total-tit">今年已决策项目投资金额总和：</span>
									<span class="total-account">{{investmentAmountTotal1}} 万元</span>
								</div> -->
							</div>
							<div class="row nobottom-mar">
								<div class="table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable">
										<thead>
										<tr>
											<th>序号</th>
											<th>项目名称</th>
											<th>项目规模(万吨)<i class="icofunc fa fa-caret-up" id="tgasc" ng-click="ordertwo('g','1')"></i><i class="icofunc cur fa fa-caret-down" id="tgdesc" ng-click="ordertwo('g','-1')"></i></th>
											<th>投资金额(万元)<i class="icofunc fa fa-caret-up" id="tjasc" ng-click="ordertwo('j','1')"></i><i class="icofunc cur fa fa-caret-down" id="tjdesc" ng-click="ordertwo('j','-1')"></i></th>
											<th>上报评审时间</th>
											<th>项目类型</th>
											<th>所属大区</th>
											<th>是否紧急上会</th>
											<th>项目评级</th>
											<th>提交日期<i class="icofunc fa fa-caret-up" id="ttasc" ng-click="ordertwo('t','1')"></i><i class="icofunc cur fa fa-caret-down" id="ttdesc" ng-click="ordertwo('t','-1')"></i></th>
											<th>上会日期</th>
										</tr>
										</thead>
										<tbody>
											<tr ng-repeat="m in meetingcall">
												<td>{{$index+1}}</td>
												<td><a href="#/DecisionViewDetail/{{m._id}}" title="">{{m.projectName}}</a>
													<img src="assets/images/icons/tick.png"
													ng-if="1==m.isUserId" width="16" height="16" alt=""
													title="" class="tick" />
													<img ng-if="m.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
												</td>
												<td>{{m.policyDecision.projectSize}}</td>
												<td>{{m.policyDecision.investmentAmount}}</td>
												<td>{{m.policyDecision.submitDate}}</td>
												<td>{{m.policyDecision.projectType.ITEM_NAME}}</td>
												<td>{{m.reportingUnit}}</td>
												<td>
													<div ng-show="m.isUrgent=='是'">
														<span class="status-n">紧急</span>
													</div>
												</td>
												<td>{{m.projectRating.name}}</td>
												<td>{{m.policyDecision.submitDate}}</td>
												<td>{{m.meetingTime==null?'待定':m.meetingTime}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-paginationes confes="paginationConfes"></tm-paginationes>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane" id="bs-tabdrop-tab2">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="meetingApplication" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingApplication" href="/#searchbox">查询</a>
							</div>
							<div id="searchbox" class="panel-collapse collapse">
								<div class="panel-body search-body">
									<div class="form-group row sm-row">
										<input type="hidden" ng-model="conf.user_id">
										<label class="col-sm-2 col-md-1 control-label">项目名称</label>
										<div class="col-sm-4 col-md-2 sm-col"><input type="text" id="projectName" name="" ng-model="projectName1" class="form-control" /></div>
										<label for="" class="col-sm-2 col-md-1 control-label">项目类型</label>
										<div class="col-sm-4 col-md-2 has-feedback sm-col">
											<!-- <input type="text" id="projectType" name="projectType" ng-model="projectType" class="form-control"/> -->
											<select name="projectType1" ng-model="projectType1" 
												id="projectType" class="form-control" ng-options="item.ITEM_NAME as item.ITEM_NAME for item in projectType">
												<option value=''>-- 请选择 --</option>
											</select>
										</div>
										<label class="col-sm-2 col-md-1 control-label">所属大区</label>
										<div class="col-sm-4 col-md-2 sm-col"><input type="text" id="reportingUnit" name="" ng-model="reportingUnit1" class="form-control" /></div>
										<div class="col-sm-12 col-md-2 search">
											<button class="btn btn-info" type="button" ng-click="ListAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">已决策<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="row">
								<!-- <div class="col-sm-2 noleft-pad noright-pad"><button  type="button" ng-click="import()" class="btn btn-info"><i class="glyphicon glyphicon-export"></i>导出</button></div> -->
								<!-- <div class="col-sm-10 decision-total">
									<span class="total-tit">今年已决策项目规模总和：</span>
									<span class="total-account">{{projectSizeTotal}} 万吨</span>
									<span class="total-tit">今年已决策项目投资金额总和：</span>
									<span class="total-account">{{investmentAmountTotal}} 万元</span>
								</div> -->
							</div>
							<div class="row nobottom-mar">
								<div class="table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable">
									<thead>
									<tr>
										<th>序号</th>
										<th>项目名称</th>
										<th>项目规模(万吨)<i class="icofunc fa fa-caret-up" id="gasc" ng-click="order('g','1')"></i><i class="icofunc cur fa fa-caret-down" id="gdesc" ng-click="order('g','-1')"></i></th>
										<th>投资金额(万元)<i class="icofunc fa fa-caret-up" id="jasc" ng-click="order('j','1')"></i><i class="icofunc cur fa fa-caret-down" id="jdesc" ng-click="order('j','-1')"></i></th>
										<th>上报评审时间</th>
										<th>项目类型</th>
										<th>所属大区</th>
<!-- 										<th>是否紧急上会</th> -->
										<th>项目评级</th>
										<th>提交日期<i class="icofunc fa fa-caret-up" id="tasc" ng-click="order('t','1')"></i><i class="icofunc cur fa fa-caret-down" id="tdesc" ng-click="order('t','-1')"></i></th>
										<th>上会日期</th>
									</tr>
									</thead>
										<tbody>
										<tr ng-repeat="m in pfrReport">
											<td>{{$index+1}}
												
											</td>
											<td><a href="#/DecisionViewDetail/{{m._id}}" title="">{{m.projectName}}</a>
												<img ng-if="m.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
											</td>
											<td>{{m.policyDecision.projectSize}}</td>
											<td>{{m.policyDecision.investmentAmount}}</td>
											<td>{{m.policyDecision.submitDate}}</td>
											<td>{{m.policyDecision.projectType.ITEM_NAME}}</td>
											<td>{{m.reportingUnit}}</td>
<!-- 											<td> -->
<!-- 												<div ng-show="m.isUrgent=='是'"> -->
<!-- 													<span class="status-n">紧急</span> -->
<!-- 												</div> -->
<!-- 											</td> -->
											<td>{{m.projectRating.name}}</td>
											<td>{{m.policyDecision.submitDate}}</td>
											<td>{{m.meetingTime==null?'无需上会':m.meetingTime}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConf"></tm-pagination>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>



<!-- <div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">项目决策会意见汇总</span>
	</div>
	<form class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div id="report" class="panel-group">
			<div class="panel">
				<div class="panel-heading search-box">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#report" href="/#searchbox">查询</a>
				</div>
				<div id="searchbox" class="panel-collapse in">
					<div class="panel-body search-body">
						<div class="row nobottom-mar">
							<label class="col-sm-2 col-md-1 control-label">项目名称</label>
							<div class="col-sm-4 col-md-2"><input type="text" name="projectName" id="projectName" ng-model="projectName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
							<label for="" class="col-sm-1 control-label">上会日期</label>
							<div class="col-sm-2 has-feedback">
								<input type="text" id="meetingTime" ng-model="meetingTime" name="meetingTime" class="form-control"/>
								<i class="fa fa-calendar form-control-feedback"></i>
							</div>
							<div class="col-sm-4 col-md-2 search">
								<button class="btn btn-info" type="button" ng-click="ListAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">项目决策会意见汇总<i class="i-triangle"></i></span></div></div>
			<div class="panel-body">
				<div class="row">
					<button  type="button" ng-click="import()" class="btn btn-info"><i class="glyphicon glyphicon-export"></i>导出</button>
				</div>
				<div class="row nobottom-mar">
					<div class="table-responsive table-list">
						<table border="0" cellspacing="0" cellpadding="0" class="table table-text-mid table-hover datatable first-col-fixed">
							<thead>
								<tr>
									<th>序号</th>
									<th>项目名称</th>
									<th>提交人</th>
									<th>提交日期<i class="icofunc fa fa-caret-up" id="orderasc" ng-click="order(1)"></i><i class="icofunc cur fa fa-caret-down" id="orderdesc" ng-click="order(-1)"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="m in reportPfr">
									<td>{{$index+1}}</td>
									<td><a href="#/DecisionViewDetail/{{m._id}}" title="">{{m.projectName}}</a></td>
									<td>{{m.policyDecision.submitName}}</td>
									<td>{{m.policyDecision.submitDate}}</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</form>
</div>
 -->

<script>

	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#meetingTime').datepicker(options);
		$("#porjectName select").select2({ placeholder: '项目名称' });
	});
</script>