<link href="../styles/style.css" rel="stylesheet" type="text/css"/>
<div class="body-background">
    <form name="formalReportForm" class="new-form">

        <!--项目过程回顾和项目评级-->
        <directive-formal-jcwyh-new></directive-formal-jcwyh-new>

        <!--项目重要边界条件-->
        <div class="box">
            <div class="box-title">
                <a class="box-title-font">
                    项目重要边界条件
                </a>
            </div>
            <div>
                <table class="table-box table-overview">
                    <tr>
                        <td width="20%">
                            <span class="required">*</span>项目模板类型
                        </td>
                        <td width="80%">
                            <select style="width: 200px" ng-change="summaryTemplateChange(formalReport.summaryTemplate)"
                                    class="form-control" id="summaryTemplate" name="summaryTemplate"
                                    ng-model="formalReport.summaryTemplate"
                                    ng-options="summary.ITEM_NAME for summary in SUMMARY_TEMPLATE track by summary.ITEM_CODE">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-switch on="formalReport.summaryTemplate.ITEM_CODE">
                <section ng-switch-when="1000">
                    <div ng-include src="'page/sys/template/1000.html'"></div>
                </section>
                <section ng-switch-when="2000">
                    <div ng-include src="'page/sys/template/2000.html'"></div>
                </section>
                <section ng-switch-when="3000">
                    <div ng-include src="'page/sys/template/3000.html'"></div>
                </section>
                <section ng-switch-when="4000">
                    <div ng-include src="'page/sys/template/4000.html'"></div>
                </section>
                <section ng-switch-when="5000">
                    <div ng-include src="'page/sys/template/5000.html'"></div>
                </section>
                <section ng-switch-when="6000">
                    <div ng-include src="'page/sys/template/6000.html'"></div>
                </section>
                <section ng-switch-when="7000">
                    <div ng-include src="'page/sys/template/7000.html'"></div>
                </section>
                <section ng-switch-when="8000 ">
                    <div ng-include src="'page/sys/template/8000.html'"></div>
                </section>
            </div>
        </div>

        <!--正式评审报告 Start-->
        <div class="box">
            <div class="box-title">
                <a class="box-title-font">
                    正式评审报告
                </a>
            </div>
            <div class="template-table-div">
                <a class="overview-title-font">
                    风控部门提供
                </a>
                <div class="template-table-line"></div>
                <div class="col-sm-10">
                    <a ng-click="downLoadFormalBiddingInfoFile(formalReport.filePath,formalReport.projectName)"
                       style="cursor: pointer" title="">{{formalReport.projectName}}-正式评审报告.docx</a>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="button-replace" ng-disabled="!hasWaiting" class="btn btn-info" ngf-max-size="100MB"
                            ngf-select="uploadReprot($file,$invalidFiles,$index)">替换
                    </button>
                </div>
            </div>
        </div>
        <!--正式评审报告 End-->

        <!--业务单位上报评审文件 Start-->
        <div class="box">
            <div class="box-title">
                <a class="box-title-font">
                    业务单位上报评审文件
                </a>
            </div>
            <div class="template-table-div">
                <div class="table-head">
                    <div class="col-md-9">
                        <a class="overview-title-font">
                            投资部门提供
                        </a>
                    </div>
                    <div class="col-md-3">
                        <button ng-if="hasWaiting" type="button" class="button-add" ng-click="addFileList1()">
                            添加
                        </button>
                    </div>
                </div>
                <div class="template-table-line"></div>
                <table class="template-table">
                    <thead>
                    <th width="5%">
                        序号
                    </th>
                    <th width="18%">
                        资源名称
                    </th>
                    <th width="50%">
                        附件内容
                    </th>
                    <th width="9%">
                        最后更新时间
                    </th>
                    <th width="18%">
                        操作
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in newAttachment track by $index">
                       <td>
                           {{outerIndex+1}}
                       </td>
                        <td>
                            {{item.ITEM_NAME}}
                            <div ng-if="item.newFile">
                                <select ng-model="item.newItem" class="newItem"
                                        ng-options="y.ITEM_NAME for y in attach ">
                                </select>
                            </div>
                        </td>
                        <td>
                            <span ng-bind="progress$index"></span>
                            <span style="">{{errorMsg[$index].msg}}</span>
                            <a href="javascript:void(0);" ng-click="downLoadBiddingFile(item)">
                                {{item.fileName}}
                            </a>
                        </td>
                        <td>
                            {{item.upload_date}}
                        </td>
                        <td>
                            <div class="col-sm-6" align="center">
                                <div ng-if="!item.newFile" class="">
                                    <button type="button" ng-disabled="!hasWaiting" class="button-replace"
                                            ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles,$index)">替换
                                    </button>
                                </div>
                                <div ng-if="item.newFile" class="">
                                    <button type="button" ng-disabled="!hasWaiting" class="btn btn-info"
                                            ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles,$index)">浏览
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6" align="center">
                                <button ng-if="hasWaiting" type="button" class="button-delete" ng-click="deleteFileList()">
                                    删除
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--业务单位上报评审文件 End-->

    </form>
</div>

<div class="button-group">
    <div class="row">
        <div class="option">
            <directive-return-btn url="{{oldUrl}}"></directive-return-btn>
            <button ng-if="hasWaiting" type="button" ng-click="staging()" id="staging" class="btn btn-info">
                <i class="fa fa-save"></i>
                暂存
            </button>
            <button ng-if="hasWaiting" type="button" ng-click="saveOnly()" id="saveOnlyBtn" class="btn btn-info">
                <i class="fa fa-save"></i>
                保存
            </button>
            <button ng-click="submitSave()" ng-if="hasWaiting" id="submitSaveBnt" class="btn btn-info"><i
                    class="fa fa-cloud-upload"></i>提交
            </button>
            <div id="submitModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
                <approve-pop-win approve="approve"></approve-pop-win>
            </div>
        </div>
    </div>
</div>
</form>
</div>

<script>
    angular.element(document).ready(function () {
        $("#fixed-member-box select").select2();
    });
</script>