<div class="panel-body">
    <div class="header">
        <img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
        <span class="hd-title">决策会审阅</span>
    </div>
    <form class="form-horizontal ng-pristing ng-valid ng-pristine">
        <div class="panel">
            <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">决策项目列表<i class="i-triangle"></i></span></div></div>
            <div class="panel-body">
                <div class="">
                    <div class="table-responsive table-list">
                        <table border="0" cellspacing="0" cellpadding="0" class="table table-text-mid table-hover datatable first-col-fixed">
                            <thead>
                            <tr>
                               	<th>序号</th>
								<th>项目名称</th>
								<th>项目类型</th>
								<th>项目规模</th>
								<th>投资金额</th>
								<th>是否表决</th>
								<th>表决结果</th>
								<th>我的意见</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dr in decisionReview">
                                <td>{{$index+1}}</td>
								<td>
									<!--<a ng-if="'pfr' == dr.PROJECT_TYPE" href="#/FormalBiddingInfoReview/{{dr.BUSINESS_ID}}/{{('#/FormalReviewListToday/'+oldUrl) |encodeURI}}">{{dr.PROJECT_NAME}}</a>
									<a ng-if="'bulletin' == dr.PROJECT_TYPE" href="#/BulletinReviewDetail/{{dr.BUSINESS_ID}}_0/{{('#/FormalReviewListToday/'+oldUrl) |encodeURI}}">{{dr.PROJECT_NAME}}</a>-->
									<a ng-if="'pre' == dr.PROJECT_TYPE" href="#/PreBiddingInfoMeetingReview/{{dr.BUSINESS_ID}}/{{('#/FormalReviewListToday/'+oldUrl) |encodeURI}}">{{dr.PROJECT_NAME}}</a>
									<a ng-if="'pfr' == dr.PROJECT_TYPE" href="#/FormalBiddingInfoPreview/{{dr.BUSINESS_ID}}/{{('#/FormalReviewListToday/'+oldUrl) | encodeURI}}/6">{{dr.PROJECT_NAME}}</a>
									<a ng-if="'bulletin' == dr.PROJECT_TYPE" href="#/BulletinReviewDetailPreview/{{dr.BUSINESS_ID}}_0/{{('#/FormalReviewListToday/'+oldUrl) |encodeURI}}/6">{{dr.PROJECT_NAME}}</a>
								</td>
                                <td>
                                	<font ng-if="'pfr' == dr.PROJECT_TYPE">正式评审</font>
									<font ng-if="'bulletin' == dr.PROJECT_TYPE">其他评审</font>
									<font ng-if="'pre' == dr.PROJECT_TYPE">投标评审</font>
                                </td>
								<td><font ng-if="'bulletin' != dr.PROJECT_TYPE && dr.PROJECT_SIZE != null && dr.PROJECT_SIZE != ''">{{dr.PROJECT_SIZE}}万吨</font></td>
								<td><font ng-if="'bulletin' != dr.PROJECT_TYPE && dr.INVESTMENT_AMOUNT != null && dr.INVESTMENT_AMOUNT != ''">{{dr.INVESTMENT_AMOUNT}}万</font></td>
								<td>
									<font ng-if="0 == dr.VOTE_STATUS || 1 == dr.VOTE_STATUS" class="status-n">否</font>
									<font ng-if="2 == dr.VOTE_STATUS" class="status-y">是</font>
								</td>
								<td>
									<a ng-if="0 != dr.VOTE_STATUS" href="#/MeetingVoteResult/{{dr.DECISION_ID}}/{{('#/FormalReviewListToday/'+oldUrl) |encodeURI}}">
									<span ng-if="1 == dr.DECISION_RESULT">同意</span>
									<span ng-if="2 == dr.DECISION_RESULT">不同意</span>
									<span ng-if="3 == dr.DECISION_RESULT">有条件同意</span>
									<span ng-if="4 == dr.DECISION_RESULT">择期决议</span>
									</a>
								</td>
								<td>
									<span ng-if="1 == dr.aagreeOrDisagree">同意</span>
									<span ng-if="2 == dr.aagreeOrDisagree">不同意</span>
									<span ng-if="3 == dr.aagreeOrDisagree">有条件同意</span>
									<span ng-if="4 == dr.aagreeOrDisagree">择期决议</span>
								</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="table-footer clearfix">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>-->
                </div>
            </div>
        </div>
       <div class="button-group">
            <div class="row">
            	<div class="option">
            		<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
            	 	<!-- <a class="btn btn-info" href="#/DecisionOverview"><i class="fa fa-reply"></i>返回</a> -->
            	</div>
            </div>
        </div>
    </form>
</div>


<script>
    angular.element(document).ready(function() {
        var options = {
            todayBtn: "linked",
            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
        }
        $('#meetingTime').datepicker(options);
    });
</script>