<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">决策通知书列表</span>
	</div>
	<form class="form-horizontal ng-pristing ng-valid ng-pristine">
		<div id="report" class="panel-group">
			<div class="panel">
				<div class="panel-heading search-box">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#report" href="/#searchbox">查询</a>
				</div>
				<div id="searchbox" class="panel-collapse collapse">
					<div class="panel-body search-body">
						<div class="form-group row  sm-row">
							<label class="col-sm-2 col-md-1 control-label sm-col">项目名称</label>
							<div class="col-sm-4 col-md-2">
								<input type="text" name="projectName" id="projectName" ng-model="paginationConf.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" />
							</div>
							
							<label for="" class="col-sm-2 col-md-1 control-label">投资决策意见</label>
							<div class="col-sm-4 col-md-2 sm-col">
								<select name="consentToInvestment" id="consentToInvestment" class="form-control" ng-model="paginationConf.queryObj.consentToInvestment">
									<option value="">请选择...</option>
									<option value="1">同意投资</option>
									<option value="2">不同意投资</option>
									<option value="3">同意有条件投资</option>
								</select>
							</div>
							<label for="" class="col-sm-2 col-md-1 control-label">会议日期</label>
							<div class="col-sm-4 col-md-2 has-feedback">
								<input type="text" id="dateOfMeeting" name="dateOfMeeting" ng-model="paginationConf.queryObj.dateOfMeeting" class="form-control"/>
								<i class="fa fa-calendar form-control-feedback"></i>
							</div>
							<label for="" class="col-sm-2 col-md-1 control-label">审批状态</label>
							<div class="col-sm-4 col-md-2 has-feedback">
								<select class="form-control" ng-model="paginationConf.queryObj.approveState">
									<option value="">请选择...</option>
									<option value="起草中">起草中</option>
									<option value="审批中">审批中</option>
									<option value="已审批">已审批</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 search">
								<button class="btn btn-info" type="button" ng-click="listAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">决策通知书列表<i class="i-triangle"></i></span></div></div>
			<div class="panel-body">
				<div class="row">
					<div class="full-drop inline-div">
						<button type="button" data-toggle="modal" ng-click="listBusinessUnitCommit()" data-target="#addModal" id="compareBtn" class="btn btn-info" title="">
							<i class="glyphicon glyphicon-plus"></i>新增</button>
						<div  id="addModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title" id="myModalLabel">已通过项目</h4>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-12" id="porjectName" >
												<select class="form-control" ng-model="x.UUID">
													<option ng-repeat="x in pprs" value="{{x.BUSINESS_ID}}">{{x.PROJECT_NAME}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">取消</button>
										<a href="#/NoticeOfDecision/Create/{{x.UUID}}" type="button" class="btn btn-primary btn-confirm" data-dismiss="modal">确定</a>
									</div>

								</div>
							</div>
						</div>
					</div>
					<button type="button" ng-click="update()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>
					<button type="button" ng-click="Delete()" class="btn btn-info"><i class="glyphicon glyphicon-trash"></i>删除</button>
					<button  type="button" ng-click="import()" class="btn btn-info"><i class="glyphicon glyphicon-export"></i>导出</button>
				</div>
				<div class="row nobottom-mar">
					<div class="table-responsive table-list">
						<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
							<thead>
							<tr>
								<th>选择</th>
								<th>序号</th>
								<th>项目名称</th>
								<th>投资决策意见</th>
								<th>所属大区</th>
								<th>会议日期<i class="icofunc fa fa-caret-up" id="orderasc" ng-click="order('asc')"></i><i class="icofunc cur fa fa-caret-down" id="orderdesc" ng-click="order('desc')"></i></th>
								<th>申请时间</th>
								<th>审批状态</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="p in nod">
								<td>
									<label class="checkbox-inline">
										<input type="checkbox" name="checkbox" class="px" ng-if="p.WF_STATE=='0'||p.WF_STATE=='3'" value="{{p.BUSINESSID}}"/>
										<span class="lbl">&nbsp;</span>
									</label>
								</td>
								<td>{{$index+1}}
								</td>
								<td>
									<a href="#/NoticeOfDecision/view/{{p.BUSINESSID}}@{{p.PROC_DEF_ID_}}@{{p.PROC_INST_ID_}}@@4" title="">
										{{p.PROJECTNAME}}
									</a>
									<img ng-if="p.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
								</td>
								<td>{{p.CONSENTTOINVESTMENT==1?"同意投资":""}}
									{{p.CONSENTTOINVESTMENT==2?"不同意投资":""}}
									{{p.CONSENTTOINVESTMENT==3?"同意有条件投资":""}}
									{{p.CONSENTTOINVESTMENT==4?"择期决议":""}}
								</td>
								<td>{{p.REPORTINGUNIT}}</td>
								<td>{{p.DATEOFMEETING}}</td>
								<td>{{p.APPLY_DATES}}</td>
								<td>{{p.APPROVE_STATE}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</form>
</div>


<script>
	/*function submitMaterial(){
	 var chooseCount=0;
	 $("input[name='checkbox']").each(function(){
	 if($(this).attr("checked")){
	 chooseCount++;
	 }
	 });
	 if(chooseCount==0){
	 alert("请选择要提交材料的项目！");
	 return;
	 }else if(chooseCount>1){
	 alert("只能选择一条要提交材料的项目！");
	 return;
	 }else{
	 windows.location.href="#/BiddingInfo";
	 }
	 }*/

	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#dateOfMeeting').datepicker(options);
		$("#porjectName select").select2({ placeholder: '项目名称' });
	});
</script>