.body-background {
    background-color: #F6F7FE;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: black;
}

.padding0 {
     padding: 0!important;
}

.padding5 {
    padding: 5px!important;
}

.new-form {
    margin: 0;
    padding: 0;
}

.project-names {
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

.project-names-font {
    font-size: 25px;
    color: #0052B7!important;
}

.box {
    background-color: white;
    margin: 20px 40px 20px 40px;
    padding: 10px;
}

.box-title {
    width: 100%;
    padding: 10px 0 10px 5px;
}

.box-title-font {
    font-size: 20px;
    font-weight: bold;
    color: #0060C4!important;
}

.table-box {
    width: 100%;
    padding: 10px;
}

.table-overview {
    margin: 5px 10px;
}

.table-head {
    height: 40px;
    line-height: 40px;
}

.table-overview td {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0d0d0e;
    font-size: 14px;
    font-weight: 600;
}

.overview-date-font {
    font-size: 14px;
    color: #676767;
    font-weight: 500;
}

.overview-title-font {
    color: #0d0d0e;
    font-size: 17px !important;
    font-weight: 600;
}

.overview-title-font-second {
    color: #0d0d0e;
    font-size: 15px !important;
    font-weight: 600;
}

.template-table-div {
    width: 100%;
    /*margin: 10px 19px;*/
    padding: 19px;
}
.template-table-line {
    width: 100%;
    height: 5px;
    margin: 10px 0;
    border-bottom :1px solid #E3EBF2
}

.template-table {
    width: 100%;
    color: #0d0d0e;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #CFDAE6;
    margin-bottom: 25px;
}

.template-table th {
    padding: 5px;
    height: 30px;
    text-align: center;
    background-color: #DBE5EF;
    border: 1px solid #CFDAE6;
}

.template-table td {
    padding: 5px;
    height: 30px;
    border: 1px solid #CFDAE6;
}

.template-table-font {
    color: #0d0d0e;
    font-size: 14px;
    font-weight: 600;
}

.button-add {
    width: 80px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/button/button-add.png");
    border: none;
}
.button-close {
    width: 80px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/button/button-close.png");
    border: none;
}

.button-desc {
    float:left;
    width: 40px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/button/button-desc.png");
    border: none;
}

.button-asc {
    float:left;
    right: 5px;
    width: 40px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/button/button-asc.png");
    border: none;
    border-right: 1px solid white;
}

.button-replace {
    float:left;
    width: 80px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/button/button-replace.png");
    border: none;
}

.button-delete {
    float:left;
    width: 80px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/button/button-delete.png");
    border: none;
}

.button-preview {
    width: 120px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/button/button-preview.png");
    border: none;
}

.side-dialog-right {
    right: 15px !important;
    left: unset;
}

.side-bar-div {
    background: white;
    height: 500px;
}

.link-new {
    line-height: 50px;
}

.pointer-new {
    background-color: #0060C4;
}