.hideOpen {
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

li {
    list-style: none;
}

.right {
    float: right;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.rowsection {
    width: 100%;
    position: relative;
}

.container-fluid {
    /*position: absolute;*/
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f6f7fe;
    padding: 0;
    letter-spacing: .1em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
    font-size: 12px;
}

.xh-content {
    background: #f6f7fe;
}

.blue {
    color: #005fc2;
}

.text-blue {
    color: #005fc2;
    font-weight: bold;
}

.text-gray {
    color: #838587;
}

.mheader {
    background: #fff;
    margin: 0;
    padding: 1px 10px;
    position: relative;
}

.mheader > div:nth-child(2) {
    padding: 10px;

}

.mheader .logo {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 11px;
    right: 11px;
}

.mtab {
    font-size: 12px;
}

.mtab a {
    height: 30px;
    line-height: 30px;
    background: #f1f2f3;
    text-align: center;
}

.mtab a.chose {
    background: #d4e2f6;
    color: #000;
}

.mperson {
    width: 100%;
    padding: 18px 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.mperson > div {
    text-overflow: ellipsis;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
}

.mperson > div > em {
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mcontent {
    padding: 1px 20px 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    color: #000;
    font-weight: bold;
    line-height: 24px;
}

.content1 span {
    font-weight: normal;
    color: #363636;
    font-size: 14px;
    letter-spacing: 0;
}

.mcontent .timeline {
    position: relative;
    overflow: hidden;
}

.mcontent .timeline .line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dbe5ef;
    left: 0;
    top: 14px;
}

.mcontent .timeline .time {
    background: #fff;
    position: relative;
}

.mcontent .timeline .start-time {
    padding-right: 20px;
    float: left;
}

.mcontent .timeline .start-time:before,
.mcontent .timeline .end-time:before {
    content: '';
    display: block;
    background: #27bb87;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 6px;
}

.mcontent .timeline .end-time:before {
    background: #d11513;
    left: 0;
}

.mcontent .timeline .end-time {
    padding-left: 20px;
    float: right;
}

.mcontent .timeline .time span {
    display: block;
}

.mcontent .normalline {
    line-height: 36px;
    padding: 10px 0;
    border-bottom: 1px solid #DBE5EF;
}

.mcontent .normalline:nth-last-of-type(1) {
    border-bottom: 0;
}

.mcontent .normalline span {
    padding-left: 20px;
}

.mcontent .titline .tit {
    font-size: 16px;
}

.mcontent .titline span {
    font-weight: bold;
    color: #000;
}

.file-icon {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: url(/html/assets/images/img/icon-file.png) no-repeat;
    background-size: cover;
}

.content3 .file-download {
    margin: 30px 0;
    color: #005fc2;
}

.mytable table th {
    text-align: center;
}

.mytable tbody {
    font-weight: normal;
}

.mytable tbody th,
.mytable tbody td {
    padding: 20px 10px !important;
}

.mytable {
    position: relative;
    margin-top: 20px;
    /*height: 400px;*/
    /*overflow: hidden;*/
}

.mytable .table-cover {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 99;
    padding-top: 160px;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
    text-align: center;
    cursor: pointer;
}

.mytable .table-cover .icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(/html/assets/images/img/icon-bottom.png) no-repeat;
    background-size: cover;
}

.content2 .row {
    margin-top: 20px;
}

.content2 .row .det {
    font-weight: normal;
}

.content2 .row .img {
    color: #005fc2;
    font-size: 14px;
    font-weight: normal;
}

.content2 .row .img span {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(/html/assets/images/img/icon-pic.png) no-repeat;
    background-size: cover;
}

.current-swiper {
    position: relative;
}

.nocurrent-swiper {
    width: 50%;
    height: 80%;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15)
}

.nocurrent-swiper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237, 240, 240, 0.9);
    z-index: 99;

}

.left-swiper {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.left-swiper .mcontent {
    margin-left: 1%;
}

.right-swiper {
    text-align: right;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.right-swiper .mcontent {
    margin-left: 16.666%;
}

/*demo5*/

.mheader-mid,
.mheader-bot {
    white-space: nowrap;
    overflow: hidden;
}

.mheader-top {
    background: #fff;
}

.mheader-top .logo-area {
    float: left;
    padding: 0 10px;
    line-height: 58px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
}

.mheader-top .logo-area img {
    width: 93px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.mheader-top .list {
    float: left;
    height: 58px;
    overflow: hidden;
    padding-top: 4px;
    padding-right: 30px;
    position: relative;
}

.mheader-top .list a {
    display: inline-block;
    height: 58px;
    line-height: 58px;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 5px;
}

.mheader-top .list a.chose {
    background: #0060c4;
    color: #fff;

}

.mheader-top .right {
    padding-right: 10px;
}

.mheader-top .right span {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    width: 24px;
    height: 24px;
    margin: 5px;
}

.mheader-top .right > div {
    display: inline-block;
    height: 32px;
    margin-top: 17px;
}

.mheader-top .right .tool {
    border-right: 1px solid #eee
}

.mheader-top .search {
    background: url(/html/assets/images/img/search.png) no-repeat;
    background-size: cover;
}

.mheader-top .help {
    background: url(/html/assets/images/img/help.png) no-repeat;
    background-size: cover;
}

.mheader-top .user {
    background: url(/html/assets/images/img/user.png) no-repeat;
    background-size: cover;
}

.mheader-top .quit {
    background: url(/html/assets/images/img/quit.png) no-repeat;
    background-size: cover;
}

.mheader-top .more {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 20px;
    background: url(/html/assets/images/img/showlist.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.mheader-mid {
    text-align: center;
    background: #0060c4;
    line-height: 60px;
    color: #fff;
}

.mheader-mid .chose {
    background: #0052b7;
    border-bottom: 2px solid #fff;
}

.mheader-mid .info {
    text-align: center;
}

.mheader-bot {
    background: #f6f7fe;
    border-bottom: 1px solid #eee;
    line-height: 50px;
}

.mheader-bot .chose {
    color: #0060C4;
    border-bottom: 1px solid #0060C4;
}

.xh-content .item-name {
    text-align: center;
}

.xh-content .mcontent {
    margin-top: 20px;
}

.mcontent .dropdown {
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

.mcontent .dropdown .dropdown-toggle {
    color: #0060C4;
}

.mcontent .dropdown .caret {
    padding-left: 0;
    border-top-color: #0060C4;
}

.mcontent .dropdown .dropdown-menu {
    color: #838587;
    left: 20px;
    border-top: 2px solid #0060C4;
    border-radius: 4px;
    padding-bottom: 20px;
}

.mcontent .dropdown .dropdown-menu > li > a {
    color: #969696;
}

.mcontent .text-arealine textarea {
    width: 100%;
}

.mcontent .text-arealine label {
    margin-right: 20px;
}

.mcontent .importantline {
    position: relative;
}

.mcontent .importantline:before {
    content: '*';
    position: absolute;
    left: -5px;
    top: 2px;
    color: #ff0000;
}

.mcontent .innertable h5 {
    font-weight: bold;
    border-bottom: 1px solid #e2eaf2;
    padding: 20px 0;
}

.mcontent .innertable .mbtn {
    width: 100%;
}

.mcontent .innertable .mbtn:active {
    box-shadow: none;
}

.mcontent .innertable .mbtn span {
    display: inline-block;
    vertical-align: middle;
}

.mcontent .innertable .mbtn > span {
    width: 75px;
    height: 35px;
    line-height: 35px;
}

.mcontent .innertable .mbtn .btn-img > span {
    width: 16px;
    height: 16px;
}

.mcontent .innertable .mbtn .btn-img .add-img {

    background: url(/html/assets/images/img/add-img.png) no-repeat;
    background-size: cover;
}

.mcontent .innertable .mbtn .btn-img .del-img {

    background: url(/html/assets/images/img/del-img.png) no-repeat;
    background-size: cover;
}

.mcontent .innertable .work {
    position: relative;
}

.mcontent .innertable .work > span {
    cursor: pointer;
    color: #0060C4;
    display: inline-block;
    vertical-align: middle;
}

.mcontent .innertable .work .pic {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(/html/assets/images/img/icon-pic.png) no-repeat;
    background-size: cover;
}

.mcontent .innertable .work .btn-delete {
    position: absolute;
    right: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url(/html/assets/images/img/icon-close.png) no-repeat;
    background-size: cover;
    opacity: 1;
}

.mcontent .innertable .work .progress {
    width: 70%;
    height: 4px;
    border-radius: 2px;
    background: #969696;
    margin-bottom: 0;
    position: relative;
}

.mcontent .innertable .work .progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 4px;
    border-radius: 2px;
    background: #0060C4;
}

.mcontent .innertable th {
    vertical-align: middle;
}

.mcontent .innertable tr:last-child {
    height: 20px;
}

.mcontent .innertable tbody .innertr td {
    padding: 0 !important;
}

.mcontent .innertable tbody .innertr td:last-child {
    text-align: center;
}

.mcontent .innertable .innerline {
    font-size: 12px;
    border-bottom: 1px solid #dbe5ef;
    line-height: 24px;
    padding: 10px;
}

.mcontent .innertable .innerline:last-child {
    border-bottom: 0;
}

.innertable .mytable {
    height: auto;
}

.innertable .filework {
    line-height: 35px;
    color: #0060C4;
    font-size: 14px;
}

.mcontent .innertable .progress {
    width: 70%;
    height: 8px;
    border-radius: 4px;
    background: #969696;
    margin-bottom: 0;
    position: relative;
    margin: 0 auto;
}

.mcontent .innertable .progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 8px;
    border-radius: 4px;
    background: #0060C4;
}

.mcontent .innertable td time {
    color: #6c6c6c
}

.mcontent .innertable tbody {
    font-size: 12px;
}

.mcontent .innertable tbody td {
    vertical-align: middle;
}

.mcontent .innertable tbody .score {
    color: #ff0000;
}

.mcontent .innertable tbody .help {
    color: #0060C4;
}

.mcontent .radioline input {
    margin: 0;
    vertical-align: middle;
    margin-right: 10px;
}

.mcontent .radioline label {
    margin-right: 20px;
}

.mcontent2 {
    position: relative;
}

.swiper-button-next, .swiper-button-prev {
    width: 8%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
}

.left-content {
    position: fixed;
    right: 0;
    top: 60px;
    width: 15%;
}

.left-content .preview {
     font-size: 14px;
     width: 120px;
     height: 40px;
     color: #fff;
     line-height: 40px;
     margin: 0 auto;
     text-align: center;
     background: url(/html/assets/images/btn/btn-preview.png) no-repeat;
     background-size: cover;
 }

.left-content .stage {
    width: 80%;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin: 20px auto;
}

.left-content .stage a {
    display: inline-block;
    width: 49%;
    background: #fff;
    position: relative;
}

.left-content .stage a:first-child:before {
    content: '';
    border-right: 6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: calc(50% - 3px);
    left: -6px
}

.left-content .linkline {

    width: 80%;
    margin: auto;
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
}

.left-content .linkline a {
    display: flex;
    /*padding: 20px;*/
    /*display: block;*/
    position: relative;
    font-size: 12px;
    color: #969696;
}

.left-content .linkline .fcir {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(152, 152, 152, .2);
    margin-right: 10px;
}

.left-content .linkline .scir {
    display: inline-block;
    margin: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(152, 152, 152, 1)
}

.left-content .linkline .line {
    position: absolute;
    width: 2px;
    height: calc(100% - 40px);
    top: 20px;
    left: 37px;
    background: #dbe5ef;
}

.left-content .linkline a.chose {
    color: #000;
}

.left-content .linkline a.chose .fcir {
    background: rgba(0, 96, 196, .2);
}

.left-content .linkline a.chose .scir {
    background: rgba(0, 96, 196, 1);
}

.demo-label {
    display: inline-block;
    margin-bottom: 0;
}

.demo-radio {
    display: none
}

.demo-radioInput {
    box-sizing: content-box;
    padding-left: 0 !important;
    background-color: #fff;
    border: 1px solid #0060C4;
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    position: relative;
    vertical-align: text-bottom;
    width: 16px;
    margin-right: 10px;
}

.demo-radio:checked + .demo-radioInput:after {
    background-color: #0060C4;
    border-radius: 100%;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.btn-add {
    width: 75px;
    height: 33px;
    color: white;
    background: url("/html/assets/images/btn/btn-add.png") no-repeat;
    border: none;
}

.btn-add1 {
    width: 40px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/btn/btn-add1.png") no-repeat;
    border: none;
}

.btn-close {
    width: 73px;
    height: 32px;
    color: white;
    background: url("/html/assets/images/btn/btn-close.png") no-repeat;
    border: none;
}

.btn-desc {
    float: left;
    width: 32px;
    height: 32px;
    color: white;
    background: url("/html/assets/images/btn/btn-desc.png") no-repeat;
    border: none;
}

.btn-asc {
    float: left;
    right: 5px;
    width: 35px;
    height: 32px;
    color: white;
    background: url("/html/assets/images/btn/btn-asc.png") no-repeat;
    border: none;
    border-right: 1px solid white;
}

.btn-replace {
    float: left;
    width: 75px;
    height: 33px;
    color: white;
    background: url("/html/assets/images/btn/btn-replace.png") no-repeat;
    border: none;
}

.btn-delete {
    float: left;
    width: 80px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/btn/btn-delete.png") no-repeat;
    border: none;
}

.btn-preview {
    width: 120px;
    height: 40px;
    color: white;
    background: url("/html/assets/images/btn/btn-preview.png") no-repeat;
    border: none;
}

.side-bar-div {
    background: white;
    height: 500px;
}

.pointer-new {
    background-color: #0060C4;
}

.link-new {
    line-heigh: 50px;
}