html,body,#content-wrapper{
    height: 100%
}
#main-wrapper{
    overflow-y: auto!important;
    height: 100% ;
}
.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.rowsection{
    width: 100%;
    height: calc(100% - 190px);
    position: relative;
}
.rowsection .outside-swiper{
    height: 100%;
    padding: 0 0 20px;
}
.rowsection .outside-swiper .swiper-wrapper,
.rowsection .outside-swiper .swiper-slide,
.rowsection .outside-swiper .swiper-slide .current-swiper,
.rowsection .outside-swiper .swiper-slide>.ng-scope{
     height: 100%;
 }
.container-fluid{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f6f7fe;
    padding: 0;
    letter-spacing: .1em;
    overflow-y:auto;
    overflow-x:hidden;
    padding-bottom: 30px;
}
.preview-contanier{
    height: 100%;
    background: url(../mystatic/img/tp-bj.jpg) no-repeat;
    background-size: cover;
}
#content-wrapper>.ng-scope{
    height: 100%;
}
.text-blue{
    color: #005fc2;
    font-weight: bold;
}
.text-gray{
    color: #838587;
}
.mheader{
    margin: 0;
    padding: 1px 10px;
    position: relative;
    background: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: #0050bc;
    box-shadow: 0 0 10px rgba(0,0,0,.2)
}
.mheader .btn-return{
    position: absolute;
    padding: 5px 20px;
    border-radius: 20px;
    background: #0050bc;
    color: #fff;
    line-height: 30px;
    top: 5px;
    right: 10px;
    font-size: 18px;
}
/*.mheader>div:nth-child(2){*/
    /*padding: 10px;*/

/*}*/
.mheader .logo{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 11px;
    right: 11px;
}
.mtab{
    font-size: 12px;
}
.mtab a{
    height: 30px;
    line-height: 30px;
    background: #f1f2f3;
    text-align: center;
    color: inherit;
    text-decoration: none;
}
.mtab a.chose{
    background: #d4e2f6;
    color: #000;
}
.mtab2{
    margin: 20px auto;
    width: 83.3%;
    font-weight: bold;
}
.mperson{
    margin: 0 auto;
    padding: 10px 0;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #0050bc;
    width: 83.3%;
    overflow: hidden;
}
.mperson>div{
    display: inline-block;
    float: left;
    width: 25%;
    text-overflow: ellipsis;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
}
.mperson>div>em{
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.btn-fullscreen{
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #0050bc;
    position: absolute;
    bottom: 40px;
    right: 10%;
    cursor: pointer;
    z-index: 99;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.btn-fullscreen:before{
    content: '';
    display: block;
    position: absolute;
    border-top: 8px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
    top: 0;
    left: 15px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn-fullscreen:after{
    content: '';
    display: block;
    position: absolute;
    border-top: 8px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid transparent;
    bottom: 0;
    left: 15px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn-outscreen:before{
    border-bottom: 8px solid transparent;
    border-top: 8px solid #fff;
    top: 8px;
}
.btn-outscreen:after{
    border-top: 8px solid transparent;
    border-bottom: 8px solid #fff;
    bottom: 8px;
}
.mcontent{
    padding: 1px 20px 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    color: #000;
    font-weight: bold;
    line-height: 24px;
    height: 100%;
    overflow-y: auto;
}
.swiper-slide-active:before{
    content: '';
    position: absolute;
    left: 8.3%;
    right: 8.3%;
    bottom: 0;
    height: 20px;
    z-index: 98;
    background: #fff;
}
.swiper-wrapper .swiper-slide:nth-child(2):before{
    width: 0!important;
}
.content1 span{
    font-weight: normal;
    color: #363636;
    font-size: 14px;
    letter-spacing: 0;
}
.mcontent .timeline{
    position: relative;
    overflow: hidden;
}
.mcontent .timeline .line{
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dbe5ef;
    left: 0;
    top: 14px;
}
.mcontent .timeline .time{
    background: #fff;
    position: relative;
}
.mcontent .timeline .start-time{
    padding-right: 20px;
    float: left;
}
.mcontent .timeline .start-time:before,
.mcontent .timeline .end-time:before{
    content:'';
    display: block;
    background: #27bb87;
    width: 16px;
    height: 16px;
    border-radius:50%;
    position: absolute;
    right: 0;
    top: 6px;
}
.mcontent .timeline .end-time:before{
    background: #d11513;
    left: 0;
}
.mcontent .timeline .end-time{
    padding-left: 20px;
    float: right;
}
.mcontent .timeline .time span{
    display: block;
}
.mcontent .normalline{
    line-height: 36px;
    padding: 10px 0;
    border-bottom: 1px solid #DBE5EF;
}
.mcontent .normalline:nth-last-of-type(1){
    border-bottom: 0;
}
.mcontent .normalline span{
    padding-left: 20px;
}
.mcontent .titline .tit{
    font-size: 16px;
}
.mcontent .titline span{
    font-weight: bold;
    color: #000;
}
.file-icon{
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: url(/html/assets/images/img/icon-file.png) no-repeat;
    background-size: cover;
}
.content3 .file-download{
    margin: 30px 0;
    color: #005fc2;
}
.mytable table th{
    text-align: center;
}
.mytable tbody{
    font-weight: normal;
}
.mytable tbody th,
.mytable tbody td{
    padding: 20px 10px!important;
}
.mytable {
    position: relative;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}
.mytable .table-cover{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 99;
    padding-top: 160px;
    background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%, #fff 70%);
    text-align: center;
    cursor: pointer;
}
.mytable .table-cover .icon{
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(/html/assets/images/img/icon-bottom.png)no-repeat;
    background-size: cover;
}
.content2 .row{
    margin-top: 20px;
}
.content2 .row .det{
    font-weight: normal;
}
.content2 .row .img{
    color: #005fc2;
    font-size: 14px;
    font-weight: normal;
}
.content2 .row .img span{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(/html/assets/images/img/icon-pic.png)no-repeat;
    background-size: cover;
}
.current-swiper{
    position: relative;
    top: 0;
}
.nocurrent-swiper{
    width: 50%;
    height: 80%;
    position: absolute;
    overflow: hidden;
}
.nocurrent-swiper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237,240,240,0.9);
    z-index: 99;

}
.left-swiper{
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.left-swiper .mcontent{
    margin-left: 1%;
}
.right-swiper{
    text-align: right;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.right-swiper .mcontent{
    margin-left: 16.666%;
}

.wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1111;
    overflow-y: auto;
}
.current-swiper-scale{
    padding: 0!important;
    height: 100%;
    /*width:100%;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
}
.heightAll{
    height: 100%!important;
    margin: 0;
}
.heightAll2{
    height: 100%!important;
}
.noPadding{
    padding: 0!important;
}

.mcontent2{
    margin-top: 0!important;
}

.swiper-pagination{
    width: 83.3%!important;
    margin-left: 8.3%!important;
    bottom: 22px!important;
    background: #fff;
}
.current-swiper .mcontent{
    height: calc(100% - 22px);
}
.content3 .mytable{
    max-height: calc(100% - 170px);
}

.content4 .mytable{
    max-height: calc(100% - 63px);
    overflow-y: hidden;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.widthAll{
    width: 100%!important;
    bottom: 0!important;
}