.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.rowsection{
    width: 100%;
    position: relative;
}
.container-fluid{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f6f7fe;
    padding: 0;
    letter-spacing: .1em;
    overflow-y:auto;
    overflow-x:hidden;
    padding-bottom: 30px;
}
.text-blue{
    color: #005fc2;
    font-weight: bold;
}
.text-gray{
    color: #838587;
}
.mheader{
    background: #fff;
    margin: 0;
    padding: 1px 10px;
    position: relative;
}
.mheader>div:nth-child(2){
    padding: 10px;

}
.mheader .logo{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 11px;
    right: 11px;
}
.mtab{
    font-size: 12px;
}
.mtab a{
    height: 30px;
    line-height: 30px;
    background: #f1f2f3;
    text-align: center;
    color: inherit;
    text-decoration: none;
}
.mtab a.chose{
    background: #d4e2f6;
    color: #000;
}
.mperson{
    width: 100%;
    padding: 18px 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.mperson>div{
    text-overflow: ellipsis;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
}
.mperson>div>em{
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mcontent{
    padding: 1px 20px 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    color: #000;
    font-weight: bold;
    line-height: 24px;
}
.content1 span{
    font-weight: normal;
    color: #363636;
    font-size: 14px;
    letter-spacing: 0;
}
.mcontent .timeline{
    position: relative;
    overflow: hidden;
}
.mcontent .timeline .line{
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dbe5ef;
    left: 0;
    top: 14px;
}
.mcontent .timeline .time{
    background: #fff;
    position: relative;
}
.mcontent .timeline .start-time{
    padding-right: 20px;
    float: left;
}
.mcontent .timeline .start-time:before,
.mcontent .timeline .end-time:before{
    content:'';
    display: block;
    background: #27bb87;
    width: 16px;
    height: 16px;
    border-radius:50%;
    position: absolute;
    right: 0;
    top: 6px;
}
.mcontent .timeline .end-time:before{
    background: #d11513;
    left: 0;
}
.mcontent .timeline .end-time{
    padding-left: 20px;
    float: right;
}
.mcontent .timeline .time span{
    display: block;
}
.mcontent .normalline{
    line-height: 36px;
    padding: 10px 0;
    border-bottom: 1px solid #DBE5EF;
}
.mcontent .normalline:nth-last-of-type(1){
    border-bottom: 0;
}
.mcontent .normalline span{
    padding-left: 20px;
}
.mcontent .titline .tit{
    font-size: 16px;
}
.mcontent .titline span{
    font-weight: bold;
    color: #000;
}
.file-icon{
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: url(/html/assets/images/img/icon-file.png) no-repeat;
    background-size: cover;
}
.content3 .file-download{
    margin: 30px 0;
    color: #005fc2;
}
.mytable table th{
    text-align: center;
}
.mytable tbody{
    font-weight: normal;
}
.mytable tbody th,
.mytable tbody td{
    padding: 20px 10px!important;
}
.mytable {
    position: relative;
    margin-top: 20px;
    height: 400px;
    overflow: hidden;
}
.mytable .table-cover{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 99;
    padding-top: 160px;
    background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%, #fff 70%);
    text-align: center;
    cursor: pointer;
}
.mytable .table-cover .icon{
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(/html/assets/images/img/icon-bottom.png)no-repeat;
    background-size: cover;
}
.content2 .row{
    margin-top: 20px;
}
.content2 .row .det{
    font-weight: normal;
}
.content2 .row .img{
    color: #005fc2;
    font-size: 14px;
    font-weight: normal;
}
.content2 .row .img span{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(/html/assets/images/img/icon-pic.png)no-repeat;
    background-size: cover;
}
.current-swiper{
    position: relative;
}
.nocurrent-swiper{
    width: 50%;
    height: 80%;
    position: absolute;
    overflow: hidden;
}
.nocurrent-swiper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237,240,240,0.9);
    z-index: 99;

}
.left-swiper{
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.left-swiper .mcontent{
    margin-left: 1%;
}
.right-swiper{
    text-align: right;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.right-swiper .mcontent{
    margin-left: 16.666%;
}
.swiper-slide .mytable {
    max-height: 350px;
}
.content2 ,.content3{
    height: 400px;
    overflow-y: auto;
}
.content2 .mytable{
    height: auto;
}
.content3 .mytable{
    height: auto;
    max-height: 200px;
}
.wrap{
    position: fixed;
    width: 100%;
    top: 46px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
    overflow-y: auto;
}
.current-swiper-scale{
    width:100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}