<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.file.dao.IFileMapper">
	<!-- 字段与属性映射 -->
	<resultMap id="fileDtoMap" type="com.goukuai.dto.FileDto">
		<id column="fileid" property="fileid" javaType="java.lang.Long" />
		<result column="hash" property="hash" javaType="java.lang.String" />
		<result column="dir" property="dir" javaType="java.lang.Integer" />
		<result column="fullpath" property="fullpath" javaType="java.lang.String" />
		<result column="filename" property="filename" javaType="java.lang.String" />
		<result column="filehash" property="filehash" javaType="java.lang.String" />
		<result column="filesize" property="filesize" javaType="java.lang.Long" />
		<result column="create_member_name" property="create_member_name" javaType="java.lang.String" />
		<result column="create_dateline" property="create_dateline" javaType="java.lang.Long" />
		<result column="last_member_name" property="last_member_name" javaType="java.lang.String" />
		<result column="last_dateline" property="last_dateline" javaType="java.lang.Long" />
		<result column="property" property="property" javaType="java.lang.String" />
		<result column="uploadserver" property="uploadserver" javaType="java.lang.String" />
		<result column="uri" property="uri" javaType="java.lang.String" />
		<result column="preview" property="preview" javaType="java.lang.String" />
		<result column="thumbnail" property="thumbnail" javaType="java.lang.String" />
		<result column="tag" property="tag" javaType="java.lang.String" />
		<result column="doctype" property="doctype" javaType="java.lang.String" />
		<result column="doccode" property="doccode" javaType="java.lang.String" />
		<result column="rcmfilename" property="rcmfilename" javaType="java.lang.String" />
		<result column="preview3d" property="preview3d" javaType="java.lang.String" />
		<result column="download3d" property="download3d" javaType="java.lang.String" />
		<result column="previeqr3d" property="previeqr3d" javaType="java.lang.String" />
		<result column="downloadqr3d" property="downloadqr3d" javaType="java.lang.String" />
		<result column="pagelocation" property="pagelocation" javaType="java.lang.String" />
		<result column="logicopt" property="logicopt" javaType="java.lang.String" />
		<result column="querytime" property="querytime" javaType="java.sql.Timestamp"></result>
	</resultMap>
	<!-- 基本数据列 -->
	<!-- 新增 -->
	<insert id="saveFile" parameterType="com.goukuai.dto.FileDto">
		insert into file_dto
		(
		       fileid,
		       hash,
		       dir,
		       fullpath,
		       filename,
		       filehash, 
		       filesize, 
		       create_member_name, 
		       create_dateline, 
		       last_member_name, 
		       last_dateline,
		       property,
		       uploadserver,
		       uri,
		       preview,
		       thumbnail,
		       tag,
		       doctype,
		       doccode,
		       rcmfilename,
		       preview3d,
		       download3d,
		       previeqr3d,
		       downloadqr3d,
		       pagelocation,
		       logicopt,
		       querytime
		)
		values
		(
		       file_dto_seq.nextval, 
		       #{fileDto.hash},
		       #{fileDto.dir},
		       #{fileDto.fullpath},
		       #{fileDto.filename},
		       #{fileDto.filehash},
		       #{fileDto.filesize},
		       #{fileDto.create_member_name},
		       #{fileDto.create_dateline},
		       #{fileDto.last_member_name},
		       #{fileDto.last_dateline},
		       #{fileDto.property},
		       #{fileDto.uploadserver},
		       #{fileDto.uri},
		       #{fileDto.preview},
		       #{fileDto.thumbnail},
		       #{fileDto.tag},
		       #{fileDto.doctype},
		       #{fileDto.doccode},
		       #{fileDto.rcmfilename},
		       #{fileDto.preview3d},
		       #{fileDto.download3d},
		       #{fileDto.previeqr3d},
		       #{fileDto.downloadqr3d},
		       #{fileDto.pagelocation},
		       #{fileDto.logicopt},
		       #{fileDto.querytime}
		)
	</insert>
	<update id="updateFile" parameterType="com.goukuai.dto.FileDto">
		update file_dto set
		hash = #{fileDto.hash},
		dir = #{fileDto.dir},
		fullpath = #{fileDto.fullpath},
		filename = #{fileDto.filename},
		filehash = #{fileDto.filehash},
		filesize = #{fileDto.filesize},
		create_member_name = #{fileDto.create_member_name},
		create_dateline = #{fileDto.create_dateline},
		last_member_name = #{fileDto.last_member_name},
		last_dateline = #{fileDto.last_dateline},
		property = #{fileDto.property},
		uploadserver = #{fileDto.uploadserver},
		uri = #{fileDto.uri},
		preview = #{fileDto.preview},
		thumbnail = #{fileDto.thumbnail},
		tag = #{fileDto.tag},
		doctype = #{fileDto.doctype},
		doccode = #{fileDto.doccode},
		rcmfilename = #{fileDto.rcmfilename},
		preview3d = #{fileDto.preview3d},
		download3d = #{fileDto.download3d},
		previeqr3d = #{fileDto.previeqr3d},
		downloadqr3d = #{fileDto.downloadqr3d},
		pagelocation = #{fileDto.pagelocation},
		logicopt = #{fileDto.logicopt},
		querytime = #{fileDto.querytime}
		where fileid = #{fileDto.fileid}
	</update>
	<!-- 删除 -->
	<delete id="deleteFile" parameterType="com.goukuai.dto.FileDto">
		delete from file_dto fd where fd.fileid = #{fileDto.fileid}
	</delete>
	<!--列表-->
	<select id="listFile" parameterType="string" resultMap="fileDtoMap">
		select fd.* from file_dto fd
		where nvl(fd.logicopt, 'UPLOAD') <![CDATA[ <> ]]> 'DELETE'
		  and nvl(fd.logicopt, 'UPLOAD') <![CDATA[ <> ]]> 'REPLACE'
		<if test="docType != null and docType != ''">
			and fd.docType = #{docType}
		</if>
		<if test="docCode != null and docCode != ''">
			and fd.docCode = #{docCode}
		</if>
		<if test="pageLocation != null and pageLocation != ''">
			and fd.pageLocation = #{pageLocation}
		</if>
		ORDER BY fd.fileid desc
	</select>
	<!--获取-->
	<select id="getFile" parameterType="string" resultMap="fileDtoMap">
		select fd.* from file_dto fd
		where fd.fileid = #{fileId}
	</select>
</mapper>