<div class="panel-body">
	<form  class="form-horizontal ng-pristine ng-valid">
		<div class="header">
			<img src="assets/images/icons/group.png" width="41" height="41" alt="" title="" />
			<span class="hd-title">单位负责人管理</span>
		</div>
		<div class="panel panel-group">
			<div class="panel-heading search-box">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="" href="/#searchbox">查询</a>
			</div>
			<div id="searchbox" class="panel-collapse collapse">
				<div class="panel-body search-body">
					<div class="form-group row sm-row">
						<label class="col-sm-2 col-md-1 control-label">单位名称</label>
						<div class="col-sm-4 col-md-2 sm-col"><input type="text" ng-model="paginationConf.queryObj.REPORTINGUNIT_NAME" class="form-control ng-pristine ng-untouched ng-valid" /></div>
						<label class="col-sm-3 col-md-1 control-label">单位负责人</label>
						<div class="col-sm-3 col-md-2 sm-col"><input type="text" ng-model="paginationConf.queryObj.COMPANYHEADER_NAME" class="form-control ng-pristine ng-untouched ng-valid" /></div>
						<div class="col-sm-12 col-md-1 search">
							<button  type="button" class="btn btn-info" ng-click="executeQueryRepoUnitByPage()"><i class="glyphicon glyphicon-search"></i>查询</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-hd-cont"><span class="panel-title">查询结果<i class="i-triangle"></i></span></div>
			</div>
			<div class="panel-body">
				<div class="form-group row">
					<div class="txl">
						<button  type="button" class="btn btn-info" id="createbtn" ng-click="createGroup()"><i class="glyphicon glyphicon-plus"></i>新增</button>
						<button  type="button" ng-click="updateGroup()" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i>修改</button>
						<button  type="button" ng-click="deleteGroup()" class="btn btn-info"><i class="glyphicon glyphicon-trash"></i>删除</button>
						<!--<button  type="button" ng-click="viewGroup()" class="btn btn-info"><i class="glyphicon glyphicon-ok-circle"></i>查看</button>-->
					</div>
				</div>
				<div class="form-group row nobottom-mar">
					<div class="table-responsive table-list">
						<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
							<thead>
								<tr>
									<th>选择</th>
									<th>序号</th>
									<th>单位名称</th>
									<th>单位编码</th>
									<th>单位负责人</th>
<!-- 									<th>基层法务</th> -->
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="g in repoUnitList">
								<td>
									<label class="checkbox-inline">
										<input class="px" type="checkbox" name="checkbox" class="ng-pristine ng-untouched ng-valid" value="{{g.ID}}"/>
										<span class="lbl">&nbsp;</span>
									</label>
								</td>
								<td>{{$index+1}}</td>
								<td><a href="#/GrouUserRepoUnit/View/{{g.ID}}/{{'#/GrouUserRepoUnitList' | encodeURI}}" >{{g.REPORTINGUNIT_NAME}}</a></td>
								<td>{{g.REPORTINGUNIT_CODE}}</td>
								<td>{{g.COMPANYHEADER_NAME}}</td>
<!-- 								<td>{{g.GRASSROOTSLEGALSTAFF_NAME}}</td> -->
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="table-footer clearfix">
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</form>
</div>