<div class="">
    <form  name="myForm" class="form-horizontal ng-pristine ng-valid" ng-submit="save()" novalidate>
        <div class="panel-body"     >
            <div class="panel">
                <div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">组织基本信息<i class="i-triangle"></i></span></div></div>
                    <div class="panel-body special-form">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">组织编码：</label>
                            <input type="hidden" name="UUID" action="post" ng-model="group.UUID" value="{{group.UUID}}">
                            <input type="hidden" name="PARENT_PK_VALUE" ng-model="group.PARENT_PK_VALUE" value="{{group.PARENT_PK_VALUE}}">
                            <div class="col-sm-4">
                                <input type="text" name="CODE"  id="CODE" required  ng-model="group.CODE"  ng-maxlength="10" class="form-control ng-pristine ng-untouched ng-valid" />
                                         <span style="color:red" ng-show="myForm.CODE.$dirty && myForm.CODE.$invalid">
                                             <p ng-show="myForm.CODE.$error.required" class="help-block">编码必填</p>
                                          </span>
                              <!--  <p ng-show="myForm.code.$invalid && !myForm.code.$pristine" class="help-block">Code is required.</p>-->
                            </div>
                            <label class="col-sm-2 control-label">组织名：</label>
                            <div class="col-sm-4"><input type="text"  name="NAME" id="NAME"  required action="post" ng-model="group.NAME"   class="form-control ng-pristine ng-untouched ng-valid" />
                                <span style="color:red" ng-show="myForm.NAME.$dirty && myForm.NAME.$invalid"><p ng-show="myForm.NAME.$error.required" class="help-block">组织名称必填</p></span>
                            </div>
                               <!-- <p ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="help-block">Name is required.</p>-->
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">地址：</label>
                            <div class="col-sm-4"><input type="text"  name="ADDRESS" id="ADDRESS" ng-model="group.ADDRESS" ng-minlength="2" ng-maxlength="20"  class="form-control ng-pristine ng-untouched ng-valid" />
                                <p ng-show="myForm.ADDRESS.$error.minlength" class="help-block">地址不够详细,请填写2-20个字符</p>
                                <p ng-show="myForm.ADDRESS.$error.maxlength" class="help-block">字数过多,请填写2-20个字符</p>
                            </div>

                            <label class="col-sm-2 control-label">组织机构简称：</label>
                            <div class="col-sm-4"><input type="text"  name="ORG_SHORT_NAME" id="ORG_SHORT_NAME" ng-model="group.ORG_SHORT_NAME" ng-minlength="1" ng-maxlength="10"  class="form-control ng-pristine ng-untouched ng-valid" />
                                <p ng-show="myForm.ORG_SHORT_NAME.$error.minlength" class="help-block">填写不够详细，请填写1-10个字符</p>
                                <p ng-show="myForm.ORG_SHORT_NAME.$error.maxlength" class="help-block">字数过多，请填写1-10个字符</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">状态：</label>
                            <div class="col-sm-4">
                                <select   name="STATE" id="STATE"  ng-model="group.STATE" class="form-control ng-pristine ng-untouched ng-valid">
                                    <option value=" "></option>
                                    <option value="2">启用</option>
                                    <option value="3">禁用</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">联系人：</label>
                            <div class="col-sm-4"><input type="text" name="CONTACTS" id="CONTACTS"  ng-model="group.CONTACTS"   class="form-control ng-pristine ng-untouched ng-valid" />
                                <span style="color:red" ng-show="myForm.CONTACTS.$dirty && myForm.CONTACTS.$invalid">
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">联系人电话：</label>
                            <div class="col-sm-4"><input type="text"  name="TELEPHONE" id="TELEPHONE" ng-model="group.TELEPHONE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 control-label">邮政编码：</label>
                            <div class="col-sm-4"><input type="text"  name="POST_CODE" id="POST_CODE" ng-model="group.POST_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">行政区划代码：</label>
                            <div class="col-sm-4"><input type="text"  name="AREA_CODE" id="AREA_CODE" ng-model="group.AREA_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 control-label">机构性质：</label>
                            <div class="col-sm-4"><input type="text"  name="CHARACTER_CODE" id="CHARACTER_CODE" ng-model="group.CHARACTER_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">机构常设性质：</label>
                            <div class="col-sm-4"><input type="text"  name="NORMAL_CHARACTER" id="NORMAL_CHARACTER" ng-model="group.NORMAL_CHARACTER"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 control-label">组织机构类别编码：</label>
                            <div class="col-sm-4"><input type="text"  name="CATEGORY_CODE" id="CATEGORY_CODE" ng-model="group.CATEGORY_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">业务变动分类：</label>
                            <div class="col-sm-4"><input type="text"  name="CHANGE_TYPE_CODE" id="CHANGE_TYPE_CODE" ng-model="group.CHANGE_TYPE_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 control-label">接受部门编码：</label>
                            <div class="col-sm-4"><input type="text"  name="RECEIVE_ORG_CODE" id="RECEIVE_ORG_CODE" ng-model="group.RECEIVE_ORG_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">被合并部门编码：</label>
                            <div class="col-sm-4"><input type="text"  name="MERGE_ORG_CODE" id="MERGE_ORG_CODE" ng-model="group.MERGE_ORG_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 control-label">法定代表人：</label>
                            <div class="col-sm-4"><input type="text"  name="LEGAL_PERSON" id="LEGAL_PERSON" ng-model="group.LEGAL_PERSON"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">是否上市：</label>
                            <div class="col-sm-4">
                                <select   name="STATE" id="MARKET" required ng-model="group.MARKET" class="form-control ng-pristine ng-untouched ng-valid">
                                    <option value=""></option>
                                    <option value="1">是</option>
                                    <option value="2">否</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">是否是实体：</label>
                            <div class="col-sm-4">
                                <select   name="STATE" id="ENTITY" required ng-model="group.ENTITY" class="form-control ng-pristine ng-untouched ng-valid">
                                    <option value=""></option>
                                    <option value="1">是</option>
                                    <option value="2">否</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">财务组织编码：</label>
                            <div class="col-sm-4"><input type="text"  name="FINANCIAL_ORG_CODE" id="FINANCIAL_ORG_CODE" ng-model="group.FINANCIAL_ORG_CODE"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 control-label">传真：</label>
                            <div class="col-sm-4"><input type="text"  name="FAX" id="FAX" ng-model="group.FAX"   class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                        </div>
                  </div>
            </div>
            <div class="form-group row last-group">
                <div class="txc">
                    <button  class="btn btn-info" type="button" id="cancelbtn" ng-click="cancel()">取消</button>
                    <button class="btn btn-info" type="submit"   id="savebtn">确定</button>
                    <button class="btn btn-info" style="display: none;" type="button"  id="viewlbtn" ng-click="cancel()">返回</button>
                </div>
            </div>

        </div>
    </form>
</div>
