
<div>
    <div class="panel">
        <div class="panel-heading">
            <h3>组织管理</h3>
        </div>
        <div class="panel-body">

            <div class="row form-group">
                <div class="col-md-4">
                    <input type="text" name="name" class="form-control" ng-model="user.user_code" placeholder="输入查询条件">
                </div>
                <div class="col-md-offset-10">
                    <button type="button" class="btn btn-primary" ng-click="Create()">新建组织</button>
                    <button type="button" class="btn btn-success" ng-click="Del()">删除</button>
                </div>
            </div>

            <tree-grid tree-data="tree_data" col-defs="col_defs"></tree-grid>
        </div>
    </div>

</div>
