<div class="visa-menu">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-menu">
            <li>
                <!-- <i class="icon-nav" style="font-size: 14px;">&#xe628;</i>-->
                <a class="breadcrumb-text breadcrumb-text-menu">
                    首页
                </a>
            </li>
            <li>
                <a href="" class="breadcrumb-text breadcrumb-text-menu">
                    项目看板
                </a>
            </li>
        </ol>
    </div>
</div>
<div class="panel-body">
    <ul class="nav nav-tabs bs-tabdrop-example">
        <li class="{{tabIndex=='0'?'active':''}}">
            <a href="/#bs-tabdrop-tab1" data-toggle="tab">分配前</a>
        </li>
        <li class="{{tabIndex=='1'?'active':''}}">
            <a href="/#bs-tabdrop-tab2" data-toggle="tab">风控任务</a>
        </li>
        <li class="{{tabIndex=='1'?'active':''}}">
            <a href="/#bs-tabdrop-tab3" data-toggle="tab">已完成</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane {{tabIndex=='0'?'active':''}}" id="bs-tabdrop-tab1">
            <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-md-1 control-label">项目名称</label>
                            <div class="col-sm-4 col-md-3 sm-col">
                                <input type="text" name="PROJECT_NAME" id="PROJECT_NAME" ng-model="paginationConf.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 col-md-1 control-label">申请状态</label>
                            <div class="col-sm-4 col-md-3 sm-col">
                                <select name="WF_STATE" id="WF_STATE" class="form-control"
                                        ng-model="paginationConf.queryObj.wf_state">
                                    <option value="">请选择...</option>
                                    <option value="1">审批中</option>
                                    <!--<option value="2">已审批</option>-->
                                    <option value="3">已终止</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-1" style="right: -150px">
                                <button class="btn btn-info" ng-click="getProjectList1()">查询</button>
                            </div>
                        </div>
                        <div class="form-group row nobottom-mar table-responsive table-list">
                            <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>项目名称</th>
                                    <th>评审类型</th>
                                    <th>所属大区</th>
                                    <th>投资经理</th>
                                    <!--<th>评审负责人</th>
                                    <th>法律负责人</th>-->
                                    <th>申请时间</th>
                                    <th>评审状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="p in projectList1" on-finish-render-filters>
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <!--<a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA !='1'"  href="#/projectInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectInfoAllView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectInfoAllBoardView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectPreInfoAllBoardView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'bulletin'==p.PROJECT_TYPE"  href="#/projectBulletinInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>-->

                                        <a ng-if="'pfr'==p.PROJECT_TYPE"  href="#/projectInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE"  href="#/projectPreInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'bulletin'==p.PROJECT_TYPE"  href="#/projectBulletinInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                    </td>
                                    <td>
                                        <div ng-if="'pfr'==p.PROJECT_TYPE">正式评审</div>
                                        <div ng-if="'pre'==p.PROJECT_TYPE">投标评审</div>
                                        <div ng-if="'bulletin'==p.PROJECT_TYPE">其他评审</div>
                                    </td>
                                    <td>{{p.PERTAINAREANAME}}</td>
                                    <td>{{p.INVESTMENTNAME}}</td>
                                    <!--<td>{{p.REVIEWPERSONNAME}}</td>
                                    <td>{{p.LEGALREVIEWPERSONNAME}}</td>-->
                                    <td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
                                    <td>
                                        <div ng-if="'0'== p.WF_STATE">起草中</div>
                                        <div ng-if="'1'== p.WF_STATE">审批中</div>
                                        <div ng-if="'2'== p.WF_STATE">已审批</div>
                                        <div ng-if="'3'== p.WF_STATE">已终止</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-footer clearfix">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane {{tabIndex=='1'?'active':''}}" id="bs-tabdrop-tab2">
            <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-md-1 control-label">项目名称</label>
                            <div class="col-sm-4 col-md-3 sm-col">
                                <input type="text" name="PROJECT_NAME" id="PROJECT_NAME" ng-model="paginationConfes.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <label class="col-sm-2 col-md-1 control-label">申请状态</label>
                            <div class="col-sm-4 col-md-3 sm-col">
                                <select name="WF_STATE" id="WF_STATE" class="form-control"
                                        ng-model="paginationConfes.queryObj.wf_state">
                                    <option value="">请选择...</option>
                                    <option value="1">审批中</option>
                                    <option value="2">已审批</option>
                                    <option value="3">已终止</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-1" style="right: -150px">
                                <button class="btn btn-info" ng-click="getProjectList2()">查询</button>
                            </div>
                        </div>
                        <div class="form-group row nobottom-mar table-responsive table-list">
                            <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>项目名称</th>
                                    <th>评审类型</th>
                                    <th>所属大区</th>
                                    <th>投资经理</th>
                                    <th>评审负责人</th>
                                    <th>法律负责人</th>
                                    <th>申请时间</th>
                                    <th>评审状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="p in projectList2" on-finish-render-filters>
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <!--<a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA !='1'"  href="#/projectInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectInfoAllView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectInfoAllBoardView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectPreInfoAllBoardView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'bulletin'==p.PROJECT_TYPE"  href="#/projectBulletinInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>-->

                                        <a ng-if="'pfr'==p.PROJECT_TYPE"  href="#/projectInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE"  href="#/projectPreInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'bulletin'==p.PROJECT_TYPE"  href="#/projectBulletinInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                    </td>
                                    <td>
                                        <div ng-if="'pfr'==p.PROJECT_TYPE">正式评审</div>
                                        <div ng-if="'pre'==p.PROJECT_TYPE">投标评审</div>
                                        <div ng-if="'bulletin'==p.PROJECT_TYPE">其他评审</div>
                                    </td>
                                    <td>{{p.PERTAINAREANAME}}</td>
                                    <td>{{p.INVESTMENTNAME}}</td>
                                    <td>{{p.REVIEWPERSONNAME}}</td>
                                    <td>{{p.LEGALREVIEWPERSONNAME}}</td>
                                    <td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
                                    <td>
                                        <div ng-if="'0'== p.WF_STATE">起草中</div>
                                        <div ng-if="'1'== p.WF_STATE">审批中</div>
                                        <div ng-if="'2'== p.WF_STATE">已审批</div>
                                        <div ng-if="'3'== p.WF_STATE">已终止</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-footer clearfix">
                        <tm-pagination conf="paginationConfes"></tm-pagination>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane {{tabIndex=='2'?'active':''}}" id="bs-tabdrop-tab3">
            <form class="form-horizontal ng-pristing ng-valid ng-pristine">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-md-1 control-label">项目名称</label>
                            <div class="col-sm-4 col-md-3 sm-col">
                                <input type="text" name="PROJECT_NAME" id="PROJECT_NAME" ng-model="paginationConfesd.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" />
                            </div>
                            <!--<label class="col-sm-2 col-md-1 control-label">申请状态</label>
                            <div class="col-sm-4 col-md-3 sm-col">
                                <select name="WF_STATE" id="WF_STATE" class="form-control"
                                        ng-model="paginationConfesd.queryObj.wf_state">
                                    <option value="">请选择...</option>
                                    <option value="1">审批中</option>
                                    <option value="2">已审批</option>
                                    <option value="3">已终止</option>
                                </select>
                            </div>-->
                            <div class="col-sm-12 col-md-1" style="right: -150px">
                                <button class="btn btn-info" ng-click="getProjectList3()">查询</button>
                            </div>
                        </div>
                        <div class="form-group row nobottom-mar table-responsive table-list">
                            <table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>项目名称</th>
                                    <th>评审类型</th>
                                    <th>所属大区</th>
                                    <th>投资经理</th>
                                    <th>评审负责人</th>
                                    <th>法律负责人</th>
                                    <th>申请时间</th>
                                    <th>评审状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="p in projectList3" on-finish-render-filters>
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <!--<a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA !='1'"  href="#/projectInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectInfoAllView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA !='1'"  href="#/projectPreInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectPreInfoAllView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pfr'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectInfoAllBoardView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE && p.OLDDATA =='1'"  href="#/projectPreInfoAllBoardView{{p.OLDURL}}12/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'bulletin'==p.PROJECT_TYPE"  href="#/projectBulletinInfoAllView/{{p.BUSINESSID}}/{{'#/projectBoardList'|encodeURI}}">{{p.PROJECTNAME}}</a>-->

                                        <a ng-if="'pfr'==p.PROJECT_TYPE"  href="#/projectInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'pre'==p.PROJECT_TYPE"  href="#/projectPreInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                        <a ng-if="'bulletin'==p.PROJECT_TYPE"  href="#/projectBulletinInfoAllBoardView/{{p.BUSINESSID}}/{{'#/projectBoardList/JTI1MjMlMkY='|encodeURI}}">{{p.PROJECTNAME}}</a>
                                    </td>
                                    <td>
                                        <div ng-if="'pfr'==p.PROJECT_TYPE">正式评审</div>
                                        <div ng-if="'pre'==p.PROJECT_TYPE">投标评审</div>
                                        <div ng-if="'bulletin'==p.PROJECT_TYPE">其他评审</div>
                                    </td>
                                    <td>{{p.PERTAINAREANAME}}</td>
                                    <td>{{p.INVESTMENTNAME}}</td>
                                    <td>{{p.REVIEWPERSONNAME}}</td>
                                    <td>{{p.LEGALREVIEWPERSONNAME}}</td>
                                    <td>{{p.CREATE_DATE |date:'yyyy-MM-dd hh:mm:ss'}}</td>
                                    <td>
                                        <div ng-if="'0'== p.WF_STATE">起草中</div>
                                        <div ng-if="'1'== p.WF_STATE">审批中</div>
                                        <div ng-if="'2'== p.WF_STATE">已审批</div>
                                        <div ng-if="'3'== p.WF_STATE">已终止</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-footer clearfix">
                        <tm-pagination conf="paginationConfesd"></tm-pagination>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>