<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.pre.dao.IPreAuditReportMapper">

	<!-- 获取待提交评审报告的项目 -->
	<select id="queryUncommittedReportByPage" parameterType="map" resultType="hashmap">
		select t.* from (
		SELECT RPI.ID,
       RPI.BUSINESSID,
       RPI.PROJECTNAME,
       RPI.PROJECTNUM,
       (SELECT S.NAME FROM SYS_USER S WHERE S.UUID = RPI.CREATEBY) AS CREATEBY,
       RPI.PROJECT_MODEL_IDS,
       (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RPI.PERTAINAREAID) AS PERTAINAREANAME,
       (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = RPI.REVIEWPERSONID) AS REVIEWPERSONNAME,
       RPI.ISURGENT,
       RPR.CREATE_DATE,
       RPR.CONTROLLER_VAL
	  FROM RCM_PRE_INFO RPI, RCM_PRE_REPORT RPR
	 WHERE RPI.STAGE = 3
	   AND RPI.WF_STATE IN ('1', '2')
	   AND RPI.BUSINESSID = RPR.BUSINESSID
	   
	   <if test="psfzr!=null and psfzr!=''"> and RPI.REVIEWPERSONID=#{psfzr}</if> 
	   <if test="projectName!=null and projectName!=''"> and RPI.PROJECTNAME like '%${projectName}%'</if> ) T 
	    WHERE 1 = 1 
		<if test="createBy!=null and createBy!=''"> and t.createby like '%${createBy}%'</if>
		<if test="pertainareaname!=null and pertainareaname!=''"> and t.pertainareaName like '%${pertainareaname}%'</if>
		<if test="orderBy!=null and orderBy!=''"> order by ${orderBy}</if> 
	</select>
	
	<!-- 获取已提交评审报告的项目 -->
	<select id="querySubmittedReportByPage" parameterType="map" resultType="hashmap">
			select t.* from (
			SELECT RPI.ID,
	       RPI.BUSINESSID,
	       RPI.PROJECTNAME,
	       RPI.PROJECTNUM,
	       (SELECT S.NAME FROM SYS_USER S WHERE S.UUID = RPI.CREATEBY) AS CREATEBY,
	       (SELECT SU.NAME FROM SYS_USER SU WHERE SU.UUID = RPI.REVIEWPERSONID) REVIEWPERSONNAME,
	       RPI.PROJECT_MODEL_IDS,
	       (SELECT O.NAME FROM SYS_ORG O WHERE O.ORGPKVALUE = RPI.PERTAINAREAID) AS PERTAINAREANAME,
	       RPI.WF_STATE,
	       RPR.CREATE_DATE,
	       RPR.CONTROLLER_VAL,
	       RPR.SUBMIT_DATE
	  FROM RCM_PRE_INFO RPI, RCM_PRE_REPORT RPR
	 WHERE RPI.STAGE IN ('3.7', '3.5', '3.9', '4', '5', '6', '7')
	   AND RPI.WF_STATE = '2'
	   AND RPR.BUSINESSID = RPI.BUSINESSID 
	  
		<if test="psfzr!=null and psfzr!=''"> and RPI.REVIEWPERSONID=#{psfzr}</if>
	   <if test="projectName!=null and projectName!=''"> and RPI.PROJECTNAME like '%${projectName}%'</if> ) T 
	   WHERE 1 = 1 
		<if test="createBy!=null and createBy!=''"> and t.createby like '%${createBy}%'</if>
		<if test="pertainareaname!=null and pertainareaname!=''"> and t.pertainareaName like '%${pertainareaname}%'</if>
		<if test="orderBy!=null and orderBy!=''"> order by ${orderBy}</if> 
	</select>

	<!-- 获取未新建投标评审报告的项目 -->
	<select id="queryNotNewlyPreAuditProject" resultType="hashmap" parameterType="java.lang.String">
		SELECT RPI.BUSINESSID, RPI.PROJECTNAME 
	  FROM RCM_PRE_INFO RPI
	 WHERE 1 = 1
	   AND RPI.STAGE = '3' 
	   <if test="USERID !=null and USERID !=''"> AND RPI.REVIEWPERSONID = #{USERID,jdbcType=VARCHAR} </if>
	   <if test="LIST_BUSINESSID != null">
		AND RPI.BUSINESSID IN 
		<foreach collection="LIST_BUSINESSID" item="businessid"  open="(" separator="," close=")">
		#{businessid,jdbcType=VARCHAR} 
		</foreach>
		</if>
	 ORDER BY RPI.CREATE_DATE DESC
	</select>
	
	<!-- 删除待提交报告的项目中的报告 -->
	<delete id="batchDeletePreReport" parameterType="java.lang.String">
		delete from RCM_PRE_REPORT r where r.businessid in 
		 <foreach item="businessid" collection="array" open="(" separator="," close=")">
            #{businessid,jdbcType=VARCHAR}
        </foreach>
	</delete>
	
	<insert id="savePreReport" parameterType="map">
		insert into rcm_pre_report 
		(
			id,
			businessId,
			projectSize,
			investmentAmount,
			rateOfReturn,
			serviceType,
			create_date,
			controller_val,
			submit_date
		)
		values (
			sys_guid(),
			#{businessId,jdbcType=VARCHAR},
			#{projectSize,jdbcType=DECIMAL},
			#{investmentAmount,jdbcType=DECIMAL},
			#{rateOfReturn,jdbcType=DECIMAL},
			#{serviceType,jdbcType=VARCHAR},
			#{create_date,jdbcType=TIMESTAMP}, 
			#{controller_val,jdbcType=VARCHAR},
			#{submit_date,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<update id="updatePreReport" parameterType="map">
		UPDATE rcm_pre_report s 
		<trim prefix="set" suffixOverrides=",">
			<if test="projectSize != null"> projectSize = #{projectSize,jdbcType=DECIMAL},</if>
			<if test="investmentAmount != null">investmentAmount = #{investmentAmount,jdbcType=DECIMAL},</if>
			<if test="rateOfReturn != null"> rateOfReturn = #{rateOfReturn,jdbcType=DECIMAL},</if>
		  	<if test="serviceType != null and serviceType != ''"> serviceType = #{serviceType,jdbcType=VARCHAR},</if>
		  	<if test="create_date != null"> create_date = #{create_date,jdbcType=TIMESTAMP},</if>
			<if test="submit_date != null"> s.submit_date = #{submit_date,jdbcType=TIMESTAMP}, </if>
		</trim>
		WHERE s.businessId = #{businessId,jdbcType=VARCHAR}
	</update>
	
	<update id="changeState" parameterType="map">
		update rcm_pre_info r set r.stage = #{stage,jdbcType=VARCHAR} where r.businessid = #{businessid,jdbcType=VARCHAR}
	</update>
	<delete id="delete">
		delete from rcm_pre_report
	</delete>
	<select id="isPossible2Submit" parameterType="java.lang.String" resultType="hashmap">
		select r.wf_state from rcm_pre_info r where r.businessid = #{businessid}
	</select>
	
	<update id="updateReportByBusinessId" parameterType="map">
		update rcm_pre_report set 
		projectSize = #{projectSize,jdbcType=DECIMAL},
		investmentAmount = #{investmentAmount,jdbcType=DECIMAL},
		rateOfReturn = #{rateOfReturn,jdbcType=DECIMAL},
		serviceType = #{serviceType,jdbcType=VARCHAR}
		where  businessId = #{businessId}
	</update>
	<select id="getByBusinessId" parameterType="java.lang.String" resultType="map">
		select * from rcm_pre_report f where f.businessid = #{businessId}
	</select>
</mapper>