<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.pre.dao.IPreAuditMapper">
	
	<select id="queryWaitList" resultType="map" parameterType="map">
		select * from (
			select ta.*,(
				select o.NAME from sys_org o where o.ORGPKVALUE = ta.pertainareaid
			) pertainareaName ,
			(
				select o.NAME from sys_org o where o.ORGPKVALUE = ta.reportingunit_id
			) reportingunitName ,
			(
				select u.name from sys_user u where u.uuid = ta.createby
			) investManagerName ,
			(
				select u.name from sys_user u where u.uuid = ta.reviewpersonid
			) reviewLeaderName 
			from (
				select decode(i.OLDDATA,'1',xyz.url_,'') detail_url,i.* from rcm_pre_info i
				,(select to_char('#' || x.form_key_ || '/' || x.business_key_ || '@' ||
				           x.proc_def_id_ || '@' || x.proc_inst_id_ || '@' || x.id_) url_,
				          x.business_key_           
				from (select t.*,
				          (select business_key_ from act_ru_execution 
				           where business_key_ is not null 
				           and proc_inst_id_=t.proc_inst_id_) business_key_ 
				   from act_ru_task t, act_re_procdef a where 
				  t.proc_def_id_=a.id_
				  and t.assignee_='${userId}'
				  and a.key_ in('preAssessment','preReview')) x) xyz
			    where xyz.business_key_(+)=i.businessid and i.wf_state = '1' and (i.businessid in ( ${assignSql1} ) 
			    or
			    i.businessid in ( ${assignSql2} ) 
			    )
		   ) ta 
		 ) tt where 1 = 1	
    	<if test="projectUnitName != null and projectUnitName != ''"> and	tt.pertainareaName like '%${projectUnitName}%'</if>
    	<if test="projectName != null and projectName != ''"> and	tt.projectName like '%${projectName}%' </if>
    	order by tt.apply_date desc
	</select>
	
	
	<select id="queryAuditedList" resultType="map" parameterType="map">
		select * from (
		select info.*,
		(
				select o.NAME from sys_org o where o.ORGPKVALUE = info.pertainareaid
		) pertainareaName ,
		(
				select o.NAME from sys_org o where o.ORGPKVALUE = info.reportingunit_id
		) reportingunitName ,
		(
				select u.name from sys_user u where u.uuid = info.createby
		) investManagerName ,
		(
				select u.name from sys_user u where u.uuid = info.reviewpersonid
		) reviewLeaderName ,
		(select to_char('#/ProjectPreReviewView/' || hp.business_key_ || '@' ||
                               hp.proc_def_id_ || '@' || hp.proc_inst_id_ || '@@') url
                  from act_hi_procinst hp
                 where hp.proc_inst_id_ in
                       (select proc_inst_id_
                          from act_hi_taskinst
                         where assignee_ = '${assignUserId}')
                   and hp.proc_def_id_ in
                       (select id_
                          from act_re_procdef
                         where key_ = 'preAssessment')
                   and hp.business_key_ =info.businessid) oldurl
		  from rcm_pre_info info
		 where info.businessid in
		       (select to_char(f.businessid)
		          from rcm_pre_log f
		         where f.iswaiting = '0'
		           and f.audituserid = '${assignUserId}'
		        union
		        select to_char(business_key_)
		          from act_hi_procinst hp
		         where hp.proc_inst_id_ in
		               (select proc_inst_id_
		                  from act_hi_taskinst ht
		                 where ht.end_time_ is not null
		                   and ht.proc_def_id_ in
		                       (select id_
		                          from act_re_procdef
		                         where key_ = 'preAssessment')
		                   and ht.assignee_ = '${assignUserId}'))
		 ) tt where 1=1
		 <if test="projectUnitName != null and projectUnitName != ''"> and	tt.pertainareaName like '%${projectUnitName}%'</if>
    	 <if test="projectName != null and projectName != ''"> and	tt.projectName like '%${projectName}%' </if>
    	 <if test="wf_state != null and wf_state != ''"> and	tt.wf_state = #{wf_state}</if>
    	 order by tt.apply_date desc
	</select>
	
</mapper>