<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.rcm.report.dao.IReportInfoMapper">
	<select id="queryProjectsByPertainareaid" resultType="hashmap" parameterType="map">
	   select * from 
	    (select 
	           org.name as areaname,
	           p.pertainareaid,
	           p.businessid,
	           p.projectname project_name,p.servicetype_id service_type_id,
	           to_char(p.create_date,'yyyy-mm-dd hh24:mi:ss') create_datea,       
	           decode(d.DECISION_RESULT,1,1,2,2,3,3,4,4,
	                    null,decode(n.CONSENTTOINVESTMENT, null, 0, 1,1,2,2,3,3,4,4)) being  
	          /* sum(decode(n.CONSENTTOINVESTMENT, null, 1, 0)) as being,                             
	           sum(decode(d.DECISION_RESULT,1,1,decode(n.CONSENTTOINVESTMENT, 1, 1, 0))) as done1,  
	           sum(decode(d.DECISION_RESULT,2,1,decode(n.CONSENTTOINVESTMENT, 2, 1, 0))) as done2,  
	           sum(decode(d.DECISION_RESULT,3,1,decode(n.CONSENTTOINVESTMENT, 3, 1, 0))) as done3,  
	           sum(decode(d.DECISION_RESULT,4,1,decode(n.CONSENTTOINVESTMENT, 4, 1, 0))) as done4  */
	      from rcm_formalassessment_info p, (select * from RCM_DECISION_RESOLUTION where VOTE_STATUS = 2) d, rcm_noticedecision_info n, sys_org org
	     where p.wf_state in ('1', '2')      
	       and p.pertainareaid is not null   
	       and p.businessid = d.formal_id(+)
	       and p.businessid = n.projectformalid(+)
	       and p.pertainareaid = org.orgpkvalue(+)
	       ) where 1=1
	   <if test="pertainareaId!=null and pertainareaId!=''">
			and pertainareaid = #{pertainareaId}
		</if>
		<if test="state != null and state != ''">
			and being = #{state}
		</if>
	   order by create_datea desc
	</select>
	<select id="queryPertainAreaAchievement" resultType="map">
		select org.name as areaname,
           p.pertainareaid,
           sum(decode(n.CONSENTTOINVESTMENT, null, 
                      decode((select VOTE_STATUS from RCM_DECISION_RESOLUTION 
                                   where VOTE_STATUS = 2 and formal_id=p.businessid),null,1,0), 0)) as being,                             --未出决策通知书
           sum(decode(d.DECISION_RESULT,1,1,decode(n.CONSENTTOINVESTMENT, 1, 1, 0))) as done1,  
           sum(decode(d.DECISION_RESULT,2,1,decode(n.CONSENTTOINVESTMENT, 2, 1, 0))) as done2,  
           sum(decode(d.DECISION_RESULT,3,1,decode(n.CONSENTTOINVESTMENT, 3, 1, 0))) as done3,  
           sum(decode(d.DECISION_RESULT,4,1,decode(n.CONSENTTOINVESTMENT, 4, 1, 0))) as done4   
      from rcm_formalassessment_info p, (select * from RCM_DECISION_RESOLUTION where VOTE_STATUS = 2) d, rcm_noticedecision_info n, sys_org org
     where p.wf_state in ('1', '2')      
       and p.pertainareaid is not null   
       and p.businessid = d.formal_id(+)
       and p.businessid = n.projectformalid(+)
       and p.pertainareaid = org.orgpkvalue(+)
     group by org.name, p.pertainareaid
	</select>
	
	<delete id="deleteReportByBusinessId"  parameterType="map">
		delete from rcm_formalAssessment_report where businessid = #{businessId}
	</delete>
	
	<update id="updateReportByBusinessId" parameterType="map">
		update rcm_formalAssessment_report set 
		projectSize = #{projectSize,jdbcType=DECIMAL},
		investmentAmount = #{investmentAmount,jdbcType=DECIMAL},
		rateOfReturn = #{rateOfReturn,jdbcType=DECIMAL},
		serviceType = #{serviceType,jdbcType=VARCHAR}
		where  businessId = #{businessId}
	</update>
	
	<insert id="saveReport"  parameterType="map">
		insert into rcm_formalAssessment_report 
		(
			businessId,
			projectSize,
			investmentAmount,
			rateOfReturn,
			serviceType,
			create_date,
			controller_val
		)
		values (
			#{businessId},
			#{projectSize,jdbcType=DECIMAL},
			#{investmentAmount,jdbcType=DECIMAL},
			#{rateOfReturn,jdbcType=DECIMAL},
			#{serviceType,jdbcType=VARCHAR},
			sysdate,
			#{controller_val,jdbcType=VARCHAR}
		)
	</insert>
</mapper>