<div class="panel-body">
    <form id="Notification" class="form-horizontal" name="Notification">
        <div class="">
            <div class="header detail-page">
                <img src="assets/images/icons/detail.png" width="" height="" alt=""
                     title="" /><span class="hd-title">{{titleName}}</span>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-hd-cont">
                        <span class="panel-title">平台公告<i class="i-triangle"></i></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="special-form">
                        <div class="row">
                            <label class="col-sm-2 control-label"><span class="required" ng-if="notificationInfo.STAGE != '2'">*</span>公告主题</label>
                            <div class="col-sm-4">
                                <input type="text" ng-readonly="notificationInfo.STAGE == '2'" data-toggle="modal" required class="form-control" name="topic" id="topic" ng-model="notificationInfo.TOPIC"/>
                            </div>
                            <label class="col-sm-2 control-label"><span class="required" ng-if="notificationInfo.STAGE != '2'">*</span>公告类型</label>
                            <div class="col-sm-4 has-feedback" >
                                <select  name="TYPE" id="TYPE" ng-model="notificationInfo.TYPE" class="form-control" ng-disabled="notificationInfo.STAGE == '2'">
                                    <option value="">--请选择--</option>
                                    <option ng-repeat="o in notificationsDicCode track by $index"  value="{{o.ITEM_CODE}}" ng-selected="o.ITEM_CODE == notificationInfo.TYPE">{{o.ITEM_NAME}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label"><span class="required" ng-if="notificationInfo.STAGE != '2'">*</span>公告内容</label>
                            <div class="col-sm-10 has-feedback">
                                <textarea rows="6%" cols="100%" ng-keyup="keyUp($event)" ng-readonly="notificationInfo.STAGE == '2'" auto-height data-toggle="modal" required class="form-control" name="content" id="content" ng-model="notificationInfo.CONTENT" ></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label"><span class="required" ng-if="notificationInfo.STAGE != '2'">*</span>过期时间</label>
                            <div class="col-sm-4 has-feedback">
                                <input ng-show="!isNotExpire" type="text" id="expire_date" name="expire_date" value="{{notificationInfo.EXPIRE_DATE | limitTo:10}}" ng-readonly="notificationInfo.STAGE == '2'" ng-model="notificationInfo.EXPIRE_DATE" class="form-control"/>
                                <i ng-show="!isNotExpire" class="fa fa-calendar form-control-feedback"></i>
                                <label class="checkbox-inline">
                                    <input class="px" type="checkbox" ng-readonly="notificationInfo.STAGE == '2'" ng-disabled="notificationInfo.STAGE == '2'" ng-model="isNotExpire" ng-click="notificationInfo.EXPIRE_DATE=null"/>
                                    <span class="lbl">永不过期</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div id="attachmentFileDiv">
                                <label class="col-sm-2 control-label">公告附件</label>
                                <div class="col-sm-1 txl" ng-if="notificationInfo.STAGE != '2'" id="fileSelectDiv">
                                    <button class="btn btn-info" ngf-max-size="100MB" ngf-select="uploadNotificationAttachment($file,$invalidFiles, $index)">浏览</button>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row nobottom-mar">
                                        <div class="col-sm-10 noleft-pad noright-pad">
                                            <span ng-bind="progress$index"></span>
                                            <span style="">{{errorAttach[$index].msg}}</span>
                                            <a  href="javascript:void(0);" ng-click="downLoadFile(notificationInfo.FILEPATH,notificationInfo.FILENAME)" style="line-height: 27px;" >{{notificationInfo.FILENAME}}</a>
                                            <input type="text" hidden="hidden" id="attachmentFile" name="attachmentFile" ng-model="notificationInfo.FILENAME">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-group">
            <div class="row">
                <div class="option txl">
                    <button class="btn btn-info" type="button"  id="viewlbtn" ng-click="cancel()">返回</button>
                    <button type="button" id="savebtn" class="btn btn-info"
                            ng-click="saveNotification()" ng-if="notificationInfo.STAGE != '2'">
                        <i class="fa fa-save"></i>保存
                    </button>
                    <button type="button" id="submitbtn" class="btn btn-info"
                            ng-click="submitNotification()" ng-if="notificationInfo.STAGE != '2'">
                        <i class="fa fa-cloud-upload"></i>发布
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--
<script  type="text/javascript">
    angular.element(document).ready(function() {
        var options = {
            todayBtn: "linked",
            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
        }
        $('#expire_date').datepicker(options);

    });
    $(document).ready(function() {
        // validate signup form on keyup and submit
        $("#Notification").validate({
            rules: {
                topic:"required",
                TYPE:"required",
                content:"required"
            },
            messages: {
                topic:"请填写公告主题",
                TYPE:"请选择公告类型",
                content:"请填写公告内容"
            }
        });
    });
</script>-->
