<div class="panel">
    <style type="text/css">
        .options {
            font-weight: bold;
        }

        th, td {
            word-wrap: break-word;
        }

        a {
            cursor: pointer;
            color: #0c5b8e;
        }
    </style>
    <div class="header">
        <span class="hd-title">系统-在途数据</span>
    </div>
    <div class="panel-body">
        <div class="panel">
            <div class="row">
                <div class="col-md-12">
                    <span class="options">来源</span>
                    <select ng-model="fileTypesIndex" id="fileTypesIndex"
                            style="height: 30px;line-height: 30px;padding: 0 10px;border-radius: 4px;border: 1px solid #dddee1;width: 210px;">
                        <option ng-repeat="fileType in fileTypes" value="{{$index}}" ng-selected="$index == 0">
                            {{fileType.name}}
                        </option>
                    </select>
                    &nbsp;
                    <span ng-bind="info"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="options">操作</span>
                    <input ng-model="fileSkip" type="number"
                           style="height: 30px;line-height: 30px;padding: 0 10px;border-radius: 4px;border: 1px solid #dddee1;width: 210px;"
                           title="Skip" id="Skip">
                    -
                    <input ng-model="fileLimit" type="number"
                           style="height: 30px;line-height: 30px;padding: 0 10px;border-radius: 4px;border: 1px solid #dddee1;width: 210px;"
                           title="Limit" id="Limit">
                    <a ng-click="querySynchronize()">同步查询</a>
                    <a ng-click="executeSynchronizeModule()">同步所选来源</a>
                    <input type="checkbox" class="checkbox-inline" style="margin: 1px 0px 0px;" ng-model="isLimit"/>
                    仅同步当前查询页
                </div>
            </div>
            <div class="row table-responsive">
                <div class="col-md-12">
                    <div id="resultDiv">
                        <table class="table table-bordered table-hover datatable table-text-mid table-light padding0">
                            <thead>
                            <tr>
                                <th width="10%">序号</th>
                                <th width="10%">服务文件</th>
                                <th width="10%">服务路径</th>
                                <th width="10%">云库文件</th>
                                <th width="10%">云库路径</th>
                                <th width="10%">页面位置</th>
                                <th width="10%">服务</th>
                                <th width="10%">云库</th>
                                <th width="10%">同步</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="file in initFiles">
                                <td width="10%">{{file.sequence+1}}</td>
                                <td width="10%">{{file.nameServer}}</td>
                                <td width="10%">{{file.pathServer}}</td>
                                <td width="10%">{{file.nameCloud}}</td>
                                <td width="10%">{{file.pathCloud}}</td>
                                <td width="10%">{{file.location}}</td>
                                <td width="10%">{{file.server?'是':'否'}}</td>
                                <td width="10%">{{file.cloud?'是':'否'}}</td>
                                <td width="10%">{{file.synchronize?'是':'否'}}</td>
                                <td width="10%">
                                    <a ng-click="executeSynchronize(file)">同步</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>