<div class="panel-body">
    <div class="header">
        <span class="hd-title">终止流程</span>
    </div>
    <div class="panel">
        <div class="panel-heading">
           <!-- <div class="panel-hd-cont"><span class="panel-title">终止流程<i class="i-triangle"></i></span></div>-->
        </div>
        <div class="panel-body">
            <form class="form-horizontal ng-pristine ng-valid" name="myForm" ng-submit="endFlow()">
                <div class="special-form">
                    <div class="row">
                        <label class="col-sm-2 control-label select-mode">原因：</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" cols="" ng-model="obj.reason"></textarea>
                            <span class="required">备注：流程终止后无法恢复，请谨慎操作！</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group-gap txl">
                        <button type="button" class="btn btn-default btn-cancel" ng-click="close()">取消</button>
                        <button type="button" ng-click="endFlow(obj.PROJECT_TYPE,obj.BUSINESS_ID,obj.reason)"
                                class="btn btn-primary btn-confirm" id="forportid">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>