<div>
    <!--正式评审报告 Start-->
    <div class="box">
        <div class="box-title">
            <a class="box-title-font">
                正式评审报告
            </a>
        </div>
        <div class="template-table-div">
            <a class="overview-title-font">
                风控部门提供
            </a>
            <div class="template-table-line"></div>
            <div class="col-sm-10">
                <a ng-click="downLoadFormalBiddingInfoFile(formalPreview.filePath,formalPreview.projectName)"
                   style="cursor: pointer" title="">{{formalPreview.projectName}}-正式评审报告.docx</a>
            </div>
        </div>
    </div>
    <!--正式评审报告 End-->

    <!--业务单位上报评审文件 Start-->
    <div class="box">
        <div class="box-title">
            <a class="box-title-font">
                业务单位上报评审文件
            </a>
        </div>
        <div class="template-table-div">
            <div class="table-head">
                <div class="col-md-9">
                    <a class="overview-title-font">
                        投资部门提供
                    </a>
                </div>
            </div>
            <div class="template-table-line"></div>
            <table class="template-table">
                <thead>
                <th width="5%">
                    序号
                </th>
                <th width="25%">
                    资源名称
                </th>
                <th width="70%">
                    附件内容
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="item in formalPreview.newAttachment track by $index">
                    <td>
                        {{outerIndex+1}}
                    </td>
                    <td>
                        {{item.ITEM_NAME}}
                        <div ng-if="item.newFile">
                            <select ng-model="item.newItem" class="newItem"
                                    ng-options="y.ITEM_NAME for y in attach ">
                            </select>
                        </div>
                    </td>
                    <td>
                        <span ng-bind="progress$index"></span>
                        <span style="">{{errorMsg[$index].msg}}</span>
                        <a href="javascript:void(0);" ng-click="downLoadBiddingFile(item)">
                            {{item.fileName}}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--业务单位上报评审文件 End-->
</div>