<div class="panel-body">
	<form class="form-horizontal ng-pristine ng-valid" >	
		<div class="">
			<div class="header detail-page">
				<img src="assets/images/icons/detail.png" width="" height="" alt="" title="" /><span class="hd-title">提交决策委员会材料-查看</span>
			</div>
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-hd-cont"><span class="panel-title">决策委员会材料<i class="i-triangle"></i></span></div>
				</div>
				<div class="panel-body">
					<directive-formal-jcwyh></directive-formal-jcwyh>
					<div class="row">
						<div class="row-tit">2.项目重要边界条件</div>
						<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
							<tbody>
							<tr>
								<td class="title-column"><span class="required">*</span>项目类型</td>
								<td>
									<div id="regional-division">
										<div class="select2-success">
											<select ng-disabled="true"  class="form-control" id="jprojectType" name="jprojectType" ng-model="formalReport.policyDecision.projectType" ng-options="listtype.ITEM_NAME for listtype in projectlisttype track by listtype.ITEM_CODE">
												<option value="">-- 请选择 --</option>
											</select>
										</div>
									</div>
								</td>
								<td class="title-column"><span class="required">*</span>投资金额</td>
								<td>
									<div class="has-feedback">
										<input type="text" ng-readonly="true"  class="form-control" id="jinvestmentAmount" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"  onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')" ng-model="formalReport.policyDecision.investmentAmount" placeholder="0.0"><span class="unit-million">单位(万元)</span>
									</div>
								</td>
							</tr>
							<tr>
								<td class="title-column"><span class="required">*</span>项目规模</td>
								<td>
									<div class="has-feedback">
										<input type="text" ng-readonly="true" class="form-control" id="jprojectSize" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" 
										onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')" 
											ng-model="formalReport.policyDecision.projectSize" placeholder="0">
										<span class="unit-million">单位(万吨)</span>
									</div>
								</td>
								<td class="title-column"><span class="required">*</span>投资收益率</td>
								<td>
									<div class="has-feedback">
										<input type="text" ng-readonly="true"  class="form-control" id="rateOfReturn" name="rateOfReturn" 
											onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" 
											onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')" 
											ng-model="formalReport.policyDecision.rateOfReturn"/><span class="percent">%</span>
									</div>
								</td>
							</tr>
							<tr>
								<td class="title-column"><span class="required">*</span>风控中心评审结论</td>
								<td ><textarea ng-readonly="true"  name="fkPsResult" id="fkPsResult" rows="" cols="" class="form-control" ng-model="formalReport.fkPsResult" auto-height></textarea></td>
								<td class="title-column"><span class="required">*</span>风控重点风险提示</td>
								<td ><textarea ng-readonly="true"  name="fkRiskTip" id="fkRiskTip" rows="" cols="" class="form-control" ng-model="formalReport.fkRiskTip" auto-height></textarea></td>
							</tr>
							<tr>
								<td class="title-column">特殊事项说明</td>
								<td colspan="3">
									<textarea ng-readonly="true"  class="form-control" rows="" cols="" id="specialNotice" name="specialNotice" 
									 ng-model="formalReport.policyDecision.specialNotice" auto-height></textarea>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="row-tit">3.投资正式评审报告_风控部门提供</div>
						<div class="col-sm-10 mb20">
							<a ng-click="downLoadFormalBiddingInfoFile(formalReport.filePath,formalReport.projectName)" style="cursor: pointer" title="">{{formalReport.projectName}}-正式评审报告.docx</a>
						</div>
						<div class="col-sm-2">
							<button type="button" ng-disabled="!hasWaiting"  class="btn btn-info" ngf-max-size="100MB" ngf-select="uploadReprot($file,$invalidFiles,$index)">替换</button>
						</div>
					</div>
					<div class="row" ng-if="formalReport.policyDecision.fileList!=null && formalReport.policyDecision.fileList.length>0">
						<div class="row-tit">附件列表</div>
						<button  type="button" ng-if="hasWaiting" class="btn btn-info" ng-disabled="isBtnShow" ng-click="addFileList()"><i class="glyphicon glyphicon-plus"></i>新增</button>
						<button  type="button" ng-if="hasWaiting" class="btn btn-info" ng-disabled="isBtnShow" ng-click="commonDdelete()"><i class="glyphicon glyphicon-trash"></i>删除</button>
					</div>
					<div class="row" ng-if="formalReport.policyDecision.fileList!=null && formalReport.policyDecision.fileList.length>0">
						<div class="table-responsive">
							<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
								<thead>
								<tr>
									<th width="5%">选择</th>
<!-- 									<th width="30%">附件名称</th> -->
									<th>上传附件</th>
									<th width="20%">上会附件</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="item in formalReport.policyDecision.fileList track by $index">
									<td class="txc">
										<label class="checkbox-inline">
											<input type="checkbox" class="px" ng-model="item.selected">
											<span class="lbl">&nbsp;</span>
										</label>
									</td>
<!-- 									<td width="20%"><input type="text" ng-model="item.file_content"  class="form-control"></td> -->
									<td>
										<div class="col-sm-9 noleft-pad noright-pad">
											<span ng-bind="progress$index"></span>
											<span style="">{{errorAttach[$index].msg}}</span>
											<a href="javascript:void(0);" ng-click="downLoadBiddingFile(item.files)" style="line-height: 27px;">{{item.files.fileName}}</a>
										</div>
										<div class="col-sm-3 noright-pad txr">
											<button type="button" ng-disabled="!hasWaiting"  class="btn btn-info" ng-disabled="isBtnShow" ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles, $index)">浏览</button>
										</div>
									</td>
									
									<td ng-show = "formalReport.policyDecision != null">
										<label class="checkbox-inline">
											<input type="checkbox" name="choosem" ng-disabled="true" ng-click="checkFileZip(item.files.fileName,$event)"
											ng-checked="isValueExist(formalReport.policyDecision.decisionMakingCommitteeStaffFiles, 'filePath', item.files.filePath)" 
											class="px" value="||||{{credentials.userName}}||{{credentials.userName}}||{{item.files.fileName}}||{{item.files.filePath}}||1||||{{credentials.UUID}}||{{credentials.UUID}}"/>
											<span class="lbl">&nbsp;</span>
										</label>
									</td>
									<td ng-show = "formalReport.policyDecision == null">
										<label class="checkbox-inline">
											<input type="checkbox" name="choosem" ng-disabled="true" ng-click="checkFileZip(item.files.fileName,$event)"
											class="px" value="||||{{credentials.userName}}||{{credentials.userName}}||{{item.files.fileName}}||{{item.files.filePath}}||1||||{{credentials.UUID}}||{{credentials.UUID}}"/>
											<span class="lbl">&nbsp;</span>
										</label>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="row-tit">4.业务单位上报评审文件-投资部门提供</div>
						<button ng-if="hasWaiting"  type="button" class="btn btn-info" ng-click="addFileList1()"><i class="glyphicon glyphicon-plus"></i>新增</button>
						<button ng-if="hasWaiting" type="button" class="btn btn-info" ng-click="deleteFileList()"><i class="glyphicon glyphicon-plus"></i>删除</button>
					</div>	
					<div class="row">
						<div class="row table-responsive">
						<table id = "table" class="table table-bordered table-hover datatable table-text-mid table-light">
								<thead>
								<tr>
									<th>选择</th>
									<th>序号</th>
									<th>资源名称</th>
									<th>附件内容</th>
									<th>文件替换</th>
									<th>编制人</th>
									<th>审核人</th>
									<th>创建时间</th>
									<th>版本号</th>
									<th>上会附件</th>
								</tr>
								</thead>
								<tbody  ng-repeat="item in newAttachment track by $index" ng-init="outerIndex = $index">
								<tr>
									<td>
										<label class="checkbox-inline">
											<input ng-readonly="!hasWaiting"  ng-if="item.newFile" class="px deleteSelect"  type="checkbox"  name="deleteSelect" value="{{outerIndex}}"/>
											<span class="lbl">&nbsp;</span>
										</label>
									</td>
									<td>{{outerIndex+1}}</td>
									<td>{{item.ITEM_NAME}}
										<div ng-if="item.newFile">
											<select  ng-model="item.newItem" class="newItem"  ng-options="y.ITEM_NAME for y in attach " >
											</select>
										</div>
									</td>
									<td>
										<span ng-bind="progress$index"></span>
										<span style="">{{errorMsg[$index].msg}}</span>
										<a href="javascript:void(0);"  ng-click="downLoadBiddingFile(item)">
											{{item.fileName}}
										</a>
									</td>
									<td>
										<div ng-if="!item.newFile" class="">
											<button type="button"  ng-disabled="!hasWaiting" class="btn btn-info" ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles,$index)">替换</button>
										</div>
										<div ng-if="item.newFile" class="">
											<button type="button"  ng-disabled="!hasWaiting" class="btn btn-info" ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles,$index)">浏览</button>
										</div>
									</td>
									<td>
										<direct-user-single-select id="{{'bzr_'+$index}}" is-editable="selectFlag" checked-user="item.programmed" callback = "hello">
														</direct-user-single-select>
									</td>
									<td>
									<direct-user-single-select id="{{'shr_'+$index}}" is-editable="selectFlag" checked-user="item.approved">
														</direct-user-single-select>
									</td>
									<td>{{item.upload_date}}</td>
									<td>{{item.version}}</td>
									<td ng-if="formalReport.policyDecision != null">
										<label class="checkbox-inline">
											<input ng-if="!item.newFile" ng-click="checkFileZip(item.fileName,$event)" ng-disabled="!hasWaiting"
											ng-checked="isValueExist(formalReport.policyDecision.decisionMakingCommitteeStaffFiles, 'filePath', item.filePath)" 
											 type="checkbox" name="choose" class="px" value="{{item.UUID}}||{{item.ITEM_NAME}}||{{item.programmed.NAME}}||{{item.approved.NAME}}||{{item.fileName}}||{{item.filePath}}||{{item.version}}||{{item.upload_date}}||{{item.programmed.VALUE}}||{{item.approved.VALUE}}"/>
											<input ng-if="item.newFile" ng-click="checkFileZip(item.fileName,$event)" ng-disabled="!hasWaiting" ng-checked="isValueExist(formalReport.policyDecision.decisionMakingCommitteeStaffFiles, 'filePath', item.filePath)"  
											type="checkbox" name="choose" class="px" value="{{item.UUID}}||{{item.ITEM_NAME}}||{{item.programmed.NAME}}||{{item.approved.NAME}}||{{item.fileName}}||{{item.filePath}}||{{item.version}}||{{item.upload_date}}||{{item.programmed.VALUE}}||{{item.approved.VALUE}}"/>
											<span class="lbl">&nbsp;</span>
										</label>
									</td>
									<td ng-if="formalReport.policyDecision == null">
										<label class="checkbox-inline">
											<input ng-if="!item.newFile"
											 type="checkbox" name="choose" ng-click="checkFileZip(item.fileName,$event)" ng-disabled="!hasWaiting" class="px" value="{{item.UUID}}||{{item.ITEM_NAME}}||{{item.programmed.NAME}}||{{item.approved.NAME}}||{{item.fileName}}||{{item.filePath}}||{{item.version}}||{{item.upload_date}}||{{item.programmed.VALUE}}||{{item.approved.VALUE}}"/>
											<input ng-if="item.newFile"  
											type="checkbox" name="choose" ng-click="checkFileZip(item.fileName,$event)" ng-disabled="!hasWaiting" class="px" value="{{item.UUID}}||{{item.ITEM_NAME}}||{{item.programmed.NAME}}||{{item.approved.NAME}}||{{item.fileName}}||{{item.filePath}}||{{item.version}}||{{item.upload_date}}||{{item.programmed.VALUE}}||{{item.approved.VALUE}}"/>
											<span class="lbl">&nbsp;</span>
										</label>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!--<div class="row" ng-if="null != noticeDecision && noticeDecision.attachment != null">
						<div class="row-tit">5.决策会通知书</div>
						<div class="col-sm-12">
							<a ng-click="downLoadFormalBiddingInfoFile(noticeDecision.attachment[0].filePath,noticeDecision.attachment[0].fileName,1)">{{noticeDecision.attachment[0].fileName }}</a>
						</div>
					</div>
					<br ng-if="null != noticeDecision && noticeDecision.attachment != null">-->
					<div class="row" ng-show="mark != null && mark != ''">
						<div class="row-tit">5.项目整体评分：</div>
						<!--<div class="row-tit" ng-if="null == noticeDecision || noticeDecision.attachment == null">5.项目整体评分：</div>
						<div class="row-tit" ng-if="null != noticeDecision && noticeDecision.attachment != null">6.项目整体评分：</div>-->
					</div>
					<div class="row" ng-show="mark != null && mark != ''">
						<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light">
							<thead>
								<tr>
									<th>打分项</th>
									<th>分数</th>
									<th>扣分原因</th>
									<th>提示</th>
								</tr>
							</thead>
									<tbody>
								<!-- 首次进入业务评审节点 -->
		            			<tr>
		            				<td>合规-审批流程熟悉度</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="50" ng-model="mark.flowMark" ng-click="validMark(50)">
		            					<span class="required">(满分：50分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.flowMarkReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            							title="<div>1、合格标准：流程完整为满分。</div><div>2 、缺少一个前置审批流程环节扣3-5分，以此累加，最低分得为0分。</div>">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>合规-资料备案</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="15" ng-model="mark.fileCopy" ng-click="validMark(50)">
		            					<span class="required">(满分：15分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.fileCopyReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            							title="">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>资料-及时性</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="9" ng-model="mark.fileTime">
		            					<span class="required">(满分：9分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.fileTimeReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)" data-toggle="tooltip" data-placement="top" data-html="true"  title="<div>1、 预留时间少1个工作日扣3分，以此累加，最低得分为0分。</div>">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>资料-完整性</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="9" ng-model="mark.fileContent">
		            					<span class="required">(满分：9分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.fileContentReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            							title="<div>1 、每缺少一项资料或资料无相关人员签字确认扣3分，以此累加，最低得分为0分。</div>">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>核心-财务测算能力</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="12" ng-model="mark.moneyCalculate">
		            					<span class="required">(满分：12分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.moneyCalculateReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="<div>1 、测算有错误或取值不合理，但测算思路正确，可得8-12分。</div><div>2、测算错误较多，且思路不正确，可得0-8分。</p><p>3、未独立进行测算的项目此项不得分。</div>">提示</a></td>
		            			</tr>
		            			<!-- ----------------------------------评审负责人到确认 start------------------------------------------ -->
		            			<tr>
		            				<td>资料-准确性(业务类资料)</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="6" ng-model="mark.reviewFileAccuracy">
		            					<span class="required">(满分：6分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.reviewFileAccuracyReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="<div>1 、针对投资分析报告、协议及其他文件，仅修改1次扣2分，修改2-5次每次扣3分，以此累加，最低得分为0分。</div>">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>核心-风险识别及规避能力</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="12" ng-model="mark.riskControl">
		            					<span class="required">(满分：12分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.riskControlReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="<div>1 、若投资部门风险识别及规避工作较好，评审阶段无发现新增重大风险，可得6-12分；</div><div>2 、若投资部门开展了风险识别及规避工作，但效果一般，评审阶段发现多个新增重大风险，可得0-6分；</div><div>3 、若投资部门未开展风险识别及规避工作，此项不得分。</div>">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>核心-方案设计能力</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="4" ng-model="mark.planDesign">
		            					<span class="required">(满分：4分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.planDesignReason"  ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="<div>1 、若交易结构不合理或无人员安置方案，可扣0-4分，最低分为0分。</div>">提示</a></td>
		            			</tr>
		            			<!-- -------------------------------评审负责人到确认  end--------------------------------------------- -->
		            			<!-- -------------------------------法律负责人到确认  start--------------------------------------------- -->
		            			<tr>
		            				<td>资料-准确性(法律类资料)</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="6" ng-model="mark.legalFileAccuracy">
		            					<span class="required">(满分：6分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.legalFileAccuracyReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="<div>1 、针对投资分析报告、协议及其他文件，仅修改1次扣2分，修改2-5次每次扣3分，以此累加，最低得分为0分。</div>">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>核心-协议谈判能力</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="12" ng-model="mark.talks">
		            					<span class="required">(满分：12分)</span>
		            				</td>
		            				<td>
		            					<textarea ng-model="mark.talksReason" ng-readonly="true" class="form-control" auto-height></textarea>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="<div>1 、是否依据集团要求在谈判中落实关键条款，若情况较好，得6-10分，若不理想得0-6分，最低分为0分。</div><div>2 、未独立进行谈判或者未能独立起草协议的项目，此项不得分。</div>">提示</a></td>
		            			</tr>
		            			<!-- -------------------------------法律负责人到确认  end--------------------------------------------- -->
		            			<tr>
		            				<td>评审合规能力</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="30" ng-model="mark.HEGUITOTALMARK">
		            					<span class="required">(满分：30分)</span>
		            				</td>
		            				<td>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>评审资料质量</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="30" ng-model="mark.FILETOTALMARK">
		            					<span class="required">(满分：30分)</span>
		            				</td>
		            				<td>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>投资核心能力</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="40" ng-model="mark.HEXINTOTALMARK">
		            					<span class="required">(满分：40分)</span>
		            				</td>
		            				<td>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="">提示</a></td>
		            			</tr>
		            			<tr>
		            				<td>总得分</td>
		            				<td>
		            					<input class="mark form-control" type="number" ng-disabled="true" min="0" max="100" ng-model="mark.ALLTOTALMARK">
		            					<span class="required">(满分：100分)</span>
		            				</td>
		            				<td>
		            				</td>
		            				<td><a href="javaScropt:void(0)"  data-toggle="tooltip" data-placement="top" data-html="true" data-backColor="white" 
            						title="">提示</a></td>
		            			</tr>
		            		</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="button-group">
			<div class="row">
				<div class="option">
					<directive-return-btn url="{{oldUrl}}"></directive-return-btn>
					<button ng-if="hasWaiting" type="button" ng-click="saveOnly()" id="saveOnlyBtn" class="btn btn-info">
						<i class="fa fa-save"></i>
						保存
					</button>
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	angular.element(document).ready(function() {
		$("#fixed-member-box select").select2();
   });
</script>