<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">会议管理</span>
	</div>
	<div class="">
		<ul class="nav nav-tabs bs-tabdrop-example">
			<li class="active"><a href="/#bs-tabdrop-tab1" data-toggle="tab">会议通知</a></li>
			<li><a href="/#bs-tabdrop-tab2" data-toggle="tab">会议通知历史</a></li>
		</ul>
		<div class="tab-content tab-content-bordered">
			<div class="tab-pane active" id="bs-tabdrop-tab1">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="meetingApplication" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingApplication" href="/#searchbox">查询</a>
							</div>
							<div id="searchbox" class="panel-collapse collapse">
								<div class="panel-body search-body">
									<div class="row nobottom-mar sm-row">
										<input type="hidden" ng-model="conf.user_id">
										<label class="col-sm-2 col-md-1 control-label">项目名称</label>
										<div class="col-sm-4 col-md-2 sm-col"><input type="text" id="projectName" name="" ng-model="projectName" class="form-control" /></div>
										<label for="" class="col-sm-2 col-md-1 control-label">业务类型</label>
										<div class="col-sm-4 col-md-2 sm-col">
											<input type="text" id="projectForm" ng-model="projectForm" name="projectForm" class="form-control"/>
										</div>
										<div class="col-sm-12 col-md-2 search">
											<button class="btn btn-info" type="button" ng-click="ListAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="userAdmin!=0" class="row">
						<button type="button" class="btn btn-info" ng-click="toApply()"><i class="fa fa-bullhorn"></i>上会时间通知</button>
<!-- 						<button  type="button" ng-click="import()" class="btn btn-info"><i class="glyphicon glyphicon-export"></i>导出</button> -->
					</div>
					<div class="panel-group">
						<div class="panel">
							<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">正式评审<i class="i-triangle"></i></span></div></div>
							<div class="panel-body">
								<div class="row nobottom-mar">
									<div class="table-responsive table-list">
										<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
											<thead>
											<tr>
												<th>选择</th>
												<th>序号</th>
												<th>项目名称</th>
												<th>业务类型</th>
												<th>项目评级</th>
												<th>创建时间<i class="icofunc fa fa-caret-up" id="orderasc" ng-click="order(1)"></i><i class="icofunc cur fa fa-caret-down" id="orderdesc" ng-click="order(-1)"></i></th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="m in meeting">
												<td>
													<label class="checkbox-inline">
														<input type="checkbox" name="checkbox" ng-if="m.noticeId==null" class="px" value="{{m._id}}"/>
														<span class="lbl">&nbsp;</span>
													</label>
												</td>
												<td>{{$index+1}}</td>
												<td ng-if="m.user_id!=credentials.UUID"><a href="#/MeetingInfoDetail/View/{{m._id}}@2"> {{m.projectName}}</a></td>
												<td ng-if="m.user_id==credentials.UUID"><a href="#/MeetingInfoDetail/Update/{{m._id}}@2"> {{m.projectName}}</a></td>
												<td>{{m.serviceType}}</td>
												<td>{{m.projectRating.name}}</td>
												<td>{{m.create_date}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="table-footer clearfix">
								<tm-pagination conf="paginationConf"></tm-pagination>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">其它需决策事项<i class="i-triangle"></i></span></div></div>
							<div class="panel-body">
								<div class="row nobottom-mar">
									<div class="table-responsive table-list">
										<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
											<thead>
											<tr>
												<th>选择</th>
												<th>序号</th>
												<th>其它需决策事项名称</th>
												<th>其它需决策事项类型</th>
												<th>申请时间</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="m in bulletins">
												<td>
													<label class="checkbox-inline">
														<input type="checkbox" name="tbsxChk" class="px" value="{{m.BUSINESSID}}"/>
														<span class="lbl">&nbsp;</span>
													</label>
												</td>
												<td>{{$index+1}}</td>
												<td>{{m.BULLETINNAME}}</a></td>
												<td>{{m.BULLETINTYPENAME}}</td>
												<td>{{m.APPLYTIME | date:'yyyy-MM-dd hh:mm:ss'}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="table-footer clearfix">
								<tm-pagination conf="pageConf"></tm-pagination>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="tab-pane" id="bs-tabdrop-tab2">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="meetingAnnou" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#meetingAnnou" href="/#searchbox1">查询</a>
							</div>
							<div id="searchbox1" class="panel-collapse collapse">
								<div class="panel-body search-body">
									<div class="row nobottom-mar sm-row">
										<input type="hidden" ng-model="conf.user_id">
										<label class="col-sm-2 col-md-1 control-label">项目名称</label>
										<div class="col-sm-4 col-md-2 sm-col">
											<input type="text" id="projectName1" name="" ng-model="projectName" class="form-control" />
										</div>
										<label for="" class="col-sm-2 col-md-1 control-label">上会日期</label>
										<div class="col-sm-4 col-md-2 has-feedback sm-col">
											<input type="text" id="meetingTime" name="meetingTime" ng-model="meetingTime" class="form-control"/>
											<i class="fa fa-calendar form-control-feedback"></i>
										</div>
										<div class="col-sm-12 col-md-2 search">
											<button class="btn btn-info" type="button" ng-click="ListMeetingAll()"><i class="glyphicon glyphicon-search"></i>查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">会议通知历史<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="row nobottom-mar">
								<div class="table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
										<thead>
										<tr>
											<th>序号</th>
											<th>会议通知单编号</th>
											<th>上会项目</th>
											<th>上会日期<i class="icofunc fa fa-caret-up" id="orderascPast" ng-click="orderPast(1)"></i><i class="icofunc cur fa fa-caret-down" id="orderdescPast" ng-click="orderPast(-1)"></i></th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="one in meetingcall">
											<td>{{$index+1}}</td>
											<td><a href="#/MeetingApplyNotice/{{one._id}}"> {{one.noticeId}}</a></td>
											<td>{{one.projectName}}
											<img ng-if="one.isUrgent==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign"/>
											</td>
											<td>{{one.meetingTime}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-paginationes confes="paginationConfes"></tm-paginationes>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script>
	/*function submitMaterial(){
	 var chooseCount=0;
	 $("input[name='checkbox']").each(function(){
	 if($(this).attr("checked")){
	 chooseCount++;
	 }
	 });
	 if(chooseCount==0){
	 alert("请选择要提交材料的项目！");
	 return;
	 }else if(chooseCount>1){
	 alert("只能选择一条要提交材料的项目！");
	 return;
	 }else{
	 windows.location.href="#/BiddingInfo";
	 }
	 }*/

	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#applicationTime').datepicker(options);
		$('#meetingTime').datepicker(options);
	});
</script>

