<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt=""
			title="" /> <span class="hd-title">决策会材料</span>
	</div>
	<div>
		<div class="tab-content tab-content-bordered">
			<form class="form-horizontal ng-pristing ng-valid ng-pristine">
				<div id="report" class="panel-group">
					<div class="panel">
						<div class="panel-heading search-box">
							<a class="accordion-toggle collapsed" data-toggle="collapse"
								data-parent="#report" href="/#searchbox">查询</a>
						</div>
						<div id="searchbox" class="panel-collapse collapse">
							<div class="panel-body search-body">
								<div class="row nobottom-mar sm-row">
									<label class="col-sm-2 col-md-1 control-label">项目名称</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<input type="text" class="form-control" id="PROJECT_NAME"
											name="PROJECT_NAME" ng-model="paginationConf.queryObj.projectName" />
									</div>
									<label class="col-sm-2 col-md-1 control-label">项目阶段</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<select name="stage" id="stage" class="form-control" ng-model="paginationConf.queryObj.stage">
											<option value="">请选择...</option>
											<option value="1">下次上会</option>
											<option value="2">待安排上会</option>
											<option value="3">已决策</option>
											<option value="4">其他</option>
										</select>
									</div>
									<label class="col-sm-2 col-md-1 control-label">项目类型</label>
									<div class="col-sm-4 col-md-2 sm-col">
										<select name="type" id="type" class="form-control" ng-model="paginationConf.queryObj.type">
											<option value="">请选择...</option>
											<option value="pre">投标项目</option>
											<option value="pfr">正式项目</option>
											<option value="bulletin">其他项目</option>
										</select>
									</div>
									<div class="col-sm-12 col-md-2 search">
										<button type="button" class="btn btn-info"
											ng-click="getPfrNoticeFileList()">
											<i class="glyphicon glyphicon-search"></i>查询
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-hd-cont">
							<span class="panel-title">决策会材料列表<i
								class="i-triangle"></i></span>
						</div>
					</div>
					<div class="panel-body">
						<div class="row nobottom-mar">
							<div class="table-responsive table-list">
								<table border="0" cellspacing="0" cellpadding="0"
									class="table table-hover datatable first-col-fixed">
									<thead>
										<tr>
											<th>序号</th>
											<th>项目名称</th>
											<th>项目类型</th>
											<th>投资经理</th>
											<th>评审负责人</th>
											<th>所属大区</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="p in pfrList ">
											<td>{{$index+1}}</td>
											<td>
												<a ng-if="p.PROJECT_TYPE == 'pfr'" href="#/formalBiddingFileInfo/{{p.BUSINESS_ID}}@2/{{'#/updateDecisionFileList'|encodeURI}}" title="项目名称"> {{p.PNAME}}</a> 
												<img ng-if="p.ISURGENT==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign" />
												<a ng-if="p.PROJECT_TYPE == 'pre'" href="#/preBiddingFileInfo/{{p.BUSINESS_ID}}@2/{{'#/updateDecisionFileList'|encodeURI}}" title="项目名称"> {{p.PNAME}}</a> 
												<img ng-if="p.ISURGENT==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign" />
												<a ng-if="p.PROJECT_TYPE == 'bulletin'" href="#/bulletinReviewFileDetail/{{p.BUSINESS_ID}}/{{'#/updateDecisionFileList'|encodeURI}}" title="项目名称"> {{p.PNAME}}</a> 
												<img ng-if="p.ISURGENT==1" src="assets/images/icons/urgent.png" width="20" height="20" alt="" title="" class="urgent-sign" />
											</td>
											<td>{{p.PROJECTTYPE}}</td>
											<td>{{p.CREATEBYNAME}}</td>
											<td>{{p.REVIEWPERSONNAME}}</td>
											<td>{{p.PERTAINAREANAME}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConf"></tm-pagination>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<script>
	angular.element(document).ready(function() {
		$('#applicationTime').datepicker();
		$("#porjectName select").select2({
			placeholder : '项目名称'
		});
	});
</script>