<div class="visa-menu">
    <div class="col-md-12">
        <ol class="breadcrumb breadcrumb-menu">
            <li>
                <!--<i class="icon-nav" style="font-size: 14px;">&#xe628;</i>-->
                <a class="breadcrumb-text breadcrumb-text-menu">
                    流程申请
                </a>
            </li>
            <li>
                <a href="" class="breadcrumb-text breadcrumb-text-menu">
                    投标评审申请
                </a>
            </li>
        </ol>
    </div>
</div>
<div class="panel-body">
    <!--form表单开始-->
    <form class="form-horizontal" name="myFormPre" id="myFormPre" novalidate>
        <div class="">
            <div class="panel">
                <div class="panel-body">
                    <div id="myTab" class="myTab">
                        <ul class="nav nav-tabs bs-tabdrop-example" id="_myTopTab">
                            <li class="active">
                                <a href="/#contracts_file_info" data-toggle="tab">流程表单</a>
                            </li>
                            <li>
                                <a href="/#flow_chart" data-toggle="tab">流程图</a>
                            </li>
                            <li>
                                <a href="/#contracts_resources" data-toggle="tab">相关资源</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane in active" id="contracts_file_info">
                            <directive-project-pre-review-view></directive-project-pre-review-view>

                            <div class="panel" ng-if="(pre.cesuanFileOpinion != null && pre.cesuanFileOpinion != '') && (pre.tzProtocolOpinion != null &&pre.tzProtocolOpinion != '')">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" href="/#cesuanyijian" data-parent="#reviewLeader"
                                       data-toggle="collapse"><span class="text">投资测算意见<i class="i-triangle"></i></span></a>
                                </div>
                                <div id="cesuanyijian" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <label class="col-sm-2 control-label">投资中心/水环境投资中心意见</label>
                                        <div class="col-sm-10 " style="margin-bottom: 5px">
                                            <div class="reason"><textarea class="form-control" readonly name="reason" auto-height>{{pre.cesuanFileOpinion}}</textarea>
                                            </div>
                                        </div>
                                        <label class="col-sm-2 control-label" >一级法务单位审核意见</label>
                                        <div class="col-sm-10 ">
                                            <div class="reason"><textarea class="form-control" readonly name="reason" auto-height>{{pre.tzProtocolOpinion}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel" ng-show="!isOldFlow && hasWaiting">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" href="/#approvalPart" data-parent="#reviewLeader"
                                       data-toggle="collapse"><span class="text">审批<i class="i-triangle"></i></span></a>
                                </div>
                                <div id="approvalPart" class="panel-collapse collapse in">
                                    <!--审批阶段-->
                                    <div class="panel-body" ng-show="approve.operateType=='audit'">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">下一环节：</label>
                                            <div class="col-sm-8">
                                                <div ng-repeat="x in approve.processOptions">
                                                    <label class="radio radio-inline">
                                                        <input id="showAttr" class="px" type="radio"
                                                               init-bind="a=x.documentation" aaa="{{x.documentation}}"
                                                               ng-click="showMarkMethod(x.documentation)"
                                                               name="bpmnProcessOption" ng-checked="$index==0"
                                                               value="{{x.sequenceFlow}}"/>
                                                        <span class="lbl">
                                                <div class="text">{{x.flowName}}</div>
                                            </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--知会人-->
                                        <div ng-if="showNotifyPopup" class="row" ng-include="'page/sys/common/notify-user.html'">
                                        </div>
                                        <!--快捷意见-->
                                        <div class="row">
                                            <label class="col-sm-3 control-label">快捷意见：</label>
                                            <div class="col-sm-8">
                                                <label class="radio radio-inline" ng-repeat="comment in _quickComments">
                                                    <input class="px" type="radio"
                                                           ng-click="_quickFillComments('_quickComments', 'flowVariables.opinion')"
                                                           name="_quickComments" ng-checked="$index==0"
                                                           value="{{comment}}"/>
                                                    <span class="lbl">
                                                <div class="text">{{comment}}</div>
                                        </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-3 control-label">处理意见：</label>
                                            <div class="col-sm-8">
												<textarea class="form-control" rows="4" cols="" id="comments1" ng-change="_signFillSignComments('comments1')"
                                                          data-ng-init="flowVariables.opinion=''"
                                                          ng-model="flowVariables.opinion"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <!--加签阶段-->
                                    <div class="panel-body" ng-show="approve.operateType=='change'">
                                        <div class="row">
                                            <label class="col-sm-3 control-label">下一环节：</label>
                                            <div class="col-sm-8">
                                                <div>
                                                    <label class="radio radio-inline">
                                                        <input class="px" type="radio" name="bpmnProcessOption"
                                                               id="workOver" value="WORKOVER"/>
                                                        <span class="lbl">
                                                <div class="text">完结</div>
                                            </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--知会人-->
                                        <div ng-if="showNotifyPopup" class="row" ng-include="'page/sys/common/notify-user.html'">
                                        </div>
                                        <!--快捷意见-->
                                        <div class="row">
                                            <label class="col-sm-3 control-label">快捷意见：</label>
                                            <div class="col-sm-8">
                                                <label class="radio radio-inline" ng-repeat="comment in _quickComments">
                                                    <input class="px" type="radio"
                                                           ng-click="_quickFillComments('_quickComments', 'flowVariables.opinion')"
                                                           name="_quickComments" ng-checked="$index==0"
                                                           value="{{comment}}"/>
                                                    <span class="lbl">
                                                <div class="text">{{comment}}</div>
                                        </span>
                                                </label>
                                            </div>
                                        </div>
                                        <!--审批意见-->
                                        <div class="row">
                                            <label class="col-sm-3 control-label">处理意见：</label>
                                            <div class="col-sm-8">
                                    <textarea class="form-control" rows="4" cols="" id="comments2" ng-change="_signFillSignComments('comments2')"
                                              data-ng-init="flowVariables.opinion=''"
                                              ng-model="flowVariables.opinion"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!--提交按钮-->
                                    <!--<div class="button-group" ng-include="'page/sys/common/btn-groups.html'">
                                    </div>-->
                                </div>
                            </div>
                            <div class="button-group">
                                <div class="row">
                                    <div class="option">

                                        <directive-return-btn ng-if="!isOldFlow" url="{{oldUrl}}"></directive-return-btn>


                                        <button ng-if="isOldFlow && hasWaiting" ng-click="showOldSubmitModal()" type="button"
                                                id="submitlbtnn" class="btn btn-info" title=""><i class="fa fa-cloud-upload"></i>提交
                                        </button>
                                        <a ng-if="!isOldFlow && hasWaiting"  href="javascript:void(0);" class="btn btn-primary btn-confirm"
                                           ng-click="submitNext()">提交</a>

                                        <!-- 新提交模态框 -->
                                        <!--<div id="submitModal" ng-if="!isOldFlow" class="modal" tabindex="-1" role="dialog" style="display: none;">
                                            <pre-review-bpmn-pop-win approve="approve"></pre-review-bpmn-pop-win>
                                        </div>-->

                                        <!-- 旧提交模态框 -->
                                        <div id="oldSubmitModal" ng-if="isOldFlow" class="modal" tabindex="-1" role="dialog"
                                             style="display: none;">
                                            <approve-pop-win approvearr="approve"></approve-pop-win>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="flow_chart">
                            <!-- 新流程图 -->
                            <!--<directive-process-page ng-if="!isOldFlow"></directive-process-page>-->
                            <!---->
                            <directive-process-page-new ng-if="!isOldFlow" process-key="preReview"></directive-process-page-new>
                            <!-- 旧流程图 -->
                            <directive-process-list ng-if="isOldFlow"></directive-process-list>
                        </div>
                        <div class="tab-pane  clearfix row" id="contracts_resources">
                            <directive-accachment-new id="preInfo" business-type="preReview" page-location="preInfo" business-id="pre.id"
                                                      wf-state="WF_STATE" file-list="newAttachment"
                                                      init-update="initUpdate(id)" is-edite="true">
                            </directive-accachment-new>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    angular.element(document).ready(function () {
        var options = {
            todayBtn: "linked",
            orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
        }
        $('#approveFeedbackTime').datepicker(options);
    });
</script>
<!--加签弹窗(页面)-->
<div id="_signModalDialog" ng-if="!isOldFlow" class="modal" tabindex="-1" role="dialog"
     ng-include="'page/sys/common/sign-dialog.html'">
</div>
<!--知会人选择弹窗(多选)-->
<div id="_notifyUserMulDialog" class="modal" tabindex="-1" role="dialog" style="display: none;">
    <direct-user-multi-dialog id="{{'_notifyUserMulDialog'}}" title="{{'用户列表'}}"
                              url="{{'role/queryRoleAddUserByPage.do'}}" mapped-key-value="_notifyMappedKeyValue"
                              checked-users="_notifyCheckedUsers"
                              parent-save-selected="_notifyParentSaveSelected()"></direct-user-multi-dialog>
</div>
<!--加签人选择弹窗(单选)-->
<div id="_signUserSinDialog" class="modal" tabindex="-1" role="dialog" style="display: none;">
    <direct-user-single-dialog id="_signUserSinDialog" title="{{title}}" checked-user="_signCheckedUser"
                               callback="_signCallback"
                               mapped-key-value="_signMappedKeyValue" parent-save-selected="_signParentSaveSelected()"></direct-user-single-dialog>
</div>