<div class="panel-body">
	<div class="header">
		<img src="assets/images/icons/4.png" width="41" height="41" alt="" title="" />
		<span class="hd-title">参会信息</span>
	</div>
	<div>
		<ul class="nav nav-tabs bs-tabdrop-example">
			<li class="{{tabIndex=='0'?'active':''}}"><a href="/#bs-tabdrop-tab1" data-toggle="tab">待提交</a></li>
			<li class="{{tabIndex=='1'?'active':''}}"><a href="/#bs-tabdrop-tab2" data-toggle="tab">已安排</a></li>
			<li class="{{tabIndex=='2'?'active':''}}"><a href="/#bs-tabdrop-tab3" data-toggle="tab">无需上会</a></li>
		</ul>
		<div class="tab-content tab-content-bordered">
			<div class="tab-pane {{tabIndex=='0'?'active':''}}" id="bs-tabdrop-tab1">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="newFormalAssessment" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#newFormalAssessment" href="/#searchbox">查询</a>
							</div>
							<div id="searchbox" class="panel-collapse collapse">
								<div class="panel-body search-body">
									<div class="form-group row sm-row">
										<label class="col-sm-2 col-md-1 control-label">项目名称</label>
										<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConf.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
										<label class="col-sm-2 col-md-1 control-label">所属大区</label>
										<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConf.queryObj.projectUnitName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
										<div class="col-sm-12 col-md-4">
											<div class="col-sm-12 col-md-2 search"><button  type="button" class="btn btn-info" ng-click="getInformationList()"><i class="glyphicon glyphicon-search"></i>查询</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">项目列表<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="form-group row">
								<div class="txl">
										<button ng-click="showSubmitModal()" type="button"  id="submitBtn" class="btn btn-info" title=""><i class="glyphicon glyphicon-plus"></i>新增参会信息</button>
<!-- 										<button ng-click="noNeedMeeting()" type="button"  id="submitBtn" class="btn btn-info" title="">无需上会</button> -->
										<div id="submitModal"  class="modal" tabindex="-1" role="dialog" style="display: none;">
											<no-need-meeting-bpmn-pop-win business-id="businessId"></no-need-meeting-bpmn-pop-win>
										</div>
								</div>
							</div>
									<div class="form-group row nobottom-mar table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable fs-col-fixed">
									<thead>
										<tr>
											<th>选择</th>
											<th>序号</th>
											<th>项目名称</th>
											<th>所属大区</th>
											<th>投资经理</th>
											<th>评审负责人</th>
											<th>申请时间</th>
										</tr>
									</thead>
									<tbody>
									<tr ng-repeat="p in preMeetingInfo" on-finish-render-filters>
										<td>
											<label class="checkbox-inline">
												<input  type="checkbox" name="checkbox" class="px" value="{{p.BUSINESSID}}"/>
												<span class="lbl">&nbsp;</span>
											</label>
										</td>
										<td>{{$index+1}}</td>
										<td><a href="#/PreMeetingInfoCreate/{{p.BUSINESSID}}/{{'#/PreMeetingInfoList/0'|encodeURI}}">{{p.PROJECTNAME}}</a></td>
										<td>{{p.PERTAINAREANAME}}</td>
										<td>{{p.INVESTMENTNAME}}</td>
										<td>{{p.REVIEWPERSONNAME}}</td>
										<td>{{p.APPLY_DATE}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConf"></tm-pagination>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane {{tabIndex=='1'?'active':''}}" id="bs-tabdrop-tab2">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="newFormalAssessment1" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#newFormalAssessment" href="/#searchbox2">查询</a>
							</div>
							<div id="searchbox2" class="panel-collapse collapse">
							<div class="panel-body search-body">
									<div class="form-group row sm-row">
										<label class="col-sm-2 col-md-1 control-label">项目名称</label>
										<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConfes.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
										<label class="col-sm-2 col-md-1 control-label">所属大区</label>
										<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConfes.queryObj.projectUnitName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
										<div class="col-sm-12 col-md-4">
											<div class="col-sm-12 col-md-2 search"><button  type="button" class="btn btn-info" ng-click="getInformationListed()"><i class="glyphicon glyphicon-search"></i>查询</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">项目列表<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="form-group row nobottom-mar table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
									<thead>
										<tr>
											<th>序号</th>
											<th>项目名称</th>
											<th>所属大区</th>
											<th>投资经理</th>
											<th>评审负责人</th>
											<th>参会信息提交时间</th>
										</tr>
									</thead>
									<tbody>
									<tr ng-repeat="p in preMeetingInfoed" on-finish-render-filters>
										<td>{{$index+1}}</td>
										<td>
											<a href="#/PreMeetingInfoDetailView/{{p.BUSINESSID}}/{{'#/PreMeetingInfoList/1'|encodeURI}}">{{p.PROJECTNAME}}</a></td>
										<td>{{p.PERTAINAREANAME}}</td>
										<td>{{p.INVESTMENTNAME}}</td>
										<td>{{p.REVIEWPERSONNAME}}</td>
										<td>{{p.METTING_COMMIT_TIME}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConfes"></tm-pagination>
						</div>
					</div>
				</form>
			</div>
				<div class="tab-pane {{tabIndex=='2'?'active':''}}" id="bs-tabdrop-tab3">
				<form class="form-horizontal ng-pristing ng-valid ng-pristine">
					<div id="newFormalAssessment2" class="panel-group">
						<div class="panel">
							<div class="panel-heading search-box">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#newFormalAssessment" href="/#searchbox3">查询</a>
							</div>
							<div id="searchbox3" class="panel-collapse collapse">
							<div class="panel-body search-body">
									<div class="form-group row sm-row">
										<label class="col-sm-2 col-md-1 control-label">项目名称</label>
										<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConfNotMeeting.queryObj.projectName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
										<label class="col-sm-2 col-md-1 control-label">所属大区</label>
										<div class="col-sm-4 col-md-3 sm-col"><input type="text" ng-model="paginationConfNotMeeting.queryObj.projectUnitName" class="form-control ng-pristine ng-untouched ng-valid" /></div>
										<div class="col-sm-12 col-md-4">
											<div class="col-sm-12 col-md-2 search"><button  type="button" class="btn btn-info" ng-click="getNotMeetingList()"><i class="glyphicon glyphicon-search"></i>查询</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">项目列表<i class="i-triangle"></i></span></div></div>
						<div class="panel-body">
							<div class="form-group row nobottom-mar table-responsive table-list">
									<table border="0" cellspacing="0" cellpadding="0" class="table table-hover datatable first-col-fixed">
									<thead>
										<tr>
											<th>序号</th>
											<th>项目名称</th>
											<th>所属大区</th>
											<th>投资经理</th>
											<th>评审负责人</th>
											<th>无需上会提交时间</th>
										</tr>
									</thead>
									<tbody>
									<tr ng-repeat="p in needMeeting" on-finish-render-filters>
										<td>{{$index+1}}</td>
										<td>
											<a href="#/PreAuditDetailView/{{p.BUSINESSID}}/{{'#/PreMeetingInfoList/2'|encodeURI}}">{{p.PROJECTNAME}} </a>
										</td>
										<td>{{p.PERTAINAREANAME}}</td>
										<td>{{p.INVESTMENTNAME}}</td>
										<td>{{p.REVIEWPERSONNAME}}</td>
										<td>{{p.METTING_COMMIT_TIME}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="table-footer clearfix">
							<tm-pagination conf="paginationConfNotMeeting"></tm-pagination>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	angular.element(document).ready(function() {
		var options = {
			todayBtn: "linked",
			orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
		}
		$('#applyTime').datepicker(options);
	});

</script>