<div class="panel-body" >
	<!--form表单开始-->
	<form class="form-horizontal" name="Business" id="Business" >
		<div class="">
			<div class="panel">
				<div class="panel-heading"><div class="panel-hd-cont"><span class="panel-title">业务单位承诺事务清单<i class="i-triangle"></i></span></div></div>
				<div class="panel-body">
					<fieldset>
						<div class="row">
							<div class="table-responsive">
								<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center">
									<thead>
									<tr>
										<th>选择</th>
										<th>序号</th>
										<th>具体承诺事项</th>
										<th>执行节点</th>
										<th>责任单位</th>
									</tr>
									</thead>
									<tbody id="profitList">
									<tr ng-repeat="m in report.pfrBusinessUnitCommit" on-repeat-render-business-unit>
										<td class="txc">
											<label class="checkbox-inline">
												<input type="checkbox" class="px" ng-if="actionpam!='View'"  ng-model="m.selected" />
												<span class="lbl">&nbsp;</span>
											</label>
										</td>
										<td class="txc">{{$index+1}}</td>
										<td>
											<textarea rows="" cols="" ng-disabled="'View'=='View'" ng-model="m.specificCommitments"  name="specificCommitment" class="form-control"></textarea>
										</td>
										<td><div class="has-feedback"><input type="text" id="executionNode" ng-disabled="'View'=='View'" ng-model="m.executionNode" name="executionNode" class="form-control loadtime" /><i class="fa fa-calendar form-control-feedback date-form"></i></div></td>
										<td>
											<input name="responsibilityDept" type="text"  ng-click="setDirectiveParamTwo($index)" data-toggle="modal" data-target="#companyUnit-modal" class="form-control" id="responsibilityDept{{$index}}" ng-disabled="'View'=='View'" ng-model="m.responsibilityDept.name"  />
											<input type="hidden"  ng-model="m.responsibilityDept.value"  />
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</form>
</div>
