<div>
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" href="/#reviewCommentslegal" data-parent="#commentsFeedback" data-toggle="collapse"><span class="text">法律初步评审意见反馈<i class="i-triangle"></i></span></a>
        </div>
        <div id="reviewCommentslegal" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row" style="display:none;">
                    <div class="txl">
                        <button  type="button" disabled class="btn btn-info" ng-click="addFormalLegalComment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
                        <button  type="button" disabled class="btn btn-info" ng-click="deleteFormalLegalComment(0)"><i class="glyphicon glyphicon-trash"></i>删除</button>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered  table-text-mid table-light table-hd-center reviewCommentsTable">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>序号</th>
                                <th>意见类型</th>
                                <th>具体内容</th>
                                <th>反馈要求</th>
                                <th>基层法务人员反馈</th>
                            </tr>
                            </thead>
                            <tbody id="commentList">
                            <tr ng-repeat="m in pfr.approveLegalAttachment.commentsList track by $index">
                                <td class="txc">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="px" ng-model="m.selected" disabled="disabled">
                                        <span class="lbl">&nbsp;</span>
                                    </label>
                                </td>
                                <td class="txc">{{ $index + 1 }}</td>
                                <td>
                                    <div class="row">
                                        <select ng-model="m.opinionType" ng-options="ot.ITEM_NAME for  ot in optionTypeList2 track by ot.ITEM_CODE" disabled="disabled" name="" id="" class="form-control">
                                        </select>
                                    </div>
                                    <div class="row nobottom-mar">
                                        <input type="text" style="border:0;width:100%;color:red;background-color:#ffffff;text-align: center;" readonly ng-model="m.commentDate" value="{{m.commentDate}}"/>
                                    </div>
                                </td>
                                <td>
                                    <textarea name="" ng-model="m.commentConent" readonly rows="" cols="" class="form-control"></textarea>
                                </td>
                                <td>
                                    <textarea name="" ng-model="m.commentFeedback" readonly rows="" cols="" class="form-control"></textarea>
                                </td>
                                <td class="attachmentTd">
                                    <div class="row">
                                        <textarea name="" ng-model="m.commentDepartment" readonly rows="" cols="" class="form-control"></textarea>
                                    </div>
                                    <div class="row nobottom-mar">
                                        <div class="col-sm-12 noleft-pad noright-pad">
                                            <span ng-bind="progress$index"></span>
                                            <span style="">{{errorAttach[$index].msg}}</span>
                                            <input type="hidden" ng-model="m.files.filePath" />
                                            <a class="attachmentBox" href="javascript:void(0);" ng-click="downLoadFile(m.files)">{{m.files.fileName}}</a>
                                            <button class="btn btn-info attachmentBtn" disabled="disabled" ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles, $index)">浏览</button>
                                        </div>
                                        <!--<div class="col-sm-3 noright-pad txr">
                                            <button class="btn btn-info" disabled="disabled" ngf-max-size="100MB" ngf-select="upload2($file,$invalidFiles, $index)">浏览</button>
                                        </div>-->
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-max">
                                <td colspan="2" rowspan="2"></td>
                                <td>法律风险提示</td>
                                <td colspan="3">
                                    <textarea name="riskWarning" readonly rows="" cols="" ng-model="pfr.approveLegalAttachment.riskWarning" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr class="tr-max">
                                <td>要求反馈时间</td>
                                <td colspan="3">
                                    <div class="has-feedback">
                                        <input type="text" id="feedbackTime" readonly name="" ng-model="pfr.approveLegalAttachment.feedbackTime" class="form-control" />
                                        <i class="fa fa-calendar form-control-feedback"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row"  style="display:none;">
                    <div class="txl">
                        <button  type="button" disabled class="btn btn-info" ng-click="addFormalLegalAttachment()"><i class="glyphicon glyphicon-plus"></i>新增</button>
                        <button  type="button" disabled class="btn btn-info" ng-click="deleteFormalLegalComment(1)"><i class="glyphicon glyphicon-trash"></i>删除</button>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-text-mid table-light table-hd-center attachmentTable">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>需更新附件</th>
                                <th>最新版本附件</th>
                            </tr>
                            </thead>
                            <tbody id="attachmentList">
                            <tr ng-repeat="am in pfr.approveLegalAttachment.attachmentNew">
                                <td class="txc">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="px" ng-model="am.selected" disabled="disabled">
                                        <span class="lbl">&nbsp;</span>
                                    </label>
                                </td>
                                <td>  <!--  ng-options="f.UUID as f.ITEM_NAME for f in  dic.fileName track by f.UUID"-->
<!--                                     <select disabled="disabled" ng-model="am.attachmentUList"  ng-options="f.ITEM_NAME for f in  fileName track by f.UUID" class="form-control"> -->
<!--                                         <option value="">---请选择---</option> -->
<!--                                     </select> -->
										<input type="text" disabled="disabled" ng-model="am.attachmentUList.ITEM_NAME">
                                </td>
                                <td class="attachmentTd">
                                    <div class="row nobottom-mar">
                                        <div class="col-sm-12 noleft-pad noright-pad">
                                            <span ng-bind="progress$index"></span>
                                            <span style="">{{errorAttach[$index].msg}}</span>
                                            <input type="hidden" ng-model="m.attachment_new.filePath" />
                                            <a class="attachmentBox" href="javascript:void(0);" ng-click="downLoadFile(am.attachment_new)">{{am.attachment_new.fileName}}</a>
                                            <button class="btn btn-info attachmentBtn" disabled="disabled" ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles, $index,am.attachmentUList,am.attachment_new.version)">浏览</button>
                                        </div>
                                       <!-- <div class="col-sm-2 noright-pad txr">
                                            <button class="btn btn-info" ngf-max-size="100MB" ngf-select="upload($file,$invalidFiles, $index,am.attachmentUList,am.attachment_new.version)">浏览</button>
                                        </div>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>